Repository hashicorp/boundary-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: addons, api-addon, auth-addon, styles-addon, ui, admin, desktop

.github/labeler.yml:

# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

addons:
  - addons/**/*

api-addon:
  - addons/api/**/*

auth-addon:
  - addons/auth/**/*

styles-addon:
  - addons/rose/**/*

ui:
  - ui/**/*

admin:
  - ui/admin/**/*

desktop:
  - ui/desktop/**/*

test(admin/e2e): Add tests for Credential Stores (#1643)
  ui/admin/tests/e2e/helpers/vault-cli.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/fixtures/boundary-controller-policy.hcl
  ui/admin/tests/e2e/tests/fixtures/kv-policy.hcl
Labels: ui, admin

test(admin/e2e): Add login tests
  ui/admin/tests/e2e/tests/login.spec.js
Labels: ui, admin

chore: 🤖 added session-recordings route
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/session-recordings.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
  ui/admin/app/templates/scopes/scope/session-recordings.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/session-recordings-test.js
  ui/admin/tests/unit/routes/scopes/scope/session-recordings/index-test.js
Labels: addons, ui, admin

Update en-us.yaml
  addons/core/translations/resources/en-us.yaml
Labels: addons

test(admin/e2e): Add login tests (#1647)
  ui/admin/tests/e2e/tests/login.spec.js
Labels: ui, admin

linter: Spacing
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
Labels: ui, admin

test(admin/e2e): Check you can access a host in a dhc host set
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
Labels: ui, admin

ICU-8130 add session-recording feature flag (#78)
  ui/admin/config/environment.js
Labels: ui, admin

chore: 🤖 create session-recording route
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/session-recordings.js
Labels: addons, ui, admin

chore: 🤖 added all of the uncommitted files
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording.js
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/index.js
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/session-recordings/session-recording-test.js
  ui/admin/tests/unit/routes/scopes/scope/session-recordings/session-recording/index-test.js
Labels: ui, admin

Update session-recordings.js
  ui/admin/app/routes/scopes/scope/session-recordings.js
Labels: ui, admin

test(admin/e2e): Update DHC test to catch host issue (#1648)
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
Labels: ui, admin

add storage buckets route (#82)
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/session-recordings/storage-buckets.js
  ui/admin/app/routes/scopes/scope/session-recordings/storage-buckets/index.js
  ui/admin/app/templates/scopes/scope/session-recordings.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/storage-buckets.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/storage-buckets/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/session-recordings/storage-buckets-test.js
  ui/admin/tests/unit/routes/scopes/scope/session-recordings/storage-buckets/index-test.js
Labels: addons, ui, admin

feat: 🎸 poc for "unnamed" resource display names
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/mirage/generated/factories/scope.js
  addons/api/mirage/helpers/fake-data.js
  addons/core/addon/instance-initializers/display-names.js
  addons/core/app/instance-initializers/display-names.js
  addons/core/tests/unit/instance-initializers/display-names-test.js
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/tests/e2e/tests/target.spec.js
Labels: addons, api-addon, ui, admin
