Repository hashicorp/boundary-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: addons, api-addon, auth-addon, styles-addon, ui, admin, desktop

test: 💍 add tests for unsupported controller logic
  ui/desktop/app/routes/scopes.js
  ui/desktop/app/templates/scopes.hbs
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop

chore: 🤖 add new fields
  ui/admin/app/components/form/policy/index.hbs
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/tests/acceptance/policy/create-test.js
Labels: ui, admin

chore: 🤖 associate SP to scopes
  addons/api/addon/abilities/scope.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/scope/add-storage-policy/index.hbs
  ui/admin/app/components/form/scope/add-storage-policy/index.js
  ui/admin/app/router.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/app/templates/scopes/scope/scopes/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/scopes/add-storage-policy/index.hbs
Labels: addons, api-addon, ui, admin

refactor: 💡 removed `console.log`
  ui/admin/app/components/form/worker/create-worker-led/index.js
Labels: ui, admin

refactor: 💡 rearrange attributes order for table
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
Labels: ui, admin

feat: 🎸 target list will update according to org scope selected
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
Labels: ui, desktop

refactor: 💡 add comment to resetController logic
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
Labels: ui, desktop

style: 💄 fix linting error
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
Labels: ui, admin

Update addons/core/translations/resources/en-us.yaml
  addons/core/translations/resources/en-us.yaml
Labels: addons

fix: 🐛 refactor
  ui/admin/app/components/form/policy/index.hbs
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: ui, admin

fix: 🐛 remove log, refactor
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: ui, admin

fix: 🐛 cleanup
  addons/core/addon/helpers/format-day-year.js
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: addons, ui, admin

fix: 🐛 mirage
  addons/api/addon/abilities/scope.js
  addons/api/addon/models/scope.js
  addons/api/mirage/config.js
  addons/api/tests/unit/models/scope-test.js
  ui/admin/app/components/form/scope/add-storage-policy/index.hbs
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/create.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/edit.hbs
Labels: addons, api-addon, ui, admin

test: 💍 update modal test to waitFor elements to render
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop

refactor: 💡 move common funcs to generic comp
  ui/admin/app/components/form/policy/index.hbs
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: ui, admin

refactor: 💡 Migrate `hosts`list within host-set to `Hds::Table` (#2049)
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
Labels: ui, admin

refactor: 💡 Migrate `workers-tags` over to use `Hds::Table` (#2070)
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.js
Labels: ui, admin

refactor: 💡 remove use of set and get from scopes router
  ui/desktop/app/routes/scopes.js
Labels: ui, desktop

refactor: 💡 default isPaginationSupported to false
  ui/desktop/app/routes/scopes.js
Labels: ui, desktop

chore: 🤖 add additional session sorting and add default filters
  addons/core/addon/components/filter-tags/index.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
Labels: addons, ui, desktop

test: 💍 move logic to application route
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/scopes.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes.hbs
Labels: ui, desktop

test: 💍 fix test
  addons/core/tests/integration/components/filter-tags/index-test.js
Labels: addons

fix: 🐛 return types
  addons/api/addon/transforms/object.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: addons, api-addon, ui, admin

fix: 🐛 test
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
  ui/admin/tests/acceptance/policy/create-test.js
Labels: ui, admin

feat: 🎸 scope policy association api changes
  addons/api/addon/generated/models/scope.js
  addons/api/addon/models/policy.js
  addons/api/addon/models/scope.js
  addons/api/addon/serializers/scope.js
  addons/api/app/serializers/scope.js
  addons/api/tests/unit/models/scope-test.js
  ui/admin/app/router.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/create-test.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/index-test.js
Labels: addons, api-addon, ui, admin

fix: 🐛 tests
  ui/admin/app/router.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/create-test.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/index-test.js
Labels: ui, admin

feat: 🎸 scope policy association form
  addons/api/mirage/config.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/scope/add-storage-policy/index.hbs
  ui/admin/app/components/form/scope/add-storage-policy/index.js
  ui/admin/app/routes/scopes.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/create.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/index.js
  ui/admin/app/routes/scopes/scope/edit.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/add-storage-policy/index.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/tests/acceptance/scopes/add-storage-policy-test.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/index-test.js
Labels: addons, api-addon, ui, admin

refactor: 💡 Migrating to `Hds::Table` in OIDC auth-method form
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, admin

refactor: 💡 Added middle alignment to all `Hds::Table`s
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, admin

refactor: 💡 fix accessibility
  ui/admin/app/components/form/auth-method/oidc/index.hbs
Labels: ui, admin

Update ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
Labels: ui, desktop

fix: 🐛 style
  ui/admin/app/styles/app.scss
Labels: ui, admin

Update ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
Labels: ui, admin

chore: 🤖 remove extra func
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: ui, admin

.github/labeler.yml:

# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

addons:
  - changed-files:
    - any-glob-to-any-file: "addons/**/*"

api-addon:
  - changed-files:
    - any-glob-to-any-file: "addons/api/**/*"

auth-addon:
  - changed-files:
    - any-glob-to-any-file: "addons/auth/**/*"

styles-addon:
  - changed-files:
    - any-glob-to-any-file: "addons/rose/**/*"

ui:
  - changed-files:
    - any-glob-to-any-file: "ui/**/*"

admin:
  - changed-files:
    - any-glob-to-any-file: "ui/admin/**/*"

desktop:
  - changed-files:
    - any-glob-to-any-file: "ui/desktop/**/*"
