Repository hashicorp/boundary-ui, pull requests merged in 2020-10, with the labels that each got.

#331 chore: 🤖 remove unnecessary package-lock file
  addons/api/package-lock.json
Labels: addons, addons/api

#333 Fix robots txt to disallow indexing path
  addons/api/tests/dummy/public/.gitkeep
  addons/api/tests/dummy/public/robots.txt
  addons/auth/tests/dummy/public/.gitkeep
  addons/auth/tests/dummy/public/robots.txt
  addons/rose/tests/dummy/public/robots.txt
  ui/core/public/robots.txt
  ui/desktop/public/robots.txt
Labels: addons, addons/api, addons/auth, addons/styles, ui, ui/admin

#319 feat: 🎸 add dialog component with modal capabilities
  addons/rose/addon/components/rose/dialog/body/index.hbs
  addons/rose/addon/components/rose/dialog/index.hbs
  addons/rose/addon/components/rose/dialog/index.js
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/addon/styles/rose/components/_dialog.scss
  addons/rose/addon/styles/rose/components/_index.scss
  addons/rose/app/components/rose/dialog.js
  addons/rose/app/components/rose/dialog/body.js
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/dialog-test.js
  addons/rose/tests/integration/components/rose/dialog/body-test.js
  yarn.lock
Labels: addons, addons/styles

#343 chore: 🤖 add support for dialog style and button text options
  addons/rose/addon/components/rose/dialog/index.hbs
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/addon/styles/rose/components/_dialog.scss
Labels: addons, addons/styles

#344 Feautre abandon confirm
  addons/rose/addon/components/rose/dialog/index.hbs
  addons/rose/addon/components/rose/dialog/index.js
  ui/core/app/components/pending-confirmations/index.hbs
  ui/core/app/routes/application.js
  ui/core/app/services/confirm.js
  ui/core/app/templates/application.hbs
  ui/core/tests/acceptance/projects-test.js
  ui/core/translations/actions/en-us.yaml
  ui/core/translations/en-us.yaml
Labels: addons, addons/styles, ui, ui/admin, ui/admin/app, ui/admin/tests

#346 Chore storybook deps
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/package.json
  package.json
  yarn.lock
Labels: addons, addons/styles

#347 chore: Update ember-electron to from beta.3 to beta.4 release
  ui/desktop/package.json
  yarn.lock
Labels: ui

#348 chore: Update electron to latest 9.3.2 version
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/yarn.lock
Labels: ui

#350 Add ability to create and assign host to a host set in one step
  addons/api/addon/models/host-set.js
  addons/api/tests/unit/models/host-set-test.js
  ui/core/app/components/form/host-set/add-hosts/index.hbs
  ui/core/app/components/form/host-set/create-host/index.hbs
  ui/core/app/controllers/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/create-host.js
  ui/core/app/router.js
  ui/core/app/routes/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/create-host.js
  ui/core/app/templates/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/-actions.hbs
  ui/core/app/templates/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/create-host.hbs
  ui/core/app/templates/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/create-host/-header.hbs
  ui/core/app/templates/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/hosts.hbs
  ui/core/tests/acceptance/host-sets/hosts-test.js
  ui/core/tests/unit/controllers/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/create-host-test.js
  ui/core/tests/unit/routes/scopes/scope/projects/project/host-catalogs/host-catalog/host-sets/host-set/create-host-test.js
  ui/core/translations/form/en-us.yaml
  ui/core/translations/resources/en-us.yaml
Labels: addons, addons/api, ui, ui/admin, ui/admin/app, ui/admin/tests

#351 feat: 🎸 expose IAM resources in the global scope
  ui/core/app/templates/scopes/scope.hbs
  ui/core/mirage/scenarios/default.js
Labels: ui, ui/admin, ui/admin/app

#352 refactor: 💡 move org scope nav to separate template
  ui/core/app/routes/scopes/scope.js
  ui/core/app/templates/application.hbs
  ui/core/app/templates/scopes/scope/-header-nav.hbs
Labels: ui, ui/admin, ui/admin/app

#356 fix: 🐛 fixes issue where grant strings become corrupted in ui
  addons/api/addon/models/host-set.js
  addons/api/addon/models/role.js
  addons/api/addon/serializers/role.js
  addons/api/tests/unit/models/role-test.js
  addons/api/tests/unit/serializers/role-test.js
  ui/core/app/components/form/role/grants/index.hbs
  ui/core/app/components/form/role/grants/index.js
  ui/core/app/routes/scopes/scope/roles/role/grants.js
  ui/core/mirage/config.js
Labels: addons, addons/api, ui, ui/admin, ui/admin/app
