Repository hashicorp/boundary-ui, pull requests merged in 2020-12, with the labels that each got.

#402 fix: 🐛 super hacky fix to override notify styles
  ui/admin/app/styles/_notify.scss
  ui/desktop/app/styles/_notify.scss
Labels: admin, desktop, ui

#401 feat: 🎸 disable origin and auth forms when loading
  ui/admin/.template-lintrc.js
  ui/admin/app/styles/_notify.scss
  ui/admin/app/templates/scopes/scope/authenticate/method.hbs
  ui/desktop/.template-lintrc.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/styles/_notify.scss
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method.hbs
Labels: admin, desktop, ui

#404 Feature breezy onboarding
  ui/desktop/app/routes/origin.js
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method.hbs
  ui/desktop/config/environment.js
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#405 Feature ipc errors
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/services/ipc.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/ipc-handler.js
  ui/desktop/tests/unit/services/ipc-test.js
Labels: desktop, ui

#409 chore: minor tweak to reduce build sizes
  ui/admin/ember-cli-build.js
  ui/desktop/ember-cli-build.js
Labels: admin, desktop, ui

#408 Feature connect modals
  addons/core/addon/services/confirm.js
  addons/core/tests/dummy/config/environment.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/rose/addon/styles/rose/components/_dialog.scss
  ui/admin/config/environment.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/config/environment.js
Labels: addons, admin, desktop, styles-addon, ui

#410 fix: 🐛 fix auth reset bug in desktop due to init before origin
  ui/desktop/app/initializers/origin.js
  ui/desktop/app/routes/index.js
  ui/desktop/app/services/origin.js
  ui/desktop/config/environment.js
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/targets-test.js
Labels: desktop, ui

#411 fix: 🐛 fix ember-notify style dupe/override problem
  addons/core/package.json
  ui/admin/app/styles/_notify.scss
  ui/admin/package.json
  ui/desktop/app/styles/_notify.scss
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, desktop, ui

#407 feat: Add node spawn promise wrapper
  addons/core/addon/services/confirm.js
  addons/core/tests/dummy/config/environment.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/states/en-us.yaml
  addons/rose/addon/styles/rose/components/_dialog.scss
  ui/admin/app/styles/_notify.scss
  ui/admin/config/environment.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/services/ipc.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/spawn-promise.js
  yarn.lock
Labels: addons, admin, desktop, styles-addon, ui

#417 fix: 🐛 desktop client should pass controller URL to CLI
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/handlers.js
Labels: desktop, ui

#418 Refactor base authenticator
  addons/auth/addon/authenticators/base.js
  addons/auth/addon/authenticators/password.js
  addons/auth/tests/dummy/app/authenticators/base.js
  addons/auth/tests/unit/authenticators/base-test.js
  addons/auth/tests/unit/authenticators/password-test.js
Labels: addons, auth-addon

#419 chore: Fix missing lookpath npm issue when packaging desktop
  package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui
