Repository hashicorp/boundary-ui, pull requests merged in 2020-11, with the labels that each got.

#357 Feature role grant scope
  addons/api/addon/generated/models/role.js
  addons/api/tests/unit/serializers/role-test.js
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/styles/rose/components/dropdown/_index.scss
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
  addons/rose/addon/styles/rose/components/form/_radio.scss
  addons/rose/tests/dummy/app/templates/index.hbs
  addons/rose/tests/integration/components/rose/form/radio/radio-test.js
  ui/core/app/components/form/role/index.hbs
  ui/core/app/components/form/role/index.js
  ui/core/app/routes/scopes/scope/roles/role/index.js
  ui/core/app/styles/app.scss
  ui/core/app/templates/scopes/scope/roles/role/index.hbs
  ui/core/mirage/factories/role.js
  ui/core/package.json
  ui/core/tests/acceptance/roles-test.js
  ui/core/translations/form/en-us.yaml
  yarn.lock
Labels: addons, addons/api, addons/styles, ui, ui/admin, ui/admin/app, ui/admin/tests

#358 Feature dark mode toggle
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/section/index.hbs
  addons/rose/addon/components/rose/dropdown/section/index.js
  addons/rose/addon/components/rose/form/radio/group/index.hbs
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/styles/rose/components/card/_link.scss
  addons/rose/addon/styles/rose/components/dropdown/_dropdown.scss
  addons/rose/addon/styles/rose/components/dropdown/_index.scss
  addons/rose/addon/styles/rose/components/dropdown/_section.scss
  addons/rose/addon/styles/rose/components/header/_index.scss
  addons/rose/addon/styles/rose/variables/_opacity.scss
  addons/rose/addon/styles/rose/variables/color/_css.scss
  addons/rose/app/components/rose/dropdown/section.js
  addons/rose/tests/dummy/app/templates/index.hbs
  addons/rose/tests/integration/components/rose/dropdown/section-test.js
  addons/rose/tests/integration/components/rose/form/radio/group-test.js
  ui/core/app/routes/application.js
  ui/core/app/templates/application.hbs
  ui/core/tests/acceptance/authentication-test.js
  ui/core/translations/en-us.yaml
Labels: addons, addons/styles, ui, ui/admin, ui/admin/app, ui/admin/tests

#366 chore: 🤖 style dropdown radios with selection bg and checkmark
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
  addons/rose/tests/dummy/app/templates/index.hbs
  ui/core/app/components/form/role/index.hbs
  ui/core/app/styles/app.scss
Labels: addons, addons/styles, ui, ui/admin, ui/admin/app

#367 chore: 🤖 apply global icon to header scope nav and grant scope
  ui/core/app/components/form/role/index.hbs
  ui/core/app/templates/scopes/scope/-header-nav.hbs
  ui/core/public/app-icons/global.svg
Labels: ui, ui/admin, ui/admin/app

#368 fix: 🐛 do not show grant scope field in new role form
  ui/core/app/components/form/role/index.hbs
  ui/core/app/components/form/role/index.js
  ui/core/mirage/serializers/role.js
Labels: ui, ui/admin, ui/admin/app

#370 fix: Update org deletion label:'Delete Project'>'Delete Org'
  ui/core/app/templates/scopes/scope/edit.hbs
  ui/core/translations/resources/en-us.yaml
Labels: ui, ui/admin, ui/admin/app

#372 Chore alternate dropdown radios
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
  addons/rose/addon/styles/rose/components/dropdown/_section.scss
  ui/core/app/components/form/role/index.hbs
  ui/core/app/styles/app.scss
Labels: addons, addons/styles, ui, ui/admin, ui/admin/app

#371 Upgrade desktop ember cli to 3.20
  package.json
  ui/desktop/.eslintrc.js
  ui/desktop/.gitignore
  ui/desktop/.prettierrc
  ui/desktop/.sasslintrc
  ui/desktop/.travis.yml
  ui/desktop/app/helpers/.gitkeep
  ui/desktop/app/helpers/app-name.js
  ui/desktop/app/index.html
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
  ui/desktop/config/ember-cli-update.json
  ui/desktop/config/environment.js
  ui/desktop/config/targets.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/handle-file-urls.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/ember-cli-build.js
  ui/desktop/mirage/config.js
  ui/desktop/package.json
  ui/desktop/public/logo-app.svg
  ui/desktop/testem-electron.js
  ui/desktop/testem.js
  ui/desktop/tests/index.html
  yarn.lock
Labels: ui

#373 chore: implement custom serve://boundary protocol
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/preload.js
Labels: ui

#374 Chore ipc
  ui/desktop/app/routes/index.js
  ui/desktop/app/services/ipc.js
  ui/desktop/app/templates/index.hbs
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/handle-file-urls.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/preload.js
  ui/desktop/package.json
  ui/desktop/tests/unit/routes/index-test.js
  ui/desktop/tests/unit/services/ipc-test.js
  yarn.lock
Labels: ui

#379 fix: 🐛 postMessage origin should be the current origin
  ui/desktop/app/services/ipc.js
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/preload.js
Labels: ui

#380 Feature auth
  ui/desktop/app/authenticators/password.js
  ui/desktop/app/helpers/is-loading.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/index.js
  ui/desktop/app/routes/scopes/index.js
  ui/desktop/app/routes/scopes/scope.js
  ui/desktop/app/routes/scopes/scope/authenticate.js
  ui/desktop/app/routes/scopes/scope/authenticate/index.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/routes/scopes/scope/index.js
  ui/desktop/app/routes/scopes/scope/targets.js
  ui/desktop/app/services/scope.js
  ui/desktop/app/session-stores/application.js
  ui/desktop/app/styles/_notify.scss
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/index.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method.hbs
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  ui/desktop/tests/unit/authenticators/password-test.js
  ui/desktop/tests/unit/routes/application-test.js
  ui/desktop/tests/unit/routes/scopes/index-test.js
  ui/desktop/tests/unit/routes/scopes/scope/authenticate-test.js
  ui/desktop/tests/unit/routes/scopes/scope/authenticate/index-test.js
  ui/desktop/tests/unit/routes/scopes/scope/authenticate/method-test.js
  yarn.lock
Labels: ui

#381 Feature boundary origin
  ui/desktop/app/controllers/.gitkeep
  ui/desktop/app/controllers/application.js
  ui/desktop/app/controllers/scopes/scope/authenticate.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/index.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/index.hbs
  ui/desktop/config/ember-intl.js
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/mirage/config.js
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/origin-test.js
  ui/desktop/tests/unit/controllers/application-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/authenticate-test.js
  ui/desktop/tests/unit/routes/origin-test.js
  ui/desktop/translations/form/en-us.yaml
Labels: desktop, ui

#385 refactor: 💡 port confirmation service and components into core
  addons/core/README.md
  addons/core/addon/components/pending-confirmations/index.hbs
  addons/core/addon/components/pending-confirmations/index.js
  addons/core/addon/decorators/confirm.js
  addons/core/addon/services/confirm.js
  addons/core/app/components/pending-confirmations.js
  addons/core/app/decorators/confirm.js
  addons/core/app/services/confirm.js
  addons/core/package.json
  addons/core/tests/integration/components/pending-confirmations-test.js
  addons/core/tests/unit/services/confirm-test.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/group/members.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/host-sets.js
  ui/admin/app/routes/scopes/scope/users.js
  yarn.lock
Labels: addons, admin, ui

#386 Refactor notify decorator
  addons/core/README.md
  addons/core/addon/decorators/notify.js
  addons/core/app/decorators/notify.js
  ui/admin/app/routes/account/change-password.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/groups/group/members.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sets.js
  ui/admin/app/routes/scopes/scope/targets/target/host-sets.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/user/accounts.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
Labels: addons, admin, ui

#387 refactor: 💡 port remaining helpers and doc-link component
  addons/core/README.md
  addons/core/addon/components/doc-link/index.hbs
  addons/core/addon/helpers/app-name.js
  addons/core/addon/helpers/company-copyright.js
  addons/core/addon/helpers/company-name.js
  addons/core/addon/helpers/doc-url.js
  addons/core/addon/helpers/is-loading.js
  addons/core/app/components/doc-link.js
  addons/core/app/helpers/app-name.js
  addons/core/app/helpers/company-copyright.js
  addons/core/app/helpers/company-name.js
  addons/core/app/helpers/doc-url.js
  addons/core/app/helpers/is-loading.js
  addons/core/package.json
  addons/core/tests/dummy/config/environment.js
  addons/core/tests/integration/components/doc-link.js
  addons/core/tests/integration/helpers/app-name-test.js
  addons/core/tests/integration/helpers/company-copyright-test.js
  addons/core/tests/integration/helpers/company-name-test.js
  addons/core/tests/integration/helpers/doc-url-test.js
Labels: addons

#388 Refactor public assets
  addons/core/public/app-icons/action-session.svg
  addons/core/public/app-icons/auth-method.svg
  addons/core/public/app-icons/gear.svg
  addons/core/public/app-icons/global.svg
  addons/core/public/app-icons/group.svg
  addons/core/public/app-icons/host-catalogs.svg
  addons/core/public/app-icons/org.svg
  addons/core/public/app-icons/project.svg
  addons/core/public/app-icons/roles.svg
  addons/core/public/app-icons/target.svg
  addons/core/public/app-icons/user-profile.svg
  addons/core/public/app-icons/users.svg
  addons/core/public/logo-app.svg
  addons/core/public/logo-company.svg
  ui/admin/ember-cli-build.js
  ui/admin/package.json
  ui/desktop/ember-cli-build.js
Labels: addons, admin, desktop, ui

#389 refactor: 💡 port mirage mocks into api addon
  addons/api/README.md
  addons/api/mirage/config.js
  addons/api/mirage/factories/account.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/factories/group.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/factories/host-set.js
  addons/api/mirage/factories/host.js
  addons/api/mirage/factories/role.js
  addons/api/mirage/factories/scope.js
  addons/api/mirage/factories/session.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/factories/user.js
  addons/api/mirage/generated/factories/account.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/mirage/generated/factories/group.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-set.js
  addons/api/mirage/generated/factories/host.js
  addons/api/mirage/generated/factories/org.js
  addons/api/mirage/generated/factories/project.js
  addons/api/mirage/generated/factories/role.js
  addons/api/mirage/generated/factories/scope.js
  addons/api/mirage/generated/factories/session.js
  addons/api/mirage/generated/factories/target.js
  addons/api/mirage/generated/factories/user.js
  addons/api/mirage/models/account.js
  addons/api/mirage/models/auth-method.js
  addons/api/mirage/models/group.js
  addons/api/mirage/models/host-catalog.js
  addons/api/mirage/models/host-set.js
  addons/api/mirage/models/host.js
  addons/api/mirage/models/role.js
  addons/api/mirage/models/session.js
  addons/api/mirage/models/target.js
  addons/api/mirage/models/user.js
  addons/api/mirage/route-handlers/auth.js
  addons/api/mirage/scenarios/default.js
  addons/api/mirage/serializers/account.js
  addons/api/mirage/serializers/application.js
  addons/api/mirage/serializers/auth-method.js
  addons/api/mirage/serializers/group.js
  addons/api/mirage/serializers/host-catalog.js
  addons/api/mirage/serializers/host-set.js
  addons/api/mirage/serializers/host.js
  addons/api/mirage/serializers/role.js
  addons/api/mirage/serializers/scope.js
  addons/api/mirage/serializers/session.js
  addons/api/mirage/serializers/target.js
  addons/api/mirage/serializers/user.js
  ui/admin/config/environment.js
Labels: addons, admin, api-addon, ui

#391 refactor: 💡 port app-level auth concerns into core addon
  addons/core/addon/authenticators/password.js
  addons/core/addon/session-stores/application.js
  addons/core/app/authenticators/password.js
  addons/core/app/session-stores/application.js
  addons/core/package.json
  addons/core/tests/dummy/config/environment.js
  addons/core/tests/unit/authenticators/password-test.js
  yarn.lock
Labels: addons

#390 refactor: 💡 port error/message component to core addon
  addons/core/addon/authenticators/password.js
  addons/core/addon/components/error/message/index.hbs
  addons/core/addon/components/error/message/index.js
  addons/core/addon/session-stores/application.js
  addons/core/app/authenticators/password.js
  addons/core/app/components/error/message.js
  addons/core/app/session-stores/application.js
  addons/core/package.json
  addons/core/tests/dummy/app/templates/application.hbs
  addons/core/tests/dummy/config/ember-intl.js
  addons/core/tests/dummy/config/environment.js
  addons/core/tests/integration/components/error/message-test.js
  addons/core/tests/unit/authenticators/password-test.js
  yarn.lock
Labels: addons

#392 Refactor addon dependencies
  addons/api/package.json
  addons/auth/package.json
  addons/core/README.md
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn-audit-known-issues
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, desktop, styles-addon, ui

#393 Refactor desktop mirage
  ui/desktop/app/initializers/ipc.js
  ui/desktop/config/environment.js
  ui/desktop/mirage/config.js
  ui/desktop/mirage/factories/account.js
  ui/desktop/mirage/factories/auth-method.js
  ui/desktop/mirage/factories/host-catalog.js
  ui/desktop/mirage/factories/host-set.js
  ui/desktop/mirage/factories/host.js
  ui/desktop/mirage/factories/scope.js
  ui/desktop/mirage/factories/session.js
  ui/desktop/mirage/factories/target.js
  ui/desktop/mirage/factories/user.js
  ui/desktop/mirage/generated/factories/account.js
  ui/desktop/mirage/generated/factories/auth-method.js
  ui/desktop/mirage/generated/factories/host-catalog.js
  ui/desktop/mirage/generated/factories/host-set.js
  ui/desktop/mirage/generated/factories/host.js
  ui/desktop/mirage/generated/factories/org.js
  ui/desktop/mirage/generated/factories/project.js
  ui/desktop/mirage/generated/factories/scope.js
  ui/desktop/mirage/generated/factories/session.js
  ui/desktop/mirage/generated/factories/target.js
  ui/desktop/mirage/generated/factories/user.js
  ui/desktop/mirage/models/account.js
  ui/desktop/mirage/models/auth-method.js
  ui/desktop/mirage/models/host-catalog.js
  ui/desktop/mirage/models/host-set.js
  ui/desktop/mirage/models/host.js
  ui/desktop/mirage/models/session.js
  ui/desktop/mirage/models/target.js
  ui/desktop/mirage/models/user.js
  ui/desktop/mirage/route-handlers/auth.js
  ui/desktop/mirage/scenarios/default.js
  ui/desktop/mirage/serializers/account.js
  ui/desktop/mirage/serializers/application.js
  ui/desktop/mirage/serializers/auth-method.js
  ui/desktop/mirage/serializers/host-catalog.js
  ui/desktop/mirage/serializers/host-set.js
  ui/desktop/mirage/serializers/host.js
  ui/desktop/mirage/serializers/scope.js
  ui/desktop/mirage/serializers/session.js
  ui/desktop/mirage/serializers/target.js
  ui/desktop/mirage/serializers/user.js
  ui/desktop/tests/unit/initializers/ipc-test.js
Labels: desktop, ui

#394 refactor: Scope service into core addon and desktop routes
  addons/api/addon/services/storage.js
  addons/core/README.md
  addons/core/addon/services/scope.js
  addons/core/app/services/scope.js
  addons/core/tests/unit/.gitkeep
  addons/core/tests/unit/services/scope-test.js
  ui/admin/tests/unit/services/scope-test.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope.js
  ui/desktop/app/routes/scopes/scope/index.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/targets/index.js
  ui/desktop/app/services/scope.js
  ui/desktop/app/templates/scopes/scope/projects.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/ember-cli-build.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/targets-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/index-test.js
  ui/desktop/tests/unit/services/scope-test.js
Labels: addons, admin, api-addon, desktop, ui

#395 fix: 🐛 IPC should check for method and handler for data
  ui/desktop/app/initializers/ipc.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/preload.js
Labels: desktop, ui

#396 style: 💄 make window title pretty and draggable
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
  ui/desktop/electron-app/src/index.js
Labels: desktop, ui

#398 refactor: 💡 extract origin procedures into service
  ui/desktop/app/initializers/ipc.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/services/origin.js
  ui/desktop/tests/unit/services/origin-test.js
  yarn.lock
Labels: desktop, ui

#399 chore: 🤖 if origin is unset, redirect away from auth flow
  ui/desktop/app/routes/scopes/scope/authenticate.js
Labels: desktop, ui

#397 Init connect ipc event
  addons/core/translations/en-us.yaml
  ui/desktop/app/initializers/ipc.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/routes/scopes/scope/authenticate.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/services/origin.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/package.json
  ui/desktop/tests/unit/services/origin-test.js
  yarn.lock
Labels: addons, desktop, ui

#400 Style origin
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  ui/desktop/.stylelintrc.json
  ui/desktop/app/components/.gitkeep
  ui/desktop/app/components/branded-card/index.hbs
  ui/desktop/app/controllers/scopes/scope/authenticate.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/routes/scopes/scope/authenticate.js
  ui/desktop/app/styles/_notify.scss
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes.hbs
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/package.json
  ui/desktop/public/brand-background.svg
  ui/desktop/public/logo-app-full.svg
  ui/desktop/tests/integration/components/branded-card-test.js
  yarn.lock
Labels: addons, desktop, ui
