Repository hashicorp/boundary-ui, pull requests merged in 2021-02, with the labels that each got.

#434 chore: Attach osx sign to packager config correctly
  ui/desktop/electron-app/config/forge.config.js
Labels: desktop, ui

#433 Bundle Boundary CLI into Desktop Client
  ui/desktop/README.md
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/electron-app/.gitignore
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/spawn-promise.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#435 chore: Use basic electronforge config to view signing errors
  ui/desktop/electron-app/config/forge.config.js
Labels: desktop, ui

#437 Persist proxy info
  addons/api/addon/models/session.js
  addons/api/mirage/config.js
  addons/api/mirage/scenarios/ipc.js
  addons/api/tests/unit/models/session-test.js
  addons/core/translations/form/en-us.yaml
  ui/desktop/app/components/copyable/index.hbs
  ui/desktop/app/components/copyable/index.js
  ui/desktop/app/initializers/ipc.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/package.json
  ui/desktop/tests/integration/components/copyable-test.js
  ui/desktop/tests/unit/initializers/ipc-test.js
  yarn.lock
Labels: addons, api-addon, desktop, ui

#440 Add desktop appicon
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/config/macos/icon.icns
Labels: desktop, ui

#438 Show active sessions in a target
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-navigation.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/sessions-test.js
Labels: addons, desktop, ui

#436 View hosts in a target
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-navigation.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/hosts-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/index-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/sessions-test.js
Labels: addons, desktop, ui

#439 Make all ids copyable
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
Labels: desktop, ui

#441 fix: 🐛 allow copyable to work within a modal
  ui/desktop/app/components/copyable/index.js
  ui/desktop/app/templates/application.hbs
Labels: desktop, ui

#443 Feature active targets
  addons/api/addon/models/session.js
  addons/api/addon/models/target.js
  addons/api/tests/unit/models/session-test.js
  addons/api/tests/unit/models/target-test.js
  addons/core/translations/states/en-us.yaml
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/acceptance/targets-test.js
Labels: addons, api-addon, desktop, ui

#442 fix: 🐛 partition (and thus browser storage) should be persisted
  ui/desktop/electron-app/src/index.js
Labels: desktop, ui

#444 feat: Connect to a host within target
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-actions.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/handlers.js
Labels: desktop, ui

#448 chore: 🤖 sanitize and validate input to CLI
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/yarn.lock
Labels: desktop, ui

#447 Feature desktop dark mode
  ui/desktop/app/routes/application.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/tests/acceptance/authentication-test.js
Labels: desktop, ui

#451 fix: Connecting from a target view raises toString error
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-actions.hbs
Labels: desktop, ui

#450 Show session proxy details in active sessions in a target
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
Labels: desktop, ui

#456 style: Fix auth border expanding to bottom of screen
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
Labels: desktop, ui

#454 chore: Add missing origin validation message
  addons/core/translations/errors/en-us.yaml
Labels: addons

#453 refactor: Sort and filter active sessions in a target
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-actions.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/unit/controllers/scopes/scope/projects/targets/target/sessions-test.js
Labels: desktop, ui

#458 fix: Close icon in dialog header will dismiss dialog
  ui/desktop/app/templates/application.hbs
Labels: desktop, ui

#452 refactor: 💡 use recursive listing for desktop queries
  addons/api/addon/models/session.js
  addons/api/addon/models/target.js
  addons/api/mirage/config.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/unit/controllers/scopes/scope/projects/sessions/index-test.js
Labels: addons, api-addon, desktop, ui

#459 Chore about version
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/src/boundary-cli.js
Labels: desktop, ui

#460 chore: 🤖 tweak target "active" badge appearance
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
Labels: desktop, ui

#462 chore: Add a catchall error template
  ui/desktop/app/templates/error.hbs
Labels: desktop, ui

#449 [WIP] feat: Show info messages when resources are empty
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
Labels: addons, desktop, ui

#466 chore: Capture unauthorized model errors with error template
  addons/core/tests/integration/components/error/message-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/errors/en-us.yaml
  ui/desktop/app/routes/application.js
  ui/desktop/app/services/origin.js
  ui/desktop/app/templates/error.hbs
  ui/desktop/app/templates/scopes/scope/projects/error.hbs
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/origin.js
Labels: addons, desktop, ui

#464 Add "disconnect" escape hatch to error page in desktop
  addons/core/tests/integration/components/error/message-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/errors/en-us.yaml
  ui/desktop/app/routes/application.js
  ui/desktop/app/services/origin.js
  ui/desktop/app/templates/error.hbs
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/origin.js
Labels: addons, desktop, ui

#467 chore: Hide devtools in production menu
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/menu.js
Labels: desktop, ui

#461 fix: 🐛 target sessions should update on poll
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
Labels: desktop, ui

#465 chore: Add dmg background image
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/config/macos/background.png
  ui/desktop/electron-app/config/macos/background@2x.png
Labels: desktop, ui

#468 fix: Make default window size larger
  ui/desktop/electron-app/src/index.js
Labels: desktop, ui

#469 Docs desktop
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/package.json
  yarn.lock
Labels: addons, api-addon, desktop, ui

#472 fix: 🐛 dark mode should persist
  ui/desktop/app/routes/application.js
Labels: desktop, ui

#473 chore: bump CLI version to 0.1.6
  ui/desktop/electron-app/config/cli.js
Labels: desktop, ui

#476 docs: add changelog
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#477 Updated macOS assets
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/config/macos/background.png
  ui/desktop/electron-app/config/macos/background@2x.png
  ui/desktop/electron-app/config/macos/disk.icns
  ui/desktop/electron-app/config/macos/icon.icns
  ui/desktop/electron-app/package.json
Labels: desktop, ui

#479 chore: 🤖 upgrade resolutions for dependabot
  package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: desktop, ui

#480 Use Electron net request
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/origin.js
  ui/desktop/electron-app/yarn.lock
Labels: desktop, ui

#482 Chore scrolling
  ui/desktop/CHANGELOG.md
  ui/desktop/app/styles/app.scss
Labels: desktop, ui

#484 chore: 🤖 tweak desktop svg bg accent color to match brand
  ui/desktop/public/brand-background.svg
Labels: desktop, ui

#481 Update application and macOS asset names to "Boundary"
  README.md
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/menu.js
Labels: desktop, ui

#485 chore: 🤖 rip out deprecated route mixin
  ui/admin/app/routes/application.js
  ui/admin/tests/acceptance/authentication-test.js
  ui/desktop/app/routes/application.js
Labels: admin, desktop, ui
