Repository hashicorp/boundary-ui, pull requests merged in 2021-12, with the labels that each got.

#872 chore: 🤖 Add json-schema to desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#876 chore: 🤖 Add json-schema to global resolutions
  package.json
  yarn.lock
Labels: dependencies

#877 Refactor resource filters
  addons/core/addon/decorators/resource-filter-param.js
  addons/core/addon/decorators/resource-filter.js
  addons/core/addon/helpers/has-resource-filter-selections.js
  addons/core/addon/helpers/resource-filter.js
  addons/core/app/decorators/resource-filter-param.js
  addons/core/app/decorators/resource-filter.js
  addons/core/app/helpers/has-resource-filter-param-selections.js
  addons/core/app/helpers/has-resource-filter-selections.js
  addons/core/app/helpers/resource-filter-param.js
  addons/core/app/helpers/resource-filter.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, addons, desktop, admin

#879 chore: 🤖 ensure mock sessions appear in desktop
  addons/api/mirage/route-handlers/auth.js
Labels: addons, api-addon

#880 Desktop sessions filtering
  addons/api/mirage/config.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, addons, desktop, api-addon

#881 feat: 🎸 Add table header for hosts list within targets
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
Labels: ui, desktop

#878 feat: 🎸 Host catalogs only supports host type static
  addons/api/addon/models/host-catalog.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/tests/unit/models/host-catalog-test.js
  addons/api/tests/unit/models/host-test.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
Labels: ui, addons, desktop, admin, api-addon

#882 Improve project resource filtering for sessions in Desktop
  addons/api/addon/models/base.js
  addons/api/tests/unit/models/base-test.js
  ui/desktop/app/helpers/group-by.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/tests/integration/helpers/group-by-test.js
Labels: ui, addons, desktop, api-addon

#883 Add targets filtering by projects in Desktop
  addons/api/addon/services/resource-filter-store.js
  addons/api/mirage/config.js
  addons/api/tests/unit/services/resource-filter-store-test.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
Labels: ui, addons, desktop, api-addon

#884 Chore bump binary version
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop
