Repository hashicorp/boundary-ui, pull requests merged in 2021-01, with the labels that each got.

#420 Add electron build task to desktop build task
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#421 Refactor typed auth methods
  addons/core/addon/decorators/notify.js
  addons/rose/addon/components/rose/dropdown/link/index.hbs
  ui/admin/app/components/form/auth-method/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/app/components/form/authenticate/index.hbs
  ui/admin/app/components/form/authenticate/password/index.hbs
  ui/admin/app/components/form/authenticate/password/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/new.js
  ui/admin/app/routes/scopes/scope/auth-methods/new.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method.hbs
  ui/admin/tests/acceptance/auth-methods-test.js
Labels: addons, admin, styles-addon, ui

#425 Feature csp
  ui/desktop/app/services/origin.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/content-security-policy.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/origin.js
  ui/desktop/electron-app/yarn.lock
Labels: desktop, ui

#422 Electronegativity
  package.json
  ui/desktop/app/services/origin.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/content-security-policy.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/origin.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#426 refactor: 💡 move authenticate forms to core and use in desktop
  addons/core/addon/components/form/authenticate/index.hbs
  addons/core/addon/components/form/authenticate/password/index.hbs
  addons/core/addon/components/form/authenticate/password/index.js
  addons/core/app/components/form/authenticate.js
  addons/core/app/components/form/authenticate/password.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/templates/scopes/scope/authenticate/method.hbs
Labels: addons, desktop, ui

#427 refactor: Update Controller URL to Origin URL
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
Labels: addons

#432 fix: 🐛 fixes issue where scope nav is empty after login
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
Labels: admin, ui

#430 Add code signing check for desktop
  README.md
  ui/desktop/README.md
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
Labels: desktop, ui

#428 Fix production DMG issue
  README.md
  addons/api/package.json
  addons/core/package.json
  ui/desktop/README.md
  ui/desktop/config/environment.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/config/macos/entitlements.plist
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/origin.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn-audit-known-issues
  yarn.lock
Labels: addons, api-addon, desktop, ui
