Repository hashicorp/boundary-ui, pull requests merged in 2021-03, with the labels that each got.

#486 Feature desktop filtering - ICU-1169 ICU-1071
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
Labels: desktop, ui

#483 chore: 🤖 support api_errors and drop errors format flag
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/spawn-promise.js
Labels: desktop, ui

#487 Chore poll targets - ICU-1103
  ui/desktop/CHANGELOG.md
  ui/desktop/app/routes/scopes/scope/projects/targets.js
Labels: desktop, ui

#492 fix: Remove unnecessary debugger apple entitlement
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/config/macos/entitlements.plist
  yarn-audit-known-issues
Labels: desktop, ui

#495 chore: Bump cli verstion to 0.1.8
  ui/desktop/electron-app/config/cli.js
Labels: desktop, ui

#497 chore: Rename COMMIT var to RELEASE_COMMIT to match CircleCi
  ui/desktop/electron-app/config/forge.config.js
Labels: desktop, ui

#494 chore: 🤖 add electronegativity inline disable flags
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#498 chore: 🤖 remove getwithdefault
  addons/api/addon/adapters/application.js
Labels: addons, api-addon

#500 docs: add CLI versions to changelog
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#503 Build all desktop tests in Github action
  addons/api/mirage/config.js
  ui/desktop/package.json
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/origin-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/projects/sessions-test.js
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/projects/targets/hosts-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/integration/components/branded-card-test.js
  ui/desktop/tests/unit/services/origin-test.js
  yarn.lock
Labels: addons, api-addon, desktop, ui

#505 Specify zoom-in shortcut
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/src/menu.js
Labels: desktop, ui

#506 Feature primary auth method
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/generated/models/scope.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/serializers/auth-method.js
  addons/api/app/serializers/auth-method.js
  addons/api/mirage/config.js
  addons/api/mirage/scenarios/default.js
  addons/api/mirage/serializers/auth-method.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/core/addon/decorators/confirm.js
  addons/core/translations/resources/en-us.yaml
  addons/core/translations/states/en-us.yaml
  addons/rose/addon/styles/rose/components/_badge.scss
  ui/admin/app/controllers/scopes/scope/auth-methods/index.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/index.js
  ui/admin/app/templates/application.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-header.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/config/environment.js
  ui/admin/package.json
  ui/admin/tests/acceptance/auth-methods-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/index-test.js
  yarn.lock
Labels: addons, admin, api-addon, styles-addon, ui
