Repository hashicorp/boundary-ui, pull requests merged in 2021-08, with the labels that each got.

#684 docs: Bump desktop changelog for next release
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#685 chore: Refactor cli version into a VERSION file
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/cli/VERSION
Labels: desktop, ui

#690 chore: Bump cli version used by desktop
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#693 chore: 🤖 Update xmldom dependency resolution
  package.json
  yarn.lock
Labels: dependencies

#694 chore: 🤖 Fix missing target in sessions scenarios in mirage
  addons/api/mirage/scenarios/default.js
Labels: addons, api-addon

#692 chore: 🤖 Update tar dependency resolutions
  package.json
  yarn.lock
Labels: dependencies

#703 chore: 🤖 abilities should check the capabilities feature flag
  ui/admin/app/abilities/model.js
  ui/admin/config/environment.js
  ui/desktop/app/abilities/model.js
  ui/desktop/config/environment.js
Labels: ui, desktop, admin

#705 chore: 🤖 Update tar resolutions
  package.json
  yarn.lock
Labels: dependencies

#704 feat: 🎸 credential library read/update/delete capabilities
  addons/api/mirage/factories/credential-library.js
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-actions.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/tests/acceptance/accounts/update-test.js
  ui/admin/tests/acceptance/credential-libraries-test.js
  ui/admin/tests/acceptance/credential-library/delete-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
Labels: ui, addons, admin, api-addon

#706 chore: 🤖 Add jszip to resolutions
  ui/desktop/electron-app/package.json
Labels: ui, dependencies, desktop

#707 feat: 🎸 auth capabilities
  addons/api/mirage/factories/auth-method.js
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/tests/acceptance/auth-methods-test.js
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/auth-methods/read-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, addons, admin, api-addon

#709 fix: 🐛 delete user capability
  ui/admin/app/templates/scopes/scope/users/user/-actions.hbs
Labels: ui, admin

#711 Desktop target capability
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/electron-app/yarn.lock
  ui/desktop/tests/acceptance/projects/targets-test.js
Labels: ui, desktop

#710 chore: 🤖 Add path transitive dep. to yarn resolutions
  package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, dependencies, desktop

#718 Cred store capabilities
  addons/api/mirage/factories/credential-store.js
  ui/admin/app/components/form/credential-store/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-actions.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/tests/acceptance/credential-store/delete-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/acceptance/credential-stores-test.js
Labels: ui, addons, admin, api-addon

#713 Feature collection abilities
  addons/api/addon/abilities/collection.js
  addons/api/app/abilities/collection.js
  addons/api/tests/unit/abilities/collection-test.js
  ui/admin/app/abilities/collection.js
  ui/admin/tests/unit/abilities/collection-test.js
  ui/desktop/app/abilities/collection.js
  ui/desktop/tests/unit/abilities/collection-test.js
Labels: ui, addons, desktop, admin, api-addon

#724 chore: 🤖 Delete xmldom from resolutions
  package.json
  ui/desktop/electron-app/package.json
  yarn.lock
Labels: ui, dependencies, desktop
