Repository hashicorp/boundary-ui, pull requests merged in 2021-09, with the labels that each got.

#731 chore: 🤖 Update ember-cli version
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#723 user capabilities list test case
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/list-test.js
Labels: ui, admin

#732 chore: 🤖 Update tar version resolutions
  package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, dependencies, desktop

#717 User create/list collection capabilities UI
  addons/api/addon/abilities/collection.js
  addons/api/addon/models/base.js
  addons/api/mirage/factories/scope.js
  addons/core/translations/en-us.yaml
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/list-test.js
Labels: ui, addons, admin, api-addon

#725 Group create list
  addons/api/mirage/factories/scope.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/tests/acceptance/groups/create-test.js
  ui/admin/tests/acceptance/groups/list-test.js
Labels: ui, addons, admin, api-addon

#726 Roles capabilities create/list
  addons/api/mirage/factories/scope.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/tests/acceptance/roles/create-test.js
  ui/admin/tests/acceptance/roles/list-test.js
Labels: ui, addons, admin, api-addon

#727 feat: 🎸 auth methods capability
  addons/api/mirage/factories/scope.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/list-test.js
Labels: ui, addons, admin, api-addon

#730 feat: 🎸 host catalogs create/list capability
  addons/api/addon/models/base.js
  addons/api/mirage/factories/scope.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
Labels: ui, addons, admin, api-addon

#733 Sessions
  addons/api/mirage/factories/scope.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/tests/acceptance/sessions-test.js
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/list-test.js
Labels: ui, addons, admin, api-addon

#734 Target capabilities create/list
  addons/api/mirage/factories/scope.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/list-test.js
Labels: ui, addons, admin, api-addon

#735 Credential store capabilities - create/list
  addons/api/mirage/factories/scope.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/list-test.js
Labels: ui, addons, admin, api-addon

#737 Feature scope capabilities
  addons/api/mirage/factories/scope.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/scope/index.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/scopes/update-test.js
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/list-test.js
Labels: ui, addons, admin, api-addon

#738 feat: host sets capabilities create/list
  addons/api/mirage/factories/host-catalog.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/index.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-actions.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-navigation.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/list-test.js
Labels: ui, addons, admin, api-addon

#739 feat: 🎸 hosts capabilities create list
  addons/api/mirage/factories/host-catalog.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts/index.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-actions.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-navigation.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/list-test.js
Labels: ui, addons, admin, api-addon

#740 feat: 🎸 accounts capability
  addons/api/mirage/factories/auth-method.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/index.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/tests/acceptance/accounts/create-test.js
  ui/admin/tests/acceptance/accounts/list-test.js
Labels: ui, addons, admin, api-addon

#736 Cred lib create list
  addons/api/mirage/factories/credential-store.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/index.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-actions.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-navigation.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/list-test.js
Labels: ui, addons, admin, api-addon

#741 chore: 🤖 enable capabilities feature
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, desktop, admin

#745 fix: 🐛 scope create shows only when permissions granted
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
Labels: ui, admin

#744 fix: 🐛 hide auth method create link when grants missing
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
Labels: ui, admin

#746 fix: 🐛 fix lingering capabilities bugs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
Labels: ui, admin

#747 Feature create without read redirect
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/templates/scopes/scope/groups/index.hbs
Labels: ui, admin

#748 chore: 🤖 redirect to index on save in create-without-read case
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
Labels: ui, admin

#749 fix: 🐛 redirect to index on save without read
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/users.js
Labels: ui, admin

#750 Chore create without read cred lib
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
Labels: ui, admin

#751 chore: 🤖 redirect to index on save in create-without-read case
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
Labels: ui, admin

#752 chore: mocks should have scope collection grants
  addons/api/mirage/factories/scope.js
Labels: addons, api-addon

#719 Debian based Linux Desktop Support
  addons/core/translations/actions/en-us.yaml
  ui/desktop/.gitignore
  ui/desktop/CHANGELOG.md
  ui/desktop/README.md
  ui/desktop/app/controllers/application.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/electron-app/assets/app-icons/icon.png
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/cli/VERSION
  ui/desktop/electron-app/config/desktop.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/platform.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/environments/ubuntu-focal64/Vagrantfile
  ui/desktop/package.json
  ui/desktop/tests/acceptance/application-test.js
  ui/desktop/tests/acceptance/targets-test.js
  ui/desktop/tests/helpers/window-mock-ipc.js
Labels: ui, addons, desktop

#742 chore: 🤖 Update immer transitive dependency resolution
  package.json
  yarn.lock
Labels: dependencies

#753 desktop: Update README with instructions for using non-release versions
  ui/desktop/README.md
Labels: ui, desktop

#758 chore: Add dev flag to disable app updater prompts - desktop
  ui/desktop/README.md
  ui/desktop/electron-app/src/helpers/app-updater.js
Labels: ui, desktop

#759 refactor: Add forge config checks into electron forge
  ui/desktop/electron-app/config/forge.config.js
Labels: ui, desktop

#756 Chore dep upgrades
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/.template-lintrc.js
  addons/rose/package.json
  package.json
  ui/admin/.template-lintrc.js
  ui/admin/package.json
  ui/desktop/.template-lintrc.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#762 Chore dep upgrades 2
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/.template-lintrc.js
  addons/rose/package.json
  package.json
  ui/admin/.template-lintrc.js
  ui/admin/package.json
  ui/desktop/.template-lintrc.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#760 feat: 🎸 add connect target capability UI
  addons/api/addon/abilities/target.js
  addons/api/app/abilities/target.js
  addons/api/mirage/factories/target.js
  addons/api/tests/unit/abilities/target-test.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
Labels: ui, addons, desktop, api-addon

#770 Change target attributes and custom methods
  addons/api/addon/models/fragment-host-source.js
  addons/api/addon/models/target.js
  addons/api/addon/serializers/fragment-auth-method-attributes-account-claim-map.js
  addons/api/addon/serializers/fragment-host-set.js
  addons/api/addon/serializers/fragment-host-source.js
  addons/api/addon/serializers/target.js
  addons/api/app/models/fragment-host-set.js
  addons/api/app/models/fragment-host-source.js
  addons/api/app/serializers/fragment-host-set.js
  addons/api/app/serializers/fragment-host-source.js
  addons/api/mirage/config.js
  addons/api/mirage/serializers/target.js
  addons/api/tests/unit/models/fragment-host-source-test.js
  addons/api/tests/unit/models/host-set-test.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/fragment-host-source-test.js
  addons/api/tests/unit/serializers/target-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/add-credential-libraries/index.hbs
  ui/admin/app/components/form/target/add-credential-libraries/index.js
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/components/form/target/add-host-sets/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/credential-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/host-sources.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/host-sources.js
  ui/admin/app/templates/scopes/scope/targets/target/-actions.hbs
  ui/admin/app/templates/scopes/scope/targets/target/-navigation.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-libraries/-header.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-sources/-header.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-host-sets/-header.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-host-sources/-header.hbs
  ui/admin/app/templates/scopes/scope/targets/target/credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/targets/credential-sources-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-host-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/credential-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/host-sources-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/add-credential-sources-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/add-host-sources-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/credential-sources-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/host-sources-test.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
Labels: ui, addons, desktop, admin, api-addon

#765 chore: 🤖 Update set-value resolutions
  package.json
  yarn.lock
Labels: dependencies

#766 chore: 🤖 Update prismjs resolutions
  package.json
  yarn.lock
Labels: dependencies

#768 chore: 🤖 Update tmpl resolutions
  package.json
  yarn.lock
Labels: dependencies

#771 chore: 🤖 Add nth-check to resolutions
  package.json
  yarn.lock
Labels: dependencies

#774 chore: 🤖 Add ansi-regex to desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#757 Add chromeless window option for desktop
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/README.md
  ui/desktop/app/controllers/application.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/tests/acceptance/application-test.js
  ui/desktop/tests/helpers/window-mock-ipc.js
Labels: ui, addons, desktop, api-addon

#775 chore: 🤖 Add ansi-regex transtitive dependency to resolutions
  package.json
  yarn.lock
Labels: dependencies

#776 chore: 🤖 Update electron minor version
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#777 chore: 🤖 Add nth-check desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#778 chore: 🤖 Update electron-forge for desktop client
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#781 Revert "chore: 🤖 Update electron-forge for desktop client"
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#773 Bump @hashicorp/flight-icons to 1.0.0 with ^
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#779 Feature remove sources capability
  addons/api/addon/abilities/target.js
  addons/api/mirage/factories/target.js
  addons/api/tests/unit/abilities/target-test.js
  ui/admin/app/templates/scopes/scope/targets/target/credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/tests/acceptance/targets/credential-sources-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
Labels: ui, addons, admin, api-addon

#780 Feature add sources capability
  addons/api/addon/abilities/target.js
  addons/api/mirage/factories/target.js
  addons/api/tests/unit/abilities/target-test.js
  ui/admin/app/templates/scopes/scope/targets/target/-actions.hbs
  ui/admin/tests/acceptance/targets/credential-sources-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
Labels: ui, addons, admin, api-addon
