Repository hashicorp/boundary-ui, pull requests merged in 2021-07, with the labels that each got.

#613 chore: 🤖 Update resolutions for glob-parent
  package.json
  yarn.lock
Labels: dependencies

#626 chore: 🤖 Add normalize-url to resolutions
  package.json
  yarn.lock
Labels: dependencies

#627 chore: 🤖 Update prismjs version in resolutions
  package.json
  yarn.lock
Labels: dependencies

#628 chore: 🤖 Update resolutions for minimist
  package.json
  yarn.lock
Labels: dependencies

#629 chore: 🤖 Add mem to resolutions
  package.json
  yarn.lock
Labels: dependencies

#630 chore: 🤖 Update Storybook version
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#631 chore: 🤖 Update ember test-helpers dependency
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, desktop, styles-addon, ui

#636 feat: 🎸 initial credential-store modeling and mocking
  addons/api/addon/generated/models/credential-store.js
  addons/api/addon/models/credential-store.js
  addons/api/addon/models/fragment-credential-store-attributes.js
  addons/api/addon/serializers/credential-store.js
  addons/api/addon/serializers/fragment-credential-store-attributes.js
  addons/api/app/models/credential-store.js
  addons/api/app/models/fragment-credential-store-attributes.js
  addons/api/app/serializers/credential-store.js
  addons/api/app/serializers/fragment-credential-store-attributes.js
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/generated/factories/credential-store.js
  addons/api/mirage/models/credential-store.js
  addons/api/mirage/scenarios/default.js
  addons/api/mirage/serializers/credential-store.js
  addons/api/tests/unit/models/credential-store-test.js
  addons/api/tests/unit/models/fragment-credential-store-attributes-test.js
  addons/api/tests/unit/serializers/credential-store-test.js
  addons/api/tests/unit/serializers/fragment-credential-store-attributes-test.js
Labels: addons, api-addon

#638 feat: Enable credential feature flag in dev mode for admin
  ui/admin/config/environment.js
Labels: admin, ui

#640 fix: Update text font color and weight
  ui/admin/app/styles/app.scss
Labels: admin, ui

#637 feat: 🎸 Add toggle secret feature
  ui/admin/app/styles/app.scss
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/components/hidden-secret/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: admin, desktop, ui

#639 Add first iteration of list credential store
  addons/api/mirage/config.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/credential-stores.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/credential-stores.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/tests/acceptance/credential-stores-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/index-test.js
Labels: addons, admin, api-addon, ui

#642 Edit credential store
  .gitignore
  addons/api/mirage/config.js
  ui/admin/app/components/form/credential-store/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/index.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-header.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-navigation.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/index-test.js
Labels: addons, admin, api-addon, ui

#643 Feature credential store crud new
  addons/api/mirage/config.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/new.hbs
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/new-test.js
Labels: addons, admin, api-addon, ui

#644 chore: 🤖 Upgrade ember-cli version
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, dependencies, desktop, styles-addon, ui

#645 chore: 🤖 Upgrade ember-cli-inject-live-reload
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, dependencies, desktop, styles-addon, ui

#649 style: 💄 update rose fieldset font-size
  addons/rose/addon/styles/rose/components/form/_fieldset.scss
Labels: addons, styles-addon

#651 fix: 🐛 Fix style and accessibility issues for hidden secret
  addons/core/translations/actions/en-us.yaml
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/styles/app.scss
Labels: addons, desktop, ui

#646 feat: List credential libraries in a credential store
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/index.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-navigation.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/credential-libraries-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/credential-libraries/index-test.js
Labels: addons, admin, ui

#650 Test acceptance credential stores
  ui/admin/app/components/form/credential-store/index.hbs
  ui/admin/tests/acceptance/credential-stores-test.js
Labels: admin, ui

#653 feat: 🎸 add inline alignment support to checkbox and radio
  addons/rose/addon/components/rose/form/checkbox/index.hbs
  addons/rose/addon/components/rose/form/checkbox/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.hbs
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/styles/rose/components/form/_checkbox.scss
  addons/rose/addon/styles/rose/components/form/_radio.scss
Labels: addons, styles-addon

#652 feat: 🎸 Add credential store delete CRUD operation
  addons/api/mirage/config.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-actions.hbs
  ui/admin/tests/acceptance/credential-stores-test.js
Labels: addons, admin, api-addon, ui

#660 fix: 🐛 update fieldset font weight
  addons/rose/addon/styles/rose/components/form/_fieldset.scss
Labels: addons, styles-addon

#658 fieldset usage
  addons/rose/addon/components/rose/form/index.hbs
  ui/admin/app/components/form/credential-library/index.hbs
Labels: addons, admin, styles-addon, ui

#647 Credential Library - Create
  addons/api/addon/models/credential-library.js
  addons/api/addon/models/fragment-credential-library-attributes.js
  addons/api/mirage/config.js
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/components/rose/form/index.hbs
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/credential-library/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/-actions.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new/-header.hbs
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/credential-libraries-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/new-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new-test.js
Labels: addons, admin, api-addon, styles-addon, ui

#654 API: Target Credential Library api modeling
  addons/api/addon/models/target.js
  addons/api/addon/serializers/target.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/models/target.js
  addons/api/mirage/scenarios/default.js
  addons/api/mirage/serializers/target.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/target-test.js
  ui/admin/tests/acceptance/sessions-test.js
  ui/desktop/tests/acceptance/origin-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/projects/sessions-test.js
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/acceptance/targets-test.js
Labels: addons, admin, api-addon, desktop, ui

#657 chore: 🤖 Update eslint dependency
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, dependencies, desktop, styles-addon, ui

#661 Credential Library - Read
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-actions.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-header.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-navigation.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index-test.js
Labels: admin, ui

#659 chore: 🤖 Update eslint-config-prettier dependency
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, dependencies, desktop, styles-addon, ui

#662 feat: 🎸 Add credential stores empty list message
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
Labels: addons, admin, ui

#664 chore: 🤖 Update ember-cli-app version dependency
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: admin, dependencies, desktop, ui

#665 chore: 🤖 Update ember-fetch
  addons/api/package.json
  yarn.lock
Labels: addons, api-addon, dependencies

#669 credential library - delete
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-actions.hbs
  ui/admin/tests/acceptance/credential-library/credential-library-test.js
Labels: addons, admin, ui

#666 List Credential Libraries in a Target
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/targets/target/credential-libraries.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/targets/target/credential-libraries.js
  ui/admin/app/templates/scopes/scope/targets/target/-navigation.hbs
  ui/admin/app/templates/scopes/scope/targets/target/credential-libraries.hbs
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/credential-libraries-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/credential-libraries-test.js
Labels: addons, admin, ui

#668 style: Update Credentials Store Icon
  addons/core/public/app-icons/credentials.svg
  ui/admin/app/templates/scopes/scope.hbs
Labels: addons, admin, ui

#667 Add Credential Libraries to a Target
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/add-credential-libraries/index.hbs
  ui/admin/app/components/form/target/add-credential-libraries/index.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-libraries.js
  ui/admin/app/templates/scopes/scope/targets/target/-actions.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-libraries.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-libraries/-header.hbs
  ui/admin/tests/unit/routes/scopes/scope/targets/target/add-credential-libraries-test.js
Labels: addons, admin, ui

#670 test: 💍 Add credential library creation acceptance test
  ui/admin/tests/acceptance/credential-library/credential-library-test.js
Labels: admin, ui

#672 test: Credential library deletion error test
  ui/admin/tests/acceptance/credential-library/credential-library-test.js
Labels: admin, ui

#671 test: Credential Library List Acceptance Tests
  ui/admin/tests/acceptance/credential-library/credential-library-test.js
Labels: admin, ui

#673 feat: Remove a Credential Library Added to a Target
  ui/admin/app/routes/scopes/scope/targets/target/credential-libraries.js
  ui/admin/app/templates/scopes/scope/targets/target/credential-libraries.hbs
  ui/admin/tests/acceptance/credential-library/credential-library-test.js
  ui/admin/tests/acceptance/targets/credential-libraries-test.js
Labels: admin, ui

#674 fix: Add type field to Credential Library
  addons/api/addon/generated/models/credential-library.js
  addons/api/mirage/factories/credential-library.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/target/add-credential-libraries/index.hbs
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/credential-libraries.hbs
Labels: addons, admin, api-addon, ui

#677 chore: 🤖 Update Sass version
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, dependencies, desktop, styles-addon, ui

#678 docs: ✏️ add doc links for cred stores and sources
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-header.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/config/environment.js
Labels: admin, ui

#675 Add Credential Store Attributes
  addons/api/addon/serializers/fragment-credential-store-attributes.js
  addons/api/tests/unit/serializers/fragment-credential-store-attributes-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-store/index.hbs
Labels: addons, admin, api-addon, ui

#676 Test credential library create errors
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/tests/acceptance/credential-library/credential-library-test.js
Labels: admin, ui

#663 refactor: 💡 Delete jQuery and refactor handler
  ui/desktop/app/routes/application.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#680 fix: credential library naming does not change
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-header.hbs
  ui/admin/config/environment.js
Labels: admin, ui

#681 test: Add target association tests for credential libraries
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/targets/credential-libraries-test.js
Labels: admin, ui

#682 refactor: Rename target host sets and credential libraries
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/-navigation.hbs
  ui/admin/app/templates/scopes/scope/targets/target/credential-libraries.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sets.hbs
Labels: addons, admin, ui

#683 chore: Enable credential brokering feature in admin
  ui/admin/config/environment.js
Labels: admin, ui
