Repository hashicorp/boundary-ui, pull requests merged in 2021-05, with the labels that each got.

#542 chore: 🤖 replace admin window usage with ember browser services
  addons/core/package.json
  ui/admin/app/routes/authentication-error.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/services/window-manager.js
  ui/admin/tests/unit/services/window-manager-test.js
  yarn.lock
Labels: addons, admin, ui

#545 feat: 🎸 Add Form fieldset component
  addons/rose/addon/components/rose/form/fieldset/index.hbs
  addons/rose/addon/components/rose/form/fieldset/index.js
  addons/rose/addon/components/rose/form/fieldset/index.stories.mdx
  addons/rose/addon/styles/rose/components/form/_fieldset.scss
  addons/rose/addon/styles/rose/components/form/_index.scss
  addons/rose/app/components/rose/form/fieldset.js
  addons/rose/tests/integration/components/rose/form/fieldset-test.js
Labels: addons, styles-addon

#547 Enable inline OIDC flow for admin
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/services/window-manager.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/authentication-test.js
Labels: admin, ui

#553 upgrade prettier and apply HBS formatting to desktop
  ui/desktop/.template-lintrc.js
  ui/desktop/app/components/branded-card/index.hbs
  ui/desktop/app/components/copyable/index.hbs
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/error.hbs
  ui/desktop/app/templates/index.hbs
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes.hbs
  ui/desktop/app/templates/scopes/index.hbs
  ui/desktop/app/templates/scopes/scope/-header-nav.hbs
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/index.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/desktop/app/templates/scopes/scope/index.hbs
  ui/desktop/app/templates/scopes/scope/projects.hbs
  ui/desktop/app/templates/scopes/scope/projects/error.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-actions.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-navigation.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/electron-app/src/app-updater.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
Labels: desktop, ui

#549 feat: Close local proxy on session cancellation in Desktop
  ui/desktop/CHANGELOG.md
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/electron-app/.gitignore
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/src/boundary-cli.js
  ui/desktop/electron-app/src/cli/index.js
  ui/desktop/electron-app/src/config/content-security-policy.js
  ui/desktop/electron-app/src/config/menu.js
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/net-request-promise.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/ipc/ipc-handler.js
  ui/desktop/electron-app/src/models/runtime-settings.js
  ui/desktop/electron-app/src/models/session-manager.js
  ui/desktop/electron-app/src/models/session.js
  ui/desktop/electron-app/src/services/runtime-settings.js
  ui/desktop/electron-app/src/services/session-manager.js
  ui/desktop/electron-app/src/utils/jsonify.js
  ui/desktop/electron-app/src/utils/sanitizer.js
  ui/desktop/tests/acceptance/projects/sessions-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  yarn.lock
Labels: desktop, ui

#560 refactor: change isActive to isRunning and related language to reduc…
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/models/session-manager.js
  ui/desktop/electron-app/src/models/session.js
Labels: desktop, ui

#562 chore: bump CLI version and update changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli.js
Labels: desktop, ui

#556 feat: 🎸 implement basic OIDC auth method attributes modeling
  addons/api/addon/models/auth-method.js
  addons/api/addon/models/fragment-auth-method-attributes.js
  addons/api/app/models/fragment-auth-method-attributes.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/tests/unit/models/fragment-auth-method-attributes-test.js
Labels: addons, api-addon

#558 Feature oidc account claim maps
  addons/api/addon/initializers/fragment-auth-method-attributes-account-claim-map-serializer.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/models/fragment-auth-method-attributes-account-claim-map.js
  addons/api/addon/models/fragment-auth-method-attributes.js
  addons/api/addon/serializers/auth-method.js
  addons/api/addon/serializers/fragment-auth-method-attributes-account-claim-map.js
  addons/api/app/initializers/fragment-auth-method-attributes-account-claim-map-serializer.js
  addons/api/app/models/fragment-auth-method-attributes-account-claim-map.js
  addons/api/tests/unit/initializers/fragment-auth-method-attributes-account-claim-map-serializer-test.js
  addons/api/tests/unit/models/fragment-auth-method-attributes-account-claim-map-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
Labels: addons, api-addon

#564 style: 💄 Clean default tests comments
  addons/api/tests/unit/models/auth-method-test.js
  addons/api/tests/unit/models/auth-token-test.js
  addons/api/tests/unit/models/fragment-auth-method-attributes-account-claim-map-test.js
  addons/api/tests/unit/models/fragment-auth-method-attributes-test.js
  addons/api/tests/unit/models/fragment-host-set-test.js
  addons/api/tests/unit/models/fragment-principal-test.js
  addons/api/tests/unit/models/fragment-string-test.js
  addons/api/tests/unit/models/host-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/host-test.js
  addons/api/tests/unit/serializers/session-test.js
  ui/admin/tests/unit/controllers/application-test.js
  ui/admin/tests/unit/controllers/scopes/scope-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts/account-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/authenticate-test.js
  ui/admin/tests/unit/controllers/scopes/scope/groups-test.js
  ui/admin/tests/unit/controllers/scopes/scope/groups/group-test.js
  ui/admin/tests/unit/controllers/scopes/scope/groups/group/add-members-test.js
  ui/admin/tests/unit/controllers/scopes/scope/groups/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/add-principals-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/add-accounts-test.js
Labels: addons, admin, api-addon, ui

#563 Feature more oidc modeling
  addons/api/addon/initializers/fragment-string.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/models/fragment-auth-method-attributes.js
  addons/api/addon/serializers/fragment-string.js
  addons/api/addon/serializers/host-set.js
  addons/api/app/initializers/fragment-string.js
  addons/api/app/serializers/fragment-string.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/tests/unit/initializers/fragment-string-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/fragment-string-test.js
Labels: addons, api-addon

#565 feat: 🎸 add helper text option to checkbox component
  addons/rose/addon/components/rose/form/checkbox/index.hbs
  addons/rose/addon/components/rose/form/checkbox/index.stories.mdx
  addons/rose/addon/components/rose/table/row/cell/index.js
  addons/rose/addon/styles/rose/components/form/_checkbox.scss
  addons/rose/addon/styles/rose/components/table/_table.scss
  addons/rose/tests/integration/components/rose/form/checkbox-test.js
Labels: addons, styles-addon

#567 OIDC standard crud - ICU-1365
  addons/api/addon/models/fragment-auth-method-attributes.js
  addons/api/addon/serializers/fragment-auth-method-attributes.js
  addons/api/app/serializers/fragment-auth-method-attributes.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/package.json
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/fragment-auth-method-attributes-test.js
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/config/environment.js
  yarn.lock
Labels: addons, admin, api-addon, ui

#566 fix: Desktop should show update prompt for 1.0.1 release
  ui/desktop/electron-app/src/helpers/app-updater.js
Labels: desktop, ui

#570 Add desktop static assets Docker build support
  docker-compose-embedding.yml
  package.json
  ui/desktop/package.json
Labels: desktop, ui

#571 fix: logo-app.svg should load properly
  ui/admin/app/index.html
Labels: admin, ui

#572 chore: add meta description
  ui/admin/app/index.html
Labels: admin, ui

#574 chore: 🤖 fix imports that don't make sense
  addons/core/app/helpers/app-name.js
  addons/core/app/helpers/company-copyright.js
  addons/core/app/helpers/company-name.js
  addons/core/app/helpers/doc-url.js
  addons/core/app/helpers/format-date-iso-human.js
  addons/core/app/helpers/format-date-iso.js
  addons/core/app/helpers/is-loading.js
  addons/rose/app/components/rose/layout/tabs.js
  addons/rose/app/components/rose/tab.js
  yarn.lock
Labels: addons, styles-addon

#575 feat: 🎸 textarea and select should support contexual usage
  addons/rose/addon/components/rose/form/select/index.hbs
  addons/rose/addon/components/rose/form/select/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.hbs
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
  addons/rose/tests/integration/components/rose/form/select-test.js
  addons/rose/tests/integration/components/rose/form/textarea-test.js
Labels: addons, styles-addon
