Repository hashicorp/boundary-ui, pull requests merged in 2021-11, with the labels that each got.

#810 feat: 🎸 toolbar component
  addons/rose/addon/components/rose/toolbar/index.hbs
  addons/rose/addon/components/rose/toolbar/index.stories.mdx
  addons/rose/addon/styles/rose/components/_index.scss
  addons/rose/addon/styles/rose/components/toolbar/_index.scss
  addons/rose/addon/styles/rose/components/toolbar/_toolbar.scss
  addons/rose/app/components/rose/toolbar.js
  addons/rose/tests/integration/components/rose/toolbar-test.js
Labels: addons, styles-addon

#831 feat: 🎸 integrate toolbar onto session admin
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, desktop, admin

#817 add a11y addon to rose storybook
  addons/rose/.storybook/main.js
  addons/rose/package.json
  addons/rose/tests/dummy/app/styles/app.scss
  yarn.lock
Labels: addons, styles-addon

#833 Drop IE11 support
  addons/api/tests/dummy/config/targets.js
  addons/auth/tests/dummy/config/targets.js
  addons/core/tests/dummy/config/targets.js
  addons/rose/tests/dummy/config/targets.js
  ui/admin/config/targets.js
  ui/desktop/config/targets.js
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#834 Address deprecations
  addons/rose/addon/components/rose/link-button/index.hbs
  addons/rose/addon/components/rose/link-button/index.js
  addons/rose/tests/dummy/app/templates/index.hbs
  package.json
  yarn.lock
Labels: addons, styles-addon

#836 fix: 🐛 fix broken LinkButton component and associated new tests
  addons/rose/addon/components/rose/link-button/index.hbs
  ui/admin/tests/acceptance/accounts/create-test.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/groups/create-test.js
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/roles/create-test.js
  ui/admin/tests/acceptance/roles/list-test.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/users/create-test.js
Labels: ui, addons, admin, styles-addon

#837 Remove ember-get-config
  addons/api/addon/adapters/application.js
  addons/api/mirage/config.js
  addons/api/mirage/scenarios/ipc.js
  addons/api/package.json
  addons/api/tests/unit/adapters/application-test.js
  addons/core/addon/helpers/app-name.js
  addons/core/addon/helpers/company-copyright.js
  addons/core/addon/helpers/company-name.js
  addons/core/addon/helpers/doc-url.js
  addons/core/addon/initializers/deprecations.js
  addons/core/addon/services/confirm.js
  addons/core/package.json
  addons/core/tests/integration/helpers/doc-url-test.js
  addons/rose/package.json
  addons/rose/tests/dummy/app/initializers/deprecations.js
  yarn.lock
Labels: addons, api-addon, styles-addon

#829 feat: 🎸 API managed groups mock mirage
  addons/api/mirage/config.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/factories/managed-group.js
  addons/api/mirage/generated/factories/managed-group.js
  addons/api/mirage/models/managed-group.js
  addons/api/mirage/scenarios/default.js
  addons/api/mirage/serializers/managed-groups.js
  ui/admin/tests/acceptance/users/accounts-test.js
Labels: ui, addons, admin, api-addon

#840 ResourceFilterStoreService
  addons/api/addon/services/resource-filter-store.js
  addons/api/app/services/resource-filter-store.js
  addons/api/tests/unit/services/resource-filter-store-test.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
Labels: ui, addons, desktop, api-addon

#838 Add managed-groups basic list route to admin
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/index.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/unit/routes/scopes/scope/auth-methods/auth-method/managed-groups-test.js
  ui/admin/tests/unit/routes/scopes/scope/auth-methods/auth-method/managed-groups/index-test.js
Labels: ui, addons, admin

#841 Feature managed groups read CRUD
  addons/api/mirage/config.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/scenarios/default.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/-header.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/unit/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group-test.js
  ui/admin/tests/unit/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index-test.js
Labels: ui, addons, admin, api-addon

#842 feat: 🎸 Add managed groups delete CRUD operation
  addons/api/mirage/config.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/-actions.hbs
Labels: ui, addons, admin, api-addon

#846 Feature managed group create
  addons/api/addon/models/managed-group.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/managed-group.js
  addons/api/mirage/generated/factories/managed-group.js
  addons/api/mirage/serializers/managed-group.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/new.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new/-header.hbs
  ui/admin/tests/unit/routes/scopes/scope/auth-methods/auth-method/managed-groups/new-test.js
Labels: ui, addons, admin, api-addon

#844 Resource filter param system
  addons/api/addon/services/resource-filter-store.js
  addons/core/addon/decorators/resource-filter-param.js
  addons/core/addon/helpers/resource-filter-param.js
  addons/core/app/decorators/resource-filter-param.js
  addons/core/app/helpers/resource-filter-param.js
Labels: addons, api-addon

#852 test: 💍 Add acceptance test to read managed groups
  ui/admin/tests/acceptance/managed-groups/read-test.js
Labels: ui, admin

#851 test: 💍 Add acceptance test to delete managed groups
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/read-test.js
Labels: ui, admin

#849 test: 💍 Add acceptance test to list managed groups
  ui/admin/tests/acceptance/managed-groups/list-test.js
Labels: ui, admin

#847 feat: 🎸 Add capabilities to managed groups
  addons/api/mirage/factories/auth-method.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
Labels: ui, ui/admin, addons, admin, api-addon

#848 feat: 🎸 Add breadcrumbs to managed groups
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/new.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/new-test.js
Labels: ui, admin

#854 Managed Groups Edit Integration
  addons/api/addon/serializers/managed-group.js
  addons/api/app/serializers/managed-group.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.hbs
Labels: ui, addons, admin, api-addon

#850 test: 💍 Add acceptance tests to create managed groups
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/read-test.js
Labels: ui, admin

#855 feat: List accounts within a managed group
  addons/api/mirage/config.js
  addons/api/mirage/factories/auth-method.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/new.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/members.hbs
  ui/admin/tests/acceptance/auth-methods/oidc-test.js
  ui/admin/tests/acceptance/managed-groups/members-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members-test.js
  ui/admin/tests/unit/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members-test.js
Labels: ui, addons, admin, api-addon

#853 Checkbox style updates
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/form/index.hbs
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
Labels: addons, styles-addon

#845 Auth methods filters
  addons/api/addon/services/resource-filter-store.js
  addons/api/mirage/config.js
  addons/api/mirage/scenarios/default.js
  addons/core/addon/decorators/resource-filter-param.js
  addons/core/addon/helpers/has-resource-filter-param-selections.js
  addons/core/app/helpers/has-resource-filter-param-selections.js
  addons/core/package.json
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/styles/rose/components/dropdown/_dropdown.scss
  addons/rose/addon/styles/rose/components/toolbar/_toolbar.scss
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/dropdown-test.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  yarn.lock
Labels: ui, addons, admin, api-addon, styles-addon

#857 Feature sessions admin filters
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
Labels: ui, addons, admin

#858 fix: 🐛 eliminate null clauses from expression output
  addons/api/addon/services/resource-filter-store.js
Labels: addons, api-addon

#860 Feature desktop sessions filter
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, desktop

#862 feat: enable resource filter flags and clean up dev flags
  ui/admin/config/environment.js
Labels: ui, admin

#861 feat: 🎸 Add managed groups featuer flag for production
  ui/admin/config/environment.js
Labels: ui, admin

#863 Add default filters
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
Labels: ui, desktop, admin

#865 Change CLI version
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#866 Fix: Trim CLI version in Desktop Config
  ui/desktop/electron-app/config/cli.js
Labels: ui, desktop

#867 docs: update changelog for 1.4.0
  ui/desktop/CHANGELOG.md
Labels: ui, desktop

#868 chore: 🤖 enable filters on desktop
  ui/desktop/config/environment.js
Labels: ui, desktop

#869 Bump desktop client version
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#864 chore: update vm to node 14 and increase video memory
  ui/desktop/environments/ubuntu-focal64/Vagrantfile
Labels: ui, desktop

#873 chore: 🤖 Add jsonpointer desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop
