Repository hashicorp/boundary-ui, pull requests merged in 2021-04, with the labels that each got.

#512 test: Fix flaky origin test in desktop
  ui/desktop/electron-app/src/index.js
  ui/desktop/tests/acceptance/origin-test.js
Labels: desktop, ui

#513 Fix flaky origin test
  ui/desktop/tests/acceptance/origin-test.js
Labels: desktop, ui

#511 Bump ember-electron from 3.0.0-beta to 3.0.0
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: desktop, ui

#515 chore: 🤖 add xmldom resolution
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: desktop, ui

#516 Add static auth callback pages to admin UI for notifying success or error.
  addons/core/translations/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/authentication-complete.js
  ui/admin/app/routes/authentication-error.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/authentication-complete.hbs
  ui/admin/app/templates/authentication-error.hbs
  ui/admin/tests/unit/routes/authentication-complete-test.js
  ui/admin/tests/unit/routes/authentication-error-test.js
Labels: addons, admin, ui

#518 Style auth form
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/rose/.storybook/main.js
  addons/rose/addon/components/rose/frame/index.hbs
  addons/rose/addon/components/rose/frame/index.stories.mdx
  addons/rose/addon/styles/rose/components/_frame.scss
  addons/rose/addon/styles/rose/components/_index.scss
  addons/rose/app/components/rose/frame.js
  addons/rose/package.json
  addons/rose/tests/dummy/app/templates/index.hbs
  addons/rose/tests/integration/components/rose/frame-test.js
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/package.json
  yarn.lock
Labels: addons, admin, styles-addon, ui

#519 fix: 🐛 silently drop trailing slashes from origin input - ICU-1293
  ui/desktop/CHANGELOG.md
  ui/desktop/app/services/origin.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/tests/unit/services/origin-test.js
Labels: desktop, ui

#521 feat: 🎸 add dialog cover component
  addons/rose/addon/components/rose/dialog/cover/index.hbs
  addons/rose/addon/components/rose/dialog/cover/index.stories.mdx
  addons/rose/addon/styles/rose/components/dialog/_cover.scss
  addons/rose/addon/styles/rose/components/dialog/_dialog.scss
  addons/rose/addon/styles/rose/components/dialog/_index.scss
  addons/rose/app/components/rose/dialog/cover.js
  addons/rose/package.json
  addons/rose/tests/dummy/app/templates/index.hbs
  addons/rose/tests/integration/components/rose/dialog/cover-test.js
  yarn.lock
Labels: addons, styles-addon

#524 chore: Bump faker and yargs-parser to fix depreciation warns
  addons/api/mirage/factories/target.js
  addons/api/mirage/generated/factories/account.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/mirage/generated/factories/group.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-set.js
  addons/api/mirage/generated/factories/host.js
  addons/api/mirage/generated/factories/project.js
  addons/api/mirage/generated/factories/role.js
  addons/api/mirage/generated/factories/scope.js
  addons/api/mirage/generated/factories/session.js
  addons/api/mirage/generated/factories/target.js
  addons/api/mirage/generated/factories/user.js
  addons/api/mirage/scenarios/ipc.js
  addons/core/package.json
  package.json
  ui/admin/package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, desktop, ui

#523 fix: Show project id to copy in targets list in desktop
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: desktop, ui

#429 Feature oidc authenticate
  addons/api/addon/models/auth-method.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/route-handlers/auth.js
  addons/auth/addon/authenticators/base.js
  addons/auth/addon/authenticators/oidc.js
  addons/auth/addon/authenticators/password.js
  addons/auth/tests/dummy/app/authenticators/oidc.js
  addons/auth/tests/unit/authenticators/base-test.js
  addons/auth/tests/unit/authenticators/oidc-test.js
  addons/auth/tests/unit/authenticators/password-test.js
  addons/core/addon/authenticators/oidc.js
  addons/core/addon/authenticators/password.js
  addons/core/addon/components/form/authenticate/oidc/index.hbs
  addons/core/app/authenticators/oidc.js
  addons/core/app/components/form/authenticate/oidc.js
  addons/core/package.json
  addons/core/tests/unit/authenticators/password-test.js
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/styles/rose/components/dialog/_cover.scss
  ui/admin/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/routes/scopes/scope/authenticate/method/index.js
  ui/admin/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/admin/config/environment.js
  ui/admin/package.json
  ui/admin/public/logo-app-full.svg
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/unit/controllers/scopes/scope/authenticate/method/oidc-test.js
  ui/admin/tests/unit/routes/scopes/scope/authenticate/method/index-test.js
  ui/admin/tests/unit/routes/scopes/scope/authenticate/method/oidc-test.js
  ui/desktop/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/routes/scopes/scope/authenticate/method/index.js
  ui/desktop/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/handlers.js
  ui/desktop/package.json
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/unit/authenticators/password-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/authenticate/method/oidc-test.js
  ui/desktop/tests/unit/routes/scopes/scope/authenticate/method/index-test.js
  ui/desktop/tests/unit/routes/scopes/scope/authenticate/method/oidc-test.js
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, desktop, styles-addon, ui

#522 feat: 🎸 Update desktop through menu option
  ui/desktop/CHANGELOG.md
  ui/desktop/README.md
  ui/desktop/electron-app/.gitignore
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/app-updater.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/menu.js
  ui/desktop/electron-app/yarn.lock
Labels: desktop, ui

#525 fix: Trim origin url in desktop
  ui/desktop/app/services/origin.js
  ui/desktop/tests/unit/services/origin-test.js
Labels: desktop, ui

#526 fix: Undefined type issue when not suppressing update dialog
  ui/desktop/electron-app/src/app-updater.js
Labels: desktop, ui

#527 Fix styles
  addons/core/public/logo-app-full.svg
  addons/core/public/logo-company.svg
  addons/rose/addon/styles/rose/components/dialog/_cover.scss
  ui/admin/app/styles/app.scss
  ui/admin/public/logo-app-full.svg
  ui/desktop/public/logo-app-full.svg
Labels: addons, admin, desktop, styles-addon, ui

#528 chore: 🤖 add disabled feature flags for future work
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: admin, desktop, ui

#529 fix: Fix misspelling in success notifications
  addons/core/translations/notifications/en-us.yaml
Labels: addons

#530 fix: Display api errors in desktop connect
  ui/desktop/electron-app/src/spawn-promise.js
Labels: desktop, ui

#531 chore: 🤖 enable primary auth method feature
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/serializers/auth-method.js
  addons/api/mirage/serializers/auth-method.js
  addons/api/tests/unit/serializers/auth-method-test.js
  ui/admin/config/environment.js
Labels: addons, admin, api-addon, ui

#532 fix: Check for update archive before prompting download
  ui/desktop/electron-app/src/app-updater.js
Labels: desktop, ui

#534 feat: 🎸 show copyable error details in error page
  addons/core/translations/actions/en-us.yaml
  ui/admin/app/routes/authentication-error.js
  ui/admin/app/templates/authentication-error.hbs
Labels: addons, admin, ui

#535 docs: add OIDC to changelog
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#533 fix: 🐛 do not load singular auth methods in auth form
  addons/core/translations/actions/en-us.yaml
  ui/admin/app/routes/authentication-error.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/templates/authentication-error.hbs
  ui/desktop/CHANGELOG.md
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
Labels: addons, admin, desktop, ui

#536 docs: Bump changelog for 1.0.0 - desktop
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#537 Bump cli to 0.2.0
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/src/app-updater.js
Labels: desktop, ui

#539 chore: 🤖 Update node version engines
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: addons, admin, api-addon, auth-addon, desktop, styles-addon, ui
