Repository hashicorp/boundary-ui, pull requests merged in 2021-10, with the labels that each got.

#767 chore: 🤖 Fix ember-fetch unmet dependency
  addons/auth/package.json
  yarn.lock
Labels: addons, dependencies, auth-addon

#789 feature: apply theme-color meta for more immersive UX
  ui/admin/app/index.html
Labels: ui, admin

#782 Feature account capabilities
  addons/api/addon/abilities/account.js
  addons/api/addon/abilities/target.js
  addons/api/app/abilities/account.js
  addons/api/mirage/factories/account.js
  addons/api/tests/unit/abilities/account-test-.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/-navigation.hbs
  ui/admin/tests/acceptance/accounts/set-password-test.js
Labels: ui, addons, admin, api-addon

#784 fix: 🐛 Fix babel-core unmet peer dependency in Rose
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#788 fix: 🐛 Fix rose storybook/addons unmet dependency
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#783 Feature role capabilities
  addons/api/addon/abilities/role.js
  addons/api/app/abilities/role.js
  addons/api/mirage/factories/role.js
  addons/api/tests/unit/abilities/role-test.js
  ui/admin/app/components/form/role/grants/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/-actions.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/tests/acceptance/roles/grants-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
Labels: ui, addons, admin, api-addon

#785 feat: 🎸 implement user account association abilities
  addons/api/addon/abilities/user.js
  addons/api/app/abilities/user.js
  addons/api/mirage/factories/user.js
  addons/api/tests/unit/abilities/role-test.js
  addons/api/tests/unit/abilities/user-test.js
  ui/admin/app/templates/scopes/scope/users/user/-actions.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/tests/acceptance/users/accounts-test.js
Labels: ui, addons, admin, api-addon

#786 feat: 🎸 implement group members abilities
  addons/api/addon/abilities/group.js
  addons/api/app/abilities/group.js
  addons/api/mirage/factories/group.js
  addons/api/tests/unit/abilities/group-test.js
  addons/api/tests/unit/abilities/role-test.js
  addons/api/tests/unit/abilities/user-test.js
  ui/admin/app/templates/scopes/scope/groups/group/-actions.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/users/accounts-test.js
Labels: ui, addons, admin, api-addon

#787 feat: 🎸 implement host set host association capabilities
  addons/api/addon/abilities/host-set.js
  addons/api/app/abilities/host-set.js
  addons/api/mirage/factories/host-set.js
  addons/api/tests/unit/abilities/host-set-test.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/-actions.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
Labels: ui, addons, admin, api-addon

#792 fix: 🐛 Rose react unmet dependency
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon
