Repository hashicorp/boundary-ui, pull requests merged in 2021-06, with the labels that each got.

#568 feat: Generate config file for desktop build
  ui/desktop/electron-app/.gitignore
  ui/desktop/electron-app/assets/app-icons/icon.icns
  ui/desktop/electron-app/assets/macos/background.png
  ui/desktop/electron-app/assets/macos/background@2x.png
  ui/desktop/electron-app/assets/macos/disk.icns
  ui/desktop/electron-app/assets/macos/entitlements.plist
  ui/desktop/electron-app/config/desktop.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/config/menu.js
  ui/desktop/package.json
Labels: desktop, ui

#581 [desktop] Enable windows platform support
  README.md
  addons/api/addon/services/storage.js
  addons/auth/addon/authenticators/base.js
  addons/core/addon/authenticators/oidc.js
  addons/core/addon/authenticators/password.js
  package.json
  ui/desktop/app/styles/app.scss
  ui/desktop/electron-app/assets/app-icons/icon.ico
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/desktop.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/cli/index.js
  ui/desktop/electron-app/src/config/menu.js
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/platform.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: addons, api-addon, auth-addon, desktop, ui

#580 chore: 🤖 Update ember-cli-storybook
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#586 fix: 🐛 Deprecate Slash as division operator
  addons/rose/addon/styles/rose/components/dropdown/_button.scss
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
  addons/rose/addon/styles/rose/components/dropdown/_link.scss
  addons/rose/addon/styles/rose/components/dropdown/_section.scss
  addons/rose/addon/styles/rose/components/header/_link.scss
  addons/rose/addon/styles/rose/components/list/_key-value.scss
  addons/rose/addon/styles/rose/components/nav/_sidebar.scss
  addons/rose/addon/styles/rose/components/table/_table.scss
  addons/rose/addon/styles/rose/variables/_typography.scss
Labels: addons, styles-addon

#583 [draft] feat: Add oidc status change dropdown to auth method actions
  addons/api/addon/models/auth-method.js
  addons/api/mirage/config.js
  addons/api/mirage/route-handlers/auth.js
  addons/core/app/helpers/app-name.js
  addons/core/app/helpers/company-copyright.js
  addons/core/app/helpers/company-name.js
  addons/core/app/helpers/doc-url.js
  addons/core/app/helpers/format-date-iso-human.js
  addons/core/app/helpers/format-date-iso.js
  addons/core/app/helpers/is-loading.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/states/en-us.yaml
  addons/rose/app/components/rose/layout/tabs.js
  addons/rose/app/components/rose/tab.js
  addons/rose/package.json
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/index.html
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/tests/acceptance/auth-methods/oidc-test.js
  yarn.lock
Labels: addons, admin, api-addon, styles-addon, ui

#589 Feature oidc accounts
  addons/api/addon/models/account.js
  addons/api/addon/models/fragment-account-attributes.js
  addons/api/addon/serializers/account.js
  addons/api/addon/serializers/fragment-account-attributes.js
  addons/api/app/serializers/fragment-account-attributes.js
  addons/api/tests/unit/serializers/fragment-account-attributes-test.js
  addons/core/translations/form/en-us.yaml
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
Labels: addons, admin, api-addon, ui

#587 Feature oidc array fields crud
  addons/api/addon/adapters/application.js
  addons/api/addon/models/account.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/models/fragment-account-attributes.js
  addons/api/addon/serializers/account.js
  addons/api/addon/serializers/fragment-account-attributes.js
  addons/api/app/serializers/fragment-account-attributes.js
  addons/api/mirage/config.js
  addons/api/mirage/route-handlers/auth.js
  addons/api/tests/unit/serializers/fragment-account-attributes-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  addons/core/translations/states/en-us.yaml
  addons/rose/addon/components/rose/form/index.hbs
  addons/rose/addon/styles/rose/components/form/_fieldset.scss
  addons/rose/addon/styles/rose/components/table/_table.scss
  addons/rose/package.json
  ui/admin/app/components/form/auth-method/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/auth-methods/oidc-test.js
  yarn.lock
Labels: addons, admin, api-addon, styles-addon, ui

#590 fix: 🐛 add read-only hmac field and enable oidc auth creation
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/new.hbs
Labels: addons, admin, ui

#588 Use frameless desktop shell on Windows OS
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/CHANGELOG.md
  ui/desktop/app/routes/application.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/cli/index.js
  ui/desktop/electron-app/src/cli/path.js
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/models/session.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/targets-test.js
  ui/desktop/tests/helpers/window-mock-ipc.js
  yarn.lock
Labels: addons, api-addon, desktop, ui

#591 chore: 🤖 Upgrade version of doctoc
  addons/api/package.json
  addons/auth/package.json
  addons/core/README.md
  addons/core/package.json
  addons/rose/README.md
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/README.md
  ui/desktop/package.json
  yarn.lock
Labels: addons, admin, api-addon, auth-addon, desktop, styles-addon, ui

#593 fix: Remove shell option for spawning clis on windows
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/models/session.js
Labels: desktop, ui

#592 chore: 🤖 Upgrade ember-a11y-testing version
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: admin, desktop, ui

#597 fix: about dialog should display properly
  ui/desktop/electron-app/src/cli/path.js
  ui/desktop/electron-app/src/config/menu.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
Labels: desktop, ui

#603 docs: add known issue statement to changelog for 1.1.0 desktop
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#600 Bump artifact version for 0.3.0 release
  ui/desktop/electron-app/config/cli.js
Labels: desktop, ui

#577 First iteration of connect dialog component
  addons/api/addon/models/session.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  addons/core/translations/states/en-us.yaml
  ui/desktop/app/components/dialog-detail/index.hbs
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/electron-app/src/config/menu.js
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/projects/targets/hosts-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/integration/components/dialog-detail-test.js
  yarn.lock
Labels: addons, api-addon, desktop, ui

#606 chore: 🤖 Update resolutions for clean-css
  package.json
  yarn.lock
Labels: dependencies

#608 fix: 🐛 Fix yarn warning due to strict version declaration
  package.json
  yarn.lock
Labels: dependencies

#601 chore: 🤖 Bump node-html-parser dependency
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: dependencies, desktop, ui

#598 chore: 🤖 Bump sinon dependency bump version
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: admin, dependencies, desktop, ui

#602 chore: 🤖 Update electron app resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: dependencies, desktop, ui

#612 chore: 🤖 simplify dropdown styles for consistency with Structure
  addons/api/mirage/config.js
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
  addons/rose/addon/styles/rose/components/dropdown/_section.scss
  addons/rose/tests/dummy/app/templates/index.hbs
Labels: addons, api-addon, styles-addon

#610 feat: 🎸 Add condensed style for dropdown
  addons/api/mirage/config.js
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/styles/rose/components/dropdown/_dropdown.scss
  addons/rose/addon/styles/rose/components/dropdown/_item.scss
  addons/rose/addon/styles/rose/components/form/_fieldset.scss
  addons/rose/tests/dummy/app/templates/index.hbs
Labels: addons, api-addon, styles-addon

#585 feat: 🎸 New Card component with header, body and footer
  addons/core/public/app-icons/credential.svg
  addons/core/public/app-icons/credentials.svg
  addons/rose/addon/styles/rose/components/table/_table.scss
  ui/desktop/app/components/card/index.hbs
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/tests/integration/components/card-test.js
Labels: addons, desktop, styles-addon, ui

#614 feat: Add KeyValue Dropdown Item
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/key-value/index.hbs
  addons/rose/addon/styles/rose/components/dropdown/_index.scss
  addons/rose/addon/styles/rose/components/dropdown/_key-value.scss
  addons/rose/app/components/rose/dropdown/key-value.js
  addons/rose/tests/dummy/app/templates/index.hbs
  addons/rose/tests/integration/components/rose/dropdown/key-value-test.js
Labels: addons, styles-addon

#605 feat: 🎸 Create reveal component for desktop client
  ui/desktop/.stylelintrc.json
  ui/desktop/app/components/reveal/index.hbs
  ui/desktop/app/components/reveal/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/tests/integration/components/reveal-test.js
Labels: desktop, ui

#616 fix: Fix syntax error in about menu option in desktop
  ui/desktop/electron-app/src/config/menu.js
Labels: desktop, ui

#611 Feature oidc accounts
  addons/api/addon/models/account.js
  addons/api/addon/serializers/account.js
  addons/api/mirage/factories/account.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/generated/factories/account.js
  addons/api/tests/unit/models/account-test.js
  addons/api/tests/unit/serializers/account-test.js
  ui/admin/app/components/form/account/index.hbs
  ui/admin/app/components/form/account/oidc/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.hbs
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/new.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/-actions.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/-navigation.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/new.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/config/environment.js
Labels: addons, admin, api-addon, ui

#615 chore: Update components in connect dialog to latest
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: addons, desktop, ui

#618 feat: 🎸 Add hidden secret component
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/components/hidden-secret/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/tests/integration/components/hidden-secret-test.js
Labels: desktop, ui

#617 feat: Update connect dialog with credentials api response
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/helpers/raw-json.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/electron-app/config/cli.js
  ui/desktop/tests/integration/components/hidden-secret-test.js
  ui/desktop/tests/integration/helpers/raw-json-test.js
  yarn.lock
Labels: addons, desktop, ui

#619 Feature more session creds
  addons/api/addon/models/session.js
  addons/api/mirage/scenarios/ipc.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/helpers/raw-json.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/electron-app/config/cli.js
  ui/desktop/tests/integration/helpers/raw-json-test.js
  yarn.lock
Labels: addons, api-addon, desktop, ui

#621 feat: 🎸 Add Hidden secret component within the view
  addons/rose/addon/styles/rose/components/table/_table.scss
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: addons, desktop, styles-addon, ui

#620 style: Update z-index for connect dialog and overlay
  ui/desktop/app/styles/app.scss
Labels: desktop, ui

#622 fix: Show credential purpose only when populated
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: desktop, ui

#623 docs: Update changelog with vault credential support note
  ui/desktop/CHANGELOG.md
Labels: desktop, ui

#624 fix: Use name in connect header
  addons/api/addon/models/session.js
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: addons, api-addon, desktop, ui

#633 fix: OIDC form add buttons should be enabled for new auth methods
  ui/admin/app/components/form/auth-method/oidc/index.hbs
Labels: admin, ui

#632 chore: 🤖 bump CLI version and specify release in readme
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli.js
Labels: desktop, ui

#634 chore: update to reflect secret { raw, decoded } schema, where decod…
  addons/api/addon/models/session.js
  addons/api/mirage/scenarios/ipc.js
Labels: addons, api-addon

#635 style: Fix z-index for rose-dialog in desktop
  ui/desktop/app/styles/app.scss
Labels: desktop, ui
