Repository hashicorp/boundary-ui, pull requests merged in 2022-03, with the labels that each got.

#1008 Update changelog
  ui/desktop/CHANGELOG.md
Labels: ui, desktop

#995 updates to AWS and Azure doc links
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#1007 feat: 🎸 ICU-3529 add rotating credentials warning for azure
  addons/core/translations/en-us.yaml
  ui/admin/app/components/form/host-catalog/azure/index.hbs
Labels: ui, addons, admin

#1011 refactor: 💡 move ip_addresses label into the form translation
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
Labels: ui, addons, admin

#1012 feat: 🎸 add sync_interval_seconds to plugin host-sets
  addons/api/addon/generated/models/host-set.js
  addons/api/addon/serializers/host-set.js
  addons/api/mirage/factories/host-set.js
  addons/api/tests/unit/serializers/host-set-test.js
Labels: addons, api-addon

#1017 chore: 🤖 add feature flag for ssh target feature
  ui/desktop/config/environment.js
Labels: ui, desktop

#1016 chore: 🤖 add ssh-target feature flag for admin
  ui/admin/config/environment.js
Labels: ui, admin

#1018 feat: 🎸 add type check helper methods to target model
  addons/api/addon/models/target.js
  addons/api/tests/unit/models/target-test.js
Labels: addons, api-addon

#1021 chore: 🤖 Update mirage responses to support SSH targets
  addons/api/mirage/factories/target.js
Labels: addons, api-addon

#1023 chore: 🤖 Add plist to desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1024 chore: 🤖 Add plist to resolutions
  package.json
  yarn.lock
Labels: dependencies

#1026 chore: 🤖 Bump binary version and update changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1013 feat: 🎸 Add default custom Model for mirage
  addons/api/mirage/models/account.js
  addons/api/mirage/models/auth-method.js
  addons/api/mirage/models/base.js
  addons/api/mirage/models/credential-library.js
  addons/api/mirage/models/credential-store.js
  addons/api/mirage/models/group.js
  addons/api/mirage/models/host-catalog.js
  addons/api/mirage/models/host-set.js
  addons/api/mirage/models/host.js
  addons/api/mirage/models/managed-group.js
  addons/api/mirage/models/role.js
  addons/api/mirage/models/session.js
  addons/api/mirage/models/target.js
  addons/api/mirage/models/user.js
Labels: addons, api-addon

#1014 chore: display sync interval seconds on host-set plugin forms
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
Labels: ui, addons, admin

#1029 chore: 🤖 Update git-cz
  package.json
  yarn.lock
Labels: dependencies

#1030 chore: 🤖 Resolutions ansi-html
  package.json
  yarn.lock
Labels: dependencies

#1032 chore: 🤖 Add minimist to admin resolutions
  package.json
  yarn.lock
Labels: dependencies

#1034 chore: 🤖 Add minimist to desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1038 feat: 🎸 update target route to support ssh type
  ui/admin/app/controllers/scopes/scope/targets/new.js
  ui/admin/app/routes/scopes/scope/targets/new.js
Labels: ui, admin

#1040 chore: 🤖 Update plist version resolutions on desktop
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1027 feat: create ssh type target in admin-ui
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/index.hbs
  ui/admin/app/components/form/target/ssh/index.hbs
  ui/admin/app/components/form/target/tcp/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, addons, admin
