Repository hashicorp/boundary-ui, pull requests merged in 2022-08, with the labels that each got.

#1231 refactor: 💡 Remove helper text for Username & Password
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential/index.hbs
Labels: ui, addons, admin

#1223 refactor: 💡 Deprecate faker to use @faker-js
  addons/api/mirage/factories/account.js
  addons/api/mirage/factories/credential-library.js
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/factories/credential.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/factories/host-set.js
  addons/api/mirage/factories/host.js
  addons/api/mirage/factories/managed-group.js
  addons/api/mirage/factories/session.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/account.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/mirage/generated/factories/credential-library.js
  addons/api/mirage/generated/factories/credential-store.js
  addons/api/mirage/generated/factories/credential.js
  addons/api/mirage/generated/factories/group.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-set.js
  addons/api/mirage/generated/factories/host.js
  addons/api/mirage/generated/factories/managed-group.js
  addons/api/mirage/generated/factories/org.js
  addons/api/mirage/generated/factories/project.js
  addons/api/mirage/generated/factories/role.js
  addons/api/mirage/generated/factories/scope.js
  addons/api/mirage/generated/factories/session.js
  addons/api/mirage/generated/factories/target.js
  addons/api/mirage/generated/factories/user.js
  addons/api/mirage/generated/factories/worker.js
  addons/api/mirage/scenarios/ipc.js
  addons/core/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon

#1232 fix: 🐛 Fix routing issue for new credential stores
  ui/admin/app/components/form/credential-store/index.hbs
Labels: ui, admin

#1229 Icu 5245 add workers tab to navigation and initial overview
  addons/api/addon/abilities/worker.js
  addons/api/app/abilities/worker.js
  addons/api/mirage/factories/scope.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/api/mirage/scenarios/default.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/abilities/worker.js
  ui/admin/app/controllers/scopes/scope/workers.js
  ui/admin/app/controllers/scopes/scope/workers/new.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/routes/scopes/scope/workers/new.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/workers.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/config/environment.js
  ui/admin/tests/unit/controllers/scopes/scope/workers-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/new-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/index-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/new-test.js
Labels: ui, addons, admin, api-addon

#1227 Icu 5253 add query to include credentials
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/add-credential-libraries/index.hbs
  ui/admin/app/components/form/target/add-credential-libraries/index.js
  ui/admin/app/components/form/target/add-credential-sources/index.hbs
  ui/admin/app/components/form/target/add-credential-sources/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-sources.hbs
  ui/admin/tests/acceptance/targets/credential-sources-test.js
Labels: ui, addons, admin

#1233 refactor: 💡 update onSubmit for add-credential-sources
  ui/admin/app/components/form/target/add-credential-sources/index.hbs
  ui/admin/app/components/form/target/add-credential-sources/index.js
Labels: ui, admin

#1235 Icu 5476 refactor target model serializer and mirage
  addons/api/addon/models/target.js
  addons/api/addon/serializers/target.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/models/target.js
  addons/api/mirage/serializers/target.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/target-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/targets/target/credential-sources.js
  ui/admin/app/templates/scopes/scope/targets/target/credential-sources.hbs
  ui/admin/tests/acceptance/targets/credential-sources-test.js
Labels: ui, addons, admin, api-addon

#1230 feat: 🎸 Add worker serializer
  addons/api/addon/models/fragment-tag.js
  addons/api/addon/models/worker.js
  addons/api/addon/serializers/worker.js
  addons/api/app/models/fragment-tag.js
  addons/api/app/serializers/worker.js
  addons/api/tests/unit/models/fragment-tag-test.js
  addons/api/tests/unit/models/worker-test.js
  addons/api/tests/unit/serializers/worker-test.js
Labels: addons, addons/api, api-addon

#1234 feat: 🎸 Added list view for workers
  addons/api/addon/models/worker.js
  addons/api/addon/serializers/worker.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/routes/scopes/scope/workers/worker.js
  ui/admin/app/routes/scopes/scope/workers/worker/index.js
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/worker-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/worker/index-test.js
Labels: ui, addons, admin, api-addon

#1241 chore: 🤖 add resolution for got package
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1238 fix: 🐛 icu-5258 filter field is not sent in payload
  addons/api/addon/models/managed-group.js
  ui/admin/app/components/form/managed-group/index.hbs
Labels: ui, addons, admin, api-addon

#1250 fix: 🐛 Add feature flag for BYOW
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#1251 fix: 🐛 fixes host set attributes field types
  addons/api/addon/serializers/host-set.js
  addons/api/mirage/factories/host-set.js
Labels: addons, api-addon

#1247 chore: 🤖 remove primary_auth_method feature flag
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/header/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
Labels: ui, admin

#1245 chore: 🤖 cleanup feature flags - OIDC
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/header/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/desktop/config/environment.js
  ui/desktop/tests/acceptance/cluster-url-test.js
  ui/desktop/tests/integration/components/card-test.js
Labels: ui, desktop, admin

#1248 chore: 🤖 remove oidc-crud feature flag
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#1253 chore: 🤖 remove managed_groups feature flag
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/nav/index.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#1249 chore: 🤖 remove unused feature flag `oidc-account-crud`
  ui/admin/config/environment.js
Labels: ui, admin

#1252 chore: 🤖 remove filter feature flag
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/config/environment.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop, admin

#1239 feat: 🎸 Enable SSH Targets for development ENV
  ui/admin/config/environment.js
Labels: ui, admin

#1254 feat: 🎸 Update credential model with ssh private key attributes
  addons/api/addon/generated/models/credential.js
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/models/credential-test.js
Labels: addons, api-addon

#1255 chore: 🤖 Introduce brokered_credential_sources
  addons/api/addon/models/target.js
  addons/api/addon/serializers/target.js
  addons/api/mirage/config.js
  addons/api/mirage/serializers/target.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/target-test.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/credential-sources.js
Labels: ui, addons, admin, api-addon

#1256 refactor: 💡 deauth should delete the auth token
  addons/api/mirage/config.js
  addons/auth/addon/authenticators/base.js
  addons/auth/tests/unit/authenticators/base-test.js
  addons/core/addon/authenticators/password.js
Labels: addons, api-addon, auth-addon

#1257 Icu 5646 serializer
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/serializers/credential-test.js
Labels: addons, api-addon

#1261 feat: 🎸 Add SSH Private Key mirage support
  addons/api/mirage/factories/credential.js
  addons/api/mirage/serializers/credential.js
  addons/core/translations/resources/en-us.yaml
Labels: addons, api-addon

#1263 feat: 🎸 Update the credential route to support both types
  ui/admin/app/components/form/credential/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/new.hbs
Labels: ui, admin

#1265 fix: 🐛 disable scope serialization for username_password credential type
  addons/api/addon/serializers/credential.js
Labels: addons, api-addon

#1268 fix: 🐛 add translation for the new credential type within target route
  addons/core/translations/resources/en-us.yaml
Labels: addons

#1266 Icu 5651 create spk type
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/serializers/credential-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
Labels: ui, addons, admin, api-addon

#1267 chore: 🤖 Update electron to v16
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1277 refactor: 💡 update credential serializer to delete password
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/serializers/credential-test.js
Labels: addons, api-addon

#1271 feat: 🎸 Add code editor to api response display
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/ember-cli-build.js
Labels: ui, desktop

#1244 feat: 🎸 Add create worker page
  addons/api/addon/models/worker.js
  addons/api/addon/serializers/worker.js
  addons/api/mirage/config.js
  addons/api/tests/unit/models/worker-test.js
  addons/api/tests/unit/serializers/worker-test.js
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/styles/rose/components/code-editor/_index.scss
  addons/rose/addon/styles/rose/components/layout/_page.scss
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/routes/scopes/scope/workers/new.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/config/environment.js
  ui/admin/ember-cli-build.js
  ui/admin/tests/acceptance/workers/create-test.js
  ui/admin/tests/acceptance/workers/list-test.js
Labels: ui, addons, admin, api-addon, styles-addon

#1276 chore: 🤖 create relative date helper
  addons/core/addon/components/relative-datetime-live/index.hbs
  addons/core/addon/components/relative-datetime-live/index.js
  addons/core/addon/components/toolbar-refresher/index.hbs
  addons/core/addon/helpers/relative-datetime-live.js
  addons/core/app/components/relative-datetime-live.js
  addons/core/app/helpers/relative-datetime-live.js
  addons/core/tests/dummy/app/templates/application.hbs
  addons/core/tests/integration/components/relative-datetime-live-test.js
  addons/core/tests/integration/helpers/relative-datetime-live-test.js
Labels: addons

#1275 test: 💍 Add acceptance tests for reading an spk credential
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
Labels: ui, admin

#1246 ICU 5247 detailed worker view and ICU 5248 edit worker view
  addons/api/addon/models/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/app/controllers/scopes/scope/workers/worker.js
  ui/admin/app/formats.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
  ui/admin/tests/acceptance/workers/delete-test.js
  ui/admin/tests/acceptance/workers/read-test.js
  ui/admin/tests/acceptance/workers/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/worker-test.js
Labels: ui, addons, admin, api-addon

#1287 refactor: 💡 Disable read-only fields when editing worker
  addons/core/addon/helpers/relative-datetime-live.js
  ui/admin/app/components/form/worker/index.hbs
Labels: ui, ui/admin, addons, admin

#1282 Add injected application credential support
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/router.js
Labels: ui, addons, admin

#1285 chore: 🤖 add abilities for injected app cred sources
  addons/api/addon/abilities/target.js
  addons/api/addon/models/worker.js
  addons/api/tests/unit/abilities/target-test.js
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
Labels: ui, addons, admin, api-addon

#1273 test: 💍 Add acceptance test for updating an spk credential
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
Labels: ui, admin

#1278 test: 💍 clean-up acceptance test for list-view of credentials
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
Labels: ui, admin

#1262 Refactor role fragment arrays
  addons/api/addon/models/fragment-principal.js
  addons/api/addon/models/role.js
  addons/api/addon/serializers/fragment-principal.js
  addons/api/addon/transforms/principal-array.js
  addons/api/app/models/fragment-principal.js
  addons/api/app/serializers/fragment-principal.js
  addons/api/app/transforms/principal-array.js
  addons/api/tests/unit/models/fragment-principal-test.js
  addons/api/tests/unit/serializers/fragment-principal-test.js
  addons/api/tests/unit/serializers/role-test.js
  addons/api/tests/unit/transforms/principal-array-test.js
  ui/admin/app/routes/scopes/scope/roles/role.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
Labels: ui, addons, admin, api-addon

#1274 test: 💍 Add acceptance tests for deleting an spk credential
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
Labels: ui, admin

#1259 refactor: 💡 convert brokered cred IDs array to simple attribute
  addons/api/addon/models/fragment-host-source.js
  addons/api/addon/models/fragment-principal.js
  addons/api/addon/models/role.js
  addons/api/addon/models/target.js
  addons/api/addon/serializers/fragment-host-source.js
  addons/api/addon/serializers/fragment-principal.js
  addons/api/addon/transforms/host-source-id-array.js
  addons/api/addon/transforms/principal-array.js
  addons/api/addon/transforms/string-array.js
  addons/api/app/models/fragment-host-source.js
  addons/api/app/models/fragment-principal.js
  addons/api/app/serializers/fragment-host-source.js
  addons/api/app/serializers/fragment-principal.js
  addons/api/app/transforms/host-source-id-array.js
  addons/api/app/transforms/principal-array.js
  addons/api/app/transforms/string-array.js
  addons/api/tests/unit/models/fragment-host-source-test.js
  addons/api/tests/unit/models/fragment-principal-test.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/fragment-host-source-test.js
  addons/api/tests/unit/serializers/fragment-principal-test.js
  addons/api/tests/unit/serializers/role-test.js
  addons/api/tests/unit/transforms/host-source-id-array-test.js
  addons/api/tests/unit/transforms/principal-array-test.js
  addons/api/tests/unit/transforms/string-array-test.js
  ui/admin/app/routes/scopes/scope/roles/role.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
Labels: ui, addons, admin, api-addon

#1272 refactor: 💡 replace ember notify with flash in notify decorator
  addons/core/addon/decorators/notify.js
  ui/admin/app/controllers/application.js
  ui/admin/app/routes/account/change-password.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/groups/group/members.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/add-brokered-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/host-sources.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/user/accounts.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
  ui/admin/app/templates/application.hbs
  ui/admin/config/environment.js
  ui/admin/package.json
  ui/admin/tests/helpers/flash-message.js
  ui/admin/tests/test-helper.js
  ui/desktop/app/controllers/application.js
  ui/desktop/app/routes/cluster-url.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/config/environment.js
  ui/desktop/package.json
  ui/desktop/tests/helpers/flash-message.js
  ui/desktop/tests/test-helper.js
  yarn.lock
Labels: ui, addons, desktop, admin

#1280 chore: 🤖 upgrade ember dependencies in anticipation of ember 4
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1293 chore: 🤖 Remove "ember-template-lint-plugin-prettier"
  addons/api/package.json
  addons/auth/package.json
  addons/core/.template-lintrc.js
  addons/core/addon/components/image/index.hbs
  addons/core/package.json
  addons/rose/.template-lintrc.js
  addons/rose/package.json
  ui/admin/.template-lintrc.js
  ui/admin/package.json
  ui/desktop/.template-lintrc.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1292 refactor: 💡 update passphrase field to a password text input
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
Labels: ui, admin
