Repository hashicorp/boundary-ui, pull requests merged in 2022-04, with the labels that each got.

#1042 Ssh target tests
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, ui/admin/tests, admin

#1044 Chore update babel parser
  addons/api/.eslintrc.js
  addons/api/package.json
  addons/auth/.eslintrc.js
  addons/auth/package.json
  addons/core/.eslintrc.js
  addons/core/package.json
  addons/rose/.eslintrc.js
  addons/rose/package.json
  ui/admin/.eslintrc.js
  ui/admin/package.json
  ui/desktop/.eslintrc.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1043 chore: 🤖 Add build admin UI workflow
  .github/workflows/build-admin-ui.yaml
  .github/workflows/monorepo-validate.yaml
Labels: ui/admin

#1046 feat: 🎸 Update Success Dialog when connecting to target
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
Labels: ui, desktop

#1050 refactor: 💡 improve target creation
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/index.hbs
  ui/admin/app/components/form/target/ssh/index.hbs
  ui/admin/app/components/form/target/tcp/index.hbs
  ui/admin/app/routes/scopes/scope/targets/new.js
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/new.hbs
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, admin

#1049 feat: 🎸 Add "worker_filter" attribute to target model
  addons/api/addon/generated/models/target.js
  addons/api/tests/unit/serializers/target-test.js
Labels: addons, api-addon

#1051 feat: 🎸 Add mirage data for the worker_filter
  addons/api/mirage/factories/target.js
  addons/api/mirage/generated/factories/target.js
Labels: addons, api-addon

#1045 Chore update eslint
  addons/api/addon/serializers/account.js
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/app/controllers/scopes/scope/scopes.js
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1053 feat: 🎸 Add worker filter field in target form
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/config/environment.js
Labels: ui, addons, admin

#1054 test: 💍 Verify target worker filter can be edited
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, admin

#1056 test: 💍 Verify target worker filter is created correctly
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, admin

#1057 disable polling in admin UI
  ui/admin/app/routes/scopes/scope/sessions.js
Labels: ui, admin

#1055 chore: 🤖 Updated pr-template to include Jira base url
  .github/pull_request_template.md
Labels: documentation

#1060 Revert "disable polling in admin UI"
  ui/admin/app/routes/scopes/scope/sessions.js
Labels: ui, admin

#1061 Revert "fix: 🐛 Disable polling for targets on Desktop"
  ui/desktop/app/routes/scopes/scope/projects/targets.js
Labels: ui, desktop

#1062 Revert "fix: 🐛 Disable polling for sessions on Desktop"
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
Labels: ui, desktop

#1064 feat: 🎸 Update Target types help text
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/styles/rose/components/form/_fieldset.scss
  addons/rose/addon/styles/rose/components/form/_radio-card.scss
Labels: addons, styles-addon

#1063 chore: 🤖 Update Electron from 12.x to 13.x
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1070 fix: 🐛 Fix new target navigation issue
  ui/admin/app/components/form/target/index.hbs
Labels: ui, admin

#1065 fix: 🐛 Fix radio card background color in dark mode
  addons/rose/addon/styles/rose/components/form/_radio-card.scss
  addons/rose/addon/styles/rose/variables/color/_css.scss
  addons/rose/addon/styles/rose/variables/color/_sass.scss
Labels: addons, styles-addon

#1068 fix: 🐛 Fix scrollbars not being dark in dark mode
  addons/rose/addon/styles/rose/variables/color/_css.scss
Labels: addons, styles-addon

#1069 feat: refresh sessions list view in desktop
  addons/core/translations/actions/en-us.yaml
  addons/rose/addon/components/rose/button/index.js
  addons/rose/addon/components/rose/loading-button/index.hbs
  addons/rose/addon/components/rose/loading-button/index.js
  addons/rose/addon/components/rose/loading-button/index.stories.mdx
  addons/rose/addon/styles/rose/components/_index.scss
  addons/rose/addon/styles/rose/components/_loading-button.scss
  addons/rose/addon/styles/rose/components/toolbar/_toolbar.scss
  addons/rose/addon/styles/rose/variables/color/_sass.scss
  addons/rose/app/components/rose/loading-button.js
  addons/rose/tests/integration/components/rose/loading-button-test.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, addons, desktop, styles-addon

#1074 chore: 🤖 Increase polling time desktop client
  ui/desktop/config/environment.js
Labels: ui, desktop

#1075 feat: 🎸 add non-interactive rose toolbar info component
  addons/rose/addon/components/rose/toolbar/info/index.hbs
  addons/rose/addon/components/rose/toolbar/info/index.stories.mdx
  addons/rose/addon/styles/rose/components/toolbar/_index.scss
  addons/rose/addon/styles/rose/components/toolbar/_info.scss
  addons/rose/app/components/rose/toolbar/info.js
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/toolbar/info-test.js
Labels: addons, styles-addon

#1080 feat: 🎸 implement live relative datetime component
  addons/core/addon/components/relative-datetime-live/index.hbs
  addons/core/addon/components/relative-datetime-live/index.js
  addons/core/addon/services/clock-tick.js
  addons/core/app/components/relative-datetime-live.js
  addons/core/app/services/clock-tick.js
  addons/core/tests/dummy/app/controllers/application.js
  addons/core/tests/dummy/app/templates/application.hbs
  addons/core/tests/integration/components/relative-datetime-live-test.js
  addons/core/tests/unit/services/clock-tick-test.js
Labels: addons

#1077 feat: 🎸 Add minimum refresh time to refresh button for sessions
  addons/rose/addon/components/rose/loading-button/index.js
  addons/rose/addon/styles/rose/components/_loading-button.scss
Labels: addons, styles-addon

#1083 chore: 🤖 move loading-button component to core addon
  addons/core/addon/components/loading-button/index.hbs
  addons/core/addon/components/loading-button/index.js
  addons/core/app/components/loading-button.js
  addons/core/tests/integration/components/loading-button-test.js
  addons/rose/addon/components/rose/loading-button/index.stories.mdx
  addons/rose/app/components/rose/loading-button.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, addons, desktop, styles-addon

#1086 Style toolbar buttons
  addons/rose/addon/styles/rose/_typography.scss
  addons/rose/addon/styles/rose/components/_index.scss
  addons/rose/addon/styles/rose/components/_loading-button.scss
  addons/rose/addon/styles/rose/components/toolbar/_toolbar.scss
Labels: addons, styles-addon

#1066 refactor: 💡 Encapsulate desktop client window creation
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#1087 feat: 🎸 refresh targets list view in desktop
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop

#1076 fix: 🐛 Fix scrollbar for the sidebar in desktop client
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
Labels: ui, desktop

#1067 fix: 🐛 Mac os window lifecycle
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#1090 fix: 🐛 Desktop client not correctly loading ember app url
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#1088 feature: add toolbar refresher component
  addons/core/addon/components/relative-datetime-live/index.js
  ui/desktop/app/components/toolbar-refresher/index.hbs
  ui/desktop/app/components/toolbar-refresher/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, addons, desktop

#1078 feat: refresh sessions view in admin ui
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
Labels: ui, admin

#1089 style: 💄 Update Refresh Button to animate when loading
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
Labels: ui, desktop, admin

#1092 feat: 🎸 Add ToolbarRefresher component to sessions in admin
  addons/core/addon/components/toolbar-refresher/index.hbs
  addons/core/addon/components/toolbar-refresher/index.js
  addons/core/app/components/toolbar-refresher.js
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
Labels: ui, addons, admin

#1093 feat: 🎸 Add ToolbarRefresher component to targets in desktop
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop
