Repository hashicorp/boundary-ui, pull requests merged in 2022-10, with the labels that each got.

#1364 fix: 🐛 Fix SCSS lint issues
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1357 style: 💄 Fix 2 translation typos
  addons/core/translations/en-us.yaml
Labels: addons

#1356 chore: 🤖 Allow retrieval of arm64 cli
  ui/desktop/electron-app/config/cli.js
Labels: ui, desktop

#1359 docs: ✏️ Add debug desktop client documentation
  ui/desktop/README.md
Labels: ui, desktop

#1365 Chore update ember cli dependency checker addon
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1367 [ICU-6448] Update CSP to add frame-ancestors: self
  ui/admin/config/content-security-policy.js
  ui/desktop/electron-app/src/config/content-security-policy.js
Labels: ui, desktop, admin

#1363 chore: 🤖 clean form errors
  ui/admin/app/components/form/account/oidc/index.hbs
  ui/admin/app/components/form/account/password/change-password/index.hbs
  ui/admin/app/components/form/account/password/index.hbs
  ui/admin/app/components/form/account/password/set-password/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/group/add-members/index.hbs
  ui/admin/app/components/form/group/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host-set/add-hosts/index.hbs
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/static/index.hbs
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/components/form/role/add-principals/index.hbs
  ui/admin/app/components/form/role/grants/index.hbs
  ui/admin/app/components/form/role/index.hbs
  ui/admin/app/components/form/scope/index.hbs
  ui/admin/app/components/form/target/add-brokered-credential-sources/index.hbs
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.hbs
  ui/admin/app/components/form/user/index.hbs
Labels: ui, admin

#1362 refactor: 💡 Update IPC mock for desktop client
  addons/api/mirage/config.js
  addons/api/mirage/scenarios/ipc.js
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, addons, desktop, admin, api-addon

#1375 fix: 🐛 Fix mac intel cli download
  ui/desktop/electron-app/config/cli.js
Labels: ui, desktop

#1370 Chore update ember modifier
  addons/rose/addon/modifiers/code-mirror.js
  addons/rose/addon/modifiers/on-click-inside.js
  addons/rose/addon/modifiers/on-click-outside.js
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, styles-addon

#1373 refactor: 💡 Clean old mirage code
  addons/auth/tests/dummy/mirage/config.js
  addons/auth/tests/dummy/mirage/scenarios/default.js
  addons/auth/tests/dummy/mirage/serializers/application.js
Labels: addons, auth-addon

#1358 Icu 5602 clean up form actions
  ui/admin/app/components/form/account/oidc/index.hbs
  ui/admin/app/components/form/account/password/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/group/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/static/index.hbs
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/components/form/onboarding/choose-path/index.hbs
  ui/admin/app/components/form/onboarding/create-resources/index.hbs
  ui/admin/app/components/form/role/grants/index.hbs
  ui/admin/app/components/form/role/index.hbs
  ui/admin/app/components/form/scope/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/user/index.hbs
Labels: ui, admin

#1376 Chore upgrate ember qunit
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1377 chore: 🤖 Upgrade ember-autofocus-modifier
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1371 Chore rose storybook deprecations
  addons/rose/.storybook/main.js
  addons/rose/addon/components/rose/anonymous/index.stories.mdx
  addons/rose/addon/components/rose/badge/index.stories.mdx
  addons/rose/addon/components/rose/button/index.stories.mdx
  addons/rose/addon/components/rose/card/link/index.stories.mdx
  addons/rose/addon/components/rose/cards/index.stories.mdx
  addons/rose/addon/components/rose/code-editor/index.stories.mdx
  addons/rose/addon/components/rose/dialog/cover/index.stories.mdx
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/footer/index.stories.mdx
  addons/rose/addon/components/rose/form/actions/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/group/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/message/index.stories.mdx
  addons/rose/addon/components/rose/form/fieldset/index.stories.mdx
  addons/rose/addon/components/rose/form/helper-text/index.stories.mdx
  addons/rose/addon/components/rose/form/index.stories.mdx
  addons/rose/addon/components/rose/form/input/index.stories.mdx
  addons/rose/addon/components/rose/form/label/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/components/rose/form/select/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
  addons/rose/addon/components/rose/frame/index.stories.mdx
  addons/rose/addon/components/rose/header/index.stories.mdx
  addons/rose/addon/components/rose/icon/index.stories.mdx
  addons/rose/addon/components/rose/layout/centered/index.stories.mdx
  addons/rose/addon/components/rose/layout/global/index.stories.mdx
  addons/rose/addon/components/rose/layout/page/index.stories.mdx
  addons/rose/addon/components/rose/layout/sidebar/index.stories.mdx
  addons/rose/addon/components/rose/link-button/index.stories.mdx
  addons/rose/addon/components/rose/list/key-value/index.stories.mdx
  addons/rose/addon/components/rose/message/index.stories.mdx
  addons/rose/addon/components/rose/nav/breadcrumbs/index.stories.mdx
  addons/rose/addon/components/rose/nav/link/index.stories.mdx
  addons/rose/addon/components/rose/nav/sidebar/sidebar.stories.mdx
  addons/rose/addon/components/rose/nav/tabs/index.stories.mdx
  addons/rose/addon/components/rose/notification/index.stories.mdx
  addons/rose/addon/components/rose/separator/index.stories.mdx
  addons/rose/addon/components/rose/table/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/info/index.stories.mdx
  addons/rose/stories/colors.stories.mdx
  addons/rose/stories/sizing.stories.mdx
  addons/rose/stories/typography.stories.mdx
Labels: addons, styles-addon

#1379 fix: 🐛 Disable add worker tag if there's no key
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
Labels: ui, admin

#1378 Chore/fix rose syntax highlighting
  addons/rose/.storybook/preview.js
  addons/rose/addon/components/rose/anonymous/index.stories.mdx
  addons/rose/addon/components/rose/badge/index.stories.mdx
  addons/rose/addon/components/rose/button/index.stories.mdx
  addons/rose/addon/components/rose/card/link/index.stories.mdx
  addons/rose/addon/components/rose/cards/index.stories.mdx
  addons/rose/addon/components/rose/code-editor/index.stories.mdx
  addons/rose/addon/components/rose/dialog/cover/index.stories.mdx
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/footer/index.stories.mdx
  addons/rose/addon/components/rose/form/actions/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/group/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/message/index.stories.mdx
  addons/rose/addon/components/rose/form/fieldset/index.stories.mdx
  addons/rose/addon/components/rose/form/helper-text/index.stories.mdx
  addons/rose/addon/components/rose/form/index.stories.mdx
  addons/rose/addon/components/rose/form/input/index.stories.mdx
  addons/rose/addon/components/rose/form/label/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/components/rose/form/select/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
  addons/rose/addon/components/rose/frame/index.stories.mdx
  addons/rose/addon/components/rose/header/index.stories.mdx
  addons/rose/addon/components/rose/icon/index.stories.mdx
  addons/rose/addon/components/rose/layout/centered/index.stories.mdx
  addons/rose/addon/components/rose/layout/global/index.stories.mdx
  addons/rose/addon/components/rose/layout/page/index.stories.mdx
  addons/rose/addon/components/rose/layout/sidebar/index.stories.mdx
  addons/rose/addon/components/rose/link-button/index.stories.mdx
  addons/rose/addon/components/rose/list/key-value/index.stories.mdx
  addons/rose/addon/components/rose/message/index.stories.mdx
  addons/rose/addon/components/rose/nav/breadcrumbs/index.stories.mdx
  addons/rose/addon/components/rose/nav/link/index.stories.mdx
  addons/rose/addon/components/rose/nav/sidebar/sidebar.stories.mdx
  addons/rose/addon/components/rose/nav/tabs/index.stories.mdx
  addons/rose/addon/components/rose/notification/index.stories.mdx
  addons/rose/addon/components/rose/separator/index.stories.mdx
  addons/rose/addon/components/rose/table/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/info/index.stories.mdx
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1369 fix: 🐛 csp fix
  ui/admin/config/content-security-policy.js
Labels: ui, admin

#1374 fix: 🐛 Session setup method deprecation message
  addons/auth/ember-cli-build.js
  ui/admin/app/routes/application.js
  ui/admin/ember-cli-build.js
  ui/desktop/app/routes/application.js
  ui/desktop/ember-cli-build.js
Labels: ui, addons, desktop, admin, auth-addon

#1381 feat: 🎸 remove animation when user specifies reduced motion
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
Labels: ui, desktop, admin

#1383 Revert "feat: 🎸 remove animation when user specifies reduced motion"
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
Labels: ui, desktop, admin

#1380 fix: 🐛 Forgotten session setup method in core
  addons/core/ember-cli-build.js
Labels: addons

#1382 Refactor deprecate rendertemplate
  ui/admin/app/components/host-catalogs/host-catalog/actions/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/actions/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/add-hosts/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/navigation/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/new/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/actions/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/navigation/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/new/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/navigation/index.hbs
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts/host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/host/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/index.hbs
Labels: ui, admin

#1385 refactor: 💡 Deprecate renderTemplate in header-nav
  addons/core/addon/services/scope.js
  addons/core/tests/unit/services/scope-test.js
  ui/admin/app/components/header-nav/index.hbs
  ui/admin/app/components/header-nav/index.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/templates/application.hbs
Labels: ui, addons, admin

#1386 Icu 6424 deprecate @storybook/addon knobs
  addons/rose/.storybook/main.js
  addons/rose/.storybook/preview.js
  addons/rose/addon/components/rose/anonymous/index.stories.mdx
  addons/rose/addon/components/rose/badge/index.stories.mdx
  addons/rose/addon/components/rose/button/index.stories.mdx
  addons/rose/addon/components/rose/card/link/index.stories.mdx
  addons/rose/addon/components/rose/cards/index.stories.mdx
  addons/rose/addon/components/rose/code-editor/index.stories.mdx
  addons/rose/addon/components/rose/dialog/cover/index.stories.mdx
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/footer/index.stories.mdx
  addons/rose/addon/components/rose/form/actions/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/group/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/message/index.stories.mdx
  addons/rose/addon/components/rose/form/fieldset/index.stories.mdx
  addons/rose/addon/components/rose/form/helper-text/index.stories.mdx
  addons/rose/addon/components/rose/form/index.stories.mdx
  addons/rose/addon/components/rose/form/input/index.stories.mdx
  addons/rose/addon/components/rose/form/label/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/components/rose/form/select/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
  addons/rose/addon/components/rose/frame/index.stories.mdx
  addons/rose/addon/components/rose/header/index.stories.mdx
  addons/rose/addon/components/rose/icon/index.stories.mdx
  addons/rose/addon/components/rose/layout/centered/index.stories.mdx
  addons/rose/addon/components/rose/layout/page/index.stories.mdx
  addons/rose/addon/components/rose/layout/sidebar/index.stories.mdx
  addons/rose/addon/components/rose/link-button/index.stories.mdx
  addons/rose/addon/components/rose/list/key-value/index.stories.mdx
  addons/rose/addon/components/rose/message/index.stories.mdx
  addons/rose/addon/components/rose/nav/breadcrumbs/index.stories.mdx
  addons/rose/addon/components/rose/nav/link/index.stories.mdx
  addons/rose/addon/components/rose/nav/sidebar/sidebar.stories.mdx
  addons/rose/addon/components/rose/nav/tabs/index.stories.mdx
  addons/rose/addon/components/rose/notification/index.stories.mdx
  addons/rose/addon/components/rose/separator/index.stories.mdx
  addons/rose/addon/components/rose/table/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/info/index.stories.mdx
  addons/rose/package.json
  addons/rose/stories/colors.stories.mdx
  addons/rose/stories/sizing.stories.mdx
  addons/rose/stories/typography.stories.mdx
  yarn.lock
Labels: addons, styles-addon

#1391 chore: 🤖 explicitly call @hashicorp/ember-flight-icons` contentFor hook
  addons/rose/index.js
  addons/rose/package.json
Labels: addons, styles-addon

#1384 chore: 🤖 auto-dismiss auth error notifications
  addons/core/addon/decorators/notify.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
Labels: ui, addons, desktop, admin

#1388 chore: 🤖 initial setup of HDS
  addons/rose/ember-cli-build.js
  addons/rose/index.js
  addons/rose/package.json
  addons/rose/tests/dummy/app/styles/app.scss
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, styles-addon

#1393 refactor: 💡 Delete ember-cli-template-lint
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#1396 refactor: 💡 existing read credential store acceptance tests
  ui/admin/tests/acceptance/credential-store/read-test.js
Labels: ui, admin
