Repository hashicorp/boundary-ui, pull requests merged in 2022-12, with the labels that each got.

#1500 Chore/cleanup filter attribute
  addons/api/addon/adapters/application.js
  addons/api/addon/generated/models/host-set.js
  addons/api/addon/generated/models/managed-group.js
  addons/api/addon/models/managed-group.js
  addons/api/addon/serializers/host-set.js
  addons/api/addon/serializers/managed-group.js
  addons/api/tests/unit/serializers/host-set-test.js
  addons/api/tests/unit/serializers/managed-group-test.js
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/managed-group/index.hbs
Labels: ui, addons, admin, api-addon

#1507 Icu 6657 auth method model fragments refactor
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/initializers/fragment-auth-method-attributes-account-claim-map-serializer.js
  addons/api/addon/initializers/fragment-string.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/models/fragment-auth-method-attributes-account-claim-map.js
  addons/api/addon/models/fragment-string.js
  addons/api/addon/serializers/fragment-auth-method-attributes-account-claim-map.js
  addons/api/addon/serializers/fragment-string.js
  addons/api/addon/transforms/account-claim-map-array.js
  addons/api/app/initializers/fragment-auth-method-attributes-account-claim-map-serializer.js
  addons/api/app/initializers/fragment-string.js
  addons/api/app/models/fragment-auth-method-attributes-account-claim-map.js
  addons/api/app/models/fragment-string.js
  addons/api/app/serializers/fragment-string.js
  addons/api/app/transforms/account-claim-map-array.js
  addons/api/mirage/config.js
  addons/api/package.json
  addons/api/tests/unit/initializers/fragment-auth-method-attributes-account-claim-map-serializer-test.js
  addons/api/tests/unit/initializers/fragment-string-test.js
  addons/api/tests/unit/models/fragment-auth-method-attributes-account-claim-map-test.js
  addons/api/tests/unit/models/fragment-string-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/fragment-string-test.js
  addons/api/tests/unit/transforms/account-claim-map-array-test.js
  addons/rose/addon/helpers/set-from-event.js
  ui/admin/app/components/form/auth-method/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/index.hbs
  yarn.lock
Labels: ui, addons, admin, api-addon, styles-addon

#1499 Icu 6680 UI code editor for secrets
  addons/core/translations/form/en-us.yaml
  addons/rose/addon/modifiers/code-mirror.js
  addons/rose/index.js
  addons/rose/package.json
  ui/admin/.sasslintrc
  ui/admin/app/components/form/field/json-secret/index.hbs
  ui/admin/app/components/form/field/json-secret/index.js
  ui/admin/app/components/form/field/json-secret/skeleton/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/integration/components/form/field/json-secret-skeleton-test.js
  ui/admin/tests/integration/components/form/field/json-secret-test.js
  yarn.lock
Labels: ui, addons, admin, styles-addon

#1511 Icu 6896 upgrade ember data
  addons/api/addon/models/base.js
  addons/api/package.json
  addons/api/tests/unit/models/base-test.js
  ui/admin/app/routes/scopes/scope/auth-methods/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/new.js
  ui/admin/app/routes/scopes/scope/groups/new.js
  ui/admin/app/routes/scopes/scope/host-catalogs/new.js
  ui/admin/app/routes/scopes/scope/roles/new.js
  ui/admin/app/routes/scopes/scope/targets/new.js
  ui/admin/app/routes/scopes/scope/users/new.js
  ui/admin/app/routes/scopes/scope/workers/new.js
  yarn.lock
Labels: ui, addons, admin, api-addon

#1490 refactor: 💡 Upgrade Ember to 4.4 LTS within addons/api
  addons/api/.ember-cli
  addons/api/.eslintignore
  addons/api/.eslintrc.js
  addons/api/.npmignore
  addons/api/.prettierignore
  addons/api/.prettierrc
  addons/api/config/ember-try.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/factories/group.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/factories/role.js
  addons/api/mirage/factories/scope.js
  addons/api/mirage/factories/session.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/generated/factories/account.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/mirage/generated/factories/credential-library.js
  addons/api/mirage/generated/factories/credential-store.js
  addons/api/mirage/generated/factories/credential.js
  addons/api/mirage/generated/factories/group.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-set.js
  addons/api/mirage/generated/factories/host.js
  addons/api/mirage/generated/factories/managed-group.js
  addons/api/mirage/generated/factories/org.js
  addons/api/mirage/generated/factories/project.js
  addons/api/mirage/generated/factories/role.js
  addons/api/mirage/generated/factories/scope.js
  addons/api/mirage/generated/factories/session.js
  addons/api/mirage/generated/factories/target.js
  addons/api/mirage/generated/factories/user.js
  addons/api/mirage/generated/factories/worker.js
  addons/api/mirage/helpers/permissions.js
  addons/api/mirage/models/account.js
  addons/api/mirage/models/auth-method.js
  addons/api/mirage/models/base.js
  addons/api/mirage/models/credential-library.js
  addons/api/mirage/models/credential-store.js
  addons/api/mirage/models/credential.js
  addons/api/mirage/models/group.js
  addons/api/mirage/models/host-catalog.js
  addons/api/mirage/models/host-set.js
  addons/api/mirage/models/host.js
  addons/api/mirage/models/managed-group.js
  addons/api/mirage/models/role.js
  addons/api/mirage/models/session.js
  addons/api/mirage/models/target.js
  addons/api/mirage/models/user.js
  addons/api/mirage/models/worker.js
  addons/api/mirage/serializers/application.js
  addons/api/package.json
  addons/api/tests/dummy/app/index.html
  addons/api/tests/dummy/config/ember-cli-update.json
  addons/api/tests/dummy/config/environment.js
  addons/api/tests/dummy/mirage/serializers/application.js
  addons/api/tests/helpers/index.js
  addons/api/tests/index.html
  yarn.lock
Labels: addons, api-addon

#1509 refactor: 💡 acceptance tests in scopes folder
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/scopes/update-test.js
Labels: ui, admin

#1502 chore: 🤖 radio card migration - target and Credentials
  addons/api/addon/models/target.js
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/static/index.js
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.js
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.js
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/form/credential/username_password/index.js
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, addons, admin, api-addon

#1516 Refactor upgrade ember 4 addon core
  addons/core/.ember-cli
  addons/core/.eslintignore
  addons/core/.eslintrc.js
  addons/core/.npmignore
  addons/core/.prettierignore
  addons/core/package.json
  addons/core/tests/dummy/app/index.html
  addons/core/tests/dummy/config/ember-cli-update.json
  addons/core/tests/dummy/config/environment.js
  addons/core/tests/helpers/.gitkeep
  addons/core/tests/helpers/index.js
  addons/core/tests/index.html
  addons/core/tests/integration/helpers/format-date-iso-human-test.js
  addons/core/tests/integration/helpers/format-date-iso-test.js
  addons/core/tests/integration/helpers/relative-datetime-live-test.js
  yarn.lock
Labels: addons

#1498 feat: 🎸 create form for json credentials
  addons/api/addon/models/credential.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/abilities/credential.js
  ui/admin/app/components/form/credential/index.hbs
  ui/admin/app/components/form/credential/index.js
  ui/admin/app/components/form/credential/json/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.js
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/form/credential/username_password/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/unit/abilities/credential-test.js
  yarn.lock
Labels: ui, addons, admin, api-addon

#1525 fix: 🐛 refactor info-field component
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/credential/json/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/integration/components/info-field-test.js
Labels: ui, admin

#1528 test: 💍 update list credential tests
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
Labels: ui, admin

#1524 test: 💍 Create read tests for JSON credentials
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
Labels: ui, admin

#1519 Icu 7083 add stylelint to admin
  ui/admin/.eslintrc.js
  ui/admin/.sasslintrc
  ui/admin/.stylelintrc.js
  ui/admin/app/styles/_notify.scss
  ui/admin/app/styles/app.scss
  ui/admin/package.json
  yarn.lock
Labels: ui, admin

#1530 chore: 🤖 Upgrade ember-focus-trap
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1526 test: 💍 Add delete tests for JSON Credentials
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
Labels: ui, admin

#1527 Refactor info field component
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1532 Chore/upgrade ember data to 4
  addons/api/mirage/config.js
  addons/api/package.json
  addons/api/tests/dummy/mirage/config.js
  addons/api/tests/unit/models/base-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  yarn.lock
Labels: addons, api-addon

#1521 chore: 🤖 remove rose radiocard and styles
  addons/rose/addon/components/rose/form/radio/card/index.js
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.hbs
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/app/styles/rose/components/form/_index.scss
  addons/rose/app/styles/rose/components/form/_radio-card.scss
  addons/rose/tests/integration/components/rose/form/radio/card-test.js
  ui/admin/app/abilities/credential.js
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/unit/abilities/credential-test.js
Labels: ui, addons, admin, styles-addon

#1531 test: 💍 add tests for updating JSON credentials
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
Labels: ui, admin

#1535 chore: 🤖 cleanup json creds code / tests
  addons/api/addon/models/credential.js
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/models/credential-test.js
  ui/admin/app/abilities/credential.js
  ui/admin/app/components/form/field/json-secret/index.js
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
  ui/admin/tests/integration/components/form/field/json-secret-skeleton-test.js
  ui/admin/tests/integration/components/form/field/json-secret-test.js
  ui/admin/tests/unit/abilities/credential-test.js
Labels: ui, addons, admin, api-addon

#1523 Upgrade ui/admin to Ember to 4.4
  ui/admin/.ember-cli
  ui/admin/.eslintignore
  ui/admin/.prettierignore
  ui/admin/README.md
  ui/admin/app/index.html
  ui/admin/config/ember-cli-update.json
  ui/admin/config/environment.js
  ui/admin/package.json
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/helpers/index.js
  ui/admin/tests/index.html
Labels: ui, admin

#1529 Chore tweak target type content
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/modifiers/code-mirror.js
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/routes/scopes/scope/targets/new.js
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, addons, admin, styles-addon

#1538 refactor: 💡 use constants for target types
  addons/api/addon/models/target.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/generated/factories/target.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/target-test.js
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/scopes/scope/targets/new.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/desktop/tests/acceptance/projects/targets-test.js
Labels: ui, addons, desktop, admin, api-addon

#1540 chore: 🤖 add role readPrincipal ability
  addons/api/addon/abilities/managed-group.js
  addons/api/addon/abilities/role.js
  addons/api/app/abilities/managed-group.js
  addons/api/tests/unit/abilities/role-test.js
Labels: addons, api-addon

#1539 chore: 🤖 update role form fields to hds
  ui/admin/app/components/form/role/index.hbs
  ui/admin/tests/acceptance/roles/create-test.js
  ui/admin/tests/acceptance/roles/update-test.js
Labels: ui, admin

#1542 Add mirage support principal managed groups
  addons/api/mirage/config.js
  addons/api/mirage/factories/role.js
  addons/api/mirage/models/role.js
  addons/api/mirage/scenarios/default.js
  addons/api/mirage/serializers/role.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/tests/acceptance/roles/principals-test.js
Labels: ui, addons, admin, api-addon

#1544 Add model support for managed groups
  addons/api/addon/models/role.js
  addons/api/tests/unit/models/role-test.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
Labels: ui, addons, admin, api-addon

#1545 Add links to role principals with ability
  addons/api/addon/models/role.js
  ui/admin/app/components/link-to-principal/index.hbs
  ui/admin/app/components/link-to-principal/index.js
  ui/admin/app/components/principal-type-badge/index.hbs
  ui/admin/app/components/principal-type-badge/index.js
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
Labels: ui, addons, admin, api-addon
