Repository hashicorp/boundary-ui, pull requests merged in 2022-11, with the labels that each got.

#1392 Use hds badge in sessions admin
  addons/api/addon/models/session.js
  addons/api/tests/unit/models/session-test.js
  addons/core/addon/components/session-status/index.hbs
  addons/core/addon/components/session-status/index.js
  addons/core/app/components/session-status.js
  addons/core/tests/integration/components/session-status-test.js
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
Labels: ui, addons, admin, api-addon

#1394 fix: 🐛 Fix electron appearance for desktop with mirage locally
  addons/api/mirage/scenarios/ipc.js
Labels: addons, api-addon

#1390 feat: 🎸 Re-enabling footer for Boundary Admin UI
  addons/rose/addon/components/rose/footer/index.stories.mdx
  addons/rose/addon/components/rose/layout/sidebar/index.hbs
  addons/rose/addon/components/rose/layout/sidebar/index.stories.mdx
  addons/rose/app/styles/rose/components/footer/_brand.scss
  addons/rose/app/styles/rose/components/footer/_index.scss
  addons/rose/app/styles/rose/components/footer/_text.scss
  addons/rose/app/styles/rose/components/layout/_global.scss
  addons/rose/app/styles/rose/components/layout/_sidebar.scss
  addons/rose/tests/dummy/app/templates/playground.hbs
  addons/rose/tests/integration/components/rose/layout/sidebar-test.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/account/change-password.hbs
  ui/admin/app/templates/application.hbs
  ui/admin/app/templates/scopes/index.hbs
  ui/admin/app/templates/scopes/scope.hbs
Labels: enhancement, ui, addons, addons/styles, admin, styles-addon

#1399 chore: 🤖 Update electron to latest version
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1400 refactor: 💡 host-catalogs read acceptance test
  ui/admin/tests/acceptance/host-catalogs/read-test.js
Labels: ui, admin

#1401 refactor: 💡 hosts read acceptance tests
  ui/admin/tests/acceptance/host-catalogs/hosts/read-test.js
Labels: ui, admin

#1402 refactor: 💡 host set read acceptance tests
  ui/admin/tests/acceptance/host-catalogs/host-sets/read-test.js
Labels: ui, admin

#1389 feat: 🎸 Auto-populate hcp cluster id
  addons/core/addon/services/browser-object.js
  addons/core/app/services/browser-object.js
  addons/core/tests/unit/services/browser-object-test.js
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/tests/acceptance/workers/create-test.js
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
Labels: ui, addons, admin

#1407 chore: 🤖 improve scopes/new titling - icu-6714
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/scopes/new.js
  ui/admin/app/router.js
  ui/admin/app/routes/onboarding/quick-setup/choose-path.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/scopes/new.js
  ui/admin/app/templates/scopes/scope/new.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/new.hbs
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/onboarding/choose-path-test.js
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/unit/controllers/scopes/scope/scopes/new-test.js
  ui/admin/tests/unit/routes/scopes/scope/scopes/new-test.js
Labels: ui, addons, admin

#1403 Icu 6579 update badges in sessions desktop UI
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
Labels: ui, desktop

#1408 chore: 🤖 improve users/new title - icu-6713
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/users/new.js
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/app/templates/scopes/scope/users/new.hbs
Labels: ui, addons, admin

#1409 Chore update ember to latest 3.x
  addons/api/ember-cli-build.js
  addons/api/package.json
  addons/api/tests/index.html
  addons/auth/ember-cli-build.js
  addons/auth/package.json
  addons/auth/tests/index.html
  addons/core/ember-cli-build.js
  addons/core/package.json
  addons/core/tests/index.html
  addons/rose/ember-cli-build.js
  addons/rose/package.json
  addons/rose/tests/index.html
  ui/admin/package.json
  ui/admin/tests/index.html
  ui/desktop/package.json
  ui/desktop/tests/index.html
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1411 chore: improve titling for new groups - icu-6715
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/groups/new.js
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/groups/new.hbs
Labels: ui, addons, admin

#1412 chore: 🤖 improve roles/new title - icu-6716
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/roles/new.js
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/roles/new.hbs
Labels: ui, addons, admin

#1413 chore: 🤖 improve auth-methods/new titling - icu-6717
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/auth-methods/new.js
  ui/admin/app/templates/scopes/scope/auth-methods/new.hbs
Labels: ui, addons, admin

#1415 chore: 🤖 improve accounts/new titling - icu-6718
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/accounts/new.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/new.hbs
Labels: ui, addons, admin

#1416 chore: 🤖 improve targets/new titling - icu-6719
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/targets/new.js
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/new.hbs
Labels: ui, addons, admin

#1417 chore: 🤖 improve host-catalogs/new titling - icu-6720
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/host-catalogs/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
Labels: ui, addons, admin

#1410 Icu 6705 add stylelint to rose
  addons/rose/.eslintrc.js
  addons/rose/.sasslintrc
  addons/rose/.stylelintrc.js
  addons/rose/app/styles/rose/_reset.scss
  addons/rose/app/styles/rose/_typography.scss
  addons/rose/app/styles/rose/components/_badge.scss
  addons/rose/app/styles/rose/components/_button.scss
  addons/rose/app/styles/rose/components/_frame.scss
  addons/rose/app/styles/rose/components/_message.scss
  addons/rose/app/styles/rose/components/_notification.scss
  addons/rose/app/styles/rose/components/card/_link.scss
  addons/rose/app/styles/rose/components/code-editor/_index.scss
  addons/rose/app/styles/rose/components/dialog/_cover.scss
  addons/rose/app/styles/rose/components/dialog/_dialog.scss
  addons/rose/app/styles/rose/components/dropdown/_button.scss
  addons/rose/app/styles/rose/components/dropdown/_dropdown.scss
  addons/rose/app/styles/rose/components/dropdown/_item.scss
  addons/rose/app/styles/rose/components/dropdown/_key-value.scss
  addons/rose/app/styles/rose/components/dropdown/_link.scss
  addons/rose/app/styles/rose/components/dropdown/_section.scss
  addons/rose/app/styles/rose/components/footer/_brand.scss
  addons/rose/app/styles/rose/components/form/_checkbox.scss
  addons/rose/app/styles/rose/components/form/_fieldset.scss
  addons/rose/app/styles/rose/components/form/_helper-text.scss
  addons/rose/app/styles/rose/components/form/_input.scss
  addons/rose/app/styles/rose/components/form/_label.scss
  addons/rose/app/styles/rose/components/form/_radio-card.scss
  addons/rose/app/styles/rose/components/form/_radio.scss
  addons/rose/app/styles/rose/components/form/_select.scss
  addons/rose/app/styles/rose/components/form/errors/_message.scss
  addons/rose/app/styles/rose/components/header/_brand.scss
  addons/rose/app/styles/rose/components/header/_dropdown.scss
  addons/rose/app/styles/rose/components/header/_index.scss
  addons/rose/app/styles/rose/components/header/_link.scss
  addons/rose/app/styles/rose/components/layout/_sidebar.scss
  addons/rose/app/styles/rose/components/list/_key-value.scss
  addons/rose/app/styles/rose/components/nav/_breadcrumbs.scss
  addons/rose/app/styles/rose/components/nav/_sidebar.scss
  addons/rose/app/styles/rose/components/nav/_tabs.scss
  addons/rose/app/styles/rose/components/page-header/_title.scss
  addons/rose/app/styles/rose/components/table/_table.scss
  addons/rose/app/styles/rose/components/toolbar/_info.scss
  addons/rose/app/styles/rose/components/toolbar/_toolbar.scss
  addons/rose/app/styles/rose/utilities/_button.scss
  addons/rose/app/styles/rose/variables/_typography.scss
  addons/rose/app/styles/rose/variables/color/_css.scss
  addons/rose/app/styles/rose/variables/color/_sass.scss
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1418 chore: 🤖 improve host-sets/new titling - icu-6721
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/new/header/index.hbs
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/new-test.js
Labels: ui, addons, admin

#1419 chore: 🤖 improve hosts/new titling - icu-6722
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/host-catalogs/host-catalog/hosts/new/header/index.hbs
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/hosts/new.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/hosts/new-test.js
Labels: ui, addons, admin

#1421 chore: 🤖 improve credential-stores/new titling - icu-6723
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/credential-stores/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/new.hbs
Labels: ui, addons, admin

#1422 chore: 🤖 improve credential-libraries/new titling - icu-6724
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
Labels: ui, addons, admin

#1423 chore: 🤖 improve credentials/new titling - icu-6725
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/new.hbs
Labels: ui, addons, admin

#1425 Chore upgrade ember intl
  addons/core/package.json
  addons/core/tests/acceptance/index-test.js
  addons/core/tests/acceptance/smoke-test.js
  addons/core/tests/dummy/app/controllers/index.js
  addons/core/tests/dummy/app/router.js
  addons/core/tests/dummy/app/routes/application.js
  addons/core/tests/dummy/app/routes/smoke.js
  addons/core/tests/dummy/app/templates/application.hbs
  addons/core/tests/dummy/app/templates/index.hbs
  addons/core/tests/dummy/app/templates/smoke-test.hbs
  addons/core/tests/integration/components/error/message-test.js
  package.json
  ui/admin/app/routes/application.js
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
  ui/desktop/app/routes/application.js
  ui/desktop/tests/integration/components/hidden-secret-test.js
  yarn.lock
Labels: ui, addons, desktop, admin

#1427 Refactor route action helper - icu-6773
  addons/core/addon/helpers/route-action.js
  addons/core/app/helpers/route-action.js
  addons/core/package.json
  yarn.lock
Labels: addons

#1431 fix: 🐛 Fix styling for header icon CSS
  addons/rose/app/styles/rose/components/header/_dropdown.scss
Labels: addons, styles-addon

#1404 refactor: 💡 acceptance tests for sessions for admin ui
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/sessions-test.js
Labels: ui, admin

#1405 refactor: 💡 targets read acceptance tests
  ui/admin/tests/acceptance/targets/read-test.js
Labels: ui, admin

#1406 refactor: 💡 one acceptance test in scopes-test.js
  ui/admin/tests/acceptance/scopes-test.js
Labels: ui, admin

#1434 feat: 🎸 Add links to Host Sets assigned to targets
  addons/api/addon/abilities/host-set.js
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/tests/acceptance/targets/host-sources-test.js
Labels: ui, addons, admin, api-addon

#1440 chore: 🤖 Added json-credential feature flag
  ui/admin/config/environment.js
Labels: ui, ui/admin, ui/admin/tests, admin

#1430 chore: 🤖 Forgot addon upgrade to Ember 3.x
  addons/core/package.json
  yarn.lock
Labels: addons

#1436 chore: 🤖 install HDS and associated assets
  addons/core/tests/integration/helpers/relative-datetime-live-test.js
  addons/rose/addon/styles/addon.scss
  addons/rose/index.js
  addons/rose/package.json
  ui/admin/ember-cli-build.js
  ui/desktop/ember-cli-build.js
  yarn.lock
Labels: ui, addons, desktop, admin, styles-addon

#1456 refactor: 💡 apply custom dark mode for HDS
  addons/rose/addon/styles/addon.scss
  addons/rose/addon/styles/hds/themes/dark-mode/_color-tokens-tier-2.scss
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  addons/rose/app/styles/rose/components/dialog/_dialog.scss
  addons/rose/app/styles/rose/variables/color/_css.scss
Labels: addons, styles-addon

#1447 refactor: migrate to HDS select form fields
  addons/rose/addon/components/rose/form/index.hbs
  addons/rose/addon/components/rose/form/index.stories.mdx
  addons/rose/addon/components/rose/form/select/index.hbs
  addons/rose/addon/components/rose/form/select/index.js
  addons/rose/addon/components/rose/form/select/index.stories.mdx
  addons/rose/addon/components/rose/form/select/select/index.hbs
  addons/rose/addon/helpers/set-from-event.js
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  addons/rose/app/components/rose/form/select.js
  addons/rose/app/components/rose/form/select/select.js
  addons/rose/app/helpers/set-from-event.js
  addons/rose/app/styles/rose/components/table/_table.scss
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/form-test.js
  addons/rose/tests/integration/components/rose/form/select-test.js
  addons/rose/tests/integration/helpers/set-from-event-test.js
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  yarn.lock
Labels: ui, addons, admin, styles-addon

#1458 fix: 🐛 inlcude "addon" folder in rose style formatting command
  addons/rose/addon/styles/hds/themes/dark-mode/_color-tokens-tier-2.scss
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  addons/rose/package.json
Labels: addons, styles-addon

#1438 chore: 🤖 badge migration in desktop
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
Labels: ui, desktop

#1439 chore: 🤖 badge migrations in admin ui part 1
  ui/admin/app/components/auth-methods/auth-method/header/index.hbs
  ui/admin/app/components/cred-source-type-badge/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, admin

#1449 refactor: 💡 delete acceptance tests for host catalogs
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
Labels: ui, admin

#1448 Icu 6800 api is secret data modeling
  addons/api/addon/generated/models/credential-store.js
  addons/api/addon/generated/models/credential.js
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/credential-store.js
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/credential-test.js
Labels: addons, api-addon

#1450 Icu 6647 acceptance host catalogs list
  ui/admin/tests/acceptance/host-catalogs/list-test.js
Labels: ui, admin

#1453 Storybook badge updates
  addons/rose/addon/components/rose/badge/index.stories.mdx
Labels: addons, styles-addon

#1451 refactor: 💡 update acceptance tests for host-catalogs
  ui/admin/tests/acceptance/host-catalogs/update-test.js
Labels: ui, admin

#1454 Migrate rest of the badges in admin UI
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/tests/integration/components/rose/dropdown-test.js
  ui/admin/app/components/form/group/add-members/index.hbs
  ui/admin/app/components/form/host-set/add-hosts/index.hbs
  ui/admin/app/components/form/role/add-principals/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.hbs
  ui/admin/app/components/host-catalog-type-badge/index.hbs
  ui/admin/app/components/host-catalog-type-badge/index.js
  ui/admin/app/components/scope-badge/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
Labels: ui, addons, admin, styles-addon

#1469 fix: 🐛 fix broken relative datetime live render tests
  addons/core/tests/integration/helpers/relative-datetime-live-test.js
Labels: addons

#1459 refactor: 💡 update scope form to use HDS input and textarea
  addons/rose/addon/helpers/set-from-event.js
  addons/rose/addon/styles/addon.scss
  addons/rose/addon/styles/hds/overrides.scss
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  addons/rose/app/styles/rose/components/table/_table.scss
  ui/admin/app/components/form/scope/index.hbs
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/acceptance/scopes/update-test.js
Labels: ui, addons, admin, styles-addon

#1460 Migrate change-password form to HDS input fields.
  ui/admin/app/components/form/account/password/change-password/index.hbs
  ui/admin/app/components/form/scope/index.hbs
Labels: ui, admin

#1461 refactor: 💡 migrate set-password form to HDS text input
  ui/admin/app/components/form/account/password/set-password/index.hbs
Labels: ui, admin

#1463 chore: 🤖 remove console log
  addons/core/tests/integration/components/session-status-test.js
Labels: addons

#1462 chore: 🤖 deprecation workflow
  addons/core/addon/initializers/deprecations.js
  addons/rose/addon/components/rose/badge/index.js
Labels: addons, styles-addon

#1452 feat: 🎸 Credential type selector refactor
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
Labels: enhancement, ui, admin

#1465 Remove rose badge
  addons/rose/addon/components/rose/badge/index.hbs
  addons/rose/addon/components/rose/badge/index.js
  addons/rose/addon/components/rose/badge/index.stories.mdx
  addons/rose/app/components/rose/badge.js
  addons/rose/tests/integration/components/rose/badge-test.js
Labels: addons, styles-addon

#1466 refactor: 💡 acceptance tests in list-test.js for users
  ui/admin/tests/acceptance/users/list-test.js
Labels: ui, admin

#1467 refactor: 💡 acceptance tests in read-test.js for users
  ui/admin/tests/acceptance/users/read-test.js
Labels: ui, admin

#1477 fix: 🐛 Fix accounts not displaying correctly in auth methods
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
Labels: ui, admin

#1473 Remove rose badge styles
  addons/rose/app/styles/rose/components/_badge.scss
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/dropdown/_dropdown.scss
  ui/desktop/tests/end2end/targets.spec.js
Labels: ui, addons, desktop, styles-addon

#1479 fix: 🐛 hds select field width
  addons/rose/app/styles/rose/components/table/_table.scss
Labels: addons, styles-addon

#1478 chore: 🤖 Upgrade ember-browser-services
  addons/core/package.json
  yarn.lock
Labels: addons

#1485 chore: 🤖 JSON credential data modeling
  addons/api/addon/generated/models/credential.js
  addons/api/addon/serializers/credential.js
  addons/api/mirage/serializers/credential.js
  addons/api/tests/unit/serializers/credential-test.js
  addons/core/translations/resources/en-us.yaml
Labels: addons, addons/api, api-addon

#1464 Refactor host set fragment arrays
  addons/api/addon/generated/models/host-set.js
  addons/api/addon/models/host-set.js
  addons/api/tests/unit/models/host-set-test.js
  addons/api/tests/unit/serializers/host-set-test.js
  addons/api/tests/unit/transforms/string-array-test.js
  addons/rose/addon/components/rose/form/index.js
  ui/admin/app/components/form/host-set/add-hosts/index.js
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/index.hbs
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/update-test.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
Labels: ui, addons, desktop, admin, api-addon, styles-addon

#1491 fix: 🐛 add state to oidc form
  addons/api/mirage/config.js
Labels: addons, api-addon

#1496 chore: 🤖 quick setup layout
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1497 fix: 🐛 Fix claims map dropdown not having a default value
  ui/admin/app/components/form/auth-method/oidc/index.js
Labels: ui, admin

#1481 Icu 6794 refactor attributes using the newer is nested attribute annotation
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/models/fragment-auth-method-attributes.js
  addons/api/addon/serializers/fragment-auth-method-attributes.js
  addons/api/app/models/fragment-auth-method-attributes.js
  addons/api/app/serializers/fragment-auth-method-attributes.js
  addons/api/tests/unit/models/fragment-auth-method-attributes-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/fragment-auth-method-attributes-test.js
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, addons, admin, api-addon

#1495 chore: 🤖 Upgrade Ember-can within addons/api
  addons/api/package.json
  yarn.lock
Labels: addons, api-addon

#1489 Ember upgrade 4.4 LTS addons/auth
  addons/auth/.ember-cli
  addons/auth/.eslintignore
  addons/auth/.eslintrc.js
  addons/auth/.npmignore
  addons/auth/.prettierignore
  addons/auth/config/ember-try.js
  addons/auth/package.json
  addons/auth/tests/dummy/app/index.html
  addons/auth/tests/dummy/config/ember-cli-update.json
  addons/auth/tests/dummy/config/environment.js
  addons/auth/tests/helpers/index.js
  addons/auth/tests/index.html
  yarn.lock
Labels: addons, auth-addon

#1468 refactor: 💡 adjust css selector for specific asserts
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/read-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/read-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/host-catalogs/read-test.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
  ui/admin/tests/acceptance/sessions-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/acceptance/targets/read-test.js
Labels: ui, admin

#1474 refactor: 💡 acceptance tests in delete-test.js for users
  ui/admin/tests/acceptance/users/delete-test.js
Labels: ui, admin

#1475 refactor: 💡 acceptance tests in update-test.js for user
  ui/admin/tests/acceptance/users/update-test.js
Labels: ui, admin

#1476 refactor: 💡 acceptance tests in create-test.js for users
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/list-test.js
  ui/admin/tests/acceptance/users/read-test.js
Labels: ui, admin

#1493 feat: 🎸 Custom information field
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/info-field/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/integration/components/info-field-test.js
Labels: ui, ui/admin/app, admin

#1508 Host catalog infofield
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1505 refactor: 💡 acceptance tests in targets folder
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, admin
