Repository hashicorp/boundary-ui, pull requests merged in 2022-07, with the labels that each got.

#1172 chore: 🤖 Update electron to v15
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1175 chore: 🤖 Update Sinon to v14
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop, admin

#1176 chore: 🤖 Update ember-cli
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1181 test: 💍 onboarding tests
  ui/admin/tests/acceptance/onboarding/success-test.js
Labels: ui, admin

#1183 fix: 🐛 Fix lock file discrepancy
  yarn.lock
Labels: dependencies

#1082 feat: 🎸 switch to new token type parameter
  addons/auth/addon/authenticators/password.js
  addons/auth/tests/unit/authenticators/password-test.js
Labels: addons, auth-addon

#1178 chore: 🤖 Update ember-auto-import
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1180 refactor: 💡 Refactor default values for target creation
  addons/api/addon/generated/models/target.js
  addons/api/tests/unit/serializers/target-test.js
Labels: addons, api-addon

#1185 fix: 🐛 Add shell-quote to resolutions
  package.json
  yarn.lock
Labels: dependencies

#1182 docs: ✏️ Create README for translations
  addons/core/translations/README.md
Labels: addons

#1187 feat: 🎸 Added the static-credentials feature flag
  ui/admin/config/environment.js
Labels: ui, admin

#1186 fix: 🐛 Add Hawk to resolutions
  package.json
  yarn.lock
Labels: dependencies

#1189 refactor: 💡 existing vault form field to radio group
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-store/index.hbs
Labels: ui, addons, admin

#1193 feat: 🎸 Read a credential store
  addons/api/addon/abilities/credential-store.js
  addons/core/translations/resources/en-us.yaml
Labels: addons, api-addon

#1191 chore: 🤖 add static credential store support
  addons/api/addon/serializers/credential-store.js
  addons/api/tests/unit/adapters/application-test.js
  addons/api/tests/unit/models/credential-store-test.js
  addons/api/tests/unit/models/group-test.js
  addons/api/tests/unit/models/target-test.js
  addons/api/tests/unit/serializers/credential-store-test.js
Labels: addons, api-addon

#1166 Refactor base scope fragment
  addons/api/addon/models/base.js
  addons/api/addon/models/fragment-scope.js
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/auth-method.js
  addons/api/app/models/fragment-scope.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/group-test.js
  addons/api/tests/unit/serializers/host-set-test.js
  addons/api/tests/unit/serializers/role-test.js
  addons/api/tests/unit/serializers/target-test.js
  addons/api/tests/unit/serializers/user-test.js
  ui/desktop/tests/acceptance/origin-test.js
Labels: ui, addons, desktop, api-addon

#1184 chore: 🤖 add scope column to role principals and group members - ICU-4523
  ui/admin/app/components/form/group/add-members/index.hbs
  ui/admin/app/components/form/role/add-principals/index.hbs
  ui/admin/app/components/scope-badge/index.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
Labels: ui, admin

#1192 Feature expose roles groups in projects - ICU-4512
  addons/api/mirage/scenarios/default.js
  ui/admin/app/components/form/role/add-principals/index.hbs
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
Labels: ui, addons, admin, api-addon

#1195 create static credential store form and route updates
  ui/admin/app/components/form/credential-store/index.hbs
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/new.hbs
Labels: ui, admin

#1198 Chore optimize iam queries
  ui/admin/app/routes/scopes/scope/groups/group/members.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
Labels: ui, admin

#1197 Icu 5229 credential model
  addons/api/addon/generated/models/credential.js
  addons/api/addon/models/credential.js
  addons/api/app/models/credential.js
  addons/api/tests/unit/models/credential-test.js
Labels: addons, api-addon

#1199 Feature cross scope role principals
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
Labels: ui, admin

#1203 Create static credentials tab
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/index.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/credentials-test.js
Labels: ui, addons, admin

#1202 fix: 🐛 roles and principals on projects should be visible
  ui/admin/app/routes/scopes/scope/roles/role/index.js
Labels: ui, admin

#1204 Icu 5232 credential mirage mocks
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/factories/credential.js
  addons/api/mirage/generated/factories/credential.js
  addons/api/mirage/models/credential.js
  addons/api/mirage/serializers/credential.js
Labels: addons, api-addon

#1209 fix: 🐛 Add missing mirage config urls for credentials
  addons/api/addon/generated/models/credential.js
  addons/api/addon/serializers/credential.js
  addons/api/mirage/config.js
  addons/api/mirage/serializers/credential.js
Labels: addons, api-addon

#1205 feat: 🎸 display credentials for static credential store
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/components/form/credential/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/credential.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/credential.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/credential/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/new.hbs
Labels: ui, addons, admin

#1208 Icu 5335 add doc link for credential store screens
  ui/admin/app/components/credential-stores/credential-store/header/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/new.hbs
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/list-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
Labels: ui, admin

#1214 feat: 🎸 Add doc link to Credential screens
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/new.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#1212 test: 💍 credential store CRUDL tests
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/delete-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
Labels: ui, admin

#1215 fix: 🐛 spelling error in getting started on desktop redirect
  ui/admin/config/environment.js
Labels: ui, admin

#1216 chore: 🤖 add delete and patch mirage request for credential
  addons/api/mirage/config.js
Labels: addons, api-addon

#1218 refactor: 💡 Edit a credential
  ui/admin/app/components/form/credential/index.hbs
Labels: ui, admin

#1210 Refactor origin to cluster
  README.md
  addons/api/mirage/scenarios/ipc.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/errors/en-us.yaml
  addons/core/translations/form/en-us.yaml
  ui/admin/app/routes/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
  ui/desktop/app/components/dialog-detail/index.hbs
  ui/desktop/app/controllers/scopes/scope/authenticate.js
  ui/desktop/app/initializers/cluster-url.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/cluster-url.js
  ui/desktop/app/routes/index.js
  ui/desktop/app/routes/scopes/scope/authenticate.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/services/cluster-url.js
  ui/desktop/app/services/origin.js
  ui/desktop/app/templates/cluster-url.hbs
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/electron-app/src/config/content-security-policy.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/models/runtime-settings.js
  ui/desktop/tests/acceptance/application-test.js
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/cluster-url-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/projects/sessions-test.js
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/projects/targets/hosts-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/acceptance/targets-test.js
  ui/desktop/tests/end2end/authentication.spec.js
  ui/desktop/tests/end2end/targets.spec.js
  ui/desktop/tests/end2end/test-helpers.js
  ui/desktop/tests/helpers/window-mock-ipc.js
  ui/desktop/tests/unit/routes/cluster-url-test.js
  ui/desktop/tests/unit/services/cluster-url-test.js
  ui/desktop/tests/unit/services/origin-test.js
Labels: ui, addons, desktop, admin, api-addon

#1220 Fix runtime-settings to not access directly the private variable
  ui/desktop/electron-app/src/models/runtime-settings.js
Labels: ui, desktop

#1213 feat: 🎸 Add worker model
  addons/api/addon/generated/models/worker.js
  addons/api/addon/models/fragment-tag.js
  addons/api/addon/models/worker.js
  addons/api/app/models/fragment-tag.js
  addons/api/app/models/worker.js
  addons/api/tests/unit/models/fragment-tag-test.js
  addons/api/tests/unit/models/worker-test.js
Labels: addons, api-addon

#1217 feat: 🎸 Add worker mirage mocks
  addons/api/mirage/config.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/api/mirage/models/worker.js
  addons/api/mirage/serializers/worker.js
Labels: addons, api-addon

#1219 Icu 5330 credentials crudl tests
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
Labels: ui, admin

#1211 feat: 🎸 add scope filtering to role/add-principals route
  ui/admin/app/controllers/scopes/scope/groups/group/add-members.js
  ui/admin/app/controllers/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
Labels: ui, admin

#1226 fix: 🐛 role discard should not error
  addons/api/addon/models/role.js
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/factories/credential.js
  addons/api/tests/unit/models/credential-test.js
Labels: addons, api-addon

#1225 chore: 🤖 introduce hcp edition for naming consistency
  .github/workflows/build-admin-ui.yaml
  package.json
  ui/admin/config/environment.js
  ui/admin/package.json
Labels: ui, admin

#1207 Icu 5167 Create codeblock component
  addons/rose/addon/components/rose/code-editor/field-editor/index.hbs
  addons/rose/addon/components/rose/code-editor/index.hbs
  addons/rose/addon/components/rose/code-editor/index.stories.mdx
  addons/rose/addon/components/rose/code-editor/toolbar/index.hbs
  addons/rose/addon/components/rose/code-editor/toolbar/index.js
  addons/rose/addon/components/rose/nav/link/index.stories.mdx
  addons/rose/addon/modifiers/code-mirror.js
  addons/rose/addon/modifiers/on-click-inside.js
  addons/rose/addon/modifiers/on-click-outside.js
  addons/rose/addon/styles/rose/components/_index.scss
  addons/rose/addon/styles/rose/components/code-editor/_index.scss
  addons/rose/addon/utilities/register-codemirror-hcl.js
  addons/rose/app/components/rose/code-editor.js
  addons/rose/app/components/rose/code-editor/field-editor.js
  addons/rose/app/components/rose/code-editor/toolbar.js
  addons/rose/app/modifiers/code-mirror.js
  addons/rose/ember-cli-build.js
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/code-editor-test.js
  addons/rose/tests/integration/components/rose/code-editor/field-editor-test.js
  addons/rose/tests/integration/components/rose/code-editor/toolbar-test.js
  yarn.lock
Labels: addons, styles-addon

#1228 fix: 🐛 change password route should not error
  addons/api/mirage/route-handlers/auth.js
  addons/api/mirage/scenarios/default.js
Labels: addons, api-addon
