Repository hashicorp/boundary-ui, pull requests merged in 2022-09, with the labels that each got.

#1269 Icu 5578 - introduce injected application credential on the api
  addons/api/addon/models/target.js
  addons/api/addon/serializers/target.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/models/target.js
  addons/api/mirage/route-handlers/target.js
  addons/api/mirage/serializers/target.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/target-test.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
Labels: ui, addons, admin, api-addon

#1289 chore: 🤖 add refreshRouteOnChange option to resource filters
  addons/core/addon/components/doc-link/index.hbs
  addons/core/addon/components/error/message/index.hbs
  addons/core/addon/components/form/authenticate/index.hbs
  addons/core/addon/components/form/authenticate/oidc/index.hbs
  addons/core/addon/components/form/authenticate/password/index.hbs
  addons/core/addon/components/loading-button/index.hbs
  addons/core/addon/components/pending-confirmations/index.hbs
  addons/core/addon/components/toolbar-refresher/index.hbs
  addons/core/addon/decorators/resource-filter.js
  addons/core/tests/dummy/app/templates/application.hbs
  addons/core/tests/integration/components/pending-confirmations-test.js
  addons/core/tests/integration/helpers/format-date-iso-test.js
  addons/core/tests/unit/authenticators/password-test.js
  addons/core/tests/unit/services/confirm-test.js
Labels: addons

#1283 refactor: 💡 add standalone server mocks to auth tests
  addons/auth/package.json
  addons/auth/tests/unit/authenticators/base-test.js
  addons/auth/tests/unit/authenticators/oidc-test.js
  addons/auth/tests/unit/authenticators/password-test.js
Labels: addons, auth-addon

#1294 Chore/enable quote rule
  addons/core/.template-lintrc.js
  addons/core/addon/components/image/index.hbs
  addons/rose/.template-lintrc.js
  ui/admin/.template-lintrc.js
  ui/desktop/.template-lintrc.js
Labels: addons

#1288 refactor: 💡 Add tab navigation to detailed worker view page
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
Labels: ui, ui/admin, admin

#1297 test: 💍 acceptance tests for injected credentials
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
Labels: ui, admin

#1284 fix: 🐛 Fix tag bug from moving where workers list is loaded
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/index.js
Labels: ui, admin

#1301 feat: 🎸 Enable Static Credentials flag for Production
  ui/admin/config/environment.js
Labels: ui, admin

#1302 chore: 🤖 enable ssh-target for production
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, desktop, admin

#1306 chore: 🤖 Add feature flags for dev and test environments
  ui/admin/config/environment.js
Labels: ui, admin

#1307 Chore/enable yaml formatting
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1305 feat: 🎸 Feature flag for `oss` and `hcp` binary
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/workers/create-test.js
Labels: ui, addons, admin

#1312 Icu 5990 api add worker filter attribute to credential store mirage mock
  addons/api/mirage/factories/credential-store.js
Labels: addons, api-addon

#1315 ICU 6044 Update detailed worker view
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/worker/index.hbs
Labels: ui, addons, admin, api-addon

#1314 ICU-6044 Update workers list view
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, addons, admin, api-addon

#1310 refactor: 💡 Add worker_filter to vault credential stores
  addons/api/addon/generated/models/credential-store.js
  addons/api/mirage/factories/credential-store.js
  addons/api/tests/unit/serializers/credential-store-test.js
Labels: addons, api-addon

#1313 feat: 🎸 Update worker model
  addons/api/addon/generated/models/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, addons, addons/api, admin, api-addon

#1316 chore: 🤖 Add new flag for vault-worker-filter, ENT/HCP only
  ui/admin/config/environment.js
Labels: ui, admin

#1317 chore: 🤖 disable features
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, desktop, admin

#1318 Icu 5991 UI add worker filter form field for vault type credential stores
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#1328 refactor: 💡 Update Quick Setup resource names
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
Labels: ui, admin

#1329 chore: 🤖 update quicksetup svg
  addons/core/public/resource-creation.svg
Labels: addons

#1326 feat: 🎸 update the tags badge in workers list view
  addons/api/addon/generated/models/worker.js
  addons/api/addon/models/worker.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, addons, admin, api-addon

#1330 refactor: 💡 Update Quick Setup Success screen button route
  ui/admin/app/routes/onboarding/quick-setup/create-resources/success.js
  ui/admin/tests/acceptance/onboarding/success-test.js
Labels: ui, admin

#1331 refactor: 💡 Update Host Catalog form labels and help text
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
Labels: addons

#1336 chore: 🤖 enable SSH Targets and Static Credential Store support
  ui/admin/config/environment.js
Labels: ui, admin

#1334 Update fieldset
  addons/rose/addon/components/rose/form/fieldset/index.hbs
  addons/rose/addon/components/rose/form/fieldset/index.stories.mdx
Labels: addons, styles-addon

#1332 feat: 🎸 Add optional icon for dropdown section
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/section/index.hbs
Labels: addons, styles-addon

#1338 refactor: 💡 translation fix
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
Labels: ui, admin

#1327 feat: 🎸 Update Detail Page to show Tags
  ui/admin/app/components/form/worker/index.hbs
Labels: ui, admin

#1325 Icu 6034 update tags in create page to support multi input fields
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.js
Labels: ui, admin

#1333 chore: 🤖 Host Set Updates
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/config/environment.js
Labels: ui, addons, admin

#1342 chore: 🤖 update host catalog ui
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/config/environment.js
Labels: ui, addons, admin

#1340 chore: 🤖 Update public worker address wording
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
Labels: ui, addons, admin

#1343 fix: 🐛 stop sending scope_id on cred libraries - ICU-6159
  addons/api/addon/serializers/credential-library.js
Labels: addons, api-addon

#1335 feat: 🎸 Make checkbox equality checks more general
  addons/rose/addon/components/rose/form/checkbox/group/index.hbs
  addons/rose/addon/components/rose/form/checkbox/group/index.js
  addons/rose/addon/components/rose/form/checkbox/group/index.stories.mdx
  addons/rose/tests/integration/components/rose/form/checkbox/group-test.js
Labels: addons, styles-addon

#1337 Icu 6036 update filter dropdown for tags in list view
  addons/api/addon/models/worker.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, addons, admin, api-addon

#1345 chore: 🤖 Enable BYOW feature
  ui/admin/config/environment.js
Labels: ui, admin

#1347 refactor: 💡 fix routing for static credentials from targets
  addons/api/addon/models/credential.js
  addons/api/tests/unit/models/credential-test.js
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/injected-application-credential-sources.hbs
Labels: ui, addons, admin, api-addon

#1348 feat: 🎸 Update workers list to be sorted
  ui/admin/app/routes/scopes/scope/workers/index.js
Labels: ui, admin

#1349 fix: 🐛 Add back div to fix tag icon badge layout
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, admin

#1350 Fix bug dc token env
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/models/session.js
Labels: ui, desktop

#1346 chore: 🤖 remove unused ssh-target feature flag
  ui/desktop/config/environment.js
Labels: ui, desktop

#1351 fix: 🐛 clear token on normalization
  addons/api/addon/serializers/credential-store.js
  addons/api/tests/unit/serializers/credential-store-test.js
  ui/admin/app/components/form/credential-store/vault/index.hbs
Labels: ui, addons, admin, api-addon

#1352 fix: 🐛 Sort workers when filtering is enabled as well
  ui/admin/app/routes/scopes/scope/workers/index.js
Labels: ui, admin

#1353 chore: 🤖 Update version and changelog for desktop
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1354 fix: 🐛 Fix raw api output not displaying codemirror properly
  addons/rose/addon/modifiers/code-mirror.js
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: ui, addons, desktop, styles-addon
