Repository hashicorp/boundary-ui, pull requests merged in 2022-02, with the labels that each got.

#939 Disable non-static hosts navigation
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/factories/host-set.js
  addons/api/mirage/factories/host.js
  ui/admin/app/abilities/host-catalog.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-navigation.hbs
Labels: ui, addons, admin, api-addon

#938 feat: 🎸 Add new fields to host-set model
  addons/api/addon/generated/models/host-set.js
  addons/api/addon/models/host-set.js
  addons/api/addon/serializers/host-set.js
  addons/api/mirage/factories/host-set.js
  addons/api/tests/unit/serializers/host-set-test.js
Labels: addons, api-addon

#940 Feat: typed host catalog form components for admin UI
  addons/api/addon/models/host-catalog.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/styles/rose/components/form/_radio-card.scss
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/controllers/scopes/scope/host-catalogs/new.js
  ui/admin/app/routes/scopes/scope/host-catalogs/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/new-test.js
Labels: ui, addons, admin, api-addon, styles-addon

#942 chore: host catalog form- add rest of the AWS and Azure fields
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
Labels: ui, addons, admin

#950 chore: 🤖 reuse name/description when changing instance type
  ui/admin/app/routes/scopes/scope/host-catalogs/new.js
Labels: ui, admin

#941 feat: 🎸 Add new fields to host
  addons/api/addon/models/fragment-host-attributes.js
  addons/api/addon/models/host.js
  addons/api/app/models/fragment-host-attributes.js
  addons/api/tests/unit/serializers/host-test.js
Labels: addons, api-addon

#947 Feat: typed host-set form components - edit and view
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/index.hbs
  ui/admin/app/components/form/host-set/static/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
Labels: ui, addons, admin

#952 Feat: typed host set creation
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
Labels: ui, admin

#954 chore: 🤖 hide actions for plugin typed hosts
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.hbs
Labels: ui, admin

#953 refactor: 💡 Refactor app normalize and host catalog normalize
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/host-catalog.js
  addons/api/tests/unit/serializers/host-catalog-test.js
Labels: addons, api-addon

#956 fix: 🐛 Fix filter field for host-set in mirage
  addons/api/mirage/factories/host-set.js
Labels: addons, api-addon

#955 Consolidate plugin provider translations
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
Labels: ui, addons, admin

#957 feat: 🎸 Add host fields to mirage
  addons/api/mirage/factories/host.js
  addons/api/mirage/generated/factories/host.js
Labels: addons, api-addon

#963 fix: 🐛 static host creation address field
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
Labels: ui, admin

#959 Refactor nested fields serialisation.
  addons/api/addon/generated/models/host-catalog.js
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/host-catalog.js
Labels: addons, api-addon

#961 updates to host-set plugin filters
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/index.hbs
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
Labels: ui, admin

#964 refactor: 💡 consolidate host catalog type badges to component
  addons/api/addon/models/host-set.js
  addons/api/tests/unit/models/host-set-test.js
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/components/host-catalog-type-badge/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
Labels: ui, addons, admin, api-addon

#962 fix: append ?plugin_name to dynamic host catalog create requests
  addons/api/addon/adapters/host-catalog.js
  addons/api/app/adapters/host-catalog.js
  addons/api/mirage/config.js
  addons/api/tests/unit/adapters/host-catalog-test.js
Labels: addons, api-addon

#960 chore: 🤖 updates to labels
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
  ui/admin/app/components/host-catalog-type-badge/index.hbs
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
Labels: ui, addons, admin

#967 Expose disable credential rotation field
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.js
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/routes/scopes/scope/host-catalogs/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
Labels: ui, addons, admin

#969 fix: 🐛 Fix host mock data attributes
  addons/api/mirage/factories/host.js
  addons/api/mirage/generated/factories/host.js
Labels: addons, api-addon

#968 chore: 🤖 show ip_address in host aws and azure
  addons/core/translations/en-us.yaml
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
Labels: ui, addons, admin

#970 Add link
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#971 fix: 🐛 multiple labels
  ui/admin/app/components/form/host/aws/index.hbs
Labels: ui, admin

#972 fix: 🐛 Refactor host-set dropdown separator
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/-actions.hbs
Labels: ui, admin

#973 fix: 🐛 missed value field
  ui/admin/app/components/form/host-catalog/azure/index.hbs
Labels: ui, admin

#976 fix helper text for secret acc value
  addons/core/translations/form/en-us.yaml
Labels: addons

#975 fix: 🐛 Fix host list table missing address field
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
Labels: ui, desktop

#979 chore: support `filters` when it is a string by converting to an array
  addons/api/addon/serializers/host-set.js
Labels: addons, api-addon

#974 chore: 🤖 add preferred endpoitns
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/styles/rose/components/form/_input.scss
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
Labels: ui, addons, admin, styles-addon

#978 Delete unnecessary else clause in host list within targets
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
Labels: ui, desktop

#981 fix: 🐛 Host address field shows value for type plugin
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
Labels: ui, desktop

#982 feat: 🎸 Bump binary version
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#983 chore: 🤖 Update ember-cli-storybook dep
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#987 chore: 🤖 Update ember-cli-htmlbars
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#990 Revert "chore: 🤖 Update ember-cli-htmlbars"
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#984 chore: 🤖 Update babel-plugin-ember-modules-api-polyfill
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#985 feat: 🎸 Update @ember/test-helpers
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#986 chore: 🤖 Update doctoc
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#989 chore: 🤖 Update ember named blocks polyfill
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, styles-addon

#943 chore: 🤖 satisfy argument-less-helper-paren-less-invocation
  addons/core/addon/components/doc-link/index.hbs
  package.json
  ui/admin/app/templates/application.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/origin.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/index.hbs
  yarn.lock
Labels: ui, addons, desktop, admin

#945 refactor: 💡 resolve legacy-attribute-arguments deprecations
  addons/rose/addon/components/rose/nav/breadcrumbs/index.hbs
  addons/rose/addon/components/rose/nav/link/index.hbs
  addons/rose/addon/components/rose/nav/link/index.stories.mdx
  addons/rose/addon/components/rose/nav/sidebar/index.hbs
  addons/rose/addon/components/rose/nav/tabs/index.hbs
  addons/rose/addon/styles/rose/components/nav/_breadcrumbs.scss
  addons/rose/app/components/rose/nav/link.js
  addons/rose/tests/integration/components/rose/nav/breadcrumbs-test.js
  addons/rose/tests/integration/components/rose/nav/link-test.js
Labels: addons, styles-addon

#949 Refactor breadcrumbs component
  ui/admin/app/components/bread-crumbs.js
  ui/admin/package.json
  yarn.lock
Labels: ui, admin

#977 chore: 🤖 add read-only host route for dynamic hosts
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host-test.js
  ui/admin/tests/unit/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host-test.js
  ui/admin/tests/unit/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host/index-test.js
  ui/admin/tests/unit/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index-test.js
Labels: ui, admin

#991 chore: 🤖 Add resolutions engine.io
  package.json
  yarn.lock
Labels: dependencies

#994 chore: 🤖 Update flight icons
  addons/rose/package.json
  yarn.lock
Labels: dependencies

#992 chore: 🤖 Add resolutions markdown it
  package.json
  yarn.lock
Labels: dependencies

#993 chore: 🤖 Add resolutions mout
  package.json
  yarn.lock
Labels: dependencies

#996 chore: 🤖 Add nanoid to resolutions
  package.json
  yarn.lock
Labels: dependencies

#997 chore: 🤖 Update resolutions follow-redirects
  package.json
  yarn.lock
Labels: dependencies

#1000 chore: 🤖 Update ember-page-title
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1004 feat: 🎸 Display DNS names for AWS hosts in Admin UI
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host/aws/index.hbs
Labels: ui, addons, admin

#1002 refactor: 💡 Deprecate ember-try
  .gitignore
  addons/api/.eslintignore
  addons/api/.npmignore
  addons/api/.prettierignore
  addons/api/config/ember-try.js
  addons/api/package.json
  addons/auth/.eslintignore
  addons/auth/.npmignore
  addons/auth/.prettierignore
  addons/auth/config/ember-try.js
  addons/auth/package.json
  addons/core/.eslintignore
  addons/core/.npmignore
  addons/core/.prettierignore
  addons/core/config/ember-try.js
  addons/core/package.json
  addons/rose/.eslintignore
  addons/rose/.npmignore
  addons/rose/.prettierignore
  addons/rose/config/ember-try.js
  addons/rose/package.json
  ui/admin/.eslintignore
  ui/admin/.prettierignore
  ui/desktop/.eslintignore
  ui/desktop/.gitignore
  ui/desktop/.prettierignore
  yarn.lock
Labels: addons, dependencies, api-addon, auth-addon, styles-addon

#1003 chore: 🤖 Deprecate ember-source-channel-url
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
Labels: addons, dependencies, api-addon, auth-addon, styles-addon

#998 feat: 🎸 Combine columns on target host list for desktop
  addons/core/translations/form/en-us.yaml
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
Labels: ui, addons, desktop

#1006 chore: 🤖 Update prism js resolutions version
  package.json
  yarn.lock
Labels: dependencies
