Repository hashicorp/boundary-ui, pull requests merged in 2022-06, with the labels that each got.

#1118 chore: 🤖 stub out onboarding routes
  ui/admin/app/router.js
  ui/admin/app/routes/onboarding/quick-setup/choose-path.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/onboarding/quick-setup/success.js
  ui/admin/app/templates/onboarding/quick-setup/choose-path.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources.hbs
  ui/admin/app/templates/onboarding/quick-setup/success.hbs
  ui/admin/tests/unit/routes/onboarding/quick-setup/choose-path-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/create-resources-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/success-test.js
Labels: ui, admin

#1123 Chore onboarding routing logic
  addons/core/translations/errors/en-us.yaml
  ui/admin/app/router.js
  ui/admin/app/routes/onboarding/quick-setup/choose-path.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/onboarding/quick-setup/success.js
  ui/admin/app/routes/scopes/scope/onboarding/quick-setup/choose-path.js
  ui/admin/app/routes/scopes/scope/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/scopes/scope/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/choose-path.hbs
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/create-resources.hbs
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/create-resources/index.hbs
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/create-resources/success.hbs
  ui/admin/tests/unit/routes/onboarding/quick-setup/choose-path-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/success-test.js
  ui/admin/tests/unit/routes/scopes/scope/onboarding/quick-setup/choose-path-test.js
  ui/admin/tests/unit/routes/scopes/scope/onboarding/quick-setup/create-resources-test.js
  ui/admin/tests/unit/routes/scopes/scope/onboarding/quick-setup/create-resources/success-test.js
Labels: ui, addons, admin

#1126 Chore include terminated
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
Labels: ui, desktop, admin

#1127 create new image component
  addons/core/addon/components/image/index.hbs
  addons/core/app/components/image.js
  addons/core/public/resource-creation.svg
  addons/core/tests/integration/components/image-test.js
Labels: addons

#1125 chore: 🤖 Update electron from 13 to 14
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1128 Fix rose peer dependencies
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#1101 docs: ✏️ Update docs for yarn scripts
  addons/api/README.md
  addons/api/package.json
  addons/auth/README.md
  addons/auth/package.json
  addons/core/README.md
  addons/core/addon/components/form/authenticate/index.hbs
  addons/core/package.json
  addons/rose/README.md
  addons/rose/package.json
Labels: addons, api-addon, auth-addon, styles-addon

#1124 feat: 🎸 Create form to choose onboarding guide path
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/onboarding/choose-path/index.hbs
  ui/admin/app/components/form/onboarding/choose-path/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/choose-path.hbs
  ui/admin/tests/acceptance/onboarding/choose-path-test.js
Labels: ui, addons, admin

#1129 Icu 4556 create a quick setup screen
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  ui/admin/app/components/form/onboarding/create-resources/index.hbs
  ui/admin/app/components/form/onboarding/create-resources/index.js
  ui/admin/app/routes/scopes/scope/onboarding/quick-setup/create-resources.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/create-resources.hbs
  ui/admin/app/templates/scopes/scope/onboarding/quick-setup/create-resources/index.hbs
  ui/admin/tests/acceptance/onboarding/create-resource-test.js
Labels: ui, addons, admin

#1131 chore: move onboarding to top level
  ui/admin/app/router.js
  ui/admin/app/routes/onboarding.js
  ui/admin/app/routes/onboarding/quick-setup/choose-path.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/routes/scopes/scope/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/templates/onboarding.hbs
  ui/admin/app/templates/onboarding/quick-setup/choose-path.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources/index.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
  ui/admin/tests/acceptance/onboarding/choose-path-test.js
  ui/admin/tests/acceptance/onboarding/create-resource-test.js
  ui/admin/tests/unit/routes/onboarding-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/choose-path-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/create-resources-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/create-resources/success-test.js
  ui/admin/tests/unit/routes/scopes/scope/onboarding/quick-setup/create-resources/success-test.js
Labels: ui, admin

#1132 Create successful resource creation screen
  addons/core/public/logo-app-background.svg
  addons/core/public/targets.svg
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/rose/addon/styles/rose/components/_icon.scss
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/onboarding/success-test.js
Labels: ui, addons, admin, styles-addon

#1134 transition to target lists when the resource creation is successful
  ui/admin/app/routes/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/onboarding/success-test.js
Labels: ui, admin

#1136 Chore onboarding route
  ui/admin/app/routes/onboarding.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/index.js
  ui/admin/app/routes/scopes/scope/scopes.js
Labels: ui, admin

#1135 feat: 🎸 Add Controller URL component to Success screen
  addons/core/translations/en-us.yaml
  ui/admin/app/routes/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/quick-setup/create-resources/index.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
  ui/admin/tests/acceptance/onboarding/success-test.js
Labels: ui, addons, admin

#1137 refactor: 💡 Remove default value for IP address and port
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/tests/acceptance/onboarding/create-resource-test.js
Labels: ui, admin

#1138 chore: 🤖 Disable ssh feature work
  ui/admin/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, desktop, admin

#1139 chore: apply darker color theme to sidebar
  addons/rose/addon/styles/rose/components/header/_dropdown.scss
  addons/rose/addon/styles/rose/components/layout/_global.scss
  addons/rose/addon/styles/rose/components/layout/_sidebar.scss
  addons/rose/addon/styles/rose/components/nav/_sidebar.scss
Labels: addons, styles-addon

#1140 refactor: 💡 Update routing to use project id in quick-start
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/tests/acceptance/onboarding/create-resource-test.js
Labels: ui, admin

#1142 Chore add onboarding role
  addons/core/translations/en-us.yaml
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
Labels: ui, addons, admin

#1145 Add minimum support for static credential stores to admin UI
  addons/api/addon/abilities/credential-store.js
  addons/api/addon/models/credential-store.js
  addons/api/app/abilities/credential-store.js
  addons/api/mirage/factories/credential-store.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/credential-sources.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/tests/acceptance/credential-library/read-test.js
Labels: ui, addons, admin, api-addon

#1147 fix: grant scope field should be functional
  addons/api/addon/models/role.js
  ui/admin/app/components/form/role/index.hbs
  ui/admin/app/components/form/role/index.js
Labels: ui, addons, admin, api-addon

#1146 chore: 🤖 update to credential source
  addons/api/addon/models/session.js
  addons/api/mirage/scenarios/ipc.js
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
Labels: ui, addons, desktop, api-addon

#1148 refactor: 💡 Remove template file to fix onboarding flow titles
  ui/admin/app/templates/onboarding/quick-setup/create-resources.hbs
Labels: ui, admin

#1141 chore: bump up release version and Update change log
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1151 Chore upgrade desktop dependencies
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1150 Use precommit hooks
  .husky/pre-commit
  .husky/prepare-commit-msg
  README.md
  addons/api/.eslintrc.js
  addons/api/package.json
  addons/auth/.eslintrc.js
  addons/auth/package.json
  addons/core/.eslintrc.js
  addons/core/package.json
  addons/rose/.eslintrc.js
  addons/rose/package.json
  package.json
  ui/admin/.eslintrc.js
  ui/admin/package.json
  ui/desktop/.eslintrc.js
  ui/desktop/.stylelintrc.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1154 fix: 🐛 Lock file discrepancy
  yarn.lock
Labels: dependencies

#1152 Chore upgrade desktop dependencies 2
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1153 chore: 🤖 Upgrade @babel/core
  addons/api/package.json
  addons/rose/package.json
  ui/admin/package.json
  yarn.lock
Labels: ui, addons, dependencies, admin, api-addon, styles-addon

#1160 fix: 🐛 overflow dropdown ui issue
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1156 Refactor attributes fragments
  addons/api/addon/generated/models/account.js
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/generated/models/credential-store.js
  addons/api/addon/generated/models/managed-group.js
  addons/api/addon/models/account.js
  addons/api/addon/models/credential-library.js
  addons/api/addon/models/credential-store.js
  addons/api/addon/models/fragment-account-attributes.js
  addons/api/addon/models/fragment-credential-library-attributes.js
  addons/api/addon/models/fragment-credential-store-attributes.js
  addons/api/addon/models/fragment-managed-group-attributes.js
  addons/api/addon/models/managed-group.js
  addons/api/addon/serializers/account.js
  addons/api/addon/serializers/credential-library.js
  addons/api/addon/serializers/credential-store.js
  addons/api/addon/serializers/fragment-account-attributes.js
  addons/api/addon/serializers/fragment-credential-library-attributes.js
  addons/api/addon/serializers/fragment-credential-store-attributes.js
  addons/api/addon/serializers/fragment-managed-group-attributes.js
  addons/api/app/models/fragment-account-attributes.js
  addons/api/app/models/fragment-credential-library-attributes.js
  addons/api/app/models/fragment-credential-store-attributes.js
  addons/api/app/models/fragment-managed-group-attributes.js
  addons/api/app/serializers/fragment-account-attributes.js
  addons/api/app/serializers/fragment-credential-library-attributes.js
  addons/api/app/serializers/fragment-credential-store-attributes.js
  addons/api/app/serializers/fragment-managed-group-attributes.js
  addons/api/tests/unit/models/account-test.js
  addons/api/tests/unit/models/fragment-credential-library-attributes-test.js
  addons/api/tests/unit/models/fragment-credential-store-attributes-test.js
  addons/api/tests/unit/models/fragment-managed-group-attributes-test.js
  addons/api/tests/unit/serializers/account-test.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/api/tests/unit/serializers/credential-store-test.js
  addons/api/tests/unit/serializers/fragment-account-attributes-test.js
  addons/api/tests/unit/serializers/fragment-credential-library-attributes-test.js
  addons/api/tests/unit/serializers/fragment-credential-store-attributes-test.js
  addons/api/tests/unit/serializers/fragment-managed-group-attributes-test.js
  addons/api/tests/unit/serializers/managed-group-test.js
  ui/admin/app/components/form/account/oidc/index.hbs
  ui/admin/app/components/form/account/password/index.hbs
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/credential-library/index.js
  ui/admin/app/components/form/credential-store/index.hbs
  ui/admin/tests/acceptance/credential-library/create-test.js
Labels: ui, addons, admin, api-addon

#1155 Chore update babel eslint parser
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1158 chore: 🤖 Update @ember/render-modifiers
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop, admin

#1161 chore: 🤖 Update @glimmer
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1162 chore: 🤖 Update @hashicorp/flight-icons
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#1163 chore: 🤖 Update babel-loader
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, styles-addon

#1164 chore: 🤖 Update Cross OS
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop

#1165 Chore update doctoc
  addons/api/package.json
  addons/auth/package.json
  addons/core/README.md
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1169 fix: 🐛 unable to filter for terminated sessions
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, desktop, admin

#1157 chore: 🤖 Update @babel/plugin-proposal-decorators
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon
