Repository hashicorp/boundary-ui, pull requests merged in 2022-05, with the labels that each got.

#1091 fix: 🐛 Reduced extra padding in tables
  addons/rose/addon/styles/rose/components/table/_table.scss
Labels: addons, styles-addon

#1098 Add toolbar regions to align refresh button to the right
  addons/rose/addon/components/rose/toolbar/index.hbs
  addons/rose/addon/components/rose/toolbar/index.stories.mdx
  addons/rose/addon/styles/rose/components/toolbar/_toolbar.scss
  addons/rose/package.json
  addons/rose/tests/dummy/app/controllers/index.js
  addons/rose/tests/dummy/app/templates/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, addons, desktop, admin, styles-addon

#1100 Update polling intervarl
  ui/desktop/config/environment.js
Labels: ui, desktop

#1094 feat: 🎸 Add feature editions
  package.json
  ui/admin/config/environment.js
  ui/admin/package.json
Labels: ui, admin

#1095 refactor: 💡 Avoid lint warning
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
Labels: ui, desktop, admin

#1102 Update polling interval to 300 seconds (5 minutes)
  ui/admin/config/environment.js
Labels: ui, admin

#1103 chore: 🤖 Add lzma-native and appdmg to resolutions
  package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, desktop

#1108 fix: 🐛 add featureflag to target creation template
  ui/admin/app/components/form/target/details/index.hbs
Labels: ui, admin

#1107 fix: 🐛 Update validateOrigin to throw error on bad request
  ui/desktop/electron-app/src/models/runtime-settings.js
Labels: ui, desktop

#1109 refactor: 💡 Update language to use Sign In and Sign Out
  addons/core/tests/integration/components/error/message-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/errors/en-us.yaml
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, addons, desktop

#1113 chore: 🤖 display auth method names in auth form, if available
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#1112 fix: 🐛 Use more common hasOwnProperty and don't modify payload
  addons/api/addon/serializers/application.js
Labels: addons, api-addon

#1111 refactor: 💡 Update deprecated new window handler
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop
