Repository hashicorp/boundary-ui, pull requests merged in 2022-01, with the labels that each got.

#887 refactor: 💡 copyable component no longer uses ember-concurrency
  ui/admin/app/components/copyable/index.js
  ui/desktop/app/components/copyable/index.js
Labels: ui, desktop, admin

#888 chore: 🤖 upgrade babel deps
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#890 chore: upgrade to ember-loading 2.0.0
  addons/core/package.json
  ui/admin/app/routes/application.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/groups/group/members.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/host-sources.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/user/accounts.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  yarn.lock
Labels: ui, addons, desktop, admin

#891 Refactor transitions
  addons/core/addon/decorators/resource-filter.js
  ui/admin/app/routes/account.js
  ui/admin/app/routes/account/change-password.js
  ui/admin/app/routes/index.js
  ui/admin/app/routes/scopes/index.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/authenticate.js
  ui/admin/app/routes/scopes/scope/authenticate/index.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/edit.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/index.js
  ui/admin/app/routes/scopes/scope/new.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/scopes.js
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
  ui/admin/app/styles/app.scss
  ui/desktop/app/routes/index.js
  ui/desktop/app/routes/origin.js
  ui/desktop/app/routes/scopes/index.js
  ui/desktop/app/routes/scopes/scope/authenticate.js
  ui/desktop/app/routes/scopes/scope/authenticate/index.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/routes/scopes/scope/index.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, addons, desktop, admin

#894 fix: 🐛 update field name
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
Labels: ui, admin

#895 Feat: add link support to helper text component
  addons/rose/addon/components/rose/form/helper-text/index.hbs
  addons/rose/addon/components/rose/form/helper-text/index.stories.mdx
Labels: addons, styles-addon

#897 Feat: Add support for helper links to inputs, and textareas
  addons/rose/addon/components/rose/form/input/index.hbs
  addons/rose/addon/components/rose/form/input/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.hbs
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
Labels: addons, styles-addon

#892 refactor: 💡 refactor due to router events deprecations
  ui/admin/app/routes/application.js
Labels: ui, admin

#893 refactor: 💡 remove deprecated renderTemplate usage in desktop
  ui/desktop/app/controllers/scopes/scope.js
  ui/desktop/app/routes/scopes/scope.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes/scope.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#898 chore: 🤖 specify only LTS node versions in packages
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#896 Refactor render targets
  ui/admin/app/components/targets/target/actions/index.hbs
  ui/admin/app/components/targets/target/header/index.hbs
  ui/admin/app/components/targets/target/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target.js
  ui/admin/app/routes/scopes/scope/targets/target/add-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/templates/scopes/scope/targets/target.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-credential-sources/-header.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-host-sources/-header.hbs
  ui/admin/app/templates/scopes/scope/targets/target/credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
Labels: ui, admin

#899 chore: 🤖 Update ember render modifiers
  ui/admin/app/styles/app.scss
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop, admin

#902 updates to rose radio component
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/components/rose/form/radio/radio/index.js
Labels: addons, styles-addon

#900 feat: 🎸 Add host catalog type basic support
  addons/api/addon/generated/models/host-catalog.js
  addons/api/addon/models/host-catalog.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/tests/unit/models/host-catalog-test.js
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
Labels: ui, addons, admin, api-addon

#903 chore: 🤖 Update flight icons to 2.0
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#908 fix: 🐛 Fix unmet peer dependency
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#909 fix: 🐛 Fix storybook theming unmet peer dependency
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#910 Support nested attributes with no dependencies
  addons/api/addon/adapters/application.js
  addons/api/addon/models/fragment-target-attributes.js
  addons/api/addon/models/target.js
  addons/api/addon/serializers/application.js
  addons/api/app/models/fragment-target-attributes.js
  addons/api/tests/unit/serializers/target-test.js
  ui/admin/app/components/form/target/index.hbs
Labels: ui, addons, admin, api-addon

#904 Refactor user usage of renderTemplate
  ui/admin/app/components/users/user/actions/index.hbs
  ui/admin/app/components/users/user/header/index.hbs
  ui/admin/app/components/users/user/nav/index.hbs
  ui/admin/app/routes/scopes/scope/users/user.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
  ui/admin/app/templates/scopes/scope/users/user.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/app/templates/scopes/scope/users/user/add-accounts.hbs
  ui/admin/app/templates/scopes/scope/users/user/add-accounts/-header.hbs
  ui/admin/app/templates/scopes/scope/users/user/index.hbs
Labels: ui, admin

#905 Refactor auth methods usage of renderTemplate
  addons/api/addon/models/auth-method.js
  addons/api/mirage/config.js
  ui/admin/app/components/auth-methods/auth-method/accounts/account/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/accounts/account/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/accounts/account/nav/index.hbs
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/nav/index.hbs
  ui/admin/app/components/auth-methods/auth-method/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/new.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/new.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/set-password.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/set-password/-header.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/new.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/new/-header.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new/-header.hbs
Labels: ui, addons, admin, api-addon

#911 fix: 🐛 Fix jest unmet peer dependency
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#912 chore: 🤖 Update ember-cli to 4.1
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#913 feat: 🎸 Add fields to host-catalog model
  addons/api/addon/generated/models/host-catalog.js
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/host-catalog.js
  addons/api/app/serializers/host-catalog.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/scenarios/default.js
  addons/api/tests/unit/serializers/host-catalog-test.js
Labels: addons, api-addon

#915 chore: 🤖 Update ember cli htmlbars
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#922 Revert "chore: 🤖 Update ember cli htmlbars"
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#916 Remove renderTemplate usage from roles resource
  ui/admin/app/components/roles/role/actions/index.hbs
  ui/admin/app/components/roles/role/header/index.hbs
  ui/admin/app/components/roles/role/nav/index.hbs
  ui/admin/app/routes/scopes/scope/roles/role.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/templates/scopes/scope/roles/role.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals/-header.hbs
  ui/admin/app/templates/scopes/scope/roles/role/grants.hbs
  ui/admin/app/templates/scopes/scope/roles/role/grants/-header.hbs
  ui/admin/app/templates/scopes/scope/roles/role/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals/-header.hbs
Labels: ui, admin

#917 Remove renderTemplate usage from groups resource
  ui/admin/app/components/groups/group/actions/index.hbs
  ui/admin/app/components/groups/group/header/index.hbs
  ui/admin/app/components/groups/group/nav/index.hbs
  ui/admin/app/routes/scopes/scope/groups/group.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/templates/scopes/scope/groups/group.hbs
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/groups/group/add-members/-header.hbs
  ui/admin/app/templates/scopes/scope/groups/group/index.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
Labels: ui, admin

#919 chore: 🤖 Add follow-redirects to resolutions
  package.json
  yarn.lock
Labels: dependencies

#918 Remove renderTemplate usage from credential stores & libraries resources
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/header/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.js
  ui/admin/app/controllers/scopes/scope/credential-stores/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-actions.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-header.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/-navigation.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new/-header.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/index.hbs
Labels: ui, admin

#907 Feat: create radio card component
  addons/rose/addon/components/rose/form/radio/card/index.js
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/styles/rose/components/form/_index.scss
  addons/rose/addon/styles/rose/components/form/_radio-card.scss
  addons/rose/app/components/rose/form/radio/card.js
  addons/rose/tests/integration/components/rose/form/radio/card-test.js
Labels: addons, styles-addon

#924 feat: add radiocard support to group
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.hbs
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/styles/rose/components/form/_radio-card.scss
Labels: addons, styles-addon

#925 feat: 🎸 Add basic type support for host-set
  addons/api/addon/generated/models/host-set.js
  addons/api/addon/models/host-set.js
  addons/api/mirage/factories/host-set.js
  addons/api/tests/unit/models/host-set-test.js
Labels: addons, api-addon

#927 feat: 🎸 Add type badges for host-set
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
Labels: ui, admin

#929 Add support for "unknown" dynamic host catalogs
  addons/api/addon/abilities/host-catalog.js
  addons/api/addon/models/host-catalog.js
  addons/api/app/abilities/host-catalog.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/mirage/scenarios/default.js
  addons/api/tests/unit/models/host-catalog-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
Labels: ui, addons, admin, api-addon

#928 feat: 🎸 Add host type basic support
  addons/api/addon/generated/models/host.js
  addons/api/addon/models/host.js
  addons/api/mirage/factories/host.js
  addons/api/tests/unit/models/host-test.js
Labels: addons, api-addon

#931 feat: 🎸 Add type badges to host
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
Labels: ui, admin

#937 Unify model and collection abilities
  addons/api/addon/abilities/collection.js
  addons/api/addon/abilities/model.js
  addons/api/app/abilities/collection.js
  addons/api/tests/unit/abilities/collection-test.js
  addons/api/tests/unit/abilities/model-test.js
  ui/admin/app/abilities/collection.js
  ui/admin/app/abilities/model.js
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/nav/index.hbs
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-actions.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/-navigation.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/unit/abilities/collection-test.js
  ui/desktop/app/abilities/collection.js
  ui/desktop/app/abilities/model.js
  ui/desktop/config/environment.js
  ui/desktop/tests/unit/abilities/collection-test.js
Labels: ui, addons, desktop, admin, api-addon

#933 fix: 🐛 Fix babel plugin unmet peer dependency in Rose
  addons/rose/package.json
  yarn.lock
Labels: addons, dependencies, styles-addon

#934 chore: 🤖 Add node-fetch to resolutions for security vul
  package.json
  yarn.lock
Labels: dependencies

#935 chore: 🤖 Add node-fetch desktop resolutions
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#936 chore: 🤖 Add shelljs to resolutions
  package.json
  yarn.lock
Labels: dependencies
