Repository hashicorp/boundary-ui, pull requests merged in 2023-06, with the labels that each got.

#1702 refactor: 💡 remove type column from Workers table in Admin UI
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, admin

#1699 style: 💄 Delete old comment code
  ui/admin/app/templates/scopes/scope.hbs
Labels: ui, admin

#1704 chore: 🤖 Update worker binary name to just boundary
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/tests/acceptance/workers/create-test.js
Labels: ui, admin

#1697 Icu 9412 refactor rose form actions to use hds buttons
  addons/rose/addon/components/rose/form/actions/edit-toggle/index.hbs
  addons/rose/addon/components/rose/form/actions/index.hbs
  addons/rose/addon/components/rose/form/actions/index.js
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  addons/rose/tests/integration/components/rose/form/actions-test.js
  addons/rose/tests/integration/components/rose/form/actions/edit-toggle-test.js
  ui/admin/app/components/form/onboarding/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/onboarding/onboarding-test.js
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, admin, styles-addon

#1703 fix: 🐛 increase auth form width, which was too narrow
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1707 Optimise Desktop API queries
  addons/api/mirage/factories/session.js
  addons/api/mirage/scenarios/default.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
  ui/desktop/tests/acceptance/projects/targets/hosts-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/acceptance/targets-test.js
Labels: ui, addons, desktop, api-addon

#1709 fix: 🐛 add margin for button sets
  addons/rose/addon/styles/hds/overrides.scss
Labels: addons, styles-addon

#1711 fix: 🐛 worker form navigation
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/worker/index.js
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
Labels: ui, admin

#1712 chore: 🤖 Update changelog and version for desktop
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1727 Chore icu 9123 upgrade storybook
  addons/rose/.storybook/main.js
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1720 chore: 🤖 upgrade to HDS 2.7
  addons/rose/addon/components/rose/form/actions/edit-toggle/index.hbs
  addons/rose/addon/styles/hds/overrides.scss
  addons/rose/package.json
  ui/admin/tests/integration/components/info-field-test.js
  yarn.lock
Labels: ui, addons, admin, styles-addon

#1736 chore: 🤖 Deprecate cross-os
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1740 chore: 🤖 Upgrade semver within electron-app
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1741 Chore icu 9079 audit resolutions
  package.json
  yarn.lock
Labels: dependencies

#1743 fix: 🐛 Add header for dynamic host catalog hosts page
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/hosts/host/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/hosts/host/navigation/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/host/index.hbs
Labels: ui, admin

#1744 Icu 9881 remove use of rose form textarea from admin UI
  ui/admin/app/components/form/account/oidc/index.hbs
  ui/admin/app/components/form/account/password/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/credential/json/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/form/group/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/static/index.hbs
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/components/form/user/index.hbs
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
Labels: ui, admin

#1750 chore: 🤖 Update semver
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1746 refactor: 💡 add support for named block content in form actions
  addons/core/addon/components/form/authenticate/details/index.hbs
  addons/core/addon/components/form/authenticate/oidc/index.hbs
  addons/rose/addon/components/rose/form/actions/edit-toggle/index.hbs
  addons/rose/addon/components/rose/form/actions/index.hbs
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/cluster-url.hbs
Labels: ui, addons, desktop, admin, styles-addon
