Repository hashicorp/boundary-ui, pull requests merged in 2023-11, with the labels that each got.

#1974 fix: 🐛 Add read:self permission for sessions in ability check
  addons/api/addon/abilities/session.js
  addons/api/tests/unit/abilities/session-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
Labels: ui, addons, desktop, api-addon

#1975 Session permissions issue
  addons/api/addon/models/session.js
  addons/api/tests/unit/models/session-test.js
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/desktop/app/components/session/tabs/index.hbs
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, addons, desktop, admin, api-addon

#1976 Fix electron clipboard action
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#1979 refactor: 💡 remove unused target/sessions controller
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
Labels: ui, desktop

#1973 chore: 🤖 Upgrade addons/rose dependencies
  addons/api/package.json
  addons/core/package.json
  addons/rose/.ember-cli
  addons/rose/.eslintrc.js
  addons/rose/.npmignore
  addons/rose/.stylelintignore
  addons/rose/.template-lintrc.js
  addons/rose/addon/components/rose/button/index.hbs
  addons/rose/addon/components/rose/dropdown/button/index.hbs
  addons/rose/ember-cli-build.js
  addons/rose/package.json
  addons/rose/tests/dummy/config/ember-cli-update.json
  addons/rose/tests/dummy/config/ember-try.js
  addons/rose/tests/dummy/config/environment.js
  addons/rose/tests/integration/components/rose/anonymous-test.js
  addons/rose/tests/integration/components/rose/button-test.js
  addons/rose/tests/integration/components/rose/card/link-test.js
  addons/rose/tests/integration/components/rose/dropdown/button-test.js
  addons/rose/tests/integration/components/rose/form/actions-test.js
  addons/rose/tests/integration/components/rose/form/actions/edit-toggle-test.js
  addons/rose/tests/integration/components/rose/layout/body-content-test.js
  addons/rose/tests/integration/components/rose/layout/page-test.js
  addons/rose/tests/integration/components/rose/table/row-test.js
  addons/rose/tests/integration/components/rose/table/row/cell-test.js
  addons/rose/tests/integration/helpers/set-from-event-test.js
  ui/admin/app/components/form/role/grants/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  yarn.lock
Labels: ui, addons, admin, api-addon, styles-addon

#1980 feat: 🎸 Add checks for cancel permissions in desktop sessions
  addons/api/addon/abilities/session.js
  addons/api/addon/models/session.js
  addons/api/mirage/factories/session.js
  addons/api/tests/unit/abilities/session-test.js
  addons/rose/app/styles/rose/components/layout/_body-content.scss
  ui/desktop/app/components/session/tabs/index.hbs
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, addons, desktop, api-addon, styles-addon

#1982 fix: 🐛 Fix issue with brokered credentials that overflow
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1984 refactor: 💡 allow target connection even with no read ability
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
Labels: ui, desktop

#1985 chore: 🤖 update cli version & changelog in desktop
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1987 feat: 🎸 Add initial setup for client daemon integration
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/services/session.js
  ui/desktop/electron-app/src/helpers/net-request-promise.js
  ui/desktop/electron-app/src/helpers/request-promise.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/models/runtime-settings.js
  ui/desktop/electron-app/src/services/client-daemon-manager.js
  ui/desktop/tests/helpers/window-mock-ipc.js
  ui/desktop/tests/unit/services/session-test.js
Labels: ui, addons, desktop, api-addon

#1988 chore: 🤖 Upgrading to Ember 4.12.2
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  ui/admin/.ember-cli
  ui/admin/.eslintrc.js
  ui/admin/.stylelintignore
  ui/admin/.template-lintrc.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/config/ember-cli-update.json
  ui/admin/config/environment.js
  ui/admin/ember-cli-build.js
  ui/admin/package.json
  ui/admin/tests/integration/components/copyable-test.js
  ui/admin/tests/integration/components/form/field/json-secret-skeleton-test.js
  ui/admin/tests/integration/components/form/field/list-wrapper-test.js
  ui/admin/tests/integration/components/info-field-test.js
  ui/admin/tests/integration/components/ordered-series-diagram/group/index-test.js
  ui/admin/tests/integration/components/ordered-series-diagram/index-test.js
  ui/admin/tests/integration/components/ordered-series-diagram/item/index-test.js
  ui/admin/tests/integration/helpers/can-test.js
  yarn.lock
Labels: ui, ui/admin, addons, admin, api-addon, auth-addon

#1992 fix: 🐛 Fix broken hot reloading for desktop client
  ui/desktop/electron-app/src/config/content-security-policy.js
Labels: ui, desktop

#1993 Upgrade playwright within desktop
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1990 Upgrade desktop UI to Ember 4.12.2
  package.json
  ui/admin/package.json
  ui/desktop/.ember-cli
  ui/desktop/.eslintrc.js
  ui/desktop/.stylelintignore
  ui/desktop/.template-lintrc.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/config/ember-cli-update.json
  ui/desktop/config/environment.js
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  ui/desktop/tests/integration/components/copyable-test.js
  ui/desktop/tests/integration/components/dialog-detail-test.js
  yarn.lock
Labels: ui, desktop, admin

#1991 chore: 🤖 Add support for pagination in query method
  addons/api/addon/adapters/application.js
  addons/api/addon/serializers/application.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/tests/acceptance/authentication-test.js
Labels: ui, addons, admin, api-addon

#1996 refactor: 💡 remove unnecessary sorting due to pagination change
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
Labels: ui, desktop, admin

#1997 fix: 🐛 Desktop yarn start:desktop build fix
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1994 Replace `Rose::Footer` with `Hds::AppFooter` component (HDS-2805)
  ui/admin/app/controllers/account/change-password.js
  ui/admin/app/controllers/scopes/index.js
  ui/admin/app/templates/account/change-password.hbs
  ui/admin/app/templates/scopes/index.hbs
  ui/admin/app/templates/scopes/scope.hbs
Labels: ui, admin

#2002 Icu 11825 replace `store.findAll` method with `store.query`
  addons/api/addon/adapters/application.js
  addons/api/tests/dummy/app/routes/application.js
  addons/api/tests/unit/adapters/application-test.js
  addons/api/tests/unit/models/scope-test.js
  ui/admin/app/routes/scopes.js
  ui/desktop/app/routes/scopes.js
Labels: ui, addons, desktop, admin, api-addon

#2001 chore: 🤖 Add custom key handler for windows
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
Labels: ui, desktop

#2000 chore: 🤖 Update stylelint config dependency
  addons/rose/app/styles/rose/components/_message.scss
  addons/rose/app/styles/rose/components/dialog/_dialog.scss
  addons/rose/app/styles/rose/components/header/_index.scss
  addons/rose/app/styles/rose/components/header/_nav.scss
  addons/rose/app/styles/rose/components/layout/_body-content.scss
  addons/rose/app/styles/rose/components/layout/_page.scss
  addons/rose/app/styles/rose/components/layout/_sidebar.scss
  addons/rose/package.json
  ui/admin/app/styles/_notify.scss
  ui/admin/app/styles/app.scss
  ui/admin/package.json
  ui/desktop/app/styles/_notify.scss
  ui/desktop/app/styles/app.scss
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, styles-addon

#2003 Boundary: Delete RoseFooter files (HDS-2805)
  addons/rose/addon/components/rose/footer/brand/index.hbs
  addons/rose/addon/components/rose/footer/copyright/index.hbs
  addons/rose/addon/components/rose/footer/copyright/index.js
  addons/rose/addon/components/rose/footer/index.hbs
  addons/rose/addon/components/rose/footer/nav/index.hbs
  addons/rose/addon/components/rose/footer/nav/link/index.hbs
  addons/rose/addon/components/rose/footer/product/index.hbs
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/footer/_brand.scss
  addons/rose/app/styles/rose/components/footer/_index.scss
  addons/rose/app/styles/rose/components/footer/_link.scss
  addons/rose/app/styles/rose/components/footer/_nav.scss
  addons/rose/app/styles/rose/components/footer/_text.scss
  addons/rose/tests/integration/components/rose/footer-test.js
  addons/rose/tests/integration/components/rose/footer/nav-test.js
  addons/rose/tests/integration/components/rose/footer/nav/link-test.js
  addons/rose/tests/integration/components/rose/footer/text-test.js
Labels: addons, styles-addon

#2008 feat: 🎸 Add debouncing for the search bar
  addons/core/addon/decorators/debounce.js
  addons/core/app/decorators/debounce.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
Labels: ui, addons, desktop

#2010 Chore upgrade eslint and deps
  addons/api/package.json
  addons/auth/addon/authenticators/base.js
  addons/auth/addon/authenticators/password.js
  addons/auth/addon/session-stores/cookie.js
  addons/auth/package.json
  addons/auth/tests/unit/session-stores/cookie-test.js
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#2007 feat: 🎸 Allow prompts in oidc auth method form
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/models/auth-method.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.js
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, addons, admin, api-addon

#2012 feat: 🎸 Create `time-remaining` helper
  addons/api/addon/generated/models/session.js
  addons/api/mirage/generated/factories/session.js
  addons/core/addon/helpers/time-remaining.js
  addons/core/app/helpers/time-remaining.js
  addons/core/tests/integration/helpers/time-remaining-test.js
  addons/core/translations/resources/en-us.yaml
Labels: addons, api-addon

#2017 HDS-2827 Bump HDS to latest version
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#2016 feat: 🎸 Add pagination support to client daemon handler
  addons/api/addon/handlers/client-daemon-handler.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, addons, desktop, api-addon
