Repository hashicorp/boundary-ui, pull requests merged in 2023-10, with the labels that each got.

#1936 fix: 🐛 host modal renders whenever there is an error during connection
  ui/desktop/app/components/target/host-modal/index.hbs
  ui/desktop/app/controllers/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/integration/components/target/host-modal-test.js
Labels: ui, desktop

#1935 test(admin/e2e): Fixes for Admin UI test suite
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1938 fix: 🐛 allow ldap managed groups in role/principals route
  addons/api/addon/models/role.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
Labels: ui, addons, admin, api-addon

#1939 fix: 🐛 Fix edge case with showing host modal
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
Labels: ui, desktop

#1942 fix: 🐛 Fix an issue with HDS css causing scrollbars/whitespace
  addons/rose/addon/styles/hds/overrides.scss
Labels: addons, styles-addon

#1931 test: 💍 Add delete resources e2e UI test
  ui/admin/tests/e2e/README.md
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1923 chore: 🤖 add post-connection workflow to desktop CHANGELOG
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1948 fix: 🐛 Fix electron not inheriting path variable in production
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/utils/fixPath.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1927 Chore icu 9085 audit resolutions
  package.json
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  yarn.lock
Labels: ui, dependencies, admin

#1928 Chore icu 9086 audit resolutions
  package.json
  yarn.lock
Labels: dependencies

#1947 Upgrade addons/auth to Ember 4.12
  addons/auth/.ember-cli
  addons/auth/.eslintrc.js
  addons/auth/.npmignore
  addons/auth/ember-cli-build.js
  addons/auth/package.json
  addons/auth/tests/dummy/config/ember-cli-update.json
  addons/auth/tests/dummy/config/ember-try.js
  addons/auth/tests/dummy/config/environment.js
  addons/auth/vendor/.gitkeep
  yarn.lock
Labels: addons, addons/auth, auth-addon

#1949 Refactor key value list component
  ui/admin/app/components/form/field/key-value-list/index.hbs
  ui/admin/tests/integration/components/form/field/key-value-list-test.js
Labels: ui, admin

#1955 test(admin/e2e): Update test timeout to 60s
  ui/admin/tests/e2e/playwright.config.js
Labels: ui, admin

#1965 chore: 🤖 Upgrade `addons/core` to Ember 4.12.2
  addons/api/.eslintrc.js
  addons/api/package.json
  addons/auth/package.json
  addons/core/.ember-cli
  addons/core/.eslintrc.js
  addons/core/.template-lintrc.js
  addons/core/addon/components/form/authenticate/index.hbs
  addons/core/addon/components/form/authenticate/ldap/index.hbs
  addons/core/addon/components/form/authenticate/oidc/index.hbs
  addons/core/addon/components/form/authenticate/password/index.hbs
  addons/core/ember-cli-build.js
  addons/core/package.json
  addons/core/tests/dummy/config/ember-cli-update.json
  addons/core/tests/dummy/config/ember-try.js
  addons/core/tests/dummy/config/environment.js
  addons/core/tests/integration/components/doc-link.js
  addons/core/tests/integration/components/form/authenticate-test.js
  addons/core/tests/integration/components/image-test.js
  addons/core/tests/integration/components/loading-button-test.js
  addons/core/tests/integration/components/pending-confirmations-test.js
  addons/core/tests/integration/components/session-status-test.js
  addons/core/tests/integration/helpers/format-date-iso-human-test.js
  addons/core/tests/integration/helpers/reverse-indexed-display-name-test.js
  addons/core/vendor/.gitkeep
  yarn.lock
Labels: addons, api-addon, auth-addon

#1968 Host set permission issue
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/abilities/target.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/unit/abilities/target-test.js
Labels: ui, addons, desktop

#1957 chore: 🤖 refactor key value list component, text input support
  addons/api/mirage/config.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/field/key-value-list/index.hbs
  ui/admin/app/components/form/field/list-wrapper/index.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/index.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/index.js
  ui/admin/app/components/form/field/list-wrapper/text-input/index.hbs
  ui/admin/app/components/form/field/list-wrapper/text-input/index.js
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/index.hbs
  ui/admin/app/components/form/host-set/index.js
  ui/admin/app/components/form/managed-group/ldap/index.hbs
  ui/admin/app/components/form/storage-bucket/index.hbs
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/update-test.js
  ui/admin/tests/integration/components/form/field/key-value-list-test.js
  ui/admin/tests/integration/components/form/field/list-wrapper-test.js
Labels: ui, addons, admin, api-addon

#1970 chore: update HDS to 3.0.2
  addons/rose/package.json
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/field/secret-input/index.hbs
  ui/admin/app/components/form/storage-bucket/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/accounts/change-password-test.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
  yarn.lock
Labels: ui, addons, admin, styles-addon

#1971 feat: 🎸 Allow auto connect to SSH targets on windows
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop
