Repository hashicorp/boundary-ui, pull requests merged in 2023-07, with the labels that each got.

#1749 fix: 🐛 Removing status badging from desktop client
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
Labels: ui, desktop

#1752 Chore icu 9080 audit resolutions
  package.json
  yarn.lock
Labels: dependencies

#1753 Chore icu 9081 audit resolutions
  package.json
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, dependencies, desktop

#1756 Chore icu 9082 audit resolutions
  package.json
  yarn.lock
Labels: dependencies

#1757 Chore icu 9088 desktop audit resolutions
  ui/desktop/electron-app/package.json
Labels: ui, dependencies, desktop

#1758 chore: 🤖 Patch @storybook and all its deps to ~6.4.0
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1735 chore: 🤖 Retire rose form textarea
  addons/rose/addon/components/rose/form/index.hbs
  addons/rose/addon/components/rose/form/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.hbs
  addons/rose/addon/components/rose/form/textarea/index.js
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/textarea/index.hbs
  addons/rose/app/components/rose/form/textarea/textarea.js
  addons/rose/tests/integration/components/rose/form-test.js
  addons/rose/tests/integration/components/rose/form/textarea-test.js
Labels: addons, styles-addon

#1760 feat: 🎸 enable feature flag in dev environment
  ui/admin/config/environment.js
Labels: ui, admin

#1754 refactor: 💡 use hds checkbox field instead of rose checkbox
  addons/api/mirage/generated/factories/account.js
  addons/api/mirage/scenarios/ipc.js
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-set/add-hosts/index.hbs
  ui/admin/app/components/form/host-set/add-hosts/index.js
  ui/admin/app/components/form/target/add-brokered-credential-sources/index.hbs
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/components/form/target/add-host-sets/index.js
  ui/admin/app/components/form/target/add-injected-application-credential-sources/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
Labels: ui, addons, desktop, admin, api-addon

#1764 Icu 10120 use hds table in users list view
  ui/admin/app/templates/scopes/scope/users/index.hbs
Labels: ui, admin

#1763 feat: 🎸 add ldap type to dropdown in list view
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
Labels: ui, admin

#1766 refactor: 💡 update accounts model with ldap account attributes
  addons/api/addon/generated/models/account.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, addons, desktop, api-addon

#1765 Chore icu 9087 audit resolutions electron app
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1762 [ICU-10024] feat: Revise auth-method model
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/serializers/auth-method.js
  addons/api/addon/transforms/account-claim-map-array.js
  addons/api/addon/transforms/account-value-map-array.js
  addons/api/app/transforms/account-value-map-array.js
  addons/api/tests/unit/transforms/account-value-map-array-test.js
Labels: addons, api-addon

#1769 refactor: 💡 mirage changes to support ldap account type
  addons/api/mirage/factories/account.js
  addons/api/mirage/generated/factories/account.js
Labels: addons, api-addon

#1773 Chore/update ember intl
  addons/core/package.json
  package.json
  patches/ember-intl+6.0.0-beta.4.patch
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, addons, desktop

#1772 refactor: 💡 application serializeAttribute
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/auth-method.js
  addons/api/addon/serializers/credential-library.js
  addons/api/tests/unit/serializers/application-test.js
Labels: addons, api-addon

#1775 refactor: 💡 refactor managed grouped mirage data for LDAP
  addons/api/mirage/factories/managed-group.js
Labels: addons, addons/api, api-addon

#1770 refactor: 💡Mirage changes to LDAP
  addons/api/mirage/config.js
  addons/api/mirage/generated/factories/auth-method.js
Labels: addons, addons/api, api-addon

#1774 refactor: 💡 add serialize method for ldap account type
  addons/api/addon/serializers/account.js
  addons/api/tests/unit/serializers/account-test.js
Labels: addons, api-addon

#1778 Icu 10054 ember data ldap manage groups
  addons/api/addon/generated/models/managed-group.js
Labels: addons, api-addon

#1768 Icu 10178 use hds table in groups list view
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
Labels: ui, admin

#1777 refactor: 💡 migrate two rose buttons to hds in desktop client
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop

#1780 test: 💍 fix flaky session recording player assertion
  ui/admin/tests/integration/components/session-recording/player-test.js
Labels: ui, admin

#1779 refactor: 💡 use hds table in role list
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/tests/acceptance/roles/read-test.js
Labels: ui, admin

#1781 chore: 🎸 add support for ldap managed group in serializer
  addons/api/addon/generated/models/managed-group.js
  addons/api/addon/serializers/managed-group.js
  addons/api/tests/unit/serializers/managed-group-test.js
Labels: addons, api-addon

#1783 Icu 10082 ldap account creation form
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/account/ldap/index.hbs
  ui/admin/tests/acceptance/accounts/create-test.js
Labels: ui, addons, admin

#1787 refactor: 💡 refactor mirage factory
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/factories/managed-group.js
  addons/api/mirage/scenarios/default.js
Labels: addons, addons/api, api-addon

#1782 feat: 🎸 ldap auth-method new form component
  addons/api/addon/generated/models/auth-method.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/auth-method/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.js
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/new.hbs
Labels: ui, addons, admin, api-addon

#1792 Icu 10210 use hds table in principal list view
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/tests/acceptance/roles/principals-test.js
Labels: ui, admin

#1794 Icu 10209 use hds table in member list view
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/tests/acceptance/groups/members-test.js
Labels: ui, admin

#1796 chore: 🤖 Point ember-pollster to new hashicorp repo
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#1767 chore: 🤖 test of key/value header label association
  ui/admin/app/components/form/field/key-value-list/index.hbs
Labels: ui, admin

#1788 test: 💍 add create acceptance test for ldap auth method
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
Labels: ui, admin

#1791 Icu 10307 create a new helper
  addons/core/addon/helpers/truncate-list.js
  addons/core/app/helpers/truncate-list.js
  addons/core/tests/dummy/app/controllers/index.js
  addons/core/tests/dummy/app/templates/index.hbs
  addons/core/tests/integration/helpers/truncate-list-test.js
  addons/core/translations/actions/en-us.yaml
Labels: addons

#1799 chore: 🤖 add post connection workflow feature flag
  ui/desktop/config/environment.js
Labels: ui, desktop

#1801 chore: 🤖 update HDS to v2.8.0
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1798 feat: 🎸 Create LDAP CRUD:read
  addons/api/mirage/generated/factories/auth-method.js
  ui/admin/app/components/form/auth-method/ldap/index.hbs
Labels: ui, addons, admin, api-addon

#1800 test: 💍 Add TCP target update test
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1803 refactor: 💡 remove unused template code
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-actions.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-header.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/-navigation.hbs
Labels: ui, desktop

#1802 Icu 10366 use hds table in brokered credential sources
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
Labels: ui, admin

#1797 refactor: 💡 update to allow state change & update edit action
  addons/api/addon/models/auth-method.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method.js
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, addons, admin, api-addon

#1809 fix missing account ids
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  yarn.lock
Labels: ui, admin

#1806 Icu 10367 use hds table in target host sources
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/tests/acceptance/targets/host-sources-test.js
Labels: ui, admin

#1805 feat: 🎸 CRUDL capabilites for ldap managed-group
  addons/api/addon/models/managed-group.js
  addons/api/addon/serializers/managed-group.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/nav/index.hbs
  ui/admin/app/components/form/managed-group/index.hbs
  ui/admin/app/components/form/managed-group/ldap/index.hbs
  ui/admin/app/components/form/managed-group/ldap/index.js
  ui/admin/app/components/form/managed-group/oidc/index.hbs
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new.hbs
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
  ui/admin/tests/acceptance/managed-groups/read-test.js
Labels: ui, addons, admin, api-addon

#1807 Icu 10439 refactor layout sidebar into rose layout body content
  addons/rose/addon/components/rose/layout/body-content/index.hbs
  addons/rose/addon/components/rose/layout/body-content/index.stories.mdx
  addons/rose/app/components/rose/layout/body-content.js
  addons/rose/app/styles/rose/components/layout/_body-content.scss
  addons/rose/app/styles/rose/components/layout/_index.scss
  addons/rose/tests/integration/components/rose/layout/body-content-test.js
  ui/admin/app/components/layout/sidebar/body/index.hbs
  ui/admin/app/components/layout/sidebar/index.hbs
  ui/admin/app/components/layout/sidebar/sidebar/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
  ui/admin/tests/integration/components/layout/sidebar-test.js
  ui/admin/tests/integration/components/layout/sidebar/body-test.js
  ui/admin/tests/integration/components/layout/sidebar/sidebar-test.js
Labels: ui, addons, admin, styles-addon

#1811 refactor: 💡 Remove targets/target-id/sessions route and tests
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/targets/target/sessions-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/sessions-test.js
Labels: ui, desktop

#1810 refactor: 💡 Remove targets/target-id/hosts route and tests
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/hosts.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/hosts.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/sessions.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/projects/targets/hosts-test.js
  ui/desktop/tests/acceptance/projects/targets/sessions-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/targets/target/sessions-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/hosts-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/targets/target/sessions-test.js
Labels: ui, desktop
