Repository hashicorp/boundary-ui, pull requests merged in 2023-09, with the labels that each got.

#1872 feat: 🎸 Allow creating multiple terminals
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/preload.js
  ui/desktop/package.json
Labels: ui, desktop

#1875 Chore remove method
  ui/desktop/electron-app/src/preload.js
Labels: ui, desktop

#1876 feat: 🎸 Clean up terminal tab
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/components/session/terminal-tabs/index.hbs
  ui/desktop/app/components/session/terminal-tabs/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
Labels: ui, addons, desktop

#1877 test: 💍 Add create group and roles e2e UI test
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/group-role.spec.js
Labels: ui, admin

#1879 feat: 🎸 Handle resizing xterm and node-pty
  ui/desktop/app/components/session/terminal-tabs/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/preload.js
Labels: ui, desktop

#1878 test(admin/e2e): Rename variables for clarity
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1880 chore: 🤖 remove devtron
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/tests/index.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1882 refactor: 💡 Rename tabs component
  addons/core/translations/actions/en-us.yaml
  ui/desktop/app/components/session/tabs/index.hbs
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
Labels: ui, addons, desktop

#1883 chore: 🤖 bump HDS to 2.11.0
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1886 Chore icu 9089 audit resolutions desktop
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1887 feat: 🎸 allow for connection for target with single host
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
Labels: ui, desktop

#1889 feat: 🎸 add host details to session details screen if present
  addons/api/addon/models/session.js
  addons/core/translations/resources/en-us.yaml
  addons/rose/app/styles/rose/components/metadata-list/_index.scss
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, addons, desktop, api-addon, styles-addon

#1890 Chore terminal tweaks
  ui/desktop/electron-app/src/ipc/handlers.js
Labels: ui, desktop

#1892 refactor: 💡 move sidebar into session details tab
  ui/desktop/app/components/session/tabs/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
Labels: ui, desktop

#1893 refactor: 💡 fix proxy-url to render above body and sidebar
  ui/desktop/app/components/session/tabs/index.hbs
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1894 feat: 🎸 Add flag to ssh command to not prompt for known hosts
  ui/desktop/app/components/session/tabs/index.js
Labels: ui, desktop

#1891 Icu 10926 add dynamic credential fields in sb model
  addons/api/addon/generated/models/storage-bucket.js
  addons/api/tests/unit/serializers/storage-bucket-test.js
Labels: addons, api-addon

#1888 Chore icu 9090 audit resolutions desktop
  package.json
  ui/desktop/electron-app/package.json
  yarn.lock
Labels: ui, dependencies, desktop

#1896 fix: 🐛 Fix outdated yarn lock
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1899 fix: 🐛 fix cancel session failing after shell has started
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
Labels: ui, desktop

#1900 Icu 11057 update shell styles
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1898 feat: 🎸 create Host Modal for connecting to specific modal
  addons/api/addon/models/host.js
  addons/api/tests/unit/models/host-test.js
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/components/target/host-modal/index.hbs
  ui/desktop/app/controllers/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/integration/components/target/host-modal-test.js
Labels: ui, addons, desktop, api-addon

#1902 refactor: 💡 add host modal hover indication
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1897 feat: 🎸 add support for dynamic credentials in storage bucket
  addons/api/addon/models/storage-bucket.js
  addons/api/addon/serializers/storage-bucket.js
  addons/api/tests/unit/models/storage-bucket-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/storage-bucket/index.hbs
  ui/admin/app/components/form/storage-bucket/index.js
  ui/admin/app/controllers/scopes/scope/storage-buckets.js
  ui/admin/app/controllers/scopes/scope/storage-buckets/storage-bucket.js
  ui/admin/app/routes/scopes/scope/storage-buckets.js
  ui/admin/app/routes/scopes/scope/storage-buckets/new.js
  ui/admin/app/templates/scopes/scope/storage-buckets/new.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
  ui/admin/tests/acceptance/storage-buckets/create-test.js
Labels: ui, addons, admin, api-addon

#1901 Icu 11022 update dynamic credentials in sb form
  addons/api/addon/generated/models/storage-bucket.js
  addons/api/addon/models/storage-bucket.js
  addons/api/addon/serializers/storage-bucket.js
  addons/api/mirage/config.js
  addons/api/tests/unit/serializers/storage-bucket-test.js
  ui/admin/app/components/form/storage-bucket/index.hbs
  ui/admin/app/components/form/storage-bucket/index.js
  ui/admin/app/routes/scopes/scope/storage-buckets/storage-bucket.js
Labels: ui, addons, admin, api-addon

#1904 chore: 🤖 Upgrade Electron to 26.x
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#1905 test: 💍 add extra test for credentialType
  ui/admin/tests/acceptance/storage-buckets/create-test.js
Labels: ui, admin

#1906 feat: 🎸 Prevent automatically sending SSH command on windows
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
Labels: ui, desktop

#1908 feat: (LDAP) add attributes to model and component
  addons/api/addon/generated/models/auth-method.js
  addons/api/addon/models/auth-method.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.js
Labels: ui, addons, admin, api-addon

#1907 refactor: 💡sb dynamic credential type secret fields and how we serialize
  addons/api/addon/generated/models/storage-bucket.js
  addons/api/addon/models/storage-bucket.js
  addons/api/addon/serializers/storage-bucket.js
  addons/api/tests/unit/models/storage-bucket-test.js
  addons/api/tests/unit/serializers/storage-bucket-test.js
  ui/admin/app/controllers/scopes/scope/storage-buckets.js
  ui/admin/app/routes/scopes/scope/storage-buckets.js
  ui/admin/app/routes/scopes/scope/storage-buckets/new.js
  ui/admin/app/templates/scopes/scope/storage-buckets/new.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
Labels: ui, addons, admin, api-addon

#1911 fix: 🐛 xterm csp policy violation
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1910 feat: 🎸 Resize terminal container dynamically
  ui/desktop/app/components/session/tabs/index.js
Labels: ui, desktop

#1913 Icu 10981 show host address in host details sidebar
  ui/desktop/app/components/session/tabs/index.hbs
  yarn.lock
Labels: ui, addons, desktop, api-addon, styles-addon

#1912 Fix canvas styles
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, api-addon, styles-addon

#1915 refactor: 💡 remove custom xterm styles
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1909 Icu-11111 don't display empty modal when a target has no target address and no host sources
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/abilities/target.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/targets-test.js
  ui/desktop/tests/unit/abilities/target-test.js
Labels: ui, addons, desktop

#1921 fix: 🐛 Fix not calling delete properly in OIDC
  addons/core/addon/authenticators/oidc.js
Labels: addons

#1924 chore: 🤖 enable ldap feature flag for all envs
  ui/admin/config/environment.js
  ui/admin/config/features.js
Labels: ui, admin

#1925 fix: 🐛 Stop sending ssh command when session initiated in CLI
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/electron-app/src/cli/path.js
Labels: ui, desktop

#1926 fix: 🐛 add polyfill for randomUUID
  ui/admin/ember-cli-build.js
  ui/desktop/ember-cli-build.js
Labels: ui, desktop, admin

#1930 fix: 🐛 Fix translations
  addons/core/translations/resources/en-us.yaml
Labels: bug, addons

#1932 fix: 🐛 Fix polyfill not working correctly
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#1933 fix: 🐛 dynamic storage bucket showing as static
  addons/api/addon/models/storage-bucket.js
  addons/api/tests/unit/models/storage-bucket-test.js
Labels: addons, api-addon
