Repository hashicorp/boundary-ui, pull requests merged in 2023-02, with the labels that each got.

#1608 feat: 🎸 Add vault ssh cert type for credential library
  addons/api/addon/abilities/credential-library.js
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/models/credential-library.js
  addons/api/addon/serializers/credential-library.js
  addons/api/addon/transforms/object-as-array.js
  addons/api/mirage/factories/credential-library.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/api/tests/unit/transforms/object-as-array-test.js
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  addons/rose/package.json
  ui/admin/app/abilities/credential-library.js
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-cert/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-cert/index.js
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.js
  ui/admin/app/components/form/field/key-value-list/index.hbs
  ui/admin/app/components/form/field/key-value-list/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
  ui/admin/tests/integration/components/form/field/key-value-list-test.js
  ui/admin/tests/unit/abilities/credential-library-test.js
  yarn.lock
Labels: ui, addons, admin, api-addon, styles-addon

#1614 feat: 🎸 Enable feature flag for vault ssh cert work
  ui/admin/config/environment.js
Labels: ui, admin

#1615 fix: 🐛 Change fields to optional as they get default by backend
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
Labels: ui, admin

#1616 Chore/cleanup vault ssh cert
  addons/api/addon/models/credential-library.js
  addons/api/addon/serializers/credential-library.js
  addons/api/tests/unit/models/credential-library-test.js
  addons/api/tests/unit/serializers/credential-library-test.js
  ui/admin/app/abilities/credential-library.js
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
Labels: ui, addons, admin, api-addon

#1596 Vault SSH Cert Feature
  addons/api/addon/abilities/credential-library.js
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/models/credential-library.js
  addons/api/addon/serializers/credential-library.js
  addons/api/addon/transforms/object-as-array.js
  addons/api/app/transforms/object-as-array.js
  addons/api/mirage/factories/credential-library.js
  addons/api/tests/unit/models/credential-library-test.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/api/tests/unit/transforms/object-as-array-test.js
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  addons/rose/package.json
  ui/admin/app/abilities/credential-library.js
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.js
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.js
  ui/admin/app/components/form/field/key-value-list/index.hbs
  ui/admin/app/components/form/field/key-value-list/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
  ui/admin/tests/integration/components/form/field/key-value-list-test.js
  ui/admin/tests/unit/abilities/credential-library-test.js
  yarn.lock
Labels: ui, addons, admin, api-addon, styles-addon

#1619 Change the way we declare icon color
  ui/admin/app/templates/onboarding/success.hbs
Labels: ui, admin

#1620 style: 💄 Cleanup grammar of target address modal
  addons/core/translations/resources/en-us.yaml
Labels: addons

#1623 fix: 🐛 Fix null date time erroring out
  addons/core/addon/helpers/relative-datetime-live.js
  addons/core/tests/integration/helpers/relative-datetime-live-test.js
  ui/admin/app/components/form/worker/index.hbs
Labels: ui, addons, admin

#1622 fix: 🐛 Fix undefined values from resource filter
  addons/core/addon/decorators/resource-filter.js
Labels: addons

#1624 chore: 🤖 clean up isRequired/isOptional boolean in text field
  ui/admin/app/components/form/account/password/change-password/index.hbs
  ui/admin/app/components/form/account/password/set-password/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/role/index.hbs
  ui/admin/app/components/form/scope/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/worker-filter/index.hbs
Labels: ui, admin

#1628 docs: ✏️ Add how to debug binary to docs
  ui/desktop/README.md
Labels: ui, desktop

#1626 refactor: 💡 Update how WorkerDiagram is used in Target form
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/components/worker-diagram/dual-filter/hcp/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/index.hbs
  ui/admin/app/components/worker-diagram/index.hbs
  ui/admin/app/components/worker-diagram/single-filter/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/integration/components/form/target/details-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/hcp/index-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/index-test.js
  ui/admin/tests/integration/components/worker-diagram/index-test.js
  ui/admin/tests/integration/components/worker-diagram/single-filter/index-test.js
Labels: ui, admin

#1629 fix: 🐛 fix diagram width so explainer text stays below it
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1627 Target form refactor
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
Labels: ui, admin

#1625 chore: 🤖 Update changelog and version for desktop client
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#1633 refactor: 💡 rename div around ordered-series-diagram
  ui/admin/app/components/ordered-series-diagram/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/hcp/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/index.hbs
  ui/admin/app/components/worker-diagram/index.hbs
  ui/admin/app/components/worker-diagram/single-filter/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1631 chore: 🤖 Pin storybook docs addon to a minor version
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1634 chore: use structuredClone instead of ember-copy addon
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/auth-method.js
  addons/api/addon/serializers/credential-store.js
  addons/api/addon/serializers/credential.js
  addons/api/addon/serializers/host-set.js
  addons/api/addon/serializers/managed-group.js
  addons/api/mirage/helpers/permissions.js
  addons/api/package.json
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set.js
  yarn.lock
Labels: ui, addons, admin, api-addon

#1635 test: 💍 Swap playwright to @playwright/test package
  ui/desktop/package.json
  ui/desktop/tests/end2end/authentication.spec.js
  ui/desktop/tests/end2end/targets.spec.js
  yarn.lock
Labels: ui, desktop

#1637 test(admin/e2e): Add first playwright test
  ui/admin/.gitignore
  ui/admin/package.json
  ui/admin/tests/e2e/README.md
  ui/admin/tests/e2e/global-setup.js
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/helpers/general.js
  ui/admin/tests/e2e/playwright.config.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1640 fix: 🐛 Fix generic-vault getting extra null fields when saving
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/serializers/credential-library.js
  addons/api/tests/unit/serializers/credential-library-test.js
Labels: addons, api-addon

#1641 test(admin/e2e): Add test for AWS Dynamic Host Catalogs
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1643 test(admin/e2e): Add tests for Credential Stores
  ui/admin/tests/e2e/helpers/vault-cli.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/fixtures/boundary-controller-policy.hcl
  ui/admin/tests/e2e/tests/fixtures/kv-policy.hcl
Labels: ui, admin

#1647 test(admin/e2e): Add login tests
  ui/admin/tests/e2e/tests/login.spec.js
Labels: ui, admin

#1648 test(admin/e2e): Update DHC test to catch host issue
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
Labels: ui, admin
