Repository hashicorp/boundary-ui, pull requests merged in 2023-08, with the labels that each got.

#1808 chore: 🤖 upgrade faker js from v7 to v8
  addons/api/mirage/factories/account.js
  addons/api/mirage/factories/channel-recording.js
  addons/api/mirage/factories/connection-recording.js
  addons/api/mirage/factories/credential-library.js
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/factories/credential.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/mirage/factories/host-set.js
  addons/api/mirage/factories/host.js
  addons/api/mirage/factories/managed-group.js
  addons/api/mirage/factories/session-recording.js
  addons/api/mirage/factories/session.js
  addons/api/mirage/factories/storage-bucket.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/account.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/mirage/generated/factories/channel-recording.js
  addons/api/mirage/generated/factories/connection-recording.js
  addons/api/mirage/generated/factories/credential-library.js
  addons/api/mirage/generated/factories/credential-store.js
  addons/api/mirage/generated/factories/credential.js
  addons/api/mirage/generated/factories/group.js
  addons/api/mirage/generated/factories/host-catalog.js
  addons/api/mirage/generated/factories/host-set.js
  addons/api/mirage/generated/factories/host.js
  addons/api/mirage/generated/factories/managed-group.js
  addons/api/mirage/generated/factories/org.js
  addons/api/mirage/generated/factories/project.js
  addons/api/mirage/generated/factories/role.js
  addons/api/mirage/generated/factories/scope.js
  addons/api/mirage/generated/factories/session-recording.js
  addons/api/mirage/generated/factories/session.js
  addons/api/mirage/generated/factories/storage-bucket.js
  addons/api/mirage/generated/factories/target.js
  addons/api/mirage/generated/factories/user.js
  addons/api/mirage/generated/factories/worker.js
  addons/api/mirage/scenarios/ipc.js
  addons/core/package.json
  ui/admin/package.json
  ui/admin/tests/e2e/tests/target.spec.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon

#1815 update electron version on desktop client
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1818 refactor: 💡 Update Target Details header
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
Labels: ui, desktop

#1817 Icu 10368 use hds table in desktop targets list
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop

#1819 refactor: 💡 add "Connect for more info" panel to target details
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
Labels: ui, addons, desktop

#1821 refactor: 💡 remove unneeded div for layout of target details
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
Labels: ui, desktop

#1820 fix: 🐛 replace deprecated substr with substring
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#1822 fix: 🐛 accounts update refactor
  addons/api/addon/generated/models/account.js
  addons/api/tests/unit/serializers/account-test.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
Labels: ui, addons, addons/api, admin, api-addon

#1823 Icu 10504 use hds table in desktop sessions list
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/tests/acceptance/projects/sessions-test.js
Labels: ui, desktop

#1824 Icu 10516 move metadata list to rose
  addons/rose/addon/components/rose/metadata-list/index.hbs
  addons/rose/addon/components/rose/metadata-list/index.stories.mdx
  addons/rose/addon/components/rose/metadata-list/item/index.hbs
  addons/rose/app/components/rose/metadata-list.js
  addons/rose/app/components/rose/metadata-list/item.js
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/metadata-list/_index.scss
  addons/rose/tests/integration/components/rose/metadata-list/index-test.js
  ui/admin/app/components/metadata-list/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
Labels: ui, addons, admin, styles-addon

#1816 refactor: 💡 refactor LDAP form error messaging
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, admin

#1826 refactor: 💡 Refactor ldap account view and serializer
  addons/api/addon/generated/models/account.js
  addons/api/addon/serializers/account.js
  addons/api/tests/unit/serializers/account-test.js
  ui/admin/app/components/form/account/ldap/index.hbs
Labels: ui, addons, admin, api-addon

#1828 Icu 10370 use hds table in injected app credential sources
  ui/admin/app/templates/scopes/scope/targets/target/injected-application-credential-sources.hbs
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
Labels: ui, admin

#1832 feat: 🎸 add target details sidebar panel to target detail page
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/targets-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop

#1834 Icu 10521 add route logic from sessions list to session detail screen
  addons/api/addon/abilities/session.js
  addons/api/addon/models/session.js
  addons/api/app/abilities/session.js
  addons/api/tests/unit/abilities/session-test.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/tests/acceptance/projects/sessions-test.js
Labels: ui, addons, desktop, api-addon

#1836 chore: 🤖 specify port to 4201 for desktop development
  ui/desktop/.ember-cli
  ui/desktop/README.md
Labels: ui, desktop

#1837 Icu 10495 session detail sidebar content
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
Labels: ui, desktop

#1833 Upgrade api to ember 4.12
  addons/api/.ember-cli
  addons/api/.eslintrc.js
  addons/api/.github/workflows/ci.yml
  addons/api/.npmignore
  addons/api/.prettierrc.js
  addons/api/addon/adapters/host-catalog.js
  addons/api/addon/adapters/session-recording.js
  addons/api/addon/adapters/storage-bucket.js
  addons/api/addon/serializers/application.js
  addons/api/ember-cli-build.js
  addons/api/package.json
  addons/api/tests/dummy/config/ember-cli-update.json
  addons/api/tests/dummy/config/ember-try.js
  addons/api/tests/dummy/config/environment.js
  addons/api/tests/unit/models/base-test.js
  package.json
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/tests/acceptance/authentication-test.js
  yarn.lock
Labels: ui, addons, admin, api-addon

#1839 Upgrade api to ember 4.12 (#1833)
  addons/api/.ember-cli
  addons/api/.eslintrc.js
  addons/api/.github/workflows/ci.yml
  addons/api/.npmignore
  addons/api/.prettierrc.js
  addons/api/addon/adapters/host-catalog.js
  addons/api/addon/adapters/session-recording.js
  addons/api/addon/adapters/storage-bucket.js
  addons/api/addon/serializers/application.js
  addons/api/ember-cli-build.js
  addons/api/package.json
  addons/api/tests/dummy/config/ember-cli-update.json
  addons/api/tests/dummy/config/ember-try.js
  addons/api/tests/dummy/config/environment.js
  addons/api/tests/unit/models/base-test.js
  package.json
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/tests/acceptance/authentication-test.js
  yarn.lock
Labels: ui, addons, admin, api-addon

#1835 chore: fix to get rid of deprecate-non-strict-relationships warning
  addons/api/addon/models/channel-recording.js
  addons/api/addon/models/connection-recording.js
  addons/api/addon/models/session-recording.js
Labels: addons, api-addon

#1842 chore: fix sortby deprecation warning
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/package.json
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/sessions.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#1848 chore: 🤖 update hds to 2.10.0
  addons/rose/addon/components/rose/code-editor/toolbar/index.hbs
  addons/rose/package.json
  package.json
  yarn.lock
Labels: addons, styles-addon

#1845 chore: 🤖 silence `deprecate_early_static` warnings
  addons/core/addon/initializers/deprecations.js
Labels: addons

#1847 Chore icu 9840 upgrade node v2
  README.md
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#1849 Icu 10582 retire storybook
  addons/rose/.eslintignore
  addons/rose/.storybook/main.js
  addons/rose/.storybook/preview.js
  addons/rose/README.md
  addons/rose/addon/components/rose/anonymous/index.stories.mdx
  addons/rose/addon/components/rose/badge/index.stories.mdx
  addons/rose/addon/components/rose/button/index.stories.mdx
  addons/rose/addon/components/rose/card/link/index.stories.mdx
  addons/rose/addon/components/rose/cards/index.stories.mdx
  addons/rose/addon/components/rose/code-editor/index.stories.mdx
  addons/rose/addon/components/rose/dialog/cover/index.stories.mdx
  addons/rose/addon/components/rose/dialog/index.stories.mdx
  addons/rose/addon/components/rose/dropdown/index.stories.mdx
  addons/rose/addon/components/rose/footer/index.stories.mdx
  addons/rose/addon/components/rose/form/actions/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/group/index.stories.mdx
  addons/rose/addon/components/rose/form/checkbox/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/index.stories.mdx
  addons/rose/addon/components/rose/form/errors/message/index.stories.mdx
  addons/rose/addon/components/rose/form/fieldset/index.stories.mdx
  addons/rose/addon/components/rose/form/helper-text/index.stories.mdx
  addons/rose/addon/components/rose/form/index.stories.mdx
  addons/rose/addon/components/rose/form/input/index.stories.mdx
  addons/rose/addon/components/rose/form/label/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/card/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/group/index.stories.mdx
  addons/rose/addon/components/rose/form/radio/radio/index.stories.mdx
  addons/rose/addon/components/rose/form/select/index.stories.mdx
  addons/rose/addon/components/rose/form/textarea/index.stories.mdx
  addons/rose/addon/components/rose/frame/index.stories.mdx
  addons/rose/addon/components/rose/header/index.stories.mdx
  addons/rose/addon/components/rose/icon/index.stories.mdx
  addons/rose/addon/components/rose/layout/body-content/index.stories.mdx
  addons/rose/addon/components/rose/layout/centered/index.stories.mdx
  addons/rose/addon/components/rose/layout/global/index.stories.mdx
  addons/rose/addon/components/rose/layout/page/index.stories.mdx
  addons/rose/addon/components/rose/layout/sidebar/index.stories.mdx
  addons/rose/addon/components/rose/link-button/index.stories.mdx
  addons/rose/addon/components/rose/list/key-value/index.stories.mdx
  addons/rose/addon/components/rose/message/index.stories.mdx
  addons/rose/addon/components/rose/metadata-list/index.stories.mdx
  addons/rose/addon/components/rose/nav/breadcrumbs/index.stories.mdx
  addons/rose/addon/components/rose/nav/link/index.stories.mdx
  addons/rose/addon/components/rose/nav/sidebar/sidebar.stories.mdx
  addons/rose/addon/components/rose/nav/tabs/index.stories.mdx
  addons/rose/addon/components/rose/notification/index.stories.mdx
  addons/rose/addon/components/rose/separator/index.stories.mdx
  addons/rose/addon/components/rose/table/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/index.stories.mdx
  addons/rose/addon/components/rose/toolbar/info/index.stories.mdx
  addons/rose/metadata.json
  addons/rose/package.json
  addons/rose/stories/colors.stories.mdx
  addons/rose/stories/sizing.stories.mdx
  addons/rose/stories/typography.stories.mdx
  package.json
  yarn.lock
Labels: addons, styles-addon

#1851 fix: 🐛 proxy promise deprecation
  ui/admin/app/routes/scopes/scope/roles/role/index.js
  yarn.lock
Labels: ui, admin

#1858 chore: 🤖 Change port to be set in package script
  ui/desktop/.ember-cli
  ui/desktop/package.json
Labels: ui, desktop

#1861 fix: 🐛 filterby deprecation warning
  ui/admin/app/routes/scopes/scope/authenticate.js
  ui/admin/app/routes/scopes/scope/index.js
Labels: ui, admin

#1864 Chore upgrade rose to ember 4
  addons/rose/.ember-cli
  addons/rose/.eslintignore
  addons/rose/.npmignore
  addons/rose/.prettierignore
  addons/rose/addon/components/rose/header/nav/index.hbs
  addons/rose/addon/components/rose/message/index.hbs
  addons/rose/app/styles/rose/components/_message.scss
  addons/rose/app/styles/rose/components/header/_index.scss
  addons/rose/app/styles/rose/components/header/_link.scss
  addons/rose/package.json
  addons/rose/tests/dummy/app/index.html
  addons/rose/tests/dummy/app/templates/playground.hbs
  addons/rose/tests/dummy/config/ember-cli-update.json
  addons/rose/tests/integration/components/rose/header-test.js
  addons/rose/tests/integration/components/rose/header/nav-test.js
  addons/rose/tests/integration/components/rose/message-test.js
  yarn.lock
Labels: addons, styles-addon

#1855 Icu 10315 add credentials panel
  addons/api/mirage/scenarios/ipc.js
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/components/credentials-panel/index.hbs
  ui/desktop/app/components/credentials-panel/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
  ui/desktop/tests/integration/components/credentials-panel-test.js
Labels: ui, addons, desktop, api-addon

#1859 fix: 🐛 add flex-shrink to flight-icon to avoid icon shrinking
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#1865 fix: 🐛 toarray deprecation warning
  addons/core/addon/initializers/deprecations.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/targets/target/enable-session-recording/index.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/user.js
Labels: ui, addons, admin

#1867 Icu 10677 re enable loading status for desktop client
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets.js
Labels: ui, addons, desktop, api-addon

#1866 feat: 🎸 redirect to targets list when canceling
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, desktop

#1868 feat: 🎸 add Proxy URL info to session detail screen
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/components/session/proxy-url/index.hbs
  ui/desktop/app/components/session/proxy-url/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/tests/integration/components/proxy-url-test.js
Labels: ui, addons, desktop

#1870 refactor: 💡 Turn on sandboxing for renderer process
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/styles/app.scss
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/preload.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1871 chore: 🤖 add tabs for details and terminal view
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/electron-app/src/index.js
Labels: ui, addons, desktop
