Repository hashicorp/boundary-ui, pull requests merged in 2023-03, with the labels that each got.

#1649 chore(admin/e2e): Add missing compliance headers
  ui/admin/tests/e2e/helpers/vault-cli.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/fixtures/boundary-controller-policy.hcl
  ui/admin/tests/e2e/tests/fixtures/kv-policy.hcl
  ui/admin/tests/e2e/tests/login.spec.js
Labels: ui, admin

#1651 fix: 🐛 Fix vault worker filter description
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
Labels: ui, addons, admin

#1653 chore: 🤖 Upgrade Stylelint within desktop client
  ui/admin/app/styles/_notify.scss
  ui/desktop/.eslintrc.js
  ui/desktop/.stylelintrc.js
  ui/desktop/.stylelintrc.json
  ui/desktop/app/styles/app.scss
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#1652 chore: 🤖 deprecate window object service
  addons/core/addon/services/browser-object.js
  addons/core/app/services/browser-object.js
  addons/core/tests/unit/services/browser-object-test.js
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/app/routes/onboarding/success.js
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
  ui/desktop/app/routes/cluster-url.js
  ui/desktop/tests/acceptance/cluster-url-test.js
Labels: ui, addons, desktop, admin

#1655 refactor: 💡 refactored dark-mode styling for `HDS`
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
Labels: addons, addons/styles, styles-addon

#1657 Refactor edition enablement
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  ui/admin/app/abilities/credential-library.js
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/app/controllers/application.js
  ui/admin/app/instance-initializers/feature-edition.js
  ui/admin/app/routes/application.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/services/feature-edition.js
  ui/admin/app/templates/application.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/develop-test.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
  ui/admin/tests/unit/abilities/credential-library-test.js
  ui/admin/tests/unit/instance-initializers/feature-edition-test.js
  ui/admin/tests/unit/services/feature-edition-test.js
Labels: ui, addons, admin
