Repository hashicorp/boundary-ui, pull requests merged in 2023-05, with the labels that each got.

#1678 Chore update embroider test setup
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  yarn.lock
Labels: addons, api-addon, auth-addon, styles-addon

#1680 feat: 🎸 Download latest HCP binary for worker config commands
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/tests/acceptance/workers/create-test.js
Labels: ui, admin

#1682 fix: 🐛 support metadata access on another API host
  ui/admin/app/instance-initializers/feature-edition.js
Labels: ui, admin

#1683 Icu 9202 disable all actions for ldap auth method
  addons/api/addon/abilities/auth-method.js
  addons/api/addon/models/auth-method.js
  addons/api/addon/serializers/auth-method.js
  addons/api/mirage/factories/auth-method.js
  addons/api/mirage/generated/factories/auth-method.js
  addons/api/tests/unit/models/auth-method-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  ui/admin/app/abilities/auth-method.js
  ui/admin/app/routes/scopes/scope/auth-methods.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/tests/acceptance/auth-methods/oidc-test.js
  ui/admin/tests/acceptance/auth-methods/read-test.js
  ui/admin/tests/unit/abilities/auth-method-test.js
Labels: ui, addons, admin, api-addon

#1686 chore: Use HDS components in auth methods list view
  addons/rose/addon/styles/hds/overrides.scss
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/read-test.js
Labels: ui, addons, admin, styles-addon

#1690 feat: 🎸 add ldap-auth-methods feature flag
  ui/admin/config/features.js
Labels: ui, admin

#1692 fix: 🐛 fix descriptions for targets list for desktop
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: bug, ui, desktop

#1681 e2e Test documentation for FE onboarding
  ui/admin/package.json
  ui/admin/tests/e2e/README.md
Labels: ui, admin

#1688 Icu 9226 disable all actions for ldap accounts within users
  ui/admin/app/components/auth-methods/auth-method/accounts/account/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/tests/acceptance/users/accounts-test.js
Labels: ui, admin

#1695 Refactor type to use const values
  addons/api/addon/models/role.js
  addons/api/mirage/generated/factories/account.js
  addons/api/tests/unit/models/account-test.js
  addons/api/tests/unit/serializers/account-test.js
  addons/core/tests/integration/components/form/authenticate-test.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
  ui/admin/tests/acceptance/managed-groups/members-test.js
  ui/admin/tests/acceptance/managed-groups/read-test.js
Labels: ui, addons, admin, api-addon

#1698 fix: 🐛 Fix serializing client secrets in oidc auth methods
  addons/api/addon/generated/models/auth-method.js
  addons/api/tests/unit/serializers/auth-method-test.js
Labels: addons, api-addon

#1700 feat: 🎸 Add default client port to targets
  addons/api/addon/generated/models/target.js
  addons/api/addon/models/target.js
  addons/api/mirage/generated/factories/target.js
  addons/api/tests/unit/serializers/target-test.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
Labels: ui, addons, admin, api-addon
