Repository hashicorp/boundary-ui, pull requests merged in 2023-12, with the labels that each got.

#2024 fix: 🐛 Fix add expiration_time when user has no grants to read
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, desktop

#2026 refactor: 💡 Use a native class for the client daemon handler
  addons/api/addon/handlers/client-daemon-handler.js
  ui/desktop/app/services/store.js
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/cluster-url-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, api-addon

#2021 feat: 🎸 Do not stop client daemon if it was already started
  ui/desktop/electron-app/src/services/client-daemon-manager.js
Labels: ui, desktop

#2019 chore: 🤖 Upgrade browserslist
  yarn.lock
Labels: dependencies

#2029 fix: 🐛 Add support for not equals in MQL expression parsing
  addons/api/addon/utils/mqlQuery.js
Labels: addons, api-addon

#2009 chore: 🤖 Update DC main element padding
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#2031 chore: 🤖 Upgrade electron-forge
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2034 fix: 🐛 oidc account id
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
Labels: ui, admin

#2033 test(admin/e2e): Update tests to account for changes in 0.14.3
  ui/admin/tests/e2e/global-setup.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
  ui/admin/tests/e2e/tests/login.spec.js
Labels: ui, admin

#2018 feat: 🎸 Implement time-remaining helper into desktop UI
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, addons, desktop, api-addon

#2023 feat: 🎸 Add pagination component to targets
  addons/api/addon-test-support/handlers/client-daemon-search.js
  addons/api/addon/handlers/client-daemon-handler.js
  addons/rose/addon/components/rose/pagination/index.hbs
  addons/rose/addon/components/rose/pagination/index.js
  addons/rose/app/components/rose/pagination.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, api-addon, styles-addon

#2036 chore: 🤖 add skip prompts toggle
  addons/api/addon/models/auth-method.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.js
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, addons, admin, api-addon

#2030 chore: 🤖 Refactor main element padding
  addons/rose/app/styles/rose/components/layout/_index.scss
Labels: addons, styles-addon

#2040 fix: 🐛 target cred sources association
  ui/admin/app/routes/scopes/scope/targets/target/add-brokered-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-injected-application-credential-sources.js
Labels: ui, admin

#2022 Icu 11802 filter targets by project scope
  addons/rose/addon/components/rose/filterable-dropdown/index.hbs
  addons/rose/addon/components/rose/filterable-dropdown/index.js
  addons/rose/app/components/rose/filterable-dropdown/index.js
  addons/rose/tests/integration/components/rose/filterable-dropdown/index-test.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, styles-addon

#2045 fix: 🐛 Fix failing tests from rebase onto main
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
Labels: ui, desktop

#2047 refactor: 💡 Optimize the retrieval of targets for scopes filter
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop

#2044 refactor: 💡 Migrate `host-catalog/host-list` to use `Hds`
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
Labels: ui, ui/admin, admin

#2048 Icu 12060 move rose filterable dropdown to core
  addons/core/addon/components/dropdown/index.hbs
  addons/core/addon/components/dropdown/index.js
  addons/core/app/components/dropdown/index.js
  addons/core/package.json
  addons/core/tests/integration/components/dropdown/index-test.js
  addons/rose/app/components/rose/filterable-dropdown/index.js
  addons/rose/tests/integration/components/rose/filterable-dropdown/index-test.js
  ui/admin/package.json
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, styles-addon

#2043 refactor: 💡 Refactor `sessions-list` to use `Hds::Table`
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
Labels: ui, ui/admin, admin

#2050 fix: 🐛 Fix returning mirage data from client daemon mock
  addons/api/addon-test-support/handlers/client-daemon-search.js
Labels: addons, api-addon

#2042 Icu 11916 add flyout for session in prgoress field
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
Labels: ui, addons, desktop

#2052 feat: 🎸 Add active session filter
  addons/api/addon-test-support/handlers/client-daemon-search.js
  addons/api/addon/utils/mqlQuery.js
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, api-addon

#2046 test(admin/e2e): Add tags to tests
  ui/admin/package.json
  ui/admin/tests/e2e/README.md
  ui/admin/tests/e2e/tests/auth-method.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/login.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#2053 feat: 🎸 filter sessions by target
  addons/core/addon/components/dropdown/index.hbs
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
Labels: ui, addons, desktop

#2058 feat: 🎸 filter sessions by status & scope
  addons/api/addon/models/target.js
  addons/core/addon/components/dropdown/index.js
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, addons, desktop, api-addon

#2061 refactor: 💡 uncomment on click handler for dropdown component
  addons/core/addon/components/dropdown/index.hbs
  addons/core/tests/integration/components/dropdown/index-test.js
Labels: addons

#2063 Icu 11804 filter targets by type
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop
