Repository hashicorp/boundary-ui, pull requests merged in 2023-04, with the labels that each got.

#1661 Feature metadata
  addons/api/mirage/config.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  ui/admin/app/instance-initializers/feature-edition.js
  ui/admin/app/routes/application.js
  ui/admin/app/services/feature-edition.js
  ui/admin/app/templates/application.hbs
  ui/admin/config/environment.js
  ui/admin/config/features.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/develop-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/acceptance/workers/create-test.js
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/hcp/index-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/index-test.js
  ui/admin/tests/integration/components/worker-diagram/index-test.js
  ui/admin/tests/unit/abilities/credential-library-test.js
  ui/admin/tests/unit/abilities/credential-test.js
Labels: ui, addons, admin, api-addon

#1662 fix: 🐛 Fix missing translation
  ui/desktop/app/templates/application.hbs
Labels: ui, desktop

#1666 chore: 🤖 Update electron-forge/* packages
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1664 feat: 🎸 Add support to display external name for dynamic hosts
  addons/api/addon/models/host.js
  addons/api/mirage/factories/host.js
  addons/api/mirage/generated/factories/host.js
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
Labels: ui, addons, admin, api-addon

#1667 test(admin/e2e): Add create target with address test
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#1668 chore: 🤖 update design system package
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#1671 test(admin/e2e): Define expected private key for vault credential store test
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
Labels: ui, ui/admin/tests, admin

#1670 test: 💍 (admin-e2e): Add test to create different credentials
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
Labels: ui, ui/admin/tests, admin

#1669 chore: 🤖 upgrade @storybook/ember-cli-storybook to 0.6.0
  addons/rose/package.json
  package.json
  yarn.lock
Labels: addons, styles-addon

#1674 Chore audit 3 resolutions desktop
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1673 refactor: 💡 removed whitespace from layout in add-members view
  addons/rose/addon/styles/hds/overrides.scss
  ui/admin/app/components/form/group/add-members/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, ui/admin, addons, admin, styles-addon

#1675 refactor: 💡 refactored whitespace from layout
  ui/admin/app/components/form/role/add-principals/index.hbs
Labels: ui, admin
