Repository hashicorp/boundary-ui, pull requests merged in 2023-01, with the labels that each got.

#1547 chore: 🤖 Update electron deps
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#1546 chore: 🤖 add target multi-hop flags to environment config
  ui/admin/config/environment.js
Labels: ui, admin

#1553 chore: 🤖 Update dependencies to fix minimatch vulnerability
  package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#1557 feat: 🎸 Update target model for address
  addons/api/addon/generated/models/target.js
  addons/api/mirage/scenarios/default.js
  addons/api/tests/unit/serializers/target-test.js
Labels: addons, api-addon

#1558 chore: 🤖 Add feature flag for target network address feature
  ui/admin/config/environment.js
Labels: ui, admin

#1548 Add support for managed groups in add-principals list
  ui/admin/app/components/form/role/add-principals/index.hbs
  ui/admin/app/components/form/role/add-principals/index.js
  ui/admin/app/components/link-to-principal/index.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
Labels: ui, admin

#1561 chore: 🤖 add json credential to desktop mirage scenario
  addons/api/mirage/scenarios/ipc.js
Labels: addons, api-addon

#1551 refactor: 💡 desktop display of complex nested secrets
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/components/hidden-secret/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/tests/integration/components/hidden-secret-test.js
Labels: ui, desktop

#1560 chore: 🤖 disable csp meta for prod
  ui/admin/config/content-security-policy.js
Labels: ui, admin

#1554 Add egress and ingress worker filters to target model
  addons/api/addon/generated/models/target.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/generated/factories/target.js
  addons/api/tests/unit/serializers/target-test.js
Labels: addons, api-addon

#1562 refactor: 💡 Migrate Target form to use HDS components
  addons/core/translations/form/en-us.yaml
  addons/rose/package.json
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  yarn.lock
Labels: ui, addons, admin, styles-addon

#1556 Chore/parallelize tests
  addons/api/package.json
  addons/api/testem.js
  addons/api/tests/test-helper.js
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  addons/rose/testem.js
  addons/rose/tests/test-helper.js
  package.json
  ui/admin/package.json
  ui/admin/testem.js
  ui/admin/tests/test-helper.js
  ui/desktop/package.json
  ui/desktop/testem.js
  ui/desktop/tests/test-helper.js
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#1563 refactor: 💡 Deprecate htmlbars-inline-precompile within addons
  addons/core/tests/integration/components/loading-button-test.js
  addons/core/tests/integration/components/session-status-test.js
  addons/rose/tests/integration/components/rose/anonymous-test.js
  addons/rose/tests/integration/components/rose/button-test.js
  addons/rose/tests/integration/components/rose/card/link-test.js
  addons/rose/tests/integration/components/rose/cards-test.js
  addons/rose/tests/integration/components/rose/dropdown-test.js
  addons/rose/tests/integration/components/rose/dropdown/button-test.js
  addons/rose/tests/integration/components/rose/dropdown/link-test.js
  addons/rose/tests/integration/components/rose/form-test.js
  addons/rose/tests/integration/components/rose/form/actions-test.js
  addons/rose/tests/integration/components/rose/form/actions/edit-toggle-test.js
  addons/rose/tests/integration/components/rose/form/checkbox-test.js
  addons/rose/tests/integration/components/rose/form/checkbox/group-test.js
  addons/rose/tests/integration/components/rose/form/errors-test.js
  addons/rose/tests/integration/components/rose/form/errors/message-test.js
  addons/rose/tests/integration/components/rose/form/helper-text-test.js
  addons/rose/tests/integration/components/rose/form/input-test.js
  addons/rose/tests/integration/components/rose/form/label-test.js
  addons/rose/tests/integration/components/rose/form/radio/group-test.js
  addons/rose/tests/integration/components/rose/form/radio/radio-test.js
  addons/rose/tests/integration/components/rose/form/textarea-test.js
  addons/rose/tests/integration/components/rose/header-test.js
  addons/rose/tests/integration/components/rose/header/brand-test.js
  addons/rose/tests/integration/components/rose/header/nav-test.js
  addons/rose/tests/integration/components/rose/header/utilities-test.js
  addons/rose/tests/integration/components/rose/icon-test.js
  addons/rose/tests/integration/components/rose/layout/centered-test.js
  addons/rose/tests/integration/components/rose/layout/global-test.js
  addons/rose/tests/integration/components/rose/layout/page-test.js
  addons/rose/tests/integration/components/rose/layout/sidebar-test.js
  addons/rose/tests/integration/components/rose/link-button-test.js
  addons/rose/tests/integration/components/rose/list/key-value-test.js
  addons/rose/tests/integration/components/rose/message-test.js
  addons/rose/tests/integration/components/rose/nav/breadcrumbs-test.js
  addons/rose/tests/integration/components/rose/nav/link-test.js
  addons/rose/tests/integration/components/rose/nav/sidebar-test.js
  addons/rose/tests/integration/components/rose/nav/tabs-test.js
  addons/rose/tests/integration/components/rose/notification-test.js
  addons/rose/tests/integration/components/rose/separator-test.js
  addons/rose/tests/integration/components/rose/table-test.js
  addons/rose/tests/integration/components/rose/table/row-test.js
  addons/rose/tests/integration/components/rose/table/row/cell-test.js
  addons/rose/tests/integration/components/rose/table/section-test.js
  addons/rose/tests/integration/components/rose/toolbar-test.js
  addons/rose/tests/integration/modifiers/on-click-inside-test.js
  addons/rose/tests/integration/modifiers/on-click-outside-test.js
  yarn.lock
Labels: addons, styles-addon

#1574 UI target worker filter deprecation message
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, addons, admin

#1576 fix: 🐛 Remove json_object from payload for non-json credentials
  addons/api/addon/serializers/credential.js
  addons/api/tests/unit/serializers/credential-test.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
Labels: ui, addons, admin, api-addon

#1577 refactor: 💡 refactor series diagram
  ui/admin/app/components/ordered-series-diagram/group/index.hbs
  ui/admin/app/components/ordered-series-diagram/index.hbs
  ui/admin/app/components/ordered-series-diagram/item/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1573 feat: 🎸 OrderedSeriesDiagram component
  ui/admin/app/components/ordered-series-diagram/group/index.hbs
  ui/admin/app/components/ordered-series-diagram/index.hbs
  ui/admin/app/components/ordered-series-diagram/item/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/integration/components/ordered-series-diagram/group/index-test.js
  ui/admin/tests/integration/components/ordered-series-diagram/index-test.js
  ui/admin/tests/integration/components/ordered-series-diagram/item/index-test.js
Labels: enhancement, ui, admin

#1581 feat: 🎸 Add feature flag for vault ssh certificate
  ui/admin/config/environment.js
Labels: ui, admin

#1583 feat: 🎸 create Worker Diagram for OSS
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/ordered-series-diagram/index.hbs
  ui/admin/app/components/worker-diagram/index.hbs
  ui/admin/app/components/worker-diagram/single-filter/index.hbs
  ui/admin/tests/integration/components/worker-diagram/index-test.js
  ui/admin/tests/integration/components/worker-diagram/single-filter/index-test.js
Labels: ui, addons, admin

#1579 Icu 7490 UI add new address field to target
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/components/form/target/add-host-sets/index.js
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/templates/application.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, addons, admin

#1584 Create Worker Diagram for egress and ingress filters
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/worker-diagram/dual-filter/index.hbs
  ui/admin/app/components/worker-diagram/index.hbs
  ui/admin/config/environment.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/index-test.js
  ui/admin/tests/integration/components/worker-diagram/index-test.js
Labels: ui, addons, admin

#1580 refactor: 💡 Simplify template for confirmation dialog
  ui/admin/app/routes/application.js
  ui/admin/app/templates/application.hbs
Labels: ui, admin

#1588 chore: 🤖 enable feature flag
  ui/admin/config/environment.js
Labels: ui, ui/admin, admin

#1590 Oss workflow target egress filter
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, addons, admin

#1592 test: 💍 fixes flaky theme selection test
  ui/admin/app/templates/application.hbs
  ui/admin/tests/acceptance/authentication-test.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, desktop, admin

#1591 feat: 🎸 Update models for vault ssh cert feature
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/models/credential-library.js
  addons/api/addon/transforms/object-as-array.js
  addons/api/app/transforms/object-as-array.js
  addons/api/mirage/factories/credential-library.js
  addons/api/tests/unit/models/credential-library-test.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/api/tests/unit/transforms/object-as-array-test.js
  addons/core/translations/resources/en-us.yaml
Labels: addons, api-addon

#1595 chore: 🤖 create target worker explainer element
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/hcp/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/index.hbs
  ui/admin/app/components/worker-diagram/single-filter/index.hbs
  ui/admin/app/styles/app.scss
Labels: enhancement, ui, addons, admin

#1587 refactor: 💡 update hcp worker instructions
  ui/admin/app/components/form/worker/create-worker-led/index.js
Labels: ui, ui/admin, admin

#1599 chore: 🤖 fix incorrect url
  ui/admin/app/components/form/worker/create-worker-led/index.js
Labels: bug, ui, admin

#1589 Icu 7301 UI target oss workflow
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  addons/rose/addon/styles/hds/overrides.scss
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, addons, admin, styles-addon

#1594 Tests target update create
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, admin

#1600 fix: 🐛 empty member ids within managed groups
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.js
Labels: ui, admin

#1602 test: 💍 add ingress worker filter tests
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/integration/components/form/target/worker-filter-test.js
Labels: ui, admin

#1603 test: 💍 create target details integration tests
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/integration/components/form/target/details-test.js
Labels: ui, admin

#1605 refactor: 💡 fix missing translation error
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/worker-diagram/dual-filter/hcp/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/index.hbs
Labels: ui, addons, admin

#1604 refactor: 💡 logically separate save steps for targets
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/targets.js
Labels: ui, addons, admin

#1597 feat: 🎸 Setup types in cred library forms and use HDS component
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-library/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.js
  ui/admin/app/components/form/credential-library/vault-ssh-cert/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-cert/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
Labels: ui, addons, admin

#1601 target workers UI Enterprise and HCP workflow
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/hcp/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/integration/components/form/target/details-test.js
  ui/admin/tests/integration/components/form/target/worker-filter-test.js
Labels: ui, addons, admin

#1610 fix: 🐛 worker section margin and reduce layout shift
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/ordered-series-diagram/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, admin

#1607 chore: 🤖 Enable Multi-hop & Network Address for Targets feature
  ui/admin/config/environment.js
Labels: ui, admin

#1586 chore: 🤖 Refactor onboarding
  addons/core/public/resource-creation.svg
  addons/core/public/ssh-target-creation.svg
  addons/core/tests/integration/components/image-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/errors/en-us.yaml
  ui/admin/app/components/form/onboarding/choose-path/index.hbs
  ui/admin/app/components/form/onboarding/choose-path/index.js
  ui/admin/app/components/form/onboarding/create-resources/index.hbs
  ui/admin/app/components/form/onboarding/create-resources/index.js
  ui/admin/app/components/form/onboarding/index.hbs
  ui/admin/app/components/form/onboarding/index.js
  ui/admin/app/router.js
  ui/admin/app/routes/onboarding.js
  ui/admin/app/routes/onboarding/quick-setup/choose-path.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources.js
  ui/admin/app/routes/onboarding/quick-setup/create-resources/success.js
  ui/admin/app/routes/onboarding/success.js
  ui/admin/app/routes/scopes/scope/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/index.hbs
  ui/admin/app/templates/onboarding/quick-setup/choose-path.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources/index.hbs
  ui/admin/app/templates/onboarding/quick-setup/create-resources/success.hbs
  ui/admin/app/templates/onboarding/success.hbs
  ui/admin/tests/acceptance/onboarding/choose-path-test.js
  ui/admin/tests/acceptance/onboarding/create-resource-test.js
  ui/admin/tests/acceptance/onboarding/onboarding-test.js
  ui/admin/tests/acceptance/onboarding/success-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/choose-path-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/create-resources-test.js
  ui/admin/tests/unit/routes/onboarding/quick-setup/create-resources/success-test.js
  ui/admin/tests/unit/routes/onboarding/success-test.js
Labels: ui, addons, admin

#1613 chore: 🤖 fix broken host set links
  ui/admin/config/environment.js
Labels: ui, admin
