Repository hashicorp/boundary-ui, pull requests merged in 2024-01, with the labels that each got.

#2057 refactor: 💡 Migrate host-sets-list in host catalog to `Hds`
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
Labels: ui, ui/admin, admin

#2055 refactor: 💡 Migrate host-catalogs list to `Hds::Table`
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
Labels: ui, admin

#2054 feat: storage policy API and mirage changes
  addons/api/addon/generated/models/policy.js
  addons/api/addon/models/policy.js
  addons/api/addon/transforms/object.js
  addons/api/app/models/policy.js
  addons/api/app/transforms/object.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/policy.js
  addons/api/mirage/factories/scope.js
  addons/api/mirage/generated/factories/policy.js
  addons/api/mirage/models/policy.js
  addons/api/mirage/scenarios/default.js
  addons/api/package.json
  addons/api/tests/unit/models/policy-test.js
  addons/api/tests/unit/transforms/object-test.js
Labels: addons, api-addon

#2056 chore: 🤖 new routes for storage policy
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/abilities/scope.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/policies.js
  ui/admin/app/routes/scopes/scope/policies/index.js
  ui/admin/app/routes/scopes/scope/policies/new.js
  ui/admin/app/routes/scopes/scope/policies/policy.js
  ui/admin/app/routes/scopes/scope/policies/policy/index.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/policies.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/policies/new.hbs
  ui/admin/app/templates/scopes/scope/policies/policy.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/tests/unit/routes/scopes/scope/policies/index-test.js
  ui/admin/tests/unit/routes/scopes/scope/policies/new-test.js
  ui/admin/tests/unit/routes/scopes/scope/policies/policy-test.js
  ui/admin/tests/unit/routes/scopes/scope/policies/policy/index-test.js
Labels: ui, addons, admin

#2069 fix: 🐛 transform
  addons/api/addon/transforms/object.js
Labels: addons, api-addon

#2066 refactor: 💡 Refactor `credential-stores-list` to use `Hds`
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
Labels: ui, ui/admin, admin

#2059 refactor: 💡 Migrate `credentials-list` to `Hds::Table`
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/index.hbs
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
Labels: ui, admin

#2075 fix: 🐛 Fix display of no results from type filter
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
Labels: ui, desktop

#2074 feat: 🎸 Add loading indicators for initial loads of resources
  addons/core/addon/styles/addon.scss
  addons/core/translations/states/en-us.yaml
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/loading.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/loading.hbs
Labels: ui, addons, desktop

#2071 feat: storage policies list view
  addons/api/addon/abilities/policy.js
  addons/api/app/abilities/policy.js
  addons/api/mirage/factories/policy.js
  addons/core/addon/helpers/format-day-year.js
  addons/core/app/helpers/format-day-year.js
  addons/core/tests/integration/helpers/format-day-year-test.js
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/policies.js
  ui/admin/app/routes/scopes/scope/policies/index.js
  ui/admin/app/routes/scopes/scope/policies/new.js
  ui/admin/app/routes/scopes/scope/policies/policy.js
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/tests/acceptance/policy/list-test.js
Labels: ui, addons, admin, api-addon

#2067 refactor: 💡 Migrate `credential-libraries-list` to `Hds::Table`
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/tests/acceptance/credential-library/read-test.js
Labels: ui, ui/admin, admin

#2080 chore: 🤖 add attach and detach storage policy permissions
  addons/api/addon/abilities/scope.js
  addons/api/app/abilities/scope.js
  addons/api/mirage/factories/scope.js
  addons/api/tests/unit/abilities/scope-test.js
  ui/admin/app/abilities/scope.js
  ui/admin/tests/unit/abilities/scope-test.js
Labels: ui, addons, admin, api-addon

#2049 refactor: 💡 Migrate `hosts`list within host-set to `Hds::Table`
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
Labels: ui, admin

#2070 refactor: 💡 Migrate `workers-tags` over to use `Hds::Table`
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.js
Labels: ui, ui/admin, admin

#2079 feat: 🎸 create storage policy
  addons/api/addon/transforms/object.js
  addons/api/mirage/serializers/policy.js
  addons/core/addon/helpers/format-day-year.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/policy/index.hbs
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
  ui/admin/app/routes/scopes/scope/policies.js
  ui/admin/app/routes/scopes/scope/policies/new.js
  ui/admin/app/routes/scopes/scope/policies/policy.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/policies/new.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/tests/acceptance/policy/create-test.js
  ui/admin/tests/acceptance/policy/read-test.js
Labels: ui, addons, admin, api-addon

#2086 feat: 🎸 scope policy association api changes
  addons/api/addon/generated/models/scope.js
  addons/api/addon/models/policy.js
  addons/api/addon/models/scope.js
  addons/api/addon/serializers/scope.js
  addons/api/app/serializers/scope.js
  addons/api/tests/unit/models/scope-test.js
  ui/admin/app/components/form/policy/policy-selection/index.js
Labels: ui, addons, admin, api-addon

#2083 feat: 🎸 target list will update according to org scope selected
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
Labels: ui, desktop

#2085 feat: 🎸 Add fallback if client daemon is down or errors
  addons/api/addon/handlers/client-daemon-handler.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
Labels: ui, addons, desktop, api-addon

#2084 Icu 12137 add additional session sorting and add default filters
  addons/core/addon/components/filter-tags/index.js
  addons/core/tests/integration/components/filter-tags/index-test.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
Labels: ui, addons, desktop

#2090 Add more options retain
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.js
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
Labels: ui, addons, admin

#2089 policy association form
  addons/api/mirage/config.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/scope/add-storage-policy/index.hbs
  ui/admin/app/components/form/scope/add-storage-policy/index.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/create.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/index.js
  ui/admin/app/routes/scopes/scope/edit.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/add-storage-policy/index.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/tests/acceptance/scopes/add-storage-policy-test.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/create-test.js
  ui/admin/tests/unit/routes/scopes/scope/add-storage-policy/index-test.js
Labels: ui, addons, admin, api-addon

#2092 chore: 🤖 move overridable next to select
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, admin

#2088 refactor: 💡 Added middle alignment to all `Hds::Table`s
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, ui/admin, admin

#2081 refactor: 💡 Migrate `worker` detail view table to `Hds::Table`
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, ui/admin, admin

#2096 test: 💍 Add tests for MQL expression generator
  addons/api/addon/handlers/client-daemon-handler.js
  addons/api/addon/utils/mql-query.js
  addons/api/app/utils/mql-query.js
  addons/api/tests/unit/utils/mql-query-test.js
Labels: addons, api-addon

#2097 fix: 🐛 remove client daemon params and pass remaining params
  addons/api/addon/handlers/client-daemon-handler.js
Labels: addons, api-addon

#2098 fix: 🐛 policy UI bug fix
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/policy/policy-selection/index.js
  ui/admin/app/components/form/scope/add-storage-policy/create.hbs
  ui/admin/app/routes/scopes.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/create.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/tests/acceptance/policy/create-test.js
  ui/admin/tests/acceptance/policy/delete-test.js
  ui/admin/tests/acceptance/policy/update-test.js
Labels: ui, addons, admin

#2099 fix: 🐛 Fix errors not getting propagated up from client daemon
  ui/desktop/electron-app/src/helpers/request-promise.js
Labels: ui, desktop

#2102 refactor: 💡 change active sessions filter options wording
  addons/core/translations/resources/en-us.yaml
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
Labels: ui, addons, desktop

#2101 feat: 🎸 Add warning when upgrading to 2.0 for desktop client
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#2104 fix: 🐛 delete and retain_until should be readonly and Scope level policies
  addons/api/addon/generated/models/session-recording.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/index.js
Labels: ui, addons, admin, api-addon

#2106 chore: 🤖 toggle translation based on state
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/session-recordings.js
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/channels-by-connection.js
Labels: ui, addons, admin

#2105 fix: 🐛 Handle when requests to client daemon are returning 403
  addons/api/addon/handlers/client-daemon-handler.js
Labels: addons, api-addon

#2108 refactor: 💡 remove icon from sessions table for session id
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
Labels: ui, desktop

#2110 chore: 🤖 translation check and label
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/channels-by-connection.js
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
Labels: ui, admin

#2107 Icu 12179 add doc links for storage policies
  addons/core/translations/actions/en-us.yaml
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/add-storage-policy/index.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/policies/new.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/config/environment.js
Labels: ui, addons, admin

#2111 test(admin/e2e): Fix yarn scripts
  ui/admin/package.json
Labels: ui, admin

#2113 feat: 🎸 user can update clusterURL when controller unsupported
  addons/core/translations/en-us.yaml
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes.hbs
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop

#2114 Redirect on reapply error
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/channels-by-connection.js
Labels: ui, admin

#2115 fix: 🐛 Fix client daemon usage on windows
  addons/api/addon/handlers/client-daemon-handler.js
  ui/desktop/electron-app/src/cli/index.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/services/client-daemon-manager.js
Labels: ui, addons, desktop, api-addon

#2117 chore: 🤖 update changelog and version for v2.0.0
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2119 fix: 🐛 fix transition aborted error on storage bucket creation
  ui/admin/app/routes/scopes/scope/storage-buckets/storage-bucket.js
  ui/admin/tests/acceptance/storage-buckets/create-test.js
Labels: ui, admin

#2118 refactor: 💡 add -addr flag to add-token command
  ui/desktop/electron-app/src/services/client-daemon-manager.js
Labels: ui, desktop

#2120 fix: 🐛 update id to ids for target onboarding creation
  addons/api/mirage/factories/role.js
  ui/admin/app/routes/onboarding.js
  ui/admin/tests/acceptance/roles/grants-test.js
Labels: ui, addons, admin, api-addon

#2121 docs: ✏️ remove dev only bug fix from changelog
  ui/desktop/CHANGELOG.md
Labels: ui, desktop

#2122 refactor: 💡 update how we determine is pagination is supported
  addons/api/mirage/config.js
  ui/desktop/app/routes/scopes.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, api-addon

#2123 refactor: 💡 move token call to be inside try-catch block
  addons/api/addon/handlers/client-daemon-handler.js
Labels: addons, api-addon

#2124 fix: 🐛 Add refresh button back
  addons/core/addon/styles/addon.scss
  addons/rose/app/styles/rose/components/toolbar/_info.scss
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
Labels: ui, addons, desktop, styles-addon

#2116 chore: 🤖 update HDS to 3.5.0
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon
