Repository hashicorp/boundary-ui, pull requests merged in 2024-09, with the labels that each got.

#2471 test: 💍 add TODO for a11y violations
  ui/admin/tests/acceptance/accounts/change-password-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/session-recordings/read-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/acceptance/workers/read-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop, admin

#2474 chore: 🤖 update TODO to with ICU ticket
  ui/admin/tests/acceptance/accounts/change-password-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/session-recordings/read-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/acceptance/workers/read-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop, admin

#2472 fix: 🐛 pass current url to maintain session
  ui/desktop/app/components/settings-card/client-agent/index.js
Labels: ui, desktop

#2478 style: 💄 Fix text description
  addons/core/translations/resources/en-us.yaml
Labels: addons

#2473 chore: 🤖 upgrade semver versions
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, desktop

#2463 refactor: 💡 update test selectors for storage-buckets list
  ui/admin/tests/acceptance/storage-buckets/list-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2476 chore: 🤖 upgrade braces to 3.0.3 to fix security vulnerability
  addons/api/package.json
  addons/api/tests/helpers/index.js
  addons/auth/package.json
  addons/auth/tests/helpers/index.js
  addons/core/package.json
  addons/core/tests/helpers/index.js
  addons/core/tests/integration/components/dropdown/index-test.js
  addons/core/tests/integration/components/error/message-test.js
  addons/core/tests/integration/components/filter-tags/index-test.js
  addons/core/tests/integration/components/form/authenticate-test.js
  addons/core/tests/integration/helpers/format-day-year-test.js
  addons/core/tests/integration/helpers/format-time-duration-test.js
  addons/core/tests/integration/helpers/relative-datetime-live-test.js
  addons/core/tests/integration/helpers/reverse-indexed-display-name-test.js
  addons/core/tests/integration/helpers/time-remaining-test.js
  addons/core/tests/integration/helpers/truncate-list-test.js
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/admin/tests/helpers/index.js
  ui/admin/tests/integration/components/form/field/json-secret-test.js
  ui/admin/tests/integration/components/form/field/list-wrapper-test.js
  ui/admin/tests/integration/components/form/target/worker-filter-test.js
  ui/admin/tests/integration/components/form/worker/create-tags/index-test.js
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
  ui/admin/tests/integration/components/session-recording/player-test.js
  ui/admin/tests/integration/components/session-recording/status-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/hcp/index-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/index-test.js
  ui/admin/tests/integration/components/worker-diagram/index-test.js
  ui/admin/tests/integration/components/worker-diagram/single-filter/index-test.js
  ui/admin/tests/integration/components/workers/worker/actions/index-test.js
  ui/admin/tests/integration/components/workers/worker/header/index-test.js
  ui/admin/tests/integration/components/workers/worker/nav/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/scopes-test.js
  ui/admin/tests/unit/controllers/scopes/scope/session-recordings/session-recording/channels-by-connection/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/sessions/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/worker/tags-test.js
  ui/desktop/package.json
  ui/desktop/tests/helpers/index.js
  ui/desktop/tests/integration/components/credentials-panel-test.js
  ui/desktop/tests/integration/components/hidden-secret-test.js
  ui/desktop/tests/integration/components/proxy-url-test.js
  ui/desktop/tests/integration/components/target/host-modal-test.js
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2480 fix: 🐛 Fix daemon getting killed if started before DC
  ui/desktop/electron-app/src/services/cache-daemon-manager.js
Labels: ui, desktop

#2483 Add duration unit format
  addons/core/addon/helpers/format-time-duration.js
  addons/core/addon/helpers/time-remaining.js
  addons/core/addon/utils/seconds-to-duration.js
  addons/core/app/utils/seconds-to-duration.js
  addons/core/package.json
  addons/core/tests/integration/helpers/time-remaining-test.js
  addons/core/tests/unit/utils/seconds-to-duration-test.js
  yarn.lock
Labels: addons

#2468 Implement DC with no CLI and using users path CLI
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/src/cli/path.js
Labels: ui, desktop

#2484 fix: 🐛 add regex literal for isLocalHost check
  ui/desktop/electron-app/src/ipc/handlers.js
Labels: ui, desktop

#2489 refactor: 💡 change channel app state title & add alert msg
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/channels-by-connection/channel/index.js
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel/index.hbs
  ui/admin/tests/acceptance/session-recordings/session-recording/channels-by-connection/channel-test.js
Labels: ui, addons, admin

#2485 Icu 14208 vulnerabilities in boundary UI enterprise lodash template 4 5 0 in yarn lock
  package.json
  patches/lodash.template+4.5.0.patch
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/patches/lodash.template+4.5.0.patch
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, desktop

#2447 refactor: 💡 remove route-action usage for scopes in desktop
  ui/desktop/app/controllers/application.js
  ui/desktop/app/controllers/cluster-url.js
  ui/desktop/app/controllers/error.js
  ui/desktop/app/controllers/scopes/scope/authenticate/method/index.js
  ui/desktop/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/controllers/scopes/scope/projects/error.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/cluster-url.js
  ui/desktop/app/routes/scopes/scope/authenticate/method.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/cluster-url.hbs
  ui/desktop/app/templates/error.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/error.hbs
  ui/desktop/tests/helpers/window-mock-ipc.js
  ui/desktop/tests/unit/controllers/application-test.js
  ui/desktop/tests/unit/controllers/cluster-url-test.js
  ui/desktop/tests/unit/controllers/error-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/authenticate/method/index-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/authenticate/method/oidc-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/error-test.js
Labels: ui, desktop

#2494 fix: show username first and then password when credentials are listed
  ui/desktop/app/components/credentials-panel/index.hbs
  ui/desktop/app/components/credentials-panel/index.js
  ui/desktop/app/helpers/order-by.js
  ui/desktop/tests/integration/helpers/order-by-test.js
Labels: ui, desktop

#2497 small update to desktop README
  README.md
  ui/desktop/README.md
Labels: ui, desktop

#2498 icu-14735 add search & pagination to aliases
  addons/api/addon/services/indexed-db.js
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/aliases.js
  ui/admin/app/routes/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/scopes/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/tests/acceptance/aliases/list-test.js
  ui/admin/tests/unit/controllers/scopes/scope/aliases/index-test.js
Labels: ui, addons, admin, api-addon
