Repository hashicorp/boundary-ui, pull requests merged in 2024-11, with the labels that each got.

#2542 Update test selectors for create hosts
  ui/admin/tests/acceptance/groups/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/selectors.js
  ui/admin/tests/acceptance/roles/delete-test.js
  ui/admin/tests/acceptance/users/delete-test.js
Labels: ui, admin

#2540 Upgrade HDS dependency to 4.13 & migrate FlightIcon to Hds::Icon
  addons/core/tests/integration/components/session-status-test.js
  addons/rose/addon/components/rose/metadata-list/item/index.hbs
  addons/rose/index.js
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/metadata-list/index-test.js
  ui/admin/app/components/info-field/index.hbs
  ui/admin/app/components/link-list-panel/item/index.hbs
  ui/admin/app/components/ordered-series-diagram/group/index.hbs
  ui/admin/app/components/ordered-series-diagram/item/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/success.hbs
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel/loading.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/credential-library/delete-test.js
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
  ui/admin/tests/acceptance/credential-store/delete-test.js
  ui/admin/tests/acceptance/groups/delete-test.js
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/list-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/list-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/selectors.js
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/admin/tests/acceptance/users/delete-test.js
  ui/admin/tests/acceptance/workers/create-tags-test.js
  ui/admin/tests/acceptance/workers/delete-test.js
  ui/desktop/app/components/target/host-modal/index.hbs
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  yarn.lock
Labels: ui, addons, desktop, admin, styles-addon

#2545 Chore icu 15637 upgrade ember test helpers
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/index.js
  addons/rose/package.json
  ui/admin/package.json
  ui/admin/tests/acceptance/groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
  ui/admin/tests/acceptance/users/delete-test.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#2547 chore: 🤖 Upgrade Concurrently
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#2543 Remove build debian in Mac OS
  ui/desktop/README.md
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/desktop.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/environments/ubuntu-focal64/Vagrantfile
  ui/desktop/package.json
Labels: ui, desktop

#2551 Icu 15481 groups read and list test
  ui/admin/tests/acceptance/groups/list-test.js
  ui/admin/tests/acceptance/groups/read-test.js
Labels: ui, admin

#2550 chore: 🤖 audit remaining resolutions
  package.json
  ui/admin/package.json
  ui/desktop/electron-app/yarn.lock
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#2549 test: 💍 Update test selectors for read hosts
  ui/admin/tests/acceptance/host-catalogs/hosts/read-test.js
Labels: ui, admin

#2552 chore: 🤖 Upgrade qunit-dom
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#2555 Icu 15465 credential library create test
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/selectors.js
Labels: ui, admin

#2524 test(e2e): Add extra timeout for "delete resources" test
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.mjs
  ui/admin/tests/e2e/tests/delete-resources.spec.mjs
Labels: ui, admin

#2558 refactor: 💡 move WorkerFilter component to more generic folder
  ui/admin/app/components/worker-filter/index.hbs
  ui/admin/app/components/worker-filter/index.js
  ui/admin/app/templates/scopes/scope/targets/target/edit-egress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-ingress-worker-filter.hbs
  ui/admin/tests/integration/components/worker-filter/index-test.js
Labels: ui, admin

#2559 test: 💍 clean up worker filter component tests
  ui/admin/tests/integration/components/worker-filter/index-test.js
Labels: ui, admin

#2562 Icu 15741 add show filter generator toggle to worker filter component
  addons/core/translations/en-us.yaml
  ui/admin/app/components/worker-filter/index.hbs
  ui/admin/app/components/worker-filter/index.js
  ui/admin/app/templates/scopes/scope/targets/target/edit-egress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-ingress-worker-filter.hbs
  ui/admin/config/environment.js
  ui/admin/tests/integration/components/worker-filter/index-test.js
Labels: ui, addons, admin

#2565 Icu 15743 tag workflow
  addons/core/translations/en-us.yaml
  ui/admin/app/components/worker-filter/index.hbs
  ui/admin/app/components/worker-filter/index.js
  ui/admin/app/styles/app.scss
  ui/admin/tests/integration/components/worker-filter/index-test.js
Labels: ui, addons, admin

#2572 chore: 🤖 Upgrade ember-cookies
  addons/auth/package.json
  yarn.lock
Labels: addons, auth-addon

#2556 chore: 🤖 remove ember radio btn, update it with hds
  addons/rose/addon/components/rose/form/index.hbs
  addons/rose/addon/components/rose/form/radio/group/index.hbs
  addons/rose/addon/components/rose/form/radio/radio/index.hbs
  addons/rose/addon/components/rose/form/radio/radio/index.js
  addons/rose/app/components/rose/form/radio/card.js
  addons/rose/app/components/rose/form/radio/group.js
  addons/rose/app/components/rose/form/radio/radio.js
  addons/rose/app/styles/rose/components/form/_index.scss
  addons/rose/app/styles/rose/components/form/_radio.scss
  addons/rose/package.json
  addons/rose/tests/integration/components/rose/form-test.js
  addons/rose/tests/integration/components/rose/form/radio/group-test.js
  addons/rose/tests/integration/components/rose/form/radio/radio-test.js
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/controllers/application.js
  ui/admin/app/routes/application.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/application.hbs
  ui/admin/tests/acceptance/auth-methods/oidc-test.js
  ui/admin/tests/acceptance/workers/create-test.js
  yarn.lock
Labels: ui, addons, admin, styles-addon

#2573 Upgrade ember-simple-auth to latest
  addons/auth/package.json
  yarn.lock
Labels: addons, auth-addon

#2576 [ICU-15718] Add worker filter route, template for empty state
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/worker-filter.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/worker-filter.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/worker-filter.hbs
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/worker-filter-test.js
Labels: ui, addons, admin

#2578 feat: 🎸 update worker filter field to use code editor
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/components/worker-filter-generator/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
  ui/admin/tests/acceptance/targets/enable-session-recording/create-storage-bucket-test.js
Labels: ui, admin

#2579 style: 💄 fix z-index for rose-dialog modal
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#2580 test: 💍 update tests for new worker filter field
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
Labels: ui, admin

#2581 Migrate embe-autofocus-modifier to HTML autofocus standard
  ui/desktop/app/templates/cluster-url.hbs
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#2584 chore: 🤖 Delete ember-cli-app-version
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop, admin

#2586 chore: 🤖 Upgrade lint-staged to v15
  package.json
  yarn.lock
Labels: dependencies

#2593 [ICU-15720] Add edit worker filter action to manage dropdown
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
Labels: ui, addons, admin

#2582 [ICU-15719] Create edit worker filter route and template
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/edit-worker-filter.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/edit-worker-filter.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/edit-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/worker-filter.hbs
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/edit-worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/edit-worker-filter-test.js
Labels: ui, addons, admin

#2585 chore: 🤖 Upgrade sinon
  addons/core/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, dependencies, desktop, admin

#2590 refactor: 💡 Remove rose:linkbutton
  addons/rose/addon/components/rose/link-button/index.hbs
  addons/rose/app/components/rose/link-button.js
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/_link-button.scss
  addons/rose/tests/integration/components/rose/link-button-test.js
Labels: addons, styles-addon

#2591 chore: 🤖 Upgrade uuid
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop

#2583 fix vault brokered credentials display
  addons/api/addon/models/session.js
  addons/api/addon/utils/flatten-nested-object.js
  addons/api/mirage/scenarios/ipc.js
  addons/api/tests/unit/models/session-test.js
  addons/api/tests/unit/utils/flatten-nested-object-test.js
  ui/desktop/tests/integration/components/credentials-panel-test.js
Labels: ui, addons, desktop, api-addon

#2596 [ICU-15721] Remove worker filter input field
  ui/admin/app/components/form/credential-store/vault/index.hbs
Labels: ui, admin

#2595 [ICU-15838] Add vault credential store worker filter tests
  ui/admin/tests/acceptance/credential-store/selectors.js
  ui/admin/tests/acceptance/credential-store/update-test.js
Labels: ui, admin
