Repository hashicorp/boundary-ui, pull requests merged in 2024-03, with the labels that each got.

#2135 refactor: 💡 remove usage of route-action for app route
  ui/admin/app/controllers/application.js
  ui/admin/app/routes/application.js
  ui/admin/app/templates/application.hbs
Labels: ui, admin

#2134 refactor: 💡 remove route-action usage in accounts
  ui/admin/app/components/auth-methods/auth-method/accounts/account/actions/index.hbs
  ui/admin/app/controllers/account/change-password.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/accounts/account/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/accounts/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/accounts/new.js
  ui/admin/app/routes/account/change-password.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/accounts/account/set-password.js
  ui/admin/app/templates/account/change-password.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/set-password.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/new.hbs
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts/account/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts/account/set-password-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/accounts/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/index-test.js
Labels: ui, admin

#2179 fix: 🐛 update destination path for autoUpdater workflow
  ui/desktop/electron-app/src/helpers/app-updater.js
Labels: ui, desktop

#2182 test(e2e): Admin UI test fixes
  ui/admin/tests/e2e/playwright.config.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
Labels: ui, admin

#2175 test: 💍 Add storage policies e2e-test
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/session-recording-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
Labels: ui, admin

#2181 feat: 🎸 mirage support and initial route for aliases
  addons/api/addon/generated/models/alias.js
  addons/api/addon/models/alias.js
  addons/api/app/models/alias.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/alias.js
  addons/api/mirage/factories/scope.js
  addons/api/mirage/generated/factories/alias.js
  addons/api/mirage/models/alias.js
  addons/api/mirage/scenarios/default.js
  addons/api/tests/unit/models/alias-test.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/aliases.js
Labels: ui, addons, admin, api-addon

#2185 chore: Add routes for aliases
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/aliases/alias/index.js
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/controllers/scopes/scope/aliases/new.js
  ui/admin/app/routes/scopes/scope/aliases/alias.js
  ui/admin/app/routes/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/aliases/new.js
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/aliases.hbs
  ui/admin/app/templates/scopes/scope/aliases/alias.hbs
  ui/admin/app/templates/scopes/scope/aliases/alias/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/new.hbs
  ui/admin/tests/unit/controllers/scopes/scope/aliases/alias/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/aliases/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/aliases/new-test.js
Labels: ui, addons, admin

#2168 refactor: 💡 Remove route-action usage for managed-groups
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.js
  ui/admin/app/controllers/scopes/scope/auth-methods/auth-method/managed-groups/new.js
  ui/admin/app/controllers/scopes/scope/auth-methods/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups.js
  ui/admin/app/routes/scopes/scope/auth-methods/auth-method/managed-groups/managed-group.js
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new.hbs
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members-test.js
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/auth-method/managed-groups/new-test.js
Labels: ui, admin

#2072 feat: 🎸 Add filtering/pagination for admin ui targets
  addons/core/addon/components/dropdown/index.hbs
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/index-test.js
Labels: ui, addons, desktop, admin, api-addon, styles-addon

#2186 refact(e2e): Move env outside of helper methods
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/session-recording-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-certificate-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#2172 refactor: 💡 remove route-action usage from credential-stores
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/credential/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/new.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credentials/new.js
  ui/admin/app/routes/scopes/scope/credential-stores/new.js
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/new.hbs
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/credential-libraries/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/credentials/credential/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/credentials/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/index-test.js
Labels: ui, admin

#2183 chore: 🤖 Update desktop client changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2189 fix(e2e): Address flake in log in/log out test
  ui/admin/tests/e2e/tests/login.spec.js
Labels: ui, admin

#2191 refact(e2e): Update create helper methods
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/session-recording-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-certificate-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#2200 refact(e2e): Convert to match "create" helper convention
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
Labels: ui, admin

#2195 feat: 🎸 add search & pagination support for users
  addons/api/addon/services/indexed-db.js
  ui/admin/app/controllers/scopes/scope/users/index.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/tests/acceptance/users/delete-test.js
  ui/admin/tests/acceptance/users/list-test.js
  ui/admin/tests/acceptance/users/read-test.js
  ui/admin/tests/acceptance/users/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/index-test.js
Labels: ui, addons, admin, api-addon

#2199 fix: 🐛 remove recursive param from list scopes endpoint
  ui/desktop/app/routes/scopes.js
Labels: ui, desktop

#2201 fix: 🐛 show change cluster url when no auth methods
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, desktop

#2197 chore: 🤖 aliases list view
  addons/api/mirage/scenarios/default.js
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/alias/index.hbs
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/aliases.js
  ui/admin/app/routes/scopes/scope/aliases/alias/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/aliases/alias/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/tests/acceptance/aliases/list-test.js
Labels: ui, addons, admin, api-addon

#2169 Icu 12860 retain values in form fields in credential library when switching types
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/credential-libraries/new.js
Labels: ui, ui/admin, admin

#2204 Icu 12590 add filtering pagination support for roles
  addons/api/addon/services/indexed-db.js
  addons/api/mirage/config.js
  ui/admin/app/controllers/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/tests/acceptance/roles/create-test.js
  ui/admin/tests/acceptance/roles/list-test.js
  ui/admin/tests/acceptance/roles/read-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/index-test.js
Labels: ui, addons, admin, api-addon

#2207 test(e2e): Update credential library form behavior
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
Labels: ui, admin
