Repository hashicorp/boundary-ui, pull requests merged in 2024-02, with the labels that each got.

#2128 chore: 🤖 replace `Rose::CodeEditor` with `Hds::CodeBlock` on new worker page
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, addons, admin

#2131 feat: 🎸 remove Type of Worker from worker details page
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/worker/index.hbs
Labels: ui, addons, admin

#2129 refactor: 💡 only show scopes with auth methods at authenticate
  ui/admin/app/routes/scopes/scope/authenticate.js
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/tests/acceptance/authentication-test.js
  ui/desktop/app/routes/scopes/scope/authenticate.js
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, desktop, admin

#2112 chore: 🤖 Create `select` field render for the `Form::Field::ListWrapper`
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/field/list-wrapper/index.hbs
  ui/admin/app/components/form/field/list-wrapper/select/index.hbs
  ui/admin/app/components/form/field/list-wrapper/select/index.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
  ui/admin/tests/integration/components/form/field/list-wrapper-test.js
Labels: ui, ui/admin, admin

#2133 Icu 12557 refresh not working as intended on windows
  ui/desktop/electron-app/src/services/client-daemon-manager.js
Labels: ui, desktop

#2138 refactor: 💡 Migrate last `form.fieldset` over to use Hds
  ui/admin/app/components/form/credential/json/index.hbs
Labels: ui, ui/admin, admin

#2141 [Admin UI] Adopt HDS::Copy::Snippet
  ui/admin/app/components/auth-methods/auth-method/accounts/account/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/header/index.hbs
  ui/admin/app/components/copyable/index.hbs
  ui/admin/app/components/copyable/index.js
  ui/admin/app/components/credential-stores/credential-store/header/index.hbs
  ui/admin/app/components/groups/group/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/hosts/host/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/header/index.hbs
  ui/admin/app/components/roles/role/header/index.hbs
  ui/admin/app/components/targets/target/header/index.hbs
  ui/admin/app/components/users/user/header/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/authentication-error.hbs
  ui/admin/app/templates/onboarding/success.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/set-password.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential/index.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/grants.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/injected-application-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
  ui/admin/ember-cli-build.js
  ui/admin/package.json
  ui/admin/tests/acceptance/onboarding/success-test.js
  ui/admin/tests/integration/components/copyable-test.js
Labels: ui, admin

#2144 chore: 🤖 add credential type select list
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/models/credential-library.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
Labels: ui, addons, admin, api-addon

#2139 docs: ✏️ update enos readme
  ui/admin/tests/e2e/README.md
Labels: ui, admin

#2142 refactor: 💡 Migrate `form.input` to `Hds::TextInput::Field`
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/tests/acceptance/auth-methods/update-test.js
Labels: ui, ui/admin, admin

#2157 refactor: 💡 Quick fix for `client_secret` type argument
  ui/admin/app/components/form/auth-method/oidc/index.hbs
Labels: ui, ui/admin, admin

#2146 refactor: 💡 Adopt HDS copy snippet Desktop UI
  addons/core/translations/form/en-us.yaml
  ui/desktop/app/components/copyable/index.hbs
  ui/desktop/app/components/copyable/index.js
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/components/session/tabs/index.hbs
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/package.json
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/integration/components/copyable-test.js
  ui/desktop/tests/integration/components/credentials-panel-test.js
  ui/desktop/tests/integration/components/hidden-secret-test.js
  yarn.lock
Labels: ui, addons, desktop

#2156 Icu 12567 add new field credential mapping overrides
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/models/credential-library.js
  addons/api/addon/serializers/credential-library.js
  addons/api/mirage/factories/credential-library.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.js
  ui/admin/app/components/form/field/list-wrapper/index.hbs
  ui/admin/app/components/form/field/list-wrapper/select-text/index.hbs
  ui/admin/app/components/form/field/list-wrapper/select-text/index.js
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
  ui/admin/tests/integration/components/form/field/list-wrapper-test.js
Labels: ui, addons, admin, api-addon

#2140 doc: var name
  ui/admin/tests/e2e/README.md
Labels: ui, admin

#2160 fix: 🐛 change delete to detach Storage policy from a scope
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/edit.hbs
Labels: ui, addons, admin

#2154 chore: Migrate `form.input` to use `Hds` text input field
  ui/desktop/app/templates/cluster-url.hbs
Labels: ui, desktop

#2161 Fix credential library mocks
  addons/api/mirage/config.js
  ui/admin/tests/acceptance/credential-library/update-test.js
Labels: ui, addons, admin, api-addon

#2145 chore: 🤖 Migrate `form.inpu` to use Hds::TextInput::Field`
  ui/admin/app/components/form/group/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/tests/acceptance/groups/create-test.js
  ui/admin/tests/acceptance/groups/update-test.js
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/update-test.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
Labels: ui, ui/admin, admin

#2163 fix: 🐛 move config processing to mirage serializer
  addons/api/mirage/config.js
  addons/api/mirage/serializers/credential-library.js
Labels: addons, api-addon

#2150 chore: 🤖 Migrate `form.input` to `Hds::TextInput:Field`
  ui/admin/app/components/form/managed-group/oidc/index.hbs
  ui/admin/app/components/form/user/index.hbs
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/update-test.js
  ui/admin/tests/acceptance/workers/update-test.js
Labels: ui, ui/admin, admin

#2147 chore: 🤖 Migrate `form.input` to `Hds::TextInput::Field`
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/static/index.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/update-test.js
Labels: ui, ui/admin, admin

#2143 chore: 🤖 Migrate `form.input` to `Hds::TextInput::Field`
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/credential/json/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
Labels: ui, ui/admin, addons, admin

#2151 chore: 🤖 Migrate `form.inut` to `Hds::TextInput::Field`
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/workers/create-test.js
Labels: ui, ui/admin, admin

#2165 update cli version and update changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2164 test(e2e): Add LDAP Admin UI e2e test
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
Labels: ui, admin
