Repository hashicorp/boundary-ui, pull requests merged in 2024-12, with the labels that each got.

#2597 refactor: 💡 Migrate ember-uuid to uuid
  addons/api/mirage/route-handlers/auth.js
  addons/rose/addon/utilities/component-auto-id.js
  addons/rose/package.json
  ui/admin/package.json
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
  yarn.lock
Labels: ui, addons, admin, api-addon, styles-addon

#2598 refactor: 💡 Add await to invalidSession within desktop
  ui/desktop/tests/acceptance/application-test.js
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/cluster-url-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop

#2589 refactor: 💡 remove rose table references
  addons/rose/.template-lintrc.js
  addons/rose/addon/components/rose/table/index.hbs
  addons/rose/addon/components/rose/table/row/cell/index.hbs
  addons/rose/addon/components/rose/table/row/cell/index.js
  addons/rose/addon/components/rose/table/row/index.hbs
  addons/rose/addon/components/rose/table/row/index.js
  addons/rose/addon/components/rose/table/section/index.hbs
  addons/rose/addon/components/rose/table/section/index.js
  addons/rose/app/components/rose/notification.js
  addons/rose/app/components/rose/table.js
  addons/rose/app/components/rose/table/row.js
  addons/rose/app/components/rose/table/row/cell.js
  addons/rose/app/components/rose/table/section.js
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/table/_index.scss
  addons/rose/app/styles/rose/components/table/_table.scss
  addons/rose/tests/integration/components/rose/table-test.js
  addons/rose/tests/integration/components/rose/table/row-test.js
  addons/rose/tests/integration/components/rose/table/row/cell-test.js
  addons/rose/tests/integration/components/rose/table/section-test.js
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/accounts/read-test.js
  ui/admin/tests/acceptance/credential-library/read-test.js
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/groups/read-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/read-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/read-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/host-catalogs/read-test.js
  ui/admin/tests/acceptance/storage-buckets/read-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/acceptance/users/list-test.js
  ui/admin/tests/acceptance/users/read-test.js
  ui/admin/tests/helpers/selectors.js
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, admin, styles-addon

#2599 refactor: 💡 Add await to invalidSession within admin
  ui/admin/tests/acceptance/accounts/change-password-test.js
  ui/admin/tests/acceptance/authentication-test.js
Labels: ui, admin

#2600 refactor: 💡 Add await to authenticateSession within desktop
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/projects-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
  ui/desktop/tests/acceptance/projects/settings/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/unit/controllers/application-test.js
  ui/desktop/tests/unit/controllers/cluster-url-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/authenticate/method/index-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/sessions/index-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/targets/index-test.js
Labels: ui, desktop

#2604 fix: 🐛 Fix addons/auth yarn warning
  addons/auth/package.json
Labels: addons, dependencies, auth-addon

#2594 Icu 14777 add more target tests
  e2e-tests/README.md
  e2e-tests/admin/global-setup.js
  e2e-tests/admin/playwright.config.js
  e2e-tests/admin/tests/alias-ent.spec.js
  e2e-tests/admin/tests/alias.spec.js
  e2e-tests/admin/tests/auth-method-ldap.spec.js
  e2e-tests/admin/tests/auth-method-password.spec.js
  e2e-tests/admin/tests/credential-store-static-ent.spec.js
  e2e-tests/admin/tests/credential-store-static.spec.js
  e2e-tests/admin/tests/credential-store-vault-ent.spec.js
  e2e-tests/admin/tests/credential-store-vault.spec.js
  e2e-tests/admin/tests/delete-resources-ent.spec.js
  e2e-tests/admin/tests/delete-resources.spec.js
  e2e-tests/admin/tests/dynamic-host-catalog-aws.spec.js
  e2e-tests/admin/tests/global-settings.spec.js
  e2e-tests/admin/tests/group-role.spec.js
  e2e-tests/admin/tests/login.spec.js
  e2e-tests/admin/tests/pagination.spec.js
  e2e-tests/admin/tests/session-recording-aws-ent.spec.js
  e2e-tests/admin/tests/session-recording-minio-ent.spec.js
  e2e-tests/admin/tests/ssh-certificate-injection-vault-ent.spec.js
  e2e-tests/admin/tests/ssh-credential-injection-vault-ent.spec.js
  e2e-tests/admin/tests/target-ent.spec.js
  e2e-tests/admin/tests/target.spec.js
  e2e-tests/admin/tests/worker-ent.spec.js
  e2e-tests/admin/tests/worker-tags.spec.js
  e2e-tests/admin/tests/worker.spec.js
  e2e-tests/desktop/fixtures/baseTest.js
  e2e-tests/desktop/playwright.config.js
  e2e-tests/desktop/tests/authentication.spec.js
  e2e-tests/desktop/tests/targets.spec.js
  e2e-tests/global-setup.js
  e2e-tests/helpers/boundary-http.js
  e2e-tests/helpers/boundary-http/credential-stores.js
  e2e-tests/helpers/boundary-http/credentials.js
  e2e-tests/helpers/boundary-http/host-catalogs.js
  e2e-tests/helpers/boundary-http/host-sets.js
  e2e-tests/helpers/boundary-http/hosts.js
  e2e-tests/helpers/boundary-http/responseHelper.js
  e2e-tests/helpers/boundary-http/scopes.js
  e2e-tests/helpers/boundary-http/targets.js
  e2e-tests/package.json
  ui/admin/package.json
  yarn.lock
Labels: ui, admin

#2605 fix: 🐛 Delete peerDeps within our addons
  addons/api/package.json
  addons/core/package.json
  addons/rose/package.json
Labels: addons, dependencies, api-addon, styles-addon

#2609 test: 💍 Update test selectors for update host test
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/selectors.js
  ui/admin/tests/acceptance/host-catalogs/hosts/update-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2617 fix: 🐛 update @name attribute for RadioCard Groups
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/alias/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/credential/json/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, addons, admin

#2610 Fix e2e test page selectors due to hds refactor
  e2e-tests/admin/pages/auth-methods.js
  e2e-tests/admin/pages/groups.js
  e2e-tests/admin/pages/roles.js
  e2e-tests/admin/pages/targets.js
  e2e-tests/admin/pages/users.js
  e2e-tests/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#2619 Change validation field from name (optional) to address (required)
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
Labels: ui, admin

#2614 Llb/worker filter improvements
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.js
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/components/form/worker-filter/index.hbs
  ui/admin/app/components/worker-filter-generator/index.hbs
  ui/admin/app/components/worker-filter-generator/index.js
  ui/admin/app/components/worker-filter/index.hbs
  ui/admin/app/components/worker-filter/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/edit-worker-filter.js
  ui/admin/app/controllers/scopes/scope/credential-stores/credential-store/worker-filter.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/edit-worker-filter.js
  ui/admin/app/routes/scopes/scope/credential-stores/credential-store/worker-filter.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/edit-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-egress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-ingress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/workers.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/credential-store/selectors.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
  ui/admin/tests/acceptance/targets/enable-session-recording/create-storage-bucket-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/integration/components/worker-filter-generator/index-test.js
  ui/admin/tests/integration/components/worker-filter/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/edit-worker-filter-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/credential-store/worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/edit-worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/credential-stores/credential-store/worker-filter-test.js
Labels: ui, addons, admin

#2611 chore: handle nested data from static json credentials
  addons/api/addon/models/credential.js
  addons/api/addon/models/session.js
  addons/api/mirage/scenarios/ipc.js
  ui/admin/app/components/form/credential/index.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
Labels: ui, addons, desktop, admin, api-addon

#2624 test: 💍 use selectors in update credential-libraries
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/tests/acceptance/credential-library/create-test.js
  ui/admin/tests/acceptance/credential-library/selectors.js
  ui/admin/tests/acceptance/credential-library/update-test.js
Labels: ui, admin

#2621 Cleanup worker filter translations
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/en-us.yaml
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/components/targets/target/nav/index.hbs
  ui/admin/app/components/worker-filter-generator/index.hbs
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/edit-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/workers.hbs
  ui/admin/app/templates/scopes/scope/workers.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/tests/acceptance/targets/workers-test.js
Labels: ui, addons, admin

#2626 test: 💍 Refactor host delete test selectors
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/selectors.js
Labels: ui, admin

#2630 test: 💍 update selectors for credential-library tests
  ui/admin/tests/acceptance/credential-library/delete-test.js
  ui/admin/tests/acceptance/credential-library/list-test.js
  ui/admin/tests/acceptance/credential-library/selectors.js
Labels: ui, admin

#2618 fix: 🐛 change disabled to readonly for form inputs
  ui/admin/app/components/form/role/index.hbs
Labels: ui, admin

#2633 refactor: 💡 rename arialabel to aria-labelledby for key/value
  ui/admin/app/components/form/field/list-wrapper/key-value/index.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/select.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/text.hbs
Labels: ui, admin

#2623 [ICU-15647] Replace Rose::Dialog with Hds::Modal in admin ui only
  addons/rose/app/styles/rose/components/_index.scss
  ui/admin/app/templates/application.hbs
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/credential-library/update-test.js
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/update-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/update-test.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/update-test.js
  ui/admin/tests/acceptance/storage-buckets/delete-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/acceptance/users/delete-test.js
  ui/admin/tests/acceptance/users/update-test.js
  ui/admin/tests/acceptance/workers/create-tags-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, addons, admin, styles-addon

#2637 fix: 🐛 code block error in console when value is empty on save
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
Labels: ui, admin
