Repository hashicorp/boundary-ui, pull requests merged in 2024-10, with the labels that each got.

#2502 Icu 15181 add pagination to session recordings
  addons/api/addon/services/indexed-db.js
  addons/api/mirage/config.js
  addons/api/tests/unit/utils/indexed-db-query-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/session-recordings/index.js
  ui/admin/app/routes/scopes/scope/session-recordings.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/channels-by-connection/channel.js
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/tests/acceptance/session-recordings/list-test.js
  ui/admin/tests/acceptance/session-recordings/read-test.js
  ui/admin/tests/acceptance/session-recordings/session-recording/channels-by-connection/channel-test.js
  ui/admin/tests/unit/controllers/scopes/scope/session-recordings/index-test.js
Labels: ui, addons, admin, api-addon

#2507 test(e2e): Add test for worker tags
  ui/admin/tests/e2e/pages/workers.mjs
  ui/admin/tests/e2e/tests/worker-tags.spec.mjs
Labels: ui, admin

#2505 chore: 🤖 resolve rollup vulnerability by removing ember-fetch
  addons/api/package.json
  addons/auth/addon/authenticators/base.js
  addons/auth/addon/authenticators/oidc.js
  addons/auth/addon/authenticators/password.js
  addons/auth/package.json
  ui/admin/app/instance-initializers/feature-edition.js
  ui/desktop/tests/acceptance/projects/settings/index-test.js
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon

#2504 appupdater cli check
  ui/desktop/electron-app/src/cli/index.js
  ui/desktop/electron-app/src/cli/path.js
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
Labels: ui, desktop

#2508 Fix windows no cli crash
  ui/desktop/electron-app/src/cli/path.js
Labels: ui, desktop

#2509 test(e2e): Updates from 0.18.0 testing
  ui/admin/tests/e2e/pages/auth-methods.mjs
  ui/admin/tests/e2e/tests/alias-ent.spec.mjs
  ui/admin/tests/e2e/tests/alias.spec.mjs
Labels: ui, admin

#2491 Llb ts desktop no cli
  ui/desktop/README.md
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/src/cli/index.js
  ui/desktop/electron-app/src/cli/path.js
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
Labels: ui, desktop

#2510 fix: 🐛 deleting session recording causes error
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/session-recordings/session-recording/channels-by-connection/index.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
Labels: ui, addons, admin

#2512 fix: 🐛 cannot retry oidc authentication in desktop & admin
  ui/admin/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/admin/tests/unit/controllers/scopes/scope/authenticate/method/oidc-test.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/utils/isLocalhost.js
Labels: ui, desktop, admin

#2511 Add worker type dynamic host catalog
  addons/api/addon/generated/models/host-catalog.js
  addons/api/addon/serializers/host-catalog.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/tests/unit/serializers/host-catalog-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
Labels: ui, addons, admin, api-addon

#2514 Types for aws host catalogs
  addons/api/addon/generated/models/host-catalog.js
  addons/api/addon/models/host-catalog.js
  addons/api/addon/serializers/host-catalog.js
  addons/api/tests/unit/serializers/host-catalog-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.js
  ui/admin/app/components/form/host-catalog/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/controllers/scopes/scope/host-catalogs/index.js
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
Labels: ui, addons, admin, api-addon

#2515 style: 💄 issues with spacing in manage scopes pages for a role
  addons/core/addon/styles/addon.scss
  ui/admin/app/components/form/role/manage-custom-scopes/index.hbs
  ui/admin/app/components/form/role/manage-org-projects/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, addons, admin

#2517 fix: 🐛 minor UI changes, ent flag for worker filter
  addons/api/addon/serializers/host-catalog.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/config/features.js
  ui/admin/tests/acceptance/host-catalogs/create-test.js
Labels: ui, addons, admin, api-addon

#2518 fix: 🐛 Push associated targets in sessions to ember store
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
Labels: ui, desktop

#2516 chore: 🤖 Update changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2522 fix: 🐛 add bottom border back to ListWrapper component
  ui/admin/app/styles/app.scss
Labels: ui, admin

#2519 fix: 🐛 alias disappearing on target details page
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-brokered-credential-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-injected-application-credential-sources.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-host-sources-test.js
Labels: ui, admin

#2513 test(e2e): Add check for worker filters
  ui/admin/tests/e2e/pages/targets.mjs
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.mjs
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.mjs
  ui/admin/tests/e2e/tests/target.spec.mjs
Labels: ui, admin

#2521 chore: 🤖 Clean up Desktop out directory
  ui/desktop/package.json
Labels: ui, desktop

#2523 Update credentials
  addons/api/addon/generated/models/host-catalog.js
  addons/api/addon/models/host-catalog.js
  addons/api/addon/serializers/host-catalog.js
  addons/api/tests/unit/serializers/host-catalog-test.js
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/controllers/scopes/scope/host-catalogs/index.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/index.hbs
  ui/admin/tests/acceptance/host-catalogs/update-test.js
Labels: ui, addons, admin, api-addon

#2529 chore: 🤖 resolve socks to new version to fix ip vulnerability
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, desktop

#2527 test: 💍 selectors refactor for accounts create
  ui/admin/tests/acceptance/accounts/create-test.js
  ui/admin/tests/acceptance/accounts/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2528 refactor: 💡 remove route-action usage for targets and sessions
  ui/desktop/.template-lintrc.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/sessions/session.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/sessions.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/unit/controllers/scopes/scope/projects/sessions/index-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/sessions/session-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/targets/index-test.js
Labels: ui, desktop

#2533 chore: 🤖 upgrade ember-cli version
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2532 test: 💍 update test selectors for accounts delete
  ui/admin/tests/acceptance/accounts/create-test.js
  ui/admin/tests/acceptance/accounts/delete-test.js
  ui/admin/tests/acceptance/accounts/selectors.js
Labels: ui, admin

#2537 Icu 14039 accounts list, read, and set-password test
  ui/admin/app/components/auth-methods/auth-method/accounts/account/actions/index.hbs
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/tests/acceptance/accounts/list-test.js
  ui/admin/tests/acceptance/accounts/read-test.js
  ui/admin/tests/acceptance/accounts/selectors.js
  ui/admin/tests/acceptance/accounts/set-password-test.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
Labels: ui, admin

#2534 refactor: 💡 remove route-action usage in admin ui
  addons/core/addon/helpers/route-action.js
  addons/core/app/helpers/route-action.js
  ui/admin/.template-lintrc.js
  ui/admin/app/controllers/scopes/scope/groups/group/add-members.js
  ui/admin/app/controllers/scopes/scope/roles/role/add-principals.js
  ui/admin/app/controllers/scopes/scope/workers/index.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/tests/unit/controllers/scopes/scope/groups/group/add-members-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/add-principals-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/index-test.js
Labels: ui, addons, admin

#2539 test: 💍 update test selectors for accounts update
  ui/admin/tests/acceptance/accounts/update-test.js
Labels: ui, admin

#2531 chore: 🤖 audit most recent resolutions
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2541 Enable storage bucket deletion
  ui/admin/app/abilities/storage-bucket.js
  ui/admin/app/controllers/scopes/scope/storage-buckets/index.js
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
  ui/admin/tests/acceptance/storage-buckets/delete-test.js
Labels: ui, admin
