Repository hashicorp/boundary-ui, pull requests merged in 2024-07, with the labels that each got.

#2373 chore: 🤖 add missing headers in llb
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/scopes.js
  ui/admin/tests/unit/routes/scopes/scope/roles/role/scopes-test.js
Labels: ui, admin

#2375 feat: 🎸 add tooltip to config tags in table
  addons/api/addon/models/worker.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/workers/worker/tags.js
  ui/admin/app/templates/scopes/scope/workers/worker/tags.hbs
  ui/admin/tests/acceptance/workers/tags-test.js
Labels: ui, addons, admin, api-addon

#2372 ICU-13879
  ui/admin/app/components/roles/role/actions/index.hbs
  ui/admin/tests/acceptance/roles/delete-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
Labels: ui, admin

#2371 feat: 🎸 add search and filtering to scopes tab in a role
  addons/api/mirage/factories/role.js
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/index.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/controllers/scopes/scope/roles/role/scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/index.js
  ui/admin/app/routes/scopes/scope/roles/role/scopes.js
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/scopes.hbs
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/manage-scopes/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/scopes-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/index-test.js
  ui/admin/tests/unit/routes/scopes/scope/roles/role/scopes-test.js
Labels: ui, addons, admin, api-addon

#2374 refactor: 💡 add grant scopes applied badge
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/roles/index.js
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/tests/acceptance/roles/list-test.js
Labels: ui, addons, admin

#2368 Icu 13895 create create new tags route and view
  addons/api/addon/abilities/worker.js
  addons/api/addon/models/worker.js
  addons/api/addon/serializers/worker.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/generated/factories/worker.js
  addons/api/tests/unit/abilities/worker-test.js
  addons/api/tests/unit/models/worker-test.js
  addons/api/tests/unit/serializers/worker-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/worker/create-tags/index.hbs
  ui/admin/app/components/form/worker/create-tags/index.js
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/app/components/form/worker/tag.js
  ui/admin/app/components/workers/worker/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/workers/worker/create-tags.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/workers/worker/create-tags.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/workers/worker/create-tags.hbs
  ui/admin/tests/acceptance/workers/create-tags-test.js
  ui/admin/tests/acceptance/workers/tags-test.js
  ui/admin/tests/integration/components/form/worker/create-tags/index-test.js
  ui/admin/tests/integration/components/workers/worker/actions/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/worker/create-tags-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/worker/create-tags-test.js
Labels: ui, addons, admin, api-addon

#2378 refactor: 💡 update button text to Manage custom scopes
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, addons, admin

#2381 feat: 🎸 add link to worker docs for create-tags view
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/workers/worker/create-tags.hbs
Labels: ui, addons, admin

#2380 refactor: 💡 remove worker tags from detail view of worker
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/workers/create-test.js
Labels: ui, admin

#2379 refactor: 💡 move workers section in a target to be in a tab
  addons/api/addon/generated/models/target.js
  addons/api/mirage/factories/target.js
  addons/api/tests/unit/serializers/target-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/details/index.js
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/app/components/form/target/worker-filter/index.js
  ui/admin/app/components/targets/target/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-egress-worker-filter.js
  ui/admin/app/controllers/scopes/scope/targets/target/add-ingress-worker-filter.js
  ui/admin/app/controllers/scopes/scope/targets/target/workers.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/targets/target/add-egress-worker-filter.js
  ui/admin/app/routes/scopes/scope/targets/target/add-ingress-worker-filter.js
  ui/admin/app/routes/scopes/scope/targets/target/workers.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/targets/target/add-egress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-ingress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/workers.hbs
  ui/admin/config/features.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/integration/components/form/target/worker-filter-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-egress-worker-filter-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-ingress-worker-filter-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/workers-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/add-egress-worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/add-ingress-worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/workers-test.js
Labels: ui, addons, admin, api-addon

#2377 Icu 13897 create remove tag modal
  addons/api/addon/abilities/worker.js
  addons/api/addon/models/worker.js
  addons/api/addon/serializers/application.js
  addons/api/mirage/config.js
  addons/api/mirage/factories/worker.js
  addons/api/mirage/serializers/worker.js
  addons/api/tests/unit/models/worker-test.js
  addons/api/tests/unit/serializers/worker-test.js
  addons/core/translations/actions/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/workers/worker/tags.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/tags.hbs
  ui/admin/tests/acceptance/workers/tags-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/worker/tags-test.js
Labels: ui, addons, admin, api-addon

#2383 fix: 🐛 add visuallyhidden attr to empty table columns
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop, admin

#2376 Add a postMake arch conversion from x64 to amd64
  ui/desktop/electron-app/config/forge.config.js
Labels: ui, desktop

#2109 refactor: 💡 use new baseURL and update topic paths
  addons/core/addon/helpers/doc-url.js
  addons/core/tests/dummy/config/environment.js
  addons/core/tests/integration/helpers/doc-url-test.js
  ui/admin/app/templates/scopes/scope/aliases/alias/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/new.hbs
  ui/admin/app/templates/scopes/scope/targets/target/create-alias.hbs
  ui/admin/app/templates/scopes/scope/targets/target/manage-alias.hbs
  ui/admin/config/environment.js
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
  ui/admin/tests/acceptance/credential-store/list-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/read-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/read-test.js
  ui/admin/tests/acceptance/host-catalogs/read-test.js
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/users/read-test.js
  ui/desktop/config/environment.js
  ui/desktop/electron-app/src/index.js
Labels: ui, addons, desktop, admin

#2390 docs: ✏️ add doclinks for multi-scope grant work
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-org-projects.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#2389 Fix linux deb artifact name
  ui/desktop/electron-app/config/forge.config.js
Labels: ui, desktop

#2391 refactor: 💡 Remove stack traces and add logs for version info
  addons/api/addon/handlers/cache-daemon-handler.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/electron-app/src/helpers/app-updater.js
  ui/desktop/electron-app/src/helpers/request-promise.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/services/cache-daemon-manager.js
  ui/desktop/electron-app/src/services/client-agent-daemon-manager.js
  ui/desktop/electron-app/src/utils/generateErrorPromise.js
  ui/desktop/electron-app/src/utils/jsonify.js
Labels: ui, addons, desktop, api-addon

#2394 feat: 🎸 update workers tags filter to include api_tags
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/tests/acceptance/workers/list-test.js
Labels: ui, admin

#2392 ICU-14343 Updated the User Manage Dropdown button to reflect HDS Design
  ui/admin/app/components/users/user/actions/index.hbs
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/admin/tests/acceptance/users/delete-test.js
Labels: ui, admin

#2395 feat: 🎸 settings page
  ui/desktop/app/controllers/scopes/scope/projects/settings/index.js
  ui/desktop/app/router.js
  ui/desktop/app/routes/scopes/scope/projects/settings.js
  ui/desktop/app/routes/scopes/scope/projects/settings/index.js
  ui/desktop/app/templates/scopes/scope/projects.hbs
  ui/desktop/app/templates/scopes/scope/projects/settings.hbs
  ui/desktop/app/templates/scopes/scope/projects/settings/index.hbs
  ui/desktop/tests/acceptance/projects/settings/index-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/settings/index-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/settings-test.js
  ui/desktop/tests/unit/routes/scopes/scope/projects/settings/index-test.js
Labels: ui, desktop

#2397 chore: 🤖 Add feature flag for client-agent work
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/config/environment.js
Labels: ui, desktop

#2398 fix: 🐛 Fix breaking change for changing page size
  addons/rose/addon/components/rose/pagination/index.hbs
  addons/rose/addon/components/rose/pagination/index.js
Labels: addons, styles-addon

#2400 feat: 🎸 add doc link for create tags view
  ui/admin/app/templates/scopes/scope/workers/worker/create-tags.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#2404 Fix text formating
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/worker-filter/index.hbs
  ui/admin/app/controllers/scopes/scope/targets/target/edit-egress-worker-filter.js
  ui/admin/app/controllers/scopes/scope/targets/target/edit-ingress-worker-filter.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/targets/target/edit-egress-worker-filter.js
  ui/admin/app/routes/scopes/scope/targets/target/edit-ingress-worker-filter.js
  ui/admin/app/templates/scopes/scope/targets/target/edit-egress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-ingress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/workers.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/tags.hbs
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/acceptance/workers/tags-test.js
  ui/admin/tests/integration/components/workers/worker/actions/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/edit-egress-worker-filter-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/edit-ingress-worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/edit-egress-worker-filter-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/target/edit-ingress-worker-filter-test.js
Labels: ui, addons, admin

#2405 fix: 🐛 add trim() to values when creating tags
  ui/admin/app/components/form/worker/create-tags/index.js
Labels: ui, admin

#2406 feat: 🎸 Add debug logging for search times
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/services/cache-daemon-manager.js
Labels: ui, desktop

#2410 refactor: 💡 small text updates & loading state
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/role/manage-custom-scopes/index.hbs
  ui/admin/app/components/form/role/manage-org-projects/index.hbs
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/app/routes/scopes/scope/roles/role.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/routes/scopes/scope/roles/role/scopes.js
  ui/admin/app/templates/scopes/scope/roles/role/loading.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/loading.hbs
Labels: ui, addons, admin

#2401 test(e2e): Update tests due to 0.17.0 changes
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.js
  ui/admin/tests/e2e/tests/pagination.spec.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#2411 fix: 🐛 hide search & pagination for project role grant scopes
  ui/admin/app/templates/scopes/scope/roles/role/scopes.hbs
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/roles/project-scope-test.js
Labels: ui, admin

#2413 fix: 🐛 tag count in list view
  addons/api/addon/generated/models/worker.js
  addons/api/addon/models/worker.js
  addons/api/tests/unit/models/worker-test.js
Labels: addons, api-addon

#2399 Upgrade electron-forge from 7.2.0 to 7.4.0
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, dependencies, desktop

#2412 Icu 14449 migrate to @xterm
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop

#2419 fix: 🐛 Fix intel macs not getting proper auto-update prompt
  ui/desktop/electron-app/src/helpers/app-updater.js
Labels: ui, desktop

#2396 chore: 🤖 Update CLI version and changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2417 test(e2e): Update test to select other options from Items Per Page
  ui/admin/tests/e2e/tests/pagination.spec.js
Labels: ui, admin
