Repository hashicorp/boundary-ui, pull requests merged in 2024-06, with the labels that each got.

#2180 Refactor key value comp
  addons/api/addon/generated/models/credential-library.js
  addons/api/addon/models/credential-library.js
  addons/api/addon/serializers/credential-library.js
  addons/api/addon/transforms/account-value-map-array.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/auth-method-test.js
  addons/api/tests/unit/serializers/credential-library-test.js
  addons/api/tests/unit/transforms/account-value-map-array-test.js
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.js
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/field/list-wrapper/index.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/index.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/index.js
  ui/admin/app/components/form/field/list-wrapper/key-value/select.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/text.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
  ui/admin/tests/integration/components/form/field/list-wrapper-test.js
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2319 Icu 12707 update role mirage
  addons/api/mirage/config.js
  addons/api/mirage/factories/role.js
  addons/api/mirage/serializers/role.js
  ui/admin/app/components/form/role/index.js
  ui/admin/app/routes/onboarding.js
Labels: ui, addons, admin, api-addon

#2312 test(e2e): Add test for minio storage bucket
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
Labels: ui, admin

#2318 Icu 13451 desktop client logging
  addons/api/addon/handlers/client-daemon-handler.js
  ui/desktop/.eslintrc.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/helpers/request-promise.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/services/client-daemon-manager.js
  ui/desktop/electron-app/src/utils/jsonify.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, addons, desktop, api-addon

#2313 test(e2e): Update password test to log in with new account
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#2321 fix: 🐛 Fix active session display in targets table
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
Labels: ui, desktop

#2325 refactor: 💡 remove grant_scope_id and its uses
  addons/api/addon/generated/models/role.js
  addons/api/addon/models/role.js
  addons/api/mirage/factories/role.js
  addons/api/mirage/serializers/role.js
  addons/api/tests/unit/serializers/role-test.js
  ui/admin/app/components/form/role/index.hbs
  ui/admin/app/components/form/role/index.js
  ui/admin/app/routes/onboarding.js
Labels: ui, addons, admin, api-addon

#2299 refactor: 💡 remove route-action usage for users
  ui/admin/app/components/users/user/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/users/index.js
  ui/admin/app/controllers/scopes/scope/users/new.js
  ui/admin/app/controllers/scopes/scope/users/user/accounts.js
  ui/admin/app/controllers/scopes/scope/users/user/add-accounts.js
  ui/admin/app/controllers/scopes/scope/users/user/index.js
  ui/admin/app/routes/scopes/scope/users.js
  ui/admin/app/routes/scopes/scope/users/user/accounts.js
  ui/admin/app/routes/scopes/scope/users/user/add-accounts.js
  ui/admin/app/templates/scopes/scope/users/new.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/app/templates/scopes/scope/users/user/add-accounts.hbs
  ui/admin/app/templates/scopes/scope/users/user/index.hbs
  ui/admin/tests/unit/controllers/scopes/scope/users/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/accounts-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/add-accounts-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/index-test.js
Labels: ui, admin

#2302 refactor: 💡 remove route-action usage for workers
  ui/admin/app/controllers/scopes/scope/workers/index.js
  ui/admin/app/controllers/scopes/scope/workers/new.js
  ui/admin/app/controllers/scopes/scope/workers/worker/index.js
  ui/admin/app/routes/scopes/scope/workers.js
  ui/admin/app/routes/scopes/scope/workers/new.js
  ui/admin/app/routes/scopes/scope/workers/worker/index.js
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
  ui/admin/tests/unit/controllers/scopes/scope/workers/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/new-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/worker/index-test.js
Labels: ui, admin

#2328 chore: 🤖 update LICENSE txt and fix license
  LICENSE
  changelog.config.js
  docker-compose-embedding.yml
  ui/admin/app/components/form/field/list-wrapper/key-value/select.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/text.hbs
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
Labels: ui, admin

#2314 test(e2e): Update ldap test to log in with ldap account
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
Labels: ui, admin

#2323 test(e2e): Add test for global settings
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/global-settings.spec.js
Labels: ui, admin

#2324 test(e2e): Update test to add a DHC host set as a source
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.js
Labels: ui, admin

#2337 chore: 🤖 headers update
  ui/admin/app/controllers/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/brokered-credential-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/create-alias.js
  ui/admin/app/controllers/scopes/scope/targets/target/enable-session-recording/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/host-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/injected-application-credential-sources.js
  ui/admin/app/controllers/scopes/scope/targets/target/manage-alias.js
  ui/admin/app/controllers/scopes/scope/users/new.js
  ui/admin/app/controllers/scopes/scope/users/user/accounts.js
  ui/admin/app/controllers/scopes/scope/users/user/add-accounts.js
  ui/admin/app/controllers/scopes/scope/users/user/index.js
  ui/admin/app/controllers/scopes/scope/workers/index.js
  ui/admin/app/controllers/scopes/scope/workers/new.js
  ui/admin/app/controllers/scopes/scope/workers/worker/index.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-host-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/brokered-credential-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/create-alias-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/enable-session-recording/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/host-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/injected-application-credential-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/manage-alias-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/accounts-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/add-accounts-test.js
  ui/admin/tests/unit/controllers/scopes/scope/users/user/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/new-test.js
Labels: ui, admin

#2338 feat: 🎸 add No scopes add to roles/role/scopes route
  addons/api/addon/abilities/role.js
  addons/api/mirage/factories/role.js
  addons/api/mirage/serializers/role.js
  addons/api/tests/unit/abilities/role-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/routes/scopes/scope/roles/role/scopes.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/roles/role/scopes.hbs
  ui/admin/tests/acceptance/roles/scopes-test.js
Labels: ui, addons, admin, api-addon

#2341 fix: 🐛 labels were changed during the refactor
  ui/admin/app/components/form/auth-method/ldap/index.hbs
Labels: ui, admin

#2320 test(e2e): Add test for worker
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/tests/e2e/tests/worker-ent.spec.js
  ui/admin/tests/e2e/tests/worker.spec.js
Labels: ui, admin

#2331 test(e2e): Add check for multiple host sources
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
Labels: ui, admin

#2343 test(e2e): Add checks for LDAP account attributes
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.js
Labels: ui, admin

#2346 refactor: 💡 Rename client daemon to cache daemon
  addons/api/addon-test-support/handlers/cache-daemon-search.js
  addons/api/addon/handlers/cache-daemon-handler.js
  addons/api/addon/utils/mql-query.js
  addons/api/app/handlers/client-daemon-handler.js
  addons/api/mirage/scenarios/ipc.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/services/session.js
  ui/desktop/app/services/store.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/electron-app/src/helpers/request-promise.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/services/cache-daemon-manager.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/sessions/session-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
  ui/desktop/tests/helpers/window-mock-ipc.js
Labels: ui, addons, desktop, api-addon

#2350 chore: 🤖 udate hds from v3.5 to v4
  addons/rose/addon/styles/addon.scss
  addons/rose/index.js
  addons/rose/package.json
  package.json
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  yarn.lock
Labels: ui, addons, admin, styles-addon

#2344 feat: 🎸 Add more logging for desktop client
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/electron-app/src/utils/jsonify.js
Labels: ui, desktop

#2353 fix: 🐛 styles import file not being found
  addons/rose/addon/styles/addon.scss
  addons/rose/index.js
Labels: addons, styles-addon

#2354 chore: 🤖 Update CLI version
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2356 fix: 🐛 Fix unzipping changing cli permissions
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2357 fix: 🐛 copyright syntax
  ui/admin/app/components/breadcrumbs/container/index.hbs
  ui/admin/app/components/breadcrumbs/item/index.hbs
  ui/admin/app/templates/scopes/index.hbs
  ui/desktop/app/components/session/proxy-url/index.hbs
Labels: ui, desktop, admin

#2348 test(e2e): Fix flakiness when selecting org links
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/credential-store-static-ent.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
Labels: ui, admin

#2332 chore: 🤖 upgrade electron
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2352 test(e2e): Add check to detach bucket from target
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
Labels: ui, admin

#2355 Icu 13889 update tags column to action that opens hds flyout and add link to tags tab if more than 10 tags
  addons/api/mirage/factories/worker.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/workers/index.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/tests/acceptance/workers/list-test.js
Labels: ui, addons, admin, api-addon

#2327 fix: 🐛 appUpdater support ARM64
  ui/desktop/electron-app/src/helpers/app-updater.js
Labels: ui, desktop

#2362 Icu 13892 create tags tab route and view
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/workers/worker/actions/index.hbs
  ui/admin/app/components/workers/worker/header/index.hbs
  ui/admin/app/components/workers/worker/nav/index.hbs
  ui/admin/app/controllers/scopes/scope/workers/worker/tags.js
  ui/admin/app/router.js
  ui/admin/app/routes/scopes/scope/workers/worker/tags.js
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/tags.hbs
  ui/admin/tests/acceptance/workers/delete-test.js
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/acceptance/workers/tags-test.js
  ui/admin/tests/integration/components/workers/worker/actions/index-test.js
  ui/admin/tests/integration/components/workers/worker/header/index-test.js
  ui/admin/tests/integration/components/workers/worker/nav/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/worker/tags-test.js
  ui/admin/tests/unit/routes/scopes/scope/workers/worker/tags-test.js
Labels: ui, addons, admin

#2360 chore: 🤖 Fix unzip permissions part 2: electric boogaloo
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2364 Revert "fix: 🐛 Fix active session display in targets table (#2321)"
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
Labels: ui, desktop

#2367 refactor: 💡 remove old unused code
  ui/admin/app/routes/scopes/scope/roles/role/index.js
  ui/admin/app/templates/scopes/scope/roles/role/index.hbs
Labels: ui, admin

#2345 workflow action for copyright headers
  .github/workflows/copyright-validate.yaml
  ui/desktop/app/services/client-agent-sessions.js
  ui/desktop/tests/unit/services/client-agent-sessions-test.js
Labels: ui, desktop, admin

#2363 test(e2e): Add alias test
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/alias-ent.spec.js
  ui/admin/tests/e2e/tests/alias.spec.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/credential-store-static-ent.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
Labels: ui, admin

#2366 test(e2e): Add test for search and pagination
  ui/admin/tests/e2e/global-setup.js
  ui/admin/tests/e2e/playwright.config.js
  ui/admin/tests/e2e/tests/pagination.spec.js
Labels: ui, admin
