Repository hashicorp/boundary-ui, pull requests merged in 2024-04, with the labels that each got.

#2211 fix: 🐛 Fix setting up indexed db when user logins first time
  ui/admin/app/services/session.js
Labels: ui, admin

#2205 Icu 12591 add filtering pagination support for groups
  addons/api/addon/services/indexed-db.js
  ui/admin/app/controllers/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/groups.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/tests/acceptance/groups/create-test.js
  ui/admin/tests/acceptance/groups/list-test.js
  ui/admin/tests/unit/controllers/scopes/scope/groups/index-test.js
Labels: ui, addons, admin, api-addon

#2194 Icu 12587 add filtering pagination support for sessions
  addons/api/addon/models/session.js
  addons/api/tests/unit/models/session-test.js
  addons/rose/addon/styles/hds/overrides.scss
  ui/admin/app/controllers/scopes/scope/sessions/index.js
  ui/admin/app/routes/scopes/scope/sessions.js
  ui/admin/app/routes/scopes/scope/sessions/index.js
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/unit/controllers/scopes/scope/sessions/index-test.js
Labels: ui, addons, admin, api-addon, styles-addon

#2215 fix: 🐛 add parentScope.id to refresh action for sessions
  ui/admin/app/routes/scopes/scope/sessions/index.js
Labels: ui, admin

#2212 Icu 12782 add filtering pagination support for credential stores
  addons/api/addon/models/credential-store.js
  addons/api/addon/services/indexed-db.js
  addons/api/mirage/config.js
  ui/admin/app/components/form/credential-store/static/index.js
  ui/admin/app/components/form/credential-store/vault/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/credential-stores.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/targets/target/add-brokered-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-injected-application-credential-sources.js
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/tests/acceptance/credential-store/list-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/index-test.js
Labels: ui, addons, admin, api-addon

#2213 Icu 12781 add filtering pagination support for host catalogs
  addons/api/addon/models/host-catalog.js
  addons/api/addon/models/host-set.js
  addons/api/addon/models/host.js
  addons/api/addon/services/indexed-db.js
  addons/api/mirage/config.js
  ui/admin/app/components/form/host-catalog/aws/index.js
  ui/admin/app/components/form/host-catalog/azure/index.js
  ui/admin/app/components/form/host-catalog/static/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/index.js
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/host-catalogs/read-test.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/index-test.js
Labels: ui, addons, admin, api-addon

#2218 refactor: 💡 update Dropdown component to have name & toggleText
  addons/core/addon/components/dropdown/index.hbs
  addons/core/tests/integration/components/dropdown/index-test.js
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/credential-store/list-test.js
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, addons, desktop, admin

#2196 refactor: 💡 add active sessions column to targets table
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/targets/list-test.js
Labels: ui, admin

#2219 refactor: 💡 add include_terminated param to sessions query
  ui/admin/app/routes/scopes/scope/sessions/index.js
Labels: ui, admin

#2216 Icu 13302 add filtering pagination support for scopes
  addons/api/addon/models/scope.js
  addons/api/addon/services/indexed-db.js
  ui/admin/app/components/targets/target/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/scopes/index.js
  ui/admin/app/routes/onboarding.js
  ui/admin/app/routes/scopes.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/roles/role/index.js
  ui/admin/app/routes/scopes/scope/scopes.js
  ui/admin/app/routes/scopes/scope/scopes/index.js
  ui/admin/app/routes/scopes/scope/storage-buckets/new.js
  ui/admin/app/routes/scopes/scope/storage-buckets/storage-bucket/index.js
  ui/admin/app/routes/scopes/scope/targets/target/enable-session-recording/create-storage-bucket.js
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/tests/acceptance/accounts/change-password-test.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/list-test.js
  ui/admin/tests/acceptance/auth-methods/read-test.js
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/policy/delete-test.js
  ui/admin/tests/acceptance/policy/list-test.js
  ui/admin/tests/acceptance/policy/read-test.js
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/list-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/scopes/update-test.js
  ui/admin/tests/acceptance/session-recordings/list-test.js
  ui/admin/tests/acceptance/storage-buckets/list-test.js
  ui/admin/tests/acceptance/storage-buckets/read-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/acceptance/workers/read-test.js
  ui/admin/tests/unit/controllers/scopes/scope/scopes/index-test.js
Labels: ui, addons, admin, api-addon

#2214 Icu 12933 updates to target model to support aliasing
  addons/api/addon/generated/models/target.js
  addons/api/addon/models/role.js
  addons/api/addon/serializers/target.js
  addons/api/addon/transforms/array.js
  addons/api/addon/transforms/principal-array.js
  addons/api/app/transforms/array.js
  addons/api/tests/unit/serializers/target-test.js
  addons/api/tests/unit/transforms/array-test.js
  addons/api/tests/unit/transforms/principal-array-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/role/add-principals/index.js
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/target/index.hbs
  ui/admin/app/components/form/target/ssh/index.hbs
  ui/admin/app/components/form/target/tcp/index.hbs
  ui/admin/app/routes/scopes/scope/targets/new.js
  ui/admin/app/templates/scopes/scope/targets/new.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, addons, admin, api-addon

#2222 fix: 🐛 move query inside list permission check
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
Labels: ui, admin

#2217 refactor: 💡 reduce network requests & call indexedDB directly
  addons/api/addon/handlers/indexed-db-handler.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/scopes/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/targets/index.hbs
Labels: ui, addons, admin, api-addon

#2223 feat: 🎸 Update how we store tokens in indexed-db
  addons/api/addon/adapters/application.js
  addons/api/addon/handlers/indexed-db-handler.js
  addons/api/addon/utils/hash-code.js
  addons/api/tests/unit/utils/hash-code-test.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/sessions/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
Labels: ui, addons, admin, api-addon

#2224 Icu 13359 refactor query requests for resources added to indexed db
  addons/api/addon/handlers/indexed-db-handler.js
  addons/api/addon/models/role.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/groups/group/members.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
  ui/desktop/app/templates/scopes/scope/projects/sessions/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, addons, desktop, admin, api-addon

#2227 fix: 🐛 modal bubbling up when user has not updated model
  ui/admin/app/components/header-nav/index.hbs
  ui/admin/app/routes/scopes/scope.js
Labels: ui, admin

#2233 Fix tests from rebase
  addons/api/addon/handlers/indexed-db-handler.js
  addons/api/addon/serializers/role.js
  addons/api/addon/services/indexed-db.js
  addons/api/tests/unit/utils/indexed-db-query-test.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/controllers/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/tests/acceptance/aliases/list-test.js
  ui/admin/tests/acceptance/credential-store/create-test.js
Labels: ui, addons, admin, api-addon

#2235 fix: 🐛 breadcrumbs on scopes route not showing since model moved
  ui/admin/app/routes/scopes/scope/scopes.js
  ui/admin/app/templates/scopes/scope/scopes.hbs
Labels: ui, admin

#2220 chore: 🤖 Model & Mirage support for MinIO
  addons/api/addon/generated/models/storage-bucket.js
  addons/api/addon/models/storage-bucket.js
  addons/api/addon/serializers/storage-bucket.js
  addons/api/mirage/factories/storage-bucket.js
  addons/api/tests/unit/serializers/storage-bucket-test.js
Labels: addons, addons/api, admin, api-addon

#2225 Target aliases list view
  addons/api/addon/generated/models/target.js
  addons/api/mirage/factories/target.js
  addons/api/mirage/scenarios/default.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/controllers/scopes/scope/targets/target/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
  ui/admin/tests/acceptance/targets/enable-session-recording/index-test.js
  ui/admin/tests/acceptance/targets/read-test.js
Labels: ui, addons, admin, api-addon

#2234 feat: 🎸 Add initial logging for desktop client
  addons/api/.eslintrc.js
  addons/api/addon/handlers/client-daemon-handler.js
  ui/desktop/.eslintrc.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/services/client-daemon-manager.js
  ui/desktop/electron-app/src/utils/jsonify.js
  ui/desktop/electron-app/yarn.lock
Labels: ui, addons, desktop, api-addon

#2231 Icu 13357 create loading screen for admin UI list routes
  addons/core/translations/states/en-us.yaml
  ui/admin/app/routes/scopes/scope/sessions/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/loading.hbs
Labels: ui, addons, admin

#2238 Icu 13218 update indexed db parser unit tests to test for filtering on boolean fields
  addons/api/addon/initializers/deprecations.js
  addons/api/app/initializers/deprecations.js
  addons/api/tests/unit/initializers/deprecations-test.js
  addons/api/tests/unit/utils/indexed-db-query-test.js
Labels: addons, api-addon

#2239 Alias clear modal
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/alias/index.js
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/tests/acceptance/aliases/create-test.js
  ui/admin/tests/acceptance/aliases/delete-test.js
  ui/admin/tests/acceptance/aliases/read-test.js
  ui/admin/tests/acceptance/aliases/update-test.js
Labels: ui, addons, admin, api-addon

#2243 refactor: 💡 remove uneeded rose cards component
  addons/rose/addon/components/rose/card/link/index.hbs
  addons/rose/addon/components/rose/cards/index.hbs
  addons/rose/tests/integration/components/rose/card/link-test.js
  addons/rose/tests/integration/components/rose/cards-test.js
Labels: addons, styles-addon

#2244 fix: 🐛 auth-methods deleted items are showing on table view
  addons/api/addon/handlers/indexed-db-handler.js
Labels: addons, api-addon

#2246 fix: 🐛 Add back scope_id as part of request query parameter
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
Labels: ui, admin

#2247 fix: 🐛 add missing scope_id from credential sources for targets
  ui/admin/app/routes/scopes/scope/targets/target/add-brokered-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-injected-application-credential-sources.js
Labels: ui, admin

#2229 Split storage-bucket form at creation time
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.js
  ui/admin/app/components/form/storage-bucket/index.hbs
  ui/admin/app/components/form/storage-bucket/index.js
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/controllers/scopes/scope/storage-buckets/index.js
  ui/admin/app/controllers/scopes/scope/storage-buckets/new.js
  ui/admin/app/controllers/scopes/scope/storage-buckets/storage-bucket/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/enable-session-recording/create-storage-bucket.js
  ui/admin/app/routes/scopes/scope/storage-buckets.js
  ui/admin/app/routes/scopes/scope/storage-buckets/new.js
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/new.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/enable-session-recording/create-storage-bucket.hbs
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/unit/controllers/scopes/scope/storage-buckets/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/storage-buckets/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/storage-buckets/storage-bucket/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/enable-session-recording/create-storage-bucket-test.js
Labels: ui, addons, admin, api-addon

#2248 MinIO support for Admin UI
  addons/api/addon/generated/models/storage-bucket.js
  addons/api/addon/models/storage-bucket.js
  addons/api/addon/serializers/storage-bucket.js
  addons/api/mirage/factories/storage-bucket.js
  addons/api/tests/unit/serializers/storage-bucket-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.js
  ui/admin/app/components/form/storage-bucket/index.hbs
  ui/admin/app/components/form/storage-bucket/index.js
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/controllers/scopes/scope/storage-buckets/index.js
  ui/admin/app/controllers/scopes/scope/storage-buckets/new.js
  ui/admin/app/controllers/scopes/scope/storage-buckets/storage-bucket/index.js
  ui/admin/app/controllers/scopes/scope/targets/target/enable-session-recording/create-storage-bucket.js
  ui/admin/app/routes/scopes/scope/storage-buckets.js
  ui/admin/app/routes/scopes/scope/storage-buckets/new.js
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/new.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/enable-session-recording/create-storage-bucket.hbs
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/unit/controllers/scopes/scope/storage-buckets/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/storage-buckets/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/storage-buckets/storage-bucket/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/enable-session-recording/create-storage-bucket-test.js
Labels: ui, addons, admin, api-addon

#2245 fix: 🐛 Fix windows being unable to search client daemon
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/services/client-daemon-manager.js
Labels: ui, desktop

#2250 fix: 🐛 transition aborted error when deleting group
  ui/admin/app/controllers/scopes/scope/groups/index.js
Labels: ui, admin

#2252 fix: 🐛 plural title
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
Labels: ui, admin

#2249 feat: 🎸 show associated aliases in target detail page
  addons/core/translations/resources/en-us.yaml
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/targets/target-test.js
Labels: ui, addons, desktop, admin

#2254 chore(e2e): Update playwright to 1.43
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin

#2259 Fix scope field validation on storage buckets
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
Labels: ui, admin

#2256 feat: 🎸 Add aliases to list view
  addons/api/addon-test-support/handlers/client-daemon-search.js
  addons/api/addon/adapters/application.js
  addons/api/addon/handlers/client-daemon-handler.js
  addons/api/addon/models/target.js
  addons/api/app/handlers/client-daemon-handler.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, api-addon

#2260 chore: 🤖 add doc links for aliases
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/new.hbs
  ui/admin/app/templates/scopes/scope/targets/target/create-alias.hbs
  ui/admin/config/environment.js
Labels: ui, admin

#2258 test(e2e): Fixes for 0.16.0
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/session-recording-ent.spec.js
Labels: ui, admin

#2261 fix: 🐛 required & optional labels in oidc auth-methods form
  ui/admin/app/components/form/auth-method/oidc/index.hbs
Labels: ui, admin

#2263 fix: 🐛 policy title
  ui/admin/app/templates/scopes/scope/policies/index.hbs
Labels: ui, admin

#2257 fix: 🐛 aliasing bugs
  addons/core/translations/en-us.yaml
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/alias/index.hbs
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/create-alias.js
  ui/admin/app/templates/scopes/scope/aliases/alias/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/create-alias.hbs
  ui/admin/app/templates/scopes/scope/targets/target/manage-alias.hbs
  ui/admin/tests/acceptance/aliases/delete-test.js
  ui/admin/tests/acceptance/aliases/update-test.js
  ui/admin/tests/acceptance/targets/create-alias-test.js
  ui/admin/tests/acceptance/targets/manage-alias-test.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/targets/target-test.js
Labels: ui, addons, desktop, admin

#2264 fix: 🐛 add missing pagination component to cred stores
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/delete-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
Labels: ui, admin

#2265 fix: 🐛 add details
  ui/admin/app/templates/scopes/scope/targets/target/manage-alias.hbs
Labels: ui, admin

#2266 fix: 🐛 Fix HDS labels and helpers in host sets
  addons/core/translations/form/en-us.yaml
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
Labels: ui, addons, admin

#2267 fix: 🐛 Fix adding host set error in targets
  ui/admin/app/routes/scopes/scope/targets/target/add-brokered-credential-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-host-sources.js
  ui/admin/app/routes/scopes/scope/targets/target/add-injected-application-credential-sources.js
Labels: ui, admin

#2268 fix: 🐛 action errors on auth-method refresh
  ui/admin/app/controllers/scopes/scope/auth-methods/index.js
Labels: ui, admin

#2270 fix: Update LDAP address example
  addons/core/translations/resources/en-us.yaml
Labels: addons

#2269 fix: 🐛 permissions
  ui/admin/app/routes/scopes/scope/targets.js
  ui/admin/app/routes/scopes/scope/targets/target/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/manage-alias.hbs
  ui/admin/tests/acceptance/targets/manage-alias-test.js
  ui/admin/tests/acceptance/targets/read-test.js
Labels: ui, admin

#2272 Fix storage bucket empty state message
  addons/core/translations/resources/en-us.yaml
Labels: addons

#2273 fix: 🐛 Fix error when deleting auth method
  ui/admin/app/controllers/scopes/scope/auth-methods/index.js
Labels: ui, admin

#2276 fix: 🐛 recording storage path not being set
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
Labels: ui, admin

#2279 fix: 🐛 update label & description
  addons/core/translations/resources/en-us.yaml
Labels: addons

#2280 Update changelog and cli version
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop
