Repository hashicorp/boundary-ui, pull requests merged in 2024-08, with the labels that each got.

#2416 feat: 🎸 Setup initial desktop E2E tests
  ui/desktop/.eslintrc.js
  ui/desktop/.gitignore
  ui/desktop/package.json
  ui/desktop/playwright.config.js
  ui/desktop/tests/e2e/authentication.spec.js
  ui/desktop/tests/e2e/fixtures/authenticateTest.js
  ui/desktop/tests/e2e/fixtures/baseTest.js
  ui/desktop/tests/e2e/fixtures/electronTest.js
  ui/desktop/tests/e2e/pages/loginPage.js
  ui/desktop/tests/e2e/settings.spec.js
  ui/desktop/tests/e2e/targets.spec.js
  ui/desktop/tests/end2end/authentication.spec.js
  ui/desktop/tests/end2end/targets.spec.js
  ui/desktop/tests/end2end/test-helpers.js
Labels: ui, desktop

#2423 refactor: 💡 Updated Manage Dropdown for hosts form
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/actions/index.hbs
  ui/admin/tests/acceptance/host-catalogs/hosts/delete-test.js
Labels: ui, admin

#2418 refactor: 💡 Updated Manage Dropdown to HDS in Targets Menu
  ui/admin/app/components/targets/target/actions/index.hbs
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
Labels: ui, admin

#2426 refact(e2e): Update Admin UI tests to use Page Objects
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/pages/aliases.js
  ui/admin/tests/e2e/pages/auth-methods.js
  ui/admin/tests/e2e/pages/base-resource.js
  ui/admin/tests/e2e/pages/base.js
  ui/admin/tests/e2e/pages/credential-stores.js
  ui/admin/tests/e2e/pages/groups.js
  ui/admin/tests/e2e/pages/host-catalogs.js
  ui/admin/tests/e2e/pages/orgs.js
  ui/admin/tests/e2e/pages/projects.js
  ui/admin/tests/e2e/pages/roles.js
  ui/admin/tests/e2e/pages/sessions.js
  ui/admin/tests/e2e/pages/storage-buckets.js
  ui/admin/tests/e2e/pages/storage-policies.js
  ui/admin/tests/e2e/pages/targets.js
  ui/admin/tests/e2e/pages/users.js
  ui/admin/tests/e2e/pages/workers.js
  ui/admin/tests/e2e/tests/alias-ent.spec.js
  ui/admin/tests/e2e/tests/alias.spec.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/credential-store-static-ent.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.js
  ui/admin/tests/e2e/tests/global-settings.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/pagination.spec.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-certificate-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
  ui/admin/tests/e2e/tests/worker-ent.spec.js
  ui/admin/tests/e2e/tests/worker.spec.js
Labels: ui, admin

#2427 chore(e2e): Fix eslint for Admin UI e2e tests
  ui/admin/.eslintrc.js
  ui/admin/tests/e2e/global-setup.js
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/general.js
  ui/admin/tests/e2e/helpers/vault-cli.js
  ui/admin/tests/e2e/pages/aliases.js
  ui/admin/tests/e2e/pages/auth-methods.js
  ui/admin/tests/e2e/pages/base-resource.js
  ui/admin/tests/e2e/pages/base.js
  ui/admin/tests/e2e/pages/credential-stores.js
  ui/admin/tests/e2e/pages/groups.js
  ui/admin/tests/e2e/pages/host-catalogs.js
  ui/admin/tests/e2e/pages/orgs.js
  ui/admin/tests/e2e/pages/projects.js
  ui/admin/tests/e2e/pages/roles.js
  ui/admin/tests/e2e/pages/sessions.js
  ui/admin/tests/e2e/pages/storage-buckets.js
  ui/admin/tests/e2e/pages/storage-policies.js
  ui/admin/tests/e2e/pages/targets.js
  ui/admin/tests/e2e/pages/users.js
  ui/admin/tests/e2e/pages/workers.js
  ui/admin/tests/e2e/playwright.config.js
  ui/admin/tests/e2e/tests/alias-ent.spec.js
  ui/admin/tests/e2e/tests/alias.spec.js
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.js
  ui/admin/tests/e2e/tests/auth-method-password.spec.js
  ui/admin/tests/e2e/tests/credential-store-static-ent.spec.js
  ui/admin/tests/e2e/tests/credential-store-static.spec.js
  ui/admin/tests/e2e/tests/credential-store-vault.spec.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.js
  ui/admin/tests/e2e/tests/global-settings.spec.js
  ui/admin/tests/e2e/tests/group-role.spec.js
  ui/admin/tests/e2e/tests/login.spec.js
  ui/admin/tests/e2e/tests/pagination.spec.js
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.js
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-certificate-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.js
  ui/admin/tests/e2e/tests/target-ent.spec.js
  ui/admin/tests/e2e/tests/target.spec.js
  ui/admin/tests/e2e/tests/worker-ent.spec.js
  ui/admin/tests/e2e/tests/worker.spec.js
Labels: ui, admin

#2428 Add theme selection
  addons/core/translations/en-us.yaml
  ui/desktop/app/controllers/application.js
  ui/desktop/app/controllers/scopes/scope/projects/settings/index.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes/scope/projects/settings/index.hbs
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/projects/settings/index-test.js
Labels: ui, addons, desktop, api-addon

#2429 fix: 🐛 targets not displaying even after they are cached
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
Labels: ui, desktop

#2421 ICU-14496 add discard unsaved changes modal to manage scopes
  ui/admin/app/components/form/role/manage-custom-scopes/index.hbs
  ui/admin/app/components/form/role/manage-custom-scopes/index.js
  ui/admin/app/components/form/role/manage-org-projects/index.hbs
  ui/admin/app/components/form/role/manage-org-projects/index.js
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/app/components/form/role/manage-scopes/index.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/index.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/routes/application.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-org-projects.hbs
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/manage-scopes/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/manage-scopes/manage-custom-scopes-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/manage-scopes/manage-org-projects-test.js
Labels: ui, admin

#2414 Icu 14033 storage buckets read test
  ui/admin/tests/acceptance/storage-buckets/read-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2433 refactor: 💡 Updated Manage Dropdown in host-sets to HDS design
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/actions/index.hbs
  ui/admin/tests/acceptance/host-catalogs/host-sets/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
Labels: ui, admin

#2434 refactor: 💡 Updated Manage Dropdown in credential-library
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/tests/acceptance/credential-library/delete-test.js
Labels: ui, admin

#2432 refactor: 💡 Updated Manage Dropdown in auth-methods accounts
  ui/admin/app/components/auth-methods/auth-method/accounts/account/actions/index.hbs
  ui/admin/tests/acceptance/accounts/delete-test.js
Labels: ui, admin

#2431 Icu 14403 add dropdown to select and save log verbosity
  addons/core/translations/en-us.yaml
  ui/desktop/app/components/settings-card/application/index.hbs
  ui/desktop/app/components/settings-card/logs/index.hbs
  ui/desktop/app/components/settings-card/logs/index.js
  ui/desktop/app/components/settings-card/user/index.hbs
  ui/desktop/app/routes/scopes/scope/projects/settings/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/settings/index.hbs
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/src/index.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/services/electron-store-manager.js
  ui/desktop/electron-app/yarn.lock
  ui/desktop/tests/integration/components/settings-card-test.js
  ui/desktop/tests/integration/components/settings-card/logs-test.js
  ui/desktop/tests/integration/components/settings-card/user-test.js
Labels: ui, addons, desktop

#2436 Icu 14834 remove duplicate selectors and use common selectors instead
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
Labels: ui, admin

#2385 refactor: 💡 remove route action usage for scopes
  ui/admin/app/components/form/onboarding/index.hbs
  ui/admin/app/components/form/onboarding/index.js
  ui/admin/app/controllers/onboarding/index.js
  ui/admin/app/controllers/onboarding/success.js
  ui/admin/app/controllers/scopes/scope/authenticate/method/index.js
  ui/admin/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/controllers/scopes/scope/edit.js
  ui/admin/app/controllers/scopes/scope/index.js
  ui/admin/app/controllers/scopes/scope/scopes/new.js
  ui/admin/app/routes/onboarding.js
  ui/admin/app/routes/onboarding/success.js
  ui/admin/app/routes/scopes.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/routes/scopes/scope/authenticate/method.js
  ui/admin/app/templates/onboarding/index.hbs
  ui/admin/app/templates/onboarding/success.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/index.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/app/templates/scopes/scope/scopes/new.hbs
  ui/admin/tests/unit/controllers/onboarding/index-test.js
  ui/admin/tests/unit/controllers/onboarding/success-test.js
  ui/admin/tests/unit/controllers/scopes/scope/authenticate/method/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/authenticate/method/oidc-test.js
  ui/admin/tests/unit/controllers/scopes/scope/edit-test.js
  ui/admin/tests/unit/controllers/scopes/scope/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/scopes/new-test.js
Labels: ui, admin

#2435 ICU-13883 add remove org modal
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/role/manage-custom-scopes/index.hbs
  ui/admin/app/components/form/role/manage-custom-scopes/index.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
Labels: ui, addons, admin

#2439 refactor: 💡 remove route-action usage for session recordings
  ui/admin/app/controllers/scopes/scope/session-recordings/session-recording/channels-by-connection/index.js
  ui/admin/app/routes/scopes/scope/session-recordings.js
  ui/admin/app/routes/scopes/scope/session-recordings/session-recording/channels-by-connection.js
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/tests/unit/controllers/scopes/scope/session-recordings/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/session-recordings/session-recording/channels-by-connection/index-test.js
Labels: ui, admin

#2444 chore: 🤖 Migrate xterm to @xterm
  ui/desktop/app/components/session/tabs/index.js
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, dependencies, desktop

#2438 Icu 14781 add a section for server information
  addons/api/mirage/scenarios/ipc.js
  addons/core/translations/en-us.yaml
  ui/desktop/app/components/settings-card/index.hbs
  ui/desktop/app/components/settings-card/server/index.hbs
  ui/desktop/app/components/settings-card/server/index.js
  ui/desktop/app/routes/scopes/scope/projects/settings/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/settings/index.hbs
  ui/desktop/tests/integration/components/settings-card/server-test.js
Labels: ui, addons, desktop, api-addon

#2445 docs: ✏️ replace broken links, add hyperlinks, language updates
  README.md
  ui/admin/README.md
Labels: ui, admin

#2446 fix: 🐛 remove connected label
  addons/core/translations/en-us.yaml
  ui/desktop/app/components/settings-card/server/index.hbs
Labels: ui, addons, desktop

#2448 refact(e2e): Create HTTP methods and more page objects
  ui/admin/tests/e2e/global-setup.mjs
  ui/admin/tests/e2e/helpers/boundary-http.mjs
  ui/admin/tests/e2e/helpers/boundary-http/scopes.mjs
  ui/admin/tests/e2e/helpers/boundary-http/targets.mjs
  ui/admin/tests/e2e/pages/login.mjs
  ui/admin/tests/e2e/pages/roles.mjs
  ui/admin/tests/e2e/pages/session-recordings.mjs
  ui/admin/tests/e2e/pages/targets.mjs
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.mjs
  ui/admin/tests/e2e/tests/auth-method-password.spec.mjs
  ui/admin/tests/e2e/tests/login.spec.mjs
  ui/admin/tests/e2e/tests/pagination.spec.mjs
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.mjs
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.mjs
  ui/admin/tests/e2e/tests/target.spec.mjs
Labels: ui, admin

#2457 ICU-14870 Update Manage Dropdown for Projects form
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
Labels: ui, admin

#2453 refactor: 💡 Update Manage dropdown in Credentials form
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential/index.hbs
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
Labels: ui, admin

#2458 chore: 🤖 update ember-cli-mirage
  addons/api/addon/initializers/deprecations.js
  addons/api/app/initializers/deprecations.js
  addons/api/mirage/config.js
  addons/api/package.json
  addons/api/tests/unit/initializers/deprecations-test.js
  yarn.lock
Labels: addons, api-addon

#2451 chore: 🤖 upgrade to ws v8.17.1 to remove vulnerability
  addons/rose/package.json
  yarn.lock
Labels: addons, styles-addon

#2456 refactor: 💡 Update manage dropdown for host-catalogs
  ui/admin/app/components/host-catalogs/host-catalog/actions/index.hbs
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/list-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/list-test.js
Labels: ui, admin

#2455 refactor: 💡 Manage dropdown HDS refactoring for managed-groups
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/actions/index.hbs
  ui/admin/tests/acceptance/managed-groups/delete-test.js
Labels: ui, admin

#2462 chore: 🤖 upgrade ember-qunit to v8.1.0
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  ui/admin/package.json
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2460 refactor: 💡 Update Manage Dropdown in auth-methods
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/tests/acceptance/accounts/create-test.js
  ui/admin/tests/acceptance/accounts/list-test.js
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
Labels: ui, admin

#2454 Icu 14663 update manage dropdown for credential stores form
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
  ui/admin/tests/acceptance/credential-store/delete-test.js
Labels: ui, admin

#2452 refact(e2e): Use fixtures for environment variables
  ui/admin/tests/e2e/playwright.config.mjs
  ui/admin/tests/e2e/tests/alias-ent.spec.mjs
  ui/admin/tests/e2e/tests/alias.spec.mjs
  ui/admin/tests/e2e/tests/auth-method-ldap.spec.mjs
  ui/admin/tests/e2e/tests/auth-method-password.spec.mjs
  ui/admin/tests/e2e/tests/credential-store-static-ent.spec.mjs
  ui/admin/tests/e2e/tests/credential-store-static.spec.mjs
  ui/admin/tests/e2e/tests/credential-store-vault.spec.mjs
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.mjs
  ui/admin/tests/e2e/tests/delete-resources.spec.mjs
  ui/admin/tests/e2e/tests/dynamic-host-catalog-aws.spec.mjs
  ui/admin/tests/e2e/tests/global-settings.spec.mjs
  ui/admin/tests/e2e/tests/group-role.spec.mjs
  ui/admin/tests/e2e/tests/login.spec.mjs
  ui/admin/tests/e2e/tests/pagination.spec.mjs
  ui/admin/tests/e2e/tests/session-recording-aws-ent.spec.mjs
  ui/admin/tests/e2e/tests/session-recording-minio-ent.spec.mjs
  ui/admin/tests/e2e/tests/ssh-certificate-injection-vault-ent.spec.mjs
  ui/admin/tests/e2e/tests/ssh-credential-injection-vault-ent.spec.mjs
  ui/admin/tests/e2e/tests/target-ent.spec.mjs
  ui/admin/tests/e2e/tests/target.spec.mjs
  ui/admin/tests/e2e/tests/worker-ent.spec.mjs
  ui/admin/tests/e2e/tests/worker.spec.mjs
Labels: ui, admin

#2465 chore: 🤖 upgrade jsonpointer to v5
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2450 Add CLI_SETUP and delete BYPASS_CLI_BUILD
  ui/desktop/README.md
  ui/desktop/electron-app/config/cli.js
Labels: ui, desktop
