Repository hashicorp/boundary-ui, pull requests merged in 2024-05, with the labels that each got.

#2283 chore: Update to use Node20 version of Actions
  .github/workflows/jira.yml
Labels: dependencies

#2286 refactor: 💡 remove route-action usage for storage-policies
  ui/admin/app/components/form/scope/add-storage-policy/create.hbs
  ui/admin/app/controllers/scopes/scope/add-storage-policy/create.js
  ui/admin/app/controllers/scopes/scope/add-storage-policy/index.js
  ui/admin/app/controllers/scopes/scope/policies/index.js
  ui/admin/app/controllers/scopes/scope/policies/new.js
  ui/admin/app/controllers/scopes/scope/policies/policy/index.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/create.js
  ui/admin/app/routes/scopes/scope/add-storage-policy/index.js
  ui/admin/app/routes/scopes/scope/policies.js
  ui/admin/app/templates/scopes/scope/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/add-storage-policy/index.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/policies/new.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/tests/unit/controllers/scopes/scope/add-storage-policy/create-test.js
  ui/admin/tests/unit/controllers/scopes/scope/add-storage-policy/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/policies/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/policies/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/policies/policy/index-test.js
Labels: ui, admin

#2290 Fix icu 13758 refactor node decompress
  ui/desktop/electron-app/config/cli.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, dependencies, desktop

#2282 Icu 11936 support node 20 stop support node 16
  .github/workflows/build-admin-ui.yaml
  .github/workflows/monorepo-validate.yaml
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, dependencies, desktop, admin, api-addon, auth-addon, styles-addon

#2253 Add minio missing unit tests
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
Labels: ui, admin

#2284 refactor: 💡 remove route-action usage for host-catalogs
  ui/admin/app/components/host-catalogs/host-catalog/actions/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/actions/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/new.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/hosts/host/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/hosts/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/hosts/new.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/host-catalog/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/new.js
  ui/admin/app/routes/scopes/scope/host-catalogs.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/host-catalog/hosts.js
  ui/admin/app/routes/scopes/scope/host-catalogs/new.js
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/host/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
  ui/admin/tests/unit/controllers/scopes/scope/auth-methods/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/host-sets/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/hosts/host/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/hosts/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/hosts/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/new-test.js
Labels: ui, admin

#2303 Doc update desktop readme
  ui/desktop/README.md
Labels: ui, desktop

#2305 fix: 🐛 target patch with_Aliases field
  addons/api/addon/serializers/target.js
Labels: addons, api-addon

#2306 As per warning updated browserslist
  yarn.lock
Labels: dependencies

#2292 refactor: 💡 remove route-action usage for roles
  ui/admin/app/components/roles/role/actions/index.hbs
  ui/admin/app/controllers/scopes/scope/roles/index.js
  ui/admin/app/controllers/scopes/scope/roles/new.js
  ui/admin/app/controllers/scopes/scope/roles/role/add-principals.js
  ui/admin/app/controllers/scopes/scope/roles/role/grants.js
  ui/admin/app/controllers/scopes/scope/roles/role/index.js
  ui/admin/app/controllers/scopes/scope/roles/role/principals.js
  ui/admin/app/routes/scopes/scope/roles.js
  ui/admin/app/routes/scopes/scope/roles/role.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/roles/role/grants.js
  ui/admin/app/routes/scopes/scope/roles/role/principals.js
  ui/admin/app/templates/scopes/scope/roles/new.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/app/templates/scopes/scope/roles/role/grants.hbs
  ui/admin/app/templates/scopes/scope/roles/role/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/tests/unit/controllers/scopes/scope/roles/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/new-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/add-principals-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/grants-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/principals-test.js
Labels: ui, admin

#2310 test(e2e): 0.16.1 updates
  ui/admin/tests/e2e/helpers/boundary-cli.js
  ui/admin/tests/e2e/helpers/boundary-ui.js
  ui/admin/tests/e2e/tests/delete-resources-ent.spec.js
  ui/admin/tests/e2e/tests/delete-resources.spec.js
  ui/admin/tests/e2e/tests/dynamic-host-catalog.spec.js
Labels: ui, admin

#2311 feat: 🎸 Change the default notification on mac to be alert
  ui/desktop/electron-app/config/forge.config.js
Labels: ui, desktop

#2278 Poc share domain test selectors
  ui/admin/app/components/form/field/secret-input/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
Labels: ui, admin

#2315 fix: 🐛 Fix session erroring out when getting session from ferry
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
Labels: ui, desktop
