Repository hashicorp/boundary-ui, pull requests merged in 2025-01, with the labels that each got.

#2640 Fix memory leak issue when using fetch in oidc authentication
  addons/auth/addon/authenticators/base.js
  addons/auth/addon/authenticators/oidc.js
  addons/auth/tests/unit/authenticators/base-test.js
Labels: addons, auth-addon

#2641 fix: 🐛 oidc retry not working for secure links in desktop ui
  ui/admin/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/desktop/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/templates/scopes/scope/authenticate/method/oidc.hbs
Labels: ui, desktop, admin

#2643 Refactor text input area readonly
  ui/admin/app/components/form/account/ldap/index.hbs
  ui/admin/app/components/form/account/oidc/index.hbs
  ui/admin/app/components/form/account/password/change-password/index.hbs
  ui/admin/app/components/form/account/password/index.hbs
  ui/admin/app/components/form/account/password/set-password/index.hbs
  ui/admin/app/components/form/alias/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/auth-method/oidc/index.hbs
  ui/admin/app/components/form/auth-method/password/index.hbs
  ui/admin/app/components/form/credential-library/vault-generic/index.hbs
  ui/admin/app/components/form/credential-library/vault-ssh-certificate/index.hbs
  ui/admin/app/components/form/credential-store/static/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/credential/json/index.hbs
  ui/admin/app/components/form/credential/ssh_private_key/index.hbs
  ui/admin/app/components/form/credential/username_password/index.hbs
  ui/admin/app/components/form/field/list-wrapper/key-value/text.hbs
  ui/admin/app/components/form/field/list-wrapper/select-text/index.hbs
  ui/admin/app/components/form/field/list-wrapper/text-input/index.hbs
  ui/admin/app/components/form/field/list-wrapper/textarea/index.hbs
  ui/admin/app/components/form/field/secret-input/index.hbs
  ui/admin/app/components/form/group/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/azure/index.hbs
  ui/admin/app/components/form/host-catalog/static/index.hbs
  ui/admin/app/components/form/host-set/aws/index.hbs
  ui/admin/app/components/form/host-set/azure/index.hbs
  ui/admin/app/components/form/host-set/static/index.hbs
  ui/admin/app/components/form/host/aws/index.hbs
  ui/admin/app/components/form/host/azure/index.hbs
  ui/admin/app/components/form/host/static/index.hbs
  ui/admin/app/components/form/managed-group/ldap/index.hbs
  ui/admin/app/components/form/managed-group/oidc/index.hbs
  ui/admin/app/components/form/policy/index.hbs
  ui/admin/app/components/form/policy/index.js
  ui/admin/app/components/form/policy/policy-selection/index.hbs
  ui/admin/app/components/form/scope/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/components/form/user/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/components/form/worker/index.hbs
  ui/admin/tests/acceptance/storage-buckets/update-test.js
  ui/admin/tests/acceptance/targets/create-alias-test.js
  ui/admin/tests/acceptance/targets/manage-alias-test.js
Labels: ui, admin

#2629 test: 💍 Refactor host list test selectors
  ui/admin/tests/acceptance/host-catalogs/hosts/create-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/list-test.js
  ui/admin/tests/acceptance/host-catalogs/hosts/selectors.js
Labels: ui, admin

#2648 test: GCP plugin acceptance tests
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
Labels: ui, addons, admin, api-addon

#2649 chore: Updates to gcp hc form
  addons/api/addon/generated/models/host-catalog.js
  addons/api/mirage/factories/host-catalog.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/host-catalog-test.js
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/gcp/index.hbs
  ui/admin/config/features.js
  ui/admin/tests/acceptance/host-catalogs/create-test.js
Labels: ui, addons, admin, api-addon

#2652 refactor: 💡 Update name radio option label & set toggle default to on
  addons/core/translations/en-us.yaml
  ui/admin/app/components/worker-filter-generator/index.hbs
  ui/admin/app/components/worker-filter-generator/index.js
  ui/admin/tests/integration/components/worker-filter-generator/index-test.js
Labels: ui, addons, admin

#2651 fix: 🐛 hds modal text wrong color when system mode is dark
  addons/rose/app/styles/rose/variables/color/_css.scss
Labels: addons, styles-addon

#2650 Icu 15470 credential store create test
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/selectors.js
Labels: ui, admin

#2653 Test icu 15459 auth method create test selectors refactor
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/selectors.js
Labels: ui, admin

#2654 Refactor auth-methods list acceptance test selectors
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/tests/acceptance/auth-methods/list-test.js
  ui/admin/tests/acceptance/auth-methods/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2661 fix: 🐛 Fix HDS deprecation message
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
Labels: ui, admin

#2662 fix: 🐛 include GCP plugin text
  addons/core/translations/resources/en-us.yaml
Labels: addons

#2667 refactor: 💡 Update text for fields in AWS & GCP host catalogs
  addons/core/translations/form/en-us.yaml
  addons/core/translations/resources/en-us.yaml
Labels: addons

#2668 Vault cred store filter create
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/selectors.js
Labels: ui, admin

#2669 feat: 🎸 add showFilterGenerator to WorkerFilterGenerator comp
  ui/admin/app/components/form/worker-filter/index.hbs
  ui/admin/app/components/worker-filter-generator/index.js
  ui/admin/tests/integration/components/worker-filter-generator/index-test.js
Labels: ui, admin

#2670 chore: 🤖 update cli version and CHANGELOG
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2672 fix: 🐛 update hidden secrets and flatten-nested-object logic
  addons/api/addon/utils/flatten-nested-object.js
  addons/api/tests/unit/utils/flatten-nested-object-test.js
  ui/desktop/app/components/hidden-secret/index.js
Labels: ui, addons, desktop, api-addon

#2671 Refactor auth-method delete test selectors
  ui/admin/tests/acceptance/auth-methods/delete-test.js
  ui/admin/tests/acceptance/auth-methods/selectors.js
Labels: ui, admin
