Repository hashicorp/boundary-ui, pull requests merged in 2025-04, with the labels that each got.

#2752 refactor: 💡 Batch writes to indexedDB
  addons/api/addon/adapters/application.js
  addons/api/addon/handlers/indexed-db-handler.js
Labels: addons, api-addon

#2745 chore: 🤖 upgrade ember-data to v5.3.11
  addons/api/addon/handlers/cache-daemon-handler.js
  addons/api/addon/serializers/application.js
  addons/api/addon/services/store.js
  addons/api/addon/transforms/account-value-map-array.js
  addons/api/addon/transforms/array.js
  addons/api/addon/transforms/duration.js
  addons/api/addon/transforms/host-source-id-array.js
  addons/api/addon/transforms/object-as-array.js
  addons/api/addon/transforms/object.js
  addons/api/addon/transforms/string-array.js
  addons/api/app/transforms/boolean.js
  addons/api/app/transforms/date.js
  addons/api/app/transforms/number.js
  addons/api/app/transforms/string.js
  addons/api/package.json
  addons/auth/package.json
  addons/core/addon/initializers/deprecations.js
  addons/core/package.json
  addons/core/tests/unit/initializers/deprecations-test.js
  addons/rose/package.json
  e2e-tests/package.json
  ui/admin/app/routes/scopes/scope.js
  ui/admin/ember-cli-build.js
  ui/admin/package.json
  ui/admin/tests/acceptance/onboarding/onboarding-test.js
  ui/desktop/app/routes/scopes/scope.js
  ui/desktop/app/services/store.js
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2757 feat: 🎸 Populate subject for OIDC account name displays
  addons/api/addon/models/account.js
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/tests/acceptance/users/accounts-test.js
Labels: ui, addons, admin, api-addon

#2753 Chore icu 15394 upgrade electron
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2761 chore: 🤖 add test selectors to roles org-scope tests
  ui/admin/tests/acceptance/roles/org-scope-test.js
Labels: ui, admin

#2764 chore: 🤖 include ipv6 support in mocks
  addons/api/mirage/factories/account.js
  addons/api/mirage/factories/credential-store.js
  addons/api/mirage/factories/host-set.js
  addons/api/mirage/factories/host.js
  addons/api/mirage/generated/factories/host.js
Labels: addons, api-addon

#2756 Refactor test selectors for credential-store/credentials create test
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/selectors.js
Labels: ui, admin

#2759 Add tests for indexed db handler
  addons/api/addon/handlers/indexed-db-handler.js
  addons/api/package.json
  addons/api/tests/unit/handlers/indexed-db-handler-test.js
  yarn.lock
Labels: addons, api-addon

#2754 feat: Conditionally display 'Check for Updates' menu item based on built-in CLI
  ui/desktop/electron-app/src/config/menu.js
Labels: ui, desktop

#2774 Delete electron-squirrel-startup from electron-app
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2782 Reveal & Toolbar::Info Component cleanup
  addons/rose/addon/components/rose/toolbar/info/index.hbs
  addons/rose/app/components/rose/toolbar/info.js
  addons/rose/app/styles/rose/components/toolbar/_index.scss
  addons/rose/app/styles/rose/components/toolbar/_info.scss
  addons/rose/tests/integration/components/rose/toolbar/info-test.js
  ui/desktop/app/components/reveal/index.hbs
  ui/desktop/app/components/reveal/index.js
  ui/desktop/app/styles/app.scss
  ui/desktop/tests/integration/components/reveal-test.js
Labels: ui, addons, desktop, styles-addon

#2766 Refactor: Replace Rose::Dialog with HDS::Modal for desktop client
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  ui/admin/tests/acceptance/policy/list-test.js
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/helpers/selectors.js
  ui/desktop/app/templates/application.hbs
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/projects/targets/target-test.js
Labels: ui, addons, desktop, admin, styles-addon

#2777 Ember upgrade for addons/core
  addons/core/.ember-cli
  addons/core/.eslintignore
  addons/core/.npmignore
  addons/core/.prettierignore
  addons/core/.template-lintrc.js
  addons/core/.watchmanconfig
  addons/core/CONTRIBUTING.md
  addons/core/README.md
  addons/core/addon/components/doc-link/index.hbs
  addons/core/package.json
  addons/core/tests/dummy/config/ember-cli-update.json
  addons/core/tests/dummy/config/ember-try.js
  addons/core/tests/helpers/index.js
  ui/desktop/.gitignore
  yarn.lock
Labels: ui, addons, desktop

#2770 Replace Rose::Dialog::Cover with HDS::ApplicationState
  addons/core/public/auth-pending.svg
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/controllers/scopes/scope/authenticate.js
  ui/admin/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/app/templates/scopes/scope/authenticate/method/oidc.hbs
  ui/desktop/app/controllers/scopes/scope/authenticate.js
  ui/desktop/app/controllers/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/app/templates/scopes/scope/authenticate/method/oidc.hbs
Labels: ui, addons, desktop, admin

#2779 refactor: 💡 update text span elements with Hds::Text::Body
  addons/rose/addon/components/rose/dropdown/button/index.hbs
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/components/rose/form/checkbox/index.hbs
  addons/rose/addon/components/rose/nav/sidebar/index.hbs
  addons/rose/tests/integration/components/rose/form/checkbox-test.js
  ui/admin/app/components/ordered-series-diagram/item/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/onboarding/success.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/desktop/app/components/credentials-panel/index.hbs
  ui/desktop/app/components/hidden-secret/index.hbs
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
  ui/desktop/tests/integration/components/credentials-panel-test.js
Labels: ui, addons, desktop, admin, styles-addon

#2771 Replace Rose::Button with Hds::Button
  addons/rose/app/styles/rose/components/toolbar/_toolbar.scss
  ui/admin/app/components/form/field/json-secret/index.hbs
  ui/admin/app/components/form/role/grants/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/tests/acceptance/roles/selectors.js
  ui/admin/tests/integration/components/form/field/json-secret-skeleton-test.js
  ui/desktop/app/templates/error.hbs
  ui/desktop/app/templates/scopes/scope/projects/error.hbs
Labels: ui, addons, desktop, admin, styles-addon

#2778 Refactor: Hosts-sets test - delete, read and create
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/read-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/selectors.js
Labels: ui, admin

#2787 style: 💄 remove table borders from list-wrapper component
  ui/admin/app/styles/app.scss
Labels: ui, admin

#2786 Add additional indexeddb-handler tests
  addons/api/tests/unit/handlers/indexed-db-handler-test.js
Labels: addons, api-addon

#2780 Icu 16722 interaction components replace rose dropdown with hds dropdown
  ui/admin/app/components/header-nav/index.hbs
  ui/admin/app/controllers/scopes/scope/groups/group/add-members.js
  ui/admin/app/controllers/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/roles/selectors.js
  ui/admin/tests/unit/controllers/scopes/scope/groups/group/add-members-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/add-principals-test.js
  ui/desktop/app/controllers/scopes/scope/authenticate.js
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, desktop, admin

#2790 fix: 🐛 credential library serializer for SSH certificate
  addons/api/addon/serializers/credential-library.js
  addons/api/tests/unit/serializers/credential-library-test.js
Labels: addons, api-addon

#2802 refactor: 💡 use Hds::Text::Code in place of pre tag
  ui/desktop/app/components/hidden-secret/index.hbs
Labels: ui, desktop

#2804 style: 💄 fix formatting for long credential names & description
  ui/desktop/app/components/credentials-panel/index.hbs
  ui/desktop/app/styles/app.scss
Labels: ui, desktop

#2796 Icu 16547 upgrade ember desktop UI
  ui/admin/package.json
  ui/desktop/.editorconfig
  ui/desktop/.ember-cli
  ui/desktop/.eslintignore
  ui/desktop/.eslintrc.js
  ui/desktop/.prettierignore
  ui/desktop/.watchmanconfig
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/config/ember-cli-update.json
  ui/desktop/config/optional-features.json
  ui/desktop/electron-app/src/cli/path.js
  ui/desktop/package.json
  ui/desktop/tests/helpers/index.js
  yarn.lock
Labels: ui, desktop, admin

#2798 Card component cleanup
  ui/desktop/app/components/card/index.hbs
  ui/desktop/app/styles/app.scss
  ui/desktop/tests/integration/components/card-test.js
Labels: ui, addons, desktop, admin, styles-addon

#2801 chore: 🤖 update changelog and cli version
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2808 fix: 🐛 polyfillUUID config for ember-data
  ui/admin/ember-cli-build.js
  ui/admin/package.json
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop, admin
