Repository hashicorp/boundary-ui, pull requests merged in 2025-07, with the labels that each got.

#2906 test: 💍 refactor target host sources test selectors
  ui/admin/app/components/targets/target/actions/index.hbs
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/selectors.js
Labels: ui, admin

#2917 chore: 🤖 change log and cli version
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2918 fix: 🐛 transition aborted error when deleting or saving
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/controllers/scopes/scope/groups/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/index.js
  ui/admin/app/controllers/scopes/scope/roles/index.js
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/controllers/scopes/scope/users/index.js
  ui/admin/app/controllers/scopes/scope/workers/index.js
Labels: ui, admin

#2886 Icu 16439 enable session recording create storage bucket & index
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/tests/acceptance/targets/enable-session-recording/create-storage-bucket-test.js
  ui/admin/tests/acceptance/targets/enable-session-recording/index-test.js
  ui/admin/tests/acceptance/targets/selectors.js
Labels: ui, admin

#2922 fix: 🐛 release date
  ui/desktop/CHANGELOG.md
Labels: ui, desktop

#2910 test: 💍 refactor target worker test selectors
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/selectors.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/acceptance/storage-buckets/create-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/acceptance/storage-buckets/update-test.js
  ui/admin/tests/acceptance/targets/selectors.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2921 test: 💍 refactor targets manage alias test selectors
  ui/admin/tests/acceptance/targets/manage-alias-test.js
  ui/admin/tests/acceptance/targets/selectors.js
Labels: ui, admin

#2924 Modify string sorting to benefit upperCase
  addons/api/addon/utils/sort-results.js
  addons/api/tests/unit/utils/sort-results-test.js
Labels: addons, api-addon

#2926 Retire on click rose modifiers
  addons/rose/addon/modifiers/on-click-inside.js
  addons/rose/addon/modifiers/on-click-outside.js
  addons/rose/app/modifiers/on-click-inside.js
  addons/rose/app/modifiers/on-click-outside.js
  addons/rose/tests/integration/modifiers/on-click-inside-test.js
  addons/rose/tests/integration/modifiers/on-click-outside-test.js
Labels: addons, styles-addon

#2929 fix: 🐛 prevent worker registration icon from shrinking
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/styles/app.scss
Labels: ui, admin

#2928 fix: 🐛 Fix removing worker tag
  ui/admin/app/components/form/worker/create-worker-led/index.js
  ui/admin/tests/integration/components/form/worker/create-worker-led-test.js
Labels: ui, admin

#2871 chore: 🤖 update `@glimmer/component` to v2
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  pnpm-lock.yaml
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2935 (HACK WEEK 2025) chore: 🤖 add DARK_MODE env variable to testem config
  ui/admin/README.md
  ui/admin/testem.js
  ui/desktop/README.md
  ui/desktop/testem.js
Labels: ui, desktop, admin

#2938 (HACK WEEK 2025) a11y desktop test helper
  ui/desktop/.gitignore
  ui/desktop/config/environment.js
  ui/desktop/package.json
  ui/desktop/testem.js
  ui/desktop/tests/test-helper.js
Labels: ui, desktop

#2939 (HACK WEEK 2025) Dark mode a11y audit rules
  addons/rose/app/styles/rose/_typography.scss
  ui/admin/config/environment.js
  ui/admin/tests/test-helper.js
  ui/desktop/config/environment.js
  ui/desktop/tests/test-helper.js
Labels: ui, addons, desktop, admin, styles-addon

#2947 (HACK WEEK 2025) Fix `a11y-tests` label
  .github/workflows/a11y-tests.yaml
Labels: a11y-tests
