Repository hashicorp/boundary-ui, pull requests merged in 2025-02, with the labels that each got.

#2674 fix: 🐛 reapply storage policy errors out after a failed delete
  addons/api/addon/adapters/application.js
  addons/api/addon/mixins/adapter-build-url.js
  addons/api/addon/models/session-recording.js
  ui/admin/app/abilities/session-recording.js
  ui/admin/app/controllers/scopes/scope/session-recordings/session-recording/channels-by-connection/index.js
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/tests/unit/abilities/session-recording-test.js
Labels: ui, addons, admin, api-addon

#2682 chore: 🤖 update desktop release date in CHANGELOG
  ui/desktop/CHANGELOG.md
Labels: ui, desktop

#2663 Icu 15471 credential store tests
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/delete-test.js
  ui/admin/tests/acceptance/credential-store/list-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/credential-store/selectors.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2486 Upgrade node engines to work with node 20 and 22
  README.md
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2684 chore: 🤖 Upgrade cross-spawn versions to resolve security alert
  ui/desktop/electron-app/yarn.lock
  yarn.lock
Labels: ui, desktop

#2636 [ICU-15403] Trim whitespace on storage buckets and host sets json attrs serializers
  addons/api/addon/generated/models/host-set.js
  addons/api/addon/generated/models/storage-bucket.js
  addons/api/addon/serializers/application.js
  addons/api/addon/serializers/storage-bucket.js
  addons/api/tests/unit/serializers/application-test.js
  addons/api/tests/unit/serializers/host-set-test.js
  addons/api/tests/unit/serializers/storage-bucket-test.js
Labels: addons, api-addon

#2241 feat: 🎸 Add migration check to delete index DB when updating
  addons/api/addon-test-support/helpers/indexed-db.js
  addons/api/addon/services/indexed-db.js
  ui/admin/app/controllers/scopes/scope/authenticate/method/index.js
  ui/admin/app/routes/application.js
  ui/admin/app/services/session.js
  ui/admin/tests/unit/controllers/scopes/scope/authenticate/method/index-test.js
Labels: ui, addons, admin, api-addon

#2692 refactor: 💅 Use common selector ALERT_TOAST_BODY across test suite
  ui/admin/tests/acceptance/aliases/create-test.js
  ui/admin/tests/acceptance/auth-methods/oidc-test.js
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/delete-test.js
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
  ui/admin/tests/acceptance/groups/delete-test.js
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/groups/update-test.js
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/create-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/update-test.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/policy/create-test.js
  ui/admin/tests/acceptance/roles/create-test.js
  ui/admin/tests/acceptance/roles/delete-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/grants-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
  ui/admin/tests/acceptance/roles/update-test.js
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/update-test.js
  ui/admin/tests/acceptance/session-recordings/session-recording/channels-by-connection/channel-test.js
  ui/admin/tests/acceptance/storage-buckets/delete-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/create-alias-test.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/enable-session-recording/create-storage-bucket-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/delete-test.js
  ui/admin/tests/acceptance/users/update-test.js
  ui/admin/tests/acceptance/workers/create-test.js
  ui/admin/tests/acceptance/workers/delete-test.js
  ui/admin/tests/acceptance/workers/update-test.js
Labels: ui, admin

#2690 chore: fix eslint-related issues
  addons/api/package.json
  addons/auth/package.json
  addons/core/package.json
  addons/rose/package.json
  e2e-tests/.eslintignore
  e2e-tests/desktop/tests/credentials.spec.js
  e2e-tests/package.json
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2646 feat: 🎸 scope picker component
  addons/core/translations/en-us.yaml
  addons/rose/package.json
  ui/admin/app/components/scope-picker/index.hbs
  ui/admin/app/components/scope-picker/index.js
  ui/admin/app/controllers/scopes/scope.js
  ui/admin/app/routes/scopes/scope.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/tests/integration/components/scope-picker/index-test.js
  yarn.lock
Labels: ui, addons, admin, styles-addon

#2694 feat: 🎸 add logging to notifyError decorator
  addons/api/addon/handlers/cache-daemon-handler.js
  addons/core/addon/decorators/notify.js
  ui/desktop/.eslintrc.js
  ui/desktop/app/controllers/cluster-url.js
  ui/desktop/app/routes/application.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/session.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
  ui/desktop/app/services/cluster-url.js
Labels: ui, addons, desktop, api-addon

#2691 refactor: 💅 Aliases: read-test
  ui/admin/tests/acceptance/aliases/read-test.js
Labels: ui, admin

#2685 refactor: 💅 Aliases: create-test
  ui/admin/app/components/form/alias/index.hbs
  ui/admin/tests/acceptance/aliases/create-test.js
  ui/admin/tests/acceptance/aliases/selectors.js
Labels: ui, admin

#2526 Upgrade electron-forge to 7.5.0
  ui/desktop/electron-app/config/desktop.js
  ui/desktop/electron-app/config/forge.config.js
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/patches/lodash.template+4.5.0.patch
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2703 fix: 🐛 Fix development build for desktop client
  ui/desktop/electron-app/config/desktop.js
Labels: ui, desktop
