Repository hashicorp/boundary-ui, pull requests merged in 2025-05, with the labels that each got.

#2805 refactor: 💡 update code tag to use Hds::Text::Code
  ui/admin/app/components/form/group/add-members/index.hbs
  ui/admin/app/components/form/target/add-host-sets/index.hbs
  ui/admin/app/components/form/user/add-accounts/index.hbs
  ui/admin/app/components/form/worker/create-worker-led/index.hbs
  ui/admin/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
Labels: ui, desktop, admin

#2806 Rose::Dialog::Cover component cleanup
  addons/rose/addon/components/rose/dialog/cover/index.hbs
  addons/rose/app/components/rose/dialog/cover.js
  addons/rose/app/styles/rose/components/dialog/_cover.scss
  addons/rose/app/styles/rose/components/dialog/_index.scss
  addons/rose/tests/integration/components/rose/dialog/cover-test.js
  ui/admin/app/styles/app.scss
Labels: ui, addons, admin, styles-addon

#2807 [Retire] Rose::Icon
  addons/rose/addon/components/rose/icon/index.hbs
  addons/rose/app/components/rose/icon.js
  addons/rose/app/styles/rose/components/_icon.scss
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/card/_link.scss
  addons/rose/app/styles/rose/components/dialog/_dialog.scss
  addons/rose/app/styles/rose/components/form/_input.scss
  addons/rose/app/styles/rose/components/header/_dropdown.scss
  addons/rose/tests/integration/components/rose/icon-test.js
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, admin, styles-addon

#2783 [Replace] Rose::Form::Label and <input.field> elements
  ui/admin/app/components/form/role/grants/index.hbs
  ui/admin/app/components/form/role/grants/index.js
Labels: ui, admin

#2784 Icu 16542 upgrade ember addons rose
  addons/auth/package.json
  addons/rose/.editorconfig
  addons/rose/.ember-cli
  addons/rose/.eslintignore
  addons/rose/.eslintrc.js
  addons/rose/.gitignore
  addons/rose/.npmignore
  addons/rose/.prettierignore
  addons/rose/.watchmanconfig
  addons/rose/addon/components/rose/button/index.js
  addons/rose/addon/components/rose/code-editor/toolbar/index.js
  addons/rose/addon/components/rose/dropdown/section/index.js
  addons/rose/addon/components/rose/form/checkbox/index.hbs
  addons/rose/addon/components/rose/form/index.js
  addons/rose/addon/components/rose/form/input/input/index.hbs
  addons/rose/addon/styles/hds/themes/dark-mode/_color-tokens-tier-2.scss
  addons/rose/app/styles/rose/variables/_sizing.scss
  addons/rose/app/styles/rose/variables/_typography.scss
  addons/rose/ember-cli-build.js
  addons/rose/index.js
  addons/rose/package.json
  addons/rose/tests/dummy/app/templates/application.hbs
  addons/rose/tests/dummy/config/ember-cli-update.json
  addons/rose/tests/dummy/config/ember-try.js
  addons/rose/tests/helpers/index.js
  addons/rose/tests/index.html
  ui/admin/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, auth-addon, styles-addon

#2811 test: 💍 refactor session-recording test selectors
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/tests/acceptance/session-recordings/list-test.js
  ui/admin/tests/acceptance/session-recordings/read-test.js
  ui/admin/tests/acceptance/session-recordings/selectors.js
  ui/admin/tests/acceptance/session-recordings/session-recording/channels-by-connection/channel-test.js
Labels: ui, admin

#2791 Icu 16545 upgrade ember addons api
  addons/api/.editorconfig
  addons/api/.ember-cli
  addons/api/.eslintignore
  addons/api/.eslintrc.js
  addons/api/.gitignore
  addons/api/.npmignore
  addons/api/.prettierignore
  addons/api/.prettierrc.js
  addons/api/.watchmanconfig
  addons/api/ember-cli-build.js
  addons/api/package.json
  addons/api/tests/dummy/app/styles/app.css
  addons/api/tests/dummy/config/ember-cli-update.json
  addons/api/tests/dummy/config/ember-try.js
  addons/api/tests/helpers/index.js
  addons/auth/.eslintrc.js
  addons/auth/package.json
  addons/core/package.json
  addons/rose/.eslintrc.js
  addons/rose/package.json
  ui/admin/.eslintrc.js
  ui/admin/package.json
  ui/desktop/.eslintrc.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2817 Add check to only show windows buttons on windows
  addons/api/mirage/scenarios/ipc.js
Labels: addons, api-addon

#2814 feat: 🎉 add minimum window size for the app
  ui/desktop/electron-app/src/index.js
Labels: ui, desktop

#2822 chore: 🤖 update changelog with date
  ui/desktop/CHANGELOG.md
Labels: ui, desktop

#2772 feat: Clear flash messages during login
  ui/desktop/app/routes/scopes/scope/authenticate/method/oidc.js
Labels: ui, desktop

#2773 Add sorting foundation as util and using it within indexed-db-handler
  addons/api/addon/handlers/indexed-db-handler.js
  addons/api/addon/utils/indexed-db-query.js
  addons/api/addon/utils/sort-results.js
  addons/api/tests/unit/handlers/indexed-db-handler-test.js
  addons/api/tests/unit/utils/sort-results-test.js
Labels: addons, api-addon

#2820 Use `@use` for scss explicit imports
  addons/core/tests/dummy/app/styles/app.css
  addons/rose/README.md
  addons/rose/addon/styles/addon.scss
  addons/rose/addon/styles/hds/themes/dark-mode/index.scss
  addons/rose/app/styles/rose/_index.scss
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/card/_index.scss
  addons/rose/app/styles/rose/components/dialog/_index.scss
  addons/rose/app/styles/rose/components/dropdown/_index.scss
  addons/rose/app/styles/rose/components/form/_index.scss
  addons/rose/app/styles/rose/components/form/_select.scss
  addons/rose/app/styles/rose/components/form/errors/_index.scss
  addons/rose/app/styles/rose/components/header/_dropdown.scss
  addons/rose/app/styles/rose/components/header/_index.scss
  addons/rose/app/styles/rose/components/layout/_index.scss
  addons/rose/app/styles/rose/components/layout/_sidebar.scss
  addons/rose/app/styles/rose/components/list/_index.scss
  addons/rose/app/styles/rose/components/nav/_index.scss
  addons/rose/app/styles/rose/components/nav/_sidebar.scss
  addons/rose/app/styles/rose/components/page-header/_index.scss
  addons/rose/app/styles/rose/components/toolbar/_index.scss
  addons/rose/app/styles/rose/variables/_index.scss
  addons/rose/app/styles/rose/variables/color/_css.scss
  addons/rose/app/styles/rose/variables/color/_index.scss
  addons/rose/tests/dummy/app/styles/app.scss
  ui/admin/app/styles/app.scss
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, admin, styles-addon

#2824 test: 💍 refactor targets test selectors
  ui/admin/app/components/form/target/details/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/selectors.js
  ui/admin/tests/acceptance/targets/update-test.js
Labels: ui, admin

#2815 [Retire] Rose::Form::Label
  addons/rose/addon/components/rose/form/label/index.hbs
  addons/rose/app/components/rose/form/label.js
  addons/rose/app/styles/rose/components/form/_index.scss
  addons/rose/app/styles/rose/components/form/_label.scss
  addons/rose/tests/integration/components/rose/form/label-test.js
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, styles-addon

#2813 Refactor: Rose::Page::Layout - header, actions and breadcrumbs
  addons/rose/app/styles/rose/components/layout/_page.scss
  ui/admin/app/components/auth-methods/auth-method/accounts/account/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/header/index.hbs
  ui/admin/app/components/auth-methods/auth-method/managed-groups/managed-group/header/index.hbs
  ui/admin/app/components/credential-stores/credential-store/header/index.hbs
  ui/admin/app/components/form/account/ldap/index.hbs
  ui/admin/app/components/form/auth-method/ldap/index.hbs
  ui/admin/app/components/form/scope/add-storage-policy/create.hbs
  ui/admin/app/controllers/scopes/scope/edit.js
  ui/admin/app/templates/scopes/scope/add-storage-policy/create.hbs
  ui/admin/app/templates/scopes/scope/add-storage-policy/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/alias/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/index.hbs
  ui/admin/app/templates/scopes/scope/aliases/new.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/account/set-password.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/new.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/new.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/credential-library/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credential-libraries/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/credential/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/credentials/new.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/edit-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/credential-store/worker-filter.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/new.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
Labels: ui, addons, desktop, admin, api-addon, auth-addon, styles-addon

#2826 chore: Migrate rose dropdown to HDS
  e2e-tests/desktop/tests/scope.spec.js
  ui/admin/app/components/header-nav/index.hbs
  ui/admin/app/controllers/scopes/scope/groups/group/add-members.js
  ui/admin/app/controllers/scopes/scope/roles/role/add-principals.js
  ui/admin/app/controllers/scopes/scope/workers/index.js
  ui/admin/app/routes/scopes/scope/groups/group/add-members.js
  ui/admin/app/routes/scopes/scope/roles/role/add-principals.js
  ui/admin/app/routes/scopes/scope/workers/index.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/authenticate.hbs
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/acceptance/workers/selectors.js
  ui/admin/tests/unit/controllers/scopes/scope/groups/group/add-members-test.js
  ui/admin/tests/unit/controllers/scopes/scope/roles/role/add-principals-test.js
  ui/admin/tests/unit/controllers/scopes/scope/workers/index-test.js
  ui/desktop/app/controllers/scopes/scope/authenticate.js
  ui/desktop/app/templates/scopes/scope.hbs
  ui/desktop/app/templates/scopes/scope/-header-nav.hbs
  ui/desktop/app/templates/scopes/scope/authenticate.hbs
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, admin, styles-addon

#2834 fix: 🐛 fix host source description reference
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
Labels: ui, admin

#2831 Rose::Dialog component cleanup
  addons/rose/.template-lintrc.js
  addons/rose/addon/components/rose/dialog/body/index.hbs
  addons/rose/addon/components/rose/dialog/index.hbs
  addons/rose/addon/components/rose/dialog/index.js
  addons/rose/app/components/rose/dialog.js
  addons/rose/app/components/rose/dialog/body.js
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/dialog/_dialog.scss
  addons/rose/app/styles/rose/components/dialog/_index.scss
  addons/rose/tests/integration/components/rose/dialog-test.js
  addons/rose/tests/integration/components/rose/dialog/body-test.js
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, styles-addon

#2825 Refactor: Rose::Page::Layout - header, actions and breadcrumbs Part 2
  ui/admin/app/components/groups/group/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/add-hosts/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/new/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/host/header/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/hosts/new/header/index.hbs
  ui/admin/app/components/roles/role/header/index.hbs
  ui/admin/app/templates/scopes/scope/groups/group/add-members.hbs
  ui/admin/app/templates/scopes/scope/groups/group/index.hbs
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/groups/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/add-hosts.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/create-and-add-host.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/host-set/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/host-sets/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/host/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/hosts/new.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/host-catalog/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/index.hbs
  ui/admin/app/templates/scopes/scope/host-catalogs/new.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/policies/new.hbs
  ui/admin/app/templates/scopes/scope/policies/policy/index.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/roles/new.hbs
  ui/admin/app/templates/scopes/scope/roles/role/add-principals.hbs
  ui/admin/app/templates/scopes/scope/roles/role/grants.hbs
  ui/admin/app/templates/scopes/scope/roles/role/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/index.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.hbs
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-org-projects.hbs
  ui/admin/app/templates/scopes/scope/roles/role/principals.hbs
  ui/admin/app/templates/scopes/scope/roles/role/scopes.hbs
Labels: ui, addons, admin, styles-addon

#2812 [Replace][Desktop] Rose::Button
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
Labels: ui, desktop, admin

#2836 refactor: 💡 fix table density and remove desc margin
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/accounts/index.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/auth-method/managed-groups/managed-group/members.hbs
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
  ui/admin/app/templates/scopes/scope/credential-stores/index.hbs
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/app/templates/scopes/scope/policies/index.hbs
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/injected-application-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/index.hbs
Labels: ui, desktop, admin

#2833 chore: desktop header nav dropdown changes
  addons/rose/app/styles/rose/components/header/_dropdown.scss
  e2e-tests/desktop/tests/authentication.spec.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/application.hbs
  ui/desktop/app/templates/scopes/scope.hbs
  ui/desktop/tests/acceptance/authentication-test.js
Labels: ui, addons, desktop, admin, styles-addon

#2835 Icu 16413 roles principals
  ui/admin/tests/acceptance/roles/principals-test.js
  ui/admin/tests/acceptance/roles/project-scope-test.js
  ui/admin/tests/acceptance/roles/selectors.js
Labels: ui, admin

#2838 [Retire] Rose::Button
  addons/rose/addon/components/rose/button/index.hbs
  addons/rose/app/components/rose/button.js
  addons/rose/app/styles/rose/components/_button.scss
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/dropdown/_index.scss
  addons/rose/app/styles/rose/utilities/_button.scss
  addons/rose/app/styles/rose/utilities/_index.scss
  addons/rose/tests/dummy/app/templates/index.hbs
  addons/rose/tests/dummy/app/templates/playground.hbs
  addons/rose/tests/integration/components/rose/button-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/update-test.js
  ui/desktop/app/styles/app.scss
Labels: ui, addons, desktop, admin, styles-addon

#2830 Icu 16786 implement sort for targets
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
  ui/admin/tests/acceptance/roles/project-scope-test.js
  ui/admin/tests/acceptance/session-recordings/list-test.js
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/admin/tests/acceptance/workers/create-tags-test.js
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/acceptance/workers/tags-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2840 Refactor: Rose::Page::Layout - header, actions and breadcrumbs Final Part
  ui/admin/app/components/targets/target/header/index.hbs
  ui/admin/app/components/users/user/header/index.hbs
  ui/admin/app/components/workers/worker/header/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/index.hbs
  ui/admin/app/templates/scopes/scope/scopes/new.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/channel.hbs
  ui/admin/app/templates/scopes/scope/session-recordings/session-recording/channels-by-connection/index.hbs
  ui/admin/app/templates/scopes/scope/sessions/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/index.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/new.hbs
  ui/admin/app/templates/scopes/scope/storage-buckets/storage-bucket/index.hbs
  ui/admin/app/templates/scopes/scope/targets/index.hbs
  ui/admin/app/templates/scopes/scope/targets/new.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-brokered-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/add-injected-application-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/brokered-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/create-alias.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-egress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/edit-ingress-worker-filter.hbs
  ui/admin/app/templates/scopes/scope/targets/target/enable-session-recording/create-storage-bucket.hbs
  ui/admin/app/templates/scopes/scope/targets/target/enable-session-recording/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/host-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/injected-application-credential-sources.hbs
  ui/admin/app/templates/scopes/scope/targets/target/manage-alias.hbs
  ui/admin/app/templates/scopes/scope/targets/target/workers.hbs
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/app/templates/scopes/scope/users/new.hbs
  ui/admin/app/templates/scopes/scope/users/user/accounts.hbs
  ui/admin/app/templates/scopes/scope/users/user/add-accounts.hbs
  ui/admin/app/templates/scopes/scope/users/user/index.hbs
  ui/admin/app/templates/scopes/scope/workers/index.hbs
  ui/admin/app/templates/scopes/scope/workers/new.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/create-tags.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/tags.hbs
  ui/admin/tests/integration/components/workers/worker/header/index-test.js
  ui/desktop/app/styles/app.scss
  ui/desktop/app/templates/scopes/scope/projects/sessions.hbs
  ui/desktop/app/templates/scopes/scope/projects/sessions/session.hbs
  ui/desktop/app/templates/scopes/scope/projects/settings.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
Labels: ui, desktop, admin

#2837 feat: 🎸 implement sort for session recordings
  ui/admin/app/controllers/scopes/scope/session-recordings/index.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
  ui/admin/app/templates/scopes/scope/session-recordings/index.hbs
  ui/admin/tests/acceptance/session-recordings/list-test.js
Labels: ui, admin

#2839 fix: 🐛 refocus on route changes when attempting to search
  ui/admin/app/controllers/application.js
  ui/admin/app/templates/application.hbs
  ui/admin/package.json
  ui/admin/tests/unit/controllers/application-test.js
  yarn.lock
Labels: ui, admin

#2848 Migrate GitHub Actions updates from TSCCR to Dependabot
  .github/dependabot.yml
Labels: dependapatch

#2846 Add sorting to Groups in boundary admin
  ui/admin/app/controllers/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/templates/scopes/scope/groups/index.hbs
  ui/admin/tests/acceptance/groups/list-test.js
Labels: ui, admin

#2854 feat: 🎸 add pagination to host source table
  addons/api/mirage/factories/target.js
  e2e-tests/desktop/tests/pagination.spec.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/tests/acceptance/projects/targets/target-test.js
Labels: ui, addons, desktop, api-addon
