Repository hashicorp/boundary-ui, pull requests merged in 2025-06, with the labels that each got.

#2844 ICU-16787 sort admin users
  ui/admin/app/controllers/scopes/scope/users/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/users/index.hbs
  ui/admin/tests/acceptance/users/list-test.js
Labels: ui, admin

#2858 [Retire] Rose::Dropdown
  addons/rose/README.md
  addons/rose/addon/components/rose/dropdown/button/index.hbs
  addons/rose/addon/components/rose/dropdown/index.hbs
  addons/rose/addon/components/rose/dropdown/index.js
  addons/rose/addon/components/rose/dropdown/key-value/index.hbs
  addons/rose/addon/components/rose/dropdown/link/index.hbs
  addons/rose/addon/components/rose/dropdown/section/index.hbs
  addons/rose/addon/components/rose/dropdown/section/index.js
  addons/rose/addon/components/rose/header/nav/index.hbs
  addons/rose/addon/components/rose/header/utilities/index.hbs
  addons/rose/app/components/rose/dropdown.js
  addons/rose/app/components/rose/dropdown/button.js
  addons/rose/app/components/rose/dropdown/key-value.js
  addons/rose/app/components/rose/dropdown/link.js
  addons/rose/app/components/rose/dropdown/section.js
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/dropdown/_button.scss
  addons/rose/app/styles/rose/components/dropdown/_dropdown.scss
  addons/rose/app/styles/rose/components/dropdown/_index.scss
  addons/rose/app/styles/rose/components/dropdown/_item.scss
  addons/rose/app/styles/rose/components/dropdown/_key-value.scss
  addons/rose/app/styles/rose/components/dropdown/_link.scss
  addons/rose/app/styles/rose/components/dropdown/_section.scss
  addons/rose/app/styles/rose/components/page-header/_title.scss
  addons/rose/tests/integration/components/rose/dropdown-test.js
  addons/rose/tests/integration/components/rose/dropdown/button-test.js
  addons/rose/tests/integration/components/rose/dropdown/key-value-test.js
  addons/rose/tests/integration/components/rose/dropdown/link-test.js
  addons/rose/tests/integration/components/rose/dropdown/section-test.js
  addons/rose/tests/integration/components/rose/header-test.js
  addons/rose/tests/integration/components/rose/header/nav-test.js
  addons/rose/tests/integration/components/rose/header/utilities-test.js
  ui/admin/app/components/auth-methods/auth-method/actions/index.hbs
  ui/admin/app/components/host-catalogs/host-catalog/host-sets/host-set/actions/index.hbs
  ui/admin/app/components/targets/target/actions/index.hbs
  ui/admin/app/styles/app.scss
  ui/admin/tests/acceptance/aliases/delete-test.js
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/host-catalogs/host-sets/hosts-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/acceptance/targets/manage-alias-test.js
  ui/admin/tests/helpers/selectors.js
  ui/desktop/app/styles/app.scss
  ui/desktop/tests/acceptance/authentication-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, addons, desktop, admin, styles-addon

#2860 refactor: 💡 add custom sort to resources
  addons/api/addon/utils/sort-results.js
  addons/api/tests/unit/handlers/indexed-db-handler-test.js
  addons/api/tests/unit/utils/sort-results-test.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/scopes/index.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/app/utils/sort-name-with-id-fallback.js
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/roles/list-test.js
  ui/admin/tests/acceptance/session-recordings/list-test.js
  ui/admin/tests/acceptance/session-recordings/read-test.js
  ui/admin/tests/acceptance/session-recordings/session-recording/channels-by-connection/channel-test.js
  ui/admin/tests/acceptance/targets/create-alias-test.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/unit/routes/scopes/scope/session-recordings/index-test.js
  ui/admin/tests/unit/routes/scopes/scope/targets/index-test.js
  ui/admin/tests/unit/utils/sort-name-with-id-fallback-test.js
Labels: ui, addons, desktop, admin, api-addon

#2861 feat: 🎸 add search capability for host sources
  e2e-tests/desktop/tests/pagination.spec.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target.hbs
  ui/desktop/app/templates/scopes/scope/projects/targets/target/index.hbs
  ui/desktop/tests/acceptance/projects/targets/target-test.js
  ui/desktop/tests/unit/controllers/scopes/scope/projects/targets/target/index-test.js
Labels: ui, desktop

#2874 Icu 17197 update logic in global roles to only add project scopes when using children
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/role/manage-custom-scopes/index.hbs
  ui/admin/app/components/form/role/manage-custom-scopes/index.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.hbs
  ui/admin/app/templates/scopes/scope/roles/role/scopes.hbs
  ui/admin/tests/acceptance/roles/global-scope-test.js
Labels: ui, addons, admin

#2864 Refactor credential-store/credentials read test selectors
  ui/admin/tests/acceptance/credential-store/credentials/read-test.js
Labels: ui, admin

#2872 Delete rose cards and rose card old styles
  addons/rose/app/styles/rose/components/_cards.scss
  addons/rose/app/styles/rose/components/_index.scss
  addons/rose/app/styles/rose/components/card/_index.scss
  addons/rose/app/styles/rose/components/card/_link.scss
Labels: addons, styles-addon

#2866 Icu 15477 refactor credentials update test selectors
  ui/admin/tests/acceptance/accounts/create-test.js
  ui/admin/tests/acceptance/accounts/selectors.js
  ui/admin/tests/acceptance/accounts/set-password-test.js
  ui/admin/tests/acceptance/credential-store/credentials/selectors.js
  ui/admin/tests/acceptance/credential-store/credentials/update-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2869 chore: 🤖 use `@nullvoxpopuli/ember-composable-helpers`
  addons/rose/package.json
  pnpm-lock.yaml
Labels: addons, styles-addon

#2877 Icu 17232 update how we fetch hosts
  addons/api/mirage/factories/target.js
  e2e-tests/desktop/tests/pagination.spec.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target.js
  ui/desktop/app/routes/scopes/scope/projects/targets/target/index.js
  ui/desktop/app/templates/scopes/scope/projects/targets/target/index.hbs
Labels: ui, addons, desktop, api-addon

#2878 Add sortNameWithIdFallback to auth methods
  ui/admin/app/routes/scopes/scope/auth-methods/index.js
Labels: ui, admin

#2884 Refactor credential-store/credentials list test selectors
  ui/admin/tests/acceptance/credential-store/credentials/list-test.js
  ui/admin/tests/acceptance/credential-store/selectors.js
Labels: ui, admin

#2879 Clean up mirage auth handler
  addons/api/mirage/route-handlers/auth.js
Labels: addons, api-addon

#2882 refactor: 💡 add title to primary column in auth-methods table
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/templates/scopes/scope/auth-methods/index.hbs
Labels: ui, addons, admin

#2880 refactor: 💡 remove dynamic `component` helper from `Form::Account` component
  ui/admin/app/components/form/account/index.hbs
  ui/admin/app/components/form/account/index.js
Labels: ui, addons, admin

#2888 Refactor scopes test selectors
  ui/admin/app/components/scope-picker/index.hbs
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/selectors.js
  ui/admin/tests/acceptance/auth-methods/update-test.js
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2862 Remove cached resources on sessions route
  ui/admin/app/routes/scopes/scope/sessions/index.js
Labels: ui, admin

#2889 Enhanced the refresh functionality in targets route
  ui/desktop/app/controllers/scopes/scope/projects/sessions/index.js
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/app/routes/scopes/scope/projects/sessions/index.js
  ui/desktop/app/routes/scopes/scope/projects/targets/index.js
Labels: ui, desktop

#2899 Fix SASS deprecation
  addons/rose/app/styles/rose/components/header/_index.scss
Labels: addons, styles-addon

#2900 [Desktop] Conditionally render separator in nav org dropdown
  ui/desktop/app/templates/scopes/scope.hbs
Labels: ui, desktop

#2904 test: 💍 refactor targets create alias & enable SR test selectors
  ui/admin/tests/acceptance/targets/create-alias-test.js
  ui/admin/tests/acceptance/targets/enable-session-recording-test.js
  ui/admin/tests/acceptance/targets/selectors.js
Labels: ui, admin

#2897 Refactor test selectors aliases
  ui/admin/tests/acceptance/aliases/delete-test.js
  ui/admin/tests/acceptance/aliases/list-test.js
  ui/admin/tests/acceptance/aliases/selectors.js
Labels: ui, admin

#2908 refactor: 💡 add last seen time column to workers list view
  ui/admin/app/templates/scopes/scope/workers/index.hbs
Labels: ui, admin

#2907 Replace this.server.db with this.server.schema
  ui/admin/tests/acceptance/managed-groups/members-test.js
  ui/admin/tests/acceptance/roles/delete-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/desktop/tests/acceptance/projects/sessions/index-test.js
  ui/desktop/tests/acceptance/projects/targets/index-test.js
  ui/desktop/tests/acceptance/scopes-test.js
Labels: ui, desktop, admin

#2885 chore: 🤖 upgrade got package to solve vulnerability
  addons/api/tests/dummy/config/ember-try.js
  addons/auth/tests/dummy/config/ember-try.js
  addons/core/.gitignore
  addons/core/package.json
  addons/core/tests/dummy/config/ember-try.js
  addons/rose/tests/dummy/config/ember-try.js
  package.json
  pnpm-lock.yaml
Labels: addons, api-addon, auth-addon, styles-addon
