Repository hashicorp/boundary-ui, pull requests merged in 2025-09, with the labels that each got.

#2995 docs: ✏️ update alias value helper text
  addons/core/translations/resources/en-us.yaml
  ui/admin/app/components/form/alias/index.hbs
  ui/admin/config/environment.js
Labels: ui, addons, admin

#2994 fix: 🐛 fix bug with the `apiClientTestAfter` noop fixture hanging and update e2e label username, password locators with required text
  e2e-tests/admin/pages/credential-stores.js
  e2e-tests/admin/pages/targets.js
  e2e-tests/admin/tests/alias-ent.spec.js
  e2e-tests/helpers/boundary-api-client.ts
Labels: ui, desktop

#3002 fix: 🐛 Fix sessions not properly getting cleaned up
  ui/desktop/electron-app/src/models/session.js
Labels: ui, desktop

#3007 fix: 🐛 Pass the addr to CLI when canceling sessions
  ui/desktop/electron-app/src/models/session.js
Labels: ui, desktop

#3004 fix: 🐛 max depth error for active sessions filter in targets
  addons/api/addon/utils/sqlite-query.js
  addons/api/tests/unit/utils/sqlite-query-test.js
Labels: ui, addons, admin, api-addon

#3008 fix: 🐛 Pass in session time out when creating session
  ui/desktop/app/controllers/scopes/scope/projects/targets/index.js
  ui/desktop/electron-app/src/helpers/spawn-promise.js
  ui/desktop/electron-app/src/ipc/handlers.js
  ui/desktop/electron-app/src/models/session-manager.js
  ui/desktop/electron-app/src/models/session.js
Labels: ui, desktop
