Repository hashicorp/boundary-ui, pull requests merged in 2025-08, with the labels that each got.

#2933 feat: 🎸 Add sqlite handler and parser
  addons/api/addon-test-support/helpers/sqlite.js
  addons/api/addon/handlers/sqlite-handler.js
  addons/api/addon/services/sqlite-db.js
  addons/api/addon/services/sqlite.js
  addons/api/addon/utils/sqlite-query.js
  addons/api/addon/workers/sqlite-worker.js
  addons/api/addon/workers/utils/schema.js
  addons/api/app/services/sqlite.js
  addons/api/index.js
  addons/api/tests/unit/handlers/sqlite-handler-test.js
  addons/api/tests/unit/services/sqlite-db-test.js
  addons/api/tests/unit/services/sqlite-test.js
  addons/api/tests/unit/utils/sqlite-query-test.js
  addons/core/translations/actions/en-us.yaml
  ui/admin/app/controllers/application.js
  ui/admin/app/routes/application.js
  ui/admin/app/services/session.js
  ui/admin/app/templates/application.hbs
  ui/admin/tests/acceptance/credential-store/list-test.js
  ui/admin/tests/acceptance/credential-store/read-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/host-catalogs/read-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/acceptance/targets/create-alias-test.js
  ui/admin/tests/acceptance/targets/create-test.js
  ui/admin/tests/acceptance/targets/delete-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/targets/read-test.js
  ui/admin/tests/acceptance/targets/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/host-catalogs/host-catalog/hosts/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/index-test.js
Labels: ui, addons, admin, api-addon

#2949 (HACK WEEK 2025) Upload a11y reports in ci
  .github/workflows/a11y-tests.yaml
  ui/admin/package.json
  ui/desktop/package.json
Labels: ui, desktop, admin, a11y-tests

#2954 refactor: 💡 Change variable name for peeking db
  addons/api/addon/handlers/indexed-db-handler.js
  addons/api/tests/unit/handlers/indexed-db-handler-test.js
  ui/admin/app/routes/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/routes/scopes/scope/roles/role/scopes.js
  ui/admin/app/routes/scopes/scope/scopes/index.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
Labels: ui, addons, admin, api-addon

#2957 feat: 🎸 Add sqlite support for aliases
  addons/api/addon/services/sqlite.js
  addons/api/addon/workers/utils/schema.js
  ui/admin/app/routes/scopes/scope/aliases/index.js
  ui/admin/tests/acceptance/aliases/create-test.js
  ui/admin/tests/acceptance/aliases/delete-test.js
  ui/admin/tests/acceptance/aliases/list-test.js
  ui/admin/tests/acceptance/aliases/read-test.js
  ui/admin/tests/acceptance/aliases/update-test.js
  ui/admin/tests/unit/controllers/scopes/scope/aliases/index-test.js
Labels: ui, addons, admin, api-addon

#2964 fix: 🐛 fix e2e-tests api client fixture dependency on `apiClientTestAfter`
  e2e-tests/helpers/boundary-api-client.ts
Labels: desktop

#2958 Icu 17516 use in memory sqlite in non secure contexts
  addons/api/addon/workers/sqlite-worker.js
Labels: addons, api-addon

#2961 Delete appUpdater env vars
  ui/desktop/README.md
  ui/desktop/electron-app/src/helpers/app-updater.js
Labels: ui, desktop

#2967 feat: 🎸 Add sqlite support for credential stores
  addons/api/addon/services/sqlite.js
  addons/api/addon/utils/sqlite-query.js
  addons/api/addon/workers/utils/schema.js
  addons/api/tests/unit/services/sqlite-test.js
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/credentials/create-test.js
  ui/admin/tests/acceptance/credential-store/delete-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/credential-stores/index-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-brokered-credential-sources-test.js
  ui/admin/tests/unit/controllers/scopes/scope/targets/target/add-injected-application-credential-sources-test.js
Labels: ui, addons, admin, api-addon

#2971 feat: 🎸 add fts tables to groups
  addons/api/addon/services/sqlite.js
  addons/api/addon/workers/utils/schema.js
Labels: addons, api-addon

#2973 feat: 🎸 Add sqlite support to host-catalogs
  addons/api/addon/services/sqlite.js
  addons/api/addon/workers/utils/schema.js
Labels: addons, api-addon

#2975 fix: 🐛 Fix bug that prevents setting cluster URL
  ui/desktop/electron-app/src/models/runtime-settings.js
Labels: ui, desktop

#2976 feat: 🎸 Handle corrupted sqlite DB
  addons/api/addon/handlers/sqlite-handler.js
  addons/api/addon/workers/sqlite-worker.js
Labels: addons, api-addon
