Repository hashicorp/boundary-ui, pull requests merged in 2025-03, with the labels that each got.

#2702 refactor: 💡 update adapter when transforming filter error
  addons/api/addon/adapters/application.js
  addons/api/addon/serializers/host-set.js
  addons/api/addon/serializers/managed-group.js
  addons/api/tests/unit/serializers/host-set-test.js
  addons/api/tests/unit/serializers/managed-group-test.js
  ui/admin/app/components/form/managed-group/oidc/index.hbs
Labels: ui, addons, admin, api-addon

#2699 Refactor unnecessary curly parenthese
  addons/rose/addon/components/rose/metadata-list/item/index.hbs
  ui/admin/app/components/form/field/secret-input/index.hbs
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/app/components/form/storage-bucket/aws/index.hbs
  ui/admin/app/components/form/storage-bucket/minio/index.hbs
  ui/admin/app/templates/scopes/scope/edit.hbs
  ui/admin/app/templates/scopes/scope/targets/target/index.hbs
  ui/admin/app/templates/scopes/scope/workers/worker/create-tags.hbs
Labels: ui, addons, admin, styles-addon

#2706 Update CLI version to 0.19.1 and update changelog
  ui/desktop/CHANGELOG.md
  ui/desktop/electron-app/config/cli/VERSION
Labels: ui, desktop

#2704 Icu 16392 managed groups create
  ui/admin/app/components/form/managed-group/ldap/index.hbs
  ui/admin/app/components/form/managed-group/oidc/index.hbs
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/selectors.js
Labels: ui, admin

#2688 refactor: 💡 use hds side nav w/ hds frame instead of rose
  addons/core/translations/en-us.yaml
  addons/rose/addon/styles/hds/overrides.scss
  ui/admin/app/components/roles/role/actions/index.hbs
  ui/admin/app/controllers/application.js
  ui/admin/app/controllers/scopes/index.js
  ui/admin/app/routes/account.js
  ui/admin/app/styles/app.scss
  ui/admin/app/templates/account/change-password.hbs
  ui/admin/app/templates/application.hbs
  ui/admin/app/templates/onboarding/index.hbs
  ui/admin/app/templates/onboarding/success.hbs
  ui/admin/app/templates/scopes/index.hbs
  ui/admin/app/templates/scopes/scope.hbs
  ui/admin/app/templates/scopes/scope/-sidebar.hbs
  ui/admin/app/templates/scopes/scope/aliases/alias/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/manage-alias.hbs
  ui/admin/tests/acceptance/accounts/change-password-test.js
  ui/admin/tests/acceptance/accounts/selectors.js
  ui/admin/tests/acceptance/aliases/delete-test.js
  ui/admin/tests/acceptance/aliases/list-test.js
  ui/admin/tests/acceptance/aliases/update-test.js
  ui/admin/tests/acceptance/authentication-test.js
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/policy/delete-test.js
  ui/admin/tests/acceptance/policy/list-test.js
  ui/admin/tests/acceptance/roles/delete-test.js
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/org-scope-test.js
  ui/admin/tests/acceptance/roles/principals-test.js
  ui/admin/tests/acceptance/roles/project-scope-test.js
  ui/admin/tests/acceptance/scopes-test.js
  ui/admin/tests/acceptance/scopes/list-test.js
  ui/admin/tests/acceptance/session-recordings/list-test.js
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/acceptance/storage-buckets/delete-test.js
  ui/admin/tests/acceptance/storage-buckets/list-test.js
  ui/admin/tests/acceptance/targets/brokered-credential-sources-test.js
  ui/admin/tests/acceptance/targets/host-sources-test.js
  ui/admin/tests/acceptance/targets/injected-application-credential-sources-test.js
  ui/admin/tests/acceptance/targets/list-test.js
  ui/admin/tests/acceptance/targets/manage-alias-test.js
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, addons, admin, styles-addon

#2705 refactor: 💡 remove usage of ember/runloop & ember-pollster
  addons/core/addon/components/form/authenticate/details/index.js
  addons/core/addon/components/loading-button/index.hbs
  addons/core/addon/components/loading-button/index.js
  addons/core/addon/helpers/time-remaining.js
  addons/core/addon/services/clock-tick.js
  addons/core/ember-cli-build.js
  addons/core/index.js
  addons/core/package.json
  ui/admin/app/components/form/account/password/change-password/index.js
  ui/admin/app/components/form/account/password/index.js
  ui/admin/app/components/form/account/password/set-password/index.js
  ui/admin/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/admin/config/environment.js
  ui/admin/ember-cli-build.js
  ui/admin/package.json
  ui/admin/tests/acceptance/authentication-test.js
  ui/desktop/app/components/settings-card/client-agent/index.js
  ui/desktop/app/routes/scopes/scope/authenticate/method/oidc.js
  ui/desktop/app/routes/scopes/scope/projects.js
  ui/desktop/config/environment.js
  ui/desktop/ember-cli-build.js
  ui/desktop/package.json
  yarn.lock
Labels: ui, addons, desktop, admin

#2709 Icu 16393 managed groups read
  ui/admin/tests/acceptance/managed-groups/create-test.js
  ui/admin/tests/acceptance/managed-groups/delete-test.js
  ui/admin/tests/acceptance/managed-groups/list-test.js
  ui/admin/tests/acceptance/managed-groups/members-test.js
  ui/admin/tests/acceptance/managed-groups/read-test.js
  ui/admin/tests/acceptance/managed-groups/selectors.js
Labels: ui, admin

#2712 test: 💍 fix false positive test
  ui/admin/tests/acceptance/develop-test.js
Labels: ui, admin

#2710 Initial E2E DC setup
  .github/workflows/test-e2e-desktop.yaml
Labels: desktop

#2715 Refactor: Onboarding tests selectors refactor
  ui/admin/tests/acceptance/onboarding/onboarding-test.js
  ui/admin/tests/acceptance/onboarding/selectors.js
  ui/admin/tests/acceptance/onboarding/success-test.js
Labels: ui, admin

#2721 Fix locationType deprecations.
  addons/rose/tests/dummy/config/environment.js
  ui/desktop/config/environment.js
Labels: ui, addons, desktop, styles-addon

#2718 Refactor: 💡 User acceptance tests - create, delete and read
  ui/admin/tests/acceptance/users/create-test.js
  ui/admin/tests/acceptance/users/delete-test.js
  ui/admin/tests/acceptance/users/read-test.js
  ui/admin/tests/acceptance/users/selectors.js
Labels: ui, admin

#2719 refactor: 💡 use test selector in groups/members route
  ui/admin/app/templates/scopes/scope/groups/group/members.hbs
  ui/admin/tests/acceptance/groups/delete-test.js
  ui/admin/tests/acceptance/groups/members-test.js
  ui/admin/tests/acceptance/groups/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2722 Icu 16535 refactor usage of did insert modifiers
  ui/admin/app/components/breadcrumbs/container/index.hbs
  ui/admin/app/components/breadcrumbs/container/index.js
  ui/admin/app/components/breadcrumbs/item/index.hbs
  ui/admin/app/components/breadcrumbs/item/index.js
Labels: ui, admin

#2720 refactor: 💡 worker filter feature flags
  ui/admin/app/components/credential-stores/credential-store/actions/index.hbs
  ui/admin/app/components/credential-stores/credential-store/nav/index.hbs
  ui/admin/app/components/form/credential-store/vault/index.hbs
  ui/admin/app/components/form/host-catalog/aws/index.hbs
  ui/admin/app/components/form/host-catalog/gcp/index.hbs
  ui/admin/app/components/worker-diagram/dual-filter/hcp/index.hbs
  ui/admin/app/components/worker-diagram/index.hbs
  ui/admin/app/templates/scopes/scope/targets/target/workers.hbs
  ui/admin/config/features.js
  ui/admin/tests/acceptance/credential-store/create-test.js
  ui/admin/tests/acceptance/credential-store/update-test.js
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/targets/workers-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/hcp/index-test.js
  ui/admin/tests/integration/components/worker-diagram/dual-filter/index-test.js
  ui/admin/tests/integration/components/worker-diagram/index-test.js
Labels: ui, admin

#2727 chore: 🤖 update session list tests with selectors
  ui/admin/tests/acceptance/sessions/list-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2729 Icu 15486 host catalogs create test
  ui/admin/tests/acceptance/host-catalogs/create-test.js
  ui/admin/tests/acceptance/host-catalogs/selectors.js
Labels: ui, admin

#2726 Refactor: 💡 User acceptance tests: list, update and accounts
  ui/admin/tests/acceptance/users/accounts-test.js
  ui/admin/tests/acceptance/users/list-test.js
  ui/admin/tests/acceptance/users/selectors.js
  ui/admin/tests/acceptance/users/update-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2733 Small test selector updates
  ui/admin/tests/acceptance/auth-methods/create-test.js
  ui/admin/tests/acceptance/auth-methods/selectors.js
  ui/admin/tests/acceptance/storage-buckets/list-test.js
  ui/admin/tests/acceptance/storage-buckets/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2735 Fix Searchbar debouncing in admin UI
  ui/admin/app/controllers/scopes/scope/aliases/index.js
  ui/admin/app/controllers/scopes/scope/auth-methods/index.js
  ui/admin/app/controllers/scopes/scope/credential-stores/index.js
  ui/admin/app/controllers/scopes/scope/groups/index.js
  ui/admin/app/controllers/scopes/scope/host-catalogs/index.js
  ui/admin/app/controllers/scopes/scope/roles/index.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/controllers/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/controllers/scopes/scope/roles/role/scopes.js
  ui/admin/app/controllers/scopes/scope/scopes/index.js
  ui/admin/app/controllers/scopes/scope/session-recordings/index.js
  ui/admin/app/controllers/scopes/scope/sessions/index.js
  ui/admin/app/controllers/scopes/scope/targets/index.js
  ui/admin/app/controllers/scopes/scope/users/index.js
  ui/admin/app/routes/scopes/scope/aliases/index.js
  ui/admin/app/routes/scopes/scope/auth-methods/index.js
  ui/admin/app/routes/scopes/scope/credential-stores/index.js
  ui/admin/app/routes/scopes/scope/groups/index.js
  ui/admin/app/routes/scopes/scope/host-catalogs/index.js
  ui/admin/app/routes/scopes/scope/roles/index.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-custom-scopes.js
  ui/admin/app/routes/scopes/scope/roles/role/manage-scopes/manage-org-projects.js
  ui/admin/app/routes/scopes/scope/roles/role/scopes.js
  ui/admin/app/routes/scopes/scope/scopes/index.js
  ui/admin/app/routes/scopes/scope/session-recordings/index.js
  ui/admin/app/routes/scopes/scope/sessions/index.js
  ui/admin/app/routes/scopes/scope/targets/index.js
  ui/admin/app/routes/scopes/scope/users/index.js
Labels: ui, admin

#2732 Refactor: Policy tests - create, read and update
  ui/admin/tests/acceptance/policy/create-test.js
  ui/admin/tests/acceptance/policy/read-test.js
  ui/admin/tests/acceptance/policy/selectors.js
  ui/admin/tests/acceptance/policy/update-test.js
Labels: ui, admin

#2734 refactor: 💡 use test selector in host-catalog read, delete and update
  ui/admin/tests/acceptance/host-catalogs/delete-test.js
  ui/admin/tests/acceptance/host-catalogs/read-test.js
  ui/admin/tests/acceptance/host-catalogs/selectors.js
  ui/admin/tests/acceptance/host-catalogs/update-test.js
Labels: ui, admin

#2736 Refactor: Policy tests - list and delete
  ui/admin/tests/acceptance/policy/delete-test.js
  ui/admin/tests/acceptance/policy/list-test.js
Labels: ui, admin

#2738 chore: 🤖 use test selectors for roles create tests
  ui/admin/app/templates/scopes/scope/roles/index.hbs
  ui/admin/tests/acceptance/roles/create-test.js
  ui/admin/tests/acceptance/roles/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2737 Refactor: Worker tests - create, read, update and delete
  ui/admin/tests/acceptance/workers/create-test.js
  ui/admin/tests/acceptance/workers/delete-test.js
  ui/admin/tests/acceptance/workers/read-test.js
  ui/admin/tests/acceptance/workers/selectors.js
  ui/admin/tests/acceptance/workers/update-test.js
Labels: ui, admin

#2739 Upgrade electron forge from 7.5.0 to 7.7.0
  ui/desktop/electron-app/package.json
  ui/desktop/electron-app/yarn.lock
Labels: ui, desktop

#2741 Icu 16406 roles read, update, delete
  ui/admin/app/components/form/role/index.hbs
  ui/admin/app/components/roles/role/actions/index.hbs
  ui/admin/tests/acceptance/accounts/update-test.js
  ui/admin/tests/acceptance/roles/delete-test.js
  ui/admin/tests/acceptance/roles/read-test.js
  ui/admin/tests/acceptance/roles/selectors.js
  ui/admin/tests/acceptance/roles/update-test.js
Labels: ui, admin

#2743 refactor: 💡 use test selector in host-catalog/list
  ui/admin/tests/acceptance/host-catalogs/list-test.js
  ui/admin/tests/acceptance/host-catalogs/selectors.js
Labels: ui, admin

#2742 Refactor: Workers test - Create-tags, list and tags
  ui/admin/tests/acceptance/workers/create-tags-test.js
  ui/admin/tests/acceptance/workers/list-test.js
  ui/admin/tests/acceptance/workers/selectors.js
  ui/admin/tests/acceptance/workers/tags-test.js
Labels: ui, admin

#2740 Upgrade ember-electron from 4.2.2 to 6.0.0
  ui/desktop/package.json
  yarn.lock
Labels: ui, desktop

#2748 Delete old deprecation initializer
  addons/core/addon/initializers/deprecations.js
  addons/core/app/initializers/deprecations.js
  addons/core/tests/unit/initializers/deprecations-test.js
Labels: addons

#2747 Icu 16409 roles list & global-scope
  addons/rose/addon/components/rose/pagination/index.hbs
  ui/admin/app/components/form/role/manage-scopes/index.hbs
  ui/admin/tests/acceptance/roles/global-scope-test.js
  ui/admin/tests/acceptance/roles/list-test.js
  ui/admin/tests/acceptance/roles/selectors.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, addons, admin, styles-addon

#2750 chore: 🤖 remove rose::nav::breadcrumbs
  addons/rose/addon/components/rose/nav/breadcrumbs/index.hbs
  addons/rose/app/components/rose/nav/breadcrumbs.js
  addons/rose/app/styles/rose/components/nav/_breadcrumbs.scss
  addons/rose/app/styles/rose/components/nav/_index.scss
  addons/rose/tests/integration/components/rose/nav/breadcrumbs-test.js
Labels: addons, styles-addon

#2744 Refactor: Scopes tests
  ui/admin/tests/acceptance/scopes/add-storage-policy-test.js
  ui/admin/tests/acceptance/scopes/delete-test.js
  ui/admin/tests/acceptance/scopes/list-test.js
  ui/admin/tests/acceptance/scopes/read-test.js
  ui/admin/tests/acceptance/scopes/selectors.js
  ui/admin/tests/acceptance/scopes/update-test.js
  ui/admin/tests/helpers/selectors.js
Labels: ui, admin

#2749 chore: 🤖 add test selectors to roles grants tests
  ui/admin/tests/acceptance/roles/grants-test.js
  ui/admin/tests/acceptance/roles/selectors.js
Labels: ui, addons, desktop, admin, styles-addon
